<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/member/css/layout.css">
    <link rel="stylesheet" href="../../resources/member/css/contents.css">
    <link rel="stylesheet" href="../../resources/css/board.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    
    <script  src="../../resources/js/func.min.js"></script>
    <script  src="../../resources/js/member.js"></script>
    
</head>

<body>
    <div id="skipNav">
        <a href="#content">본문으로 바로가기</a>
    </div>
    <div id="wrap">

        <header class="header">
            <div class="gnb_area">
                <div class="container">
                    <h1 class="logo">
                        <a href="index.html" class="link"><span class="sr-only">한국체육산업개발(주)</span></a>
                    </h1>                    
                </div>
                <!-- //container -->
            </div>
            <!-- //gnb_area -->            
        </header>

        <main class="main">    
			                  
            <div class="content_wrap container">

                <div class="title_area">
					<h2 class="title_h1">아이디/비밀번호 찾기</h2>
					<nav class="depth4">
                        <ul>
							<li class="active" title="선택된 탭메뉴">
                             <a href="">아이디찾기</a>
							</li>
							<li title="비활성 탭메뉴" class="">
								<a href="">비밀번호찾기</a>
							</li>                          
                        </ul>
                    </nav>
				</div>

                <div id="content" class="content_section">

					<!--콘텐츠시작-->	
					<div class="id_pw_search_cont">
						<p class="major_txt mt40"><strong>자주 사용하시는 인증 수단으로 본인인증을 진행해 주세요.</strong></p>
						
						<div class="select_cert row">
							<div class="col-sm-6">
								<button type="button" class="phone_cert">
									<i class="icon" aria-hidden="true"></i><span>휴대폰 인증</span>
								</button>
							</div>
							<div class="col-sm-6">
								<button type="button" class="ipin_cert">
									<i class="icon" aria-hidden="true"></i><span>아이핀(i-Pin) 인증</span>
								</button>
							</div>
						</div>
						<!-- //select_cert -->
						<ul class="list_sdot">
							<li>본인인증이 잘 되지 않으시면 본인인증기관 고객센터로 문의 해주세요.</li>
							<li>NICE평가정보(주) 고객센터 : 1600-1522 , 홈페이지 <a href="https://www.niceinfo.co.kr/etc/qna.nice" target="_blank">[바로가기]</a></li>
							<li>아이핀 콜센터 : 1577 - 1006 , 홈페이지 [바로가기]</li>
						</ul>
					</div>				
					<!-- //id_pw_search_cont -->
					
					
					


					<!--//콘텐츠끝-->					
					
                </div>
                <!-- //content -->   
            </div>
            <!-- //snb_content_wrap -->
                  
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer_nav_bar">
                    <nav class="footer_nav">
                        <a href="#"><strong>개인정보처리방침</strong></a>
                        <a href="#">오시는길</a>
                        <a href="#">전화번호 안내</a>
                        <a href="#">이용약관</a>
                        <a href="#">이메일무단수집거부</a>
                        <a href="#">저작권정책</a>
                    </nav>
                    <div class="relate_site">
                        <a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-caret-up-min"></i></a>                        
                        <ul class="list">
                            <li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
                            <li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
                            <li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
                            <li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
                            <li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
                            <li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
                            <li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
                            <li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
                            <li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
                            <li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
                            <li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
                            <li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
                            <li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
                        </ul>
                    </div>
                    <!-- //relate_site -->
                </div>
                <!-- //footer_nav -->

                <div class="footer_cont">  
                    <div class="address_group">
                        <address>
                            <span class="address">(05540) 서울특별시 송파구 올림픽로 424(방이동) 올림픽역도경기장 내</span>
                            <span class="tel"><strong>고객안내전화 : <a href="tel:02-2180-3564">02-2180-3564~5</a></strong>(평화의 광장),<br class="mobile"> <strong><a href="tel:02-2180-3566">02-2180-3566</a></strong>(만남의 광장)</span>
                            <span class="copyright">COPYRIGHT &copy; 2021 BY KSPO&amp;CO. All RIGHTS RESERVED</span>
                        </address>
                    </div>
                    <!-- //address_group -->
                    <nav class="sns_list">
                        <a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
                        <a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
                        <a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
                        <a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
                        <a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
                    </nav> 
                    <!-- //sns_list -->
                </div>
                <!-- //footer_cont -->
                
            </div>
            <!-- //container -->
        </footer>
    </div>

</body>

</html>