<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>한국체육산업개발</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		href="https://www.nrc.re.kr/kor/resources/images/icon/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<h3 class="title_h1">FAQ</h3>

	<div class="board">

		<div class="board_info">
			<div class="page_info">
				<span class="total_page">전체<strong>3건</strong></span>
				<span class="current_page">현재 페이지<strong>1/10</strong></span>
			</div>
			<form class="board_search">
				<fieldset class="form-row">
					<legend class="sr-only">게시글 검색</legend>
					<select class="search_type form-select mr20" title="검색분류선택">
						<option value="all">전체</option>
						<option value="title">제목</option>
						<option value="regNm">등록자</option>
						<option value="regDttm">등록일자</option>
					</select>
					<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
					<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
				</fieldset>
			</form>
		</div>
		<!-- //board_info -->

		<div class="list_faq">
			<ul>
				<li class="active">
					<a href="#A1" class="question">
						<span class="category">Q</span>
						<span class="title">올림픽공원에서 구급약품을 판매하고 있나요? 올림픽공원에서 구급약품을 판매하고 있나요? 올림픽공원에서 구급약품을 판매하고 있나요? 올림픽공원에서 구급약품을 판매하고 있나요? 올림픽공원에서 구급약품을 판매하고 있나요?</span>
					</a>
					<div class="answer" id="A1">
						<span class="category">A</span>
						<span class="con">현재 편의점에서는 의사의 처방이 필요한 제약품은 판매할 수 없습니다만,<br>
							밴드류, 반창고 등을 판매하고 있습니다.<br>
							응급시 비상약품이 필요하시다면,<br>
							평화의광장 안내센터 02)2180-3564~5<br>
							만남의광장 안내센터 02)2180-3566<br>
							올림픽스포츠교실 02)2180-3772~3,<br>
							올림픽수영장 02)2180-3743~4에<br>
							상비 약품이 비치되어 있으니 이용에 참고하시기 바랍니다.<br>

							※ 평화의 광장, 만남의 광장 안내센터(밴드류, 간단한 상처치료제 비치)</span>
					</div>
				</li>
				<li>
					<a href="#A2" class="question">
						<span class="category">Q</span>
						<span class="title">실적과 관계 없이 기본 수수료가 지급 되나요?</span>
					</a>
					<div class="answer" id="A2">
						<span class="category">A</span>
						<span class="con">말도안되는 얘기</span>
					</div>
				</li>
				<li>
					<a href="#A3" class="question">
						<span class="category">Q</span>
						<span class="title">당신의 가슴뛰는 순간은 언제인가요?</span>
					</a>
					<div class="answer" id="A3">
						<span class="category">A</span>
						<span class="con">ㅋㅋㅋ 치킨 먹을때...</span>
					</div>
				</li>
			</ul>
		</div>
		<!-- //board_list -->

		<div class="paging">
			<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
			<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
			<a href="" class="page_none page_now"><strong>1</strong></a>
			<a href="" class="page_none">2</a>
			<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
			<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
		</div>
		<!-- //paging -->

	</div>
	<!--//board-->

</body>

</html>