<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>한국체육산업개발</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		href="https://www.nrc.re.kr/kor/resources/images/icon/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>

	<h3 class="title_h1">동영상 뷰</h3>

	<div class="board">

		<div class="board_view">
			<div class="title">상생소비지원금 캐시백 3,025억원 발생 (1,488만명 신청)</div>
			<ul class="head">
				<li class="writer"><strong>작성자</strong><span>최고관리자</span></li>
				<li class="date"><strong>작성일시</strong><span>2019/03/08 15:47</span></li>
				<li class="hit"><strong>조회수</strong><span>5</span></li>
				<li class="down"><strong>다운로드수</strong><span>5</span></li>
			</ul>

			<div class="view_cont">
				<div class="media_cont">
					<iframe width="640" height="360" src="https://www.youtube.com/embed/WPf5XMvCjRg"
						allow="encrypted-media" title="감염병예방(손씻기/소매기침) 마블 어벤져스 캠페인 영상 콘텐츠(40초) youtube 동영상입니다."
						allowfullscreen></iframe>
				</div>
				<div class="media_textarea">
					A: 마블 히어로들이 나오니까 그게 재밌어서 봤는데, 질병관리본부하니까 그래서 조금 더 기억에 남았던 것 같아요.<br><br>

					B: 아이들이 워낙 히어로물을 좋아해서 아이들이 재밌게 볼 수 있을 것 같아요.<br><br>

					C: 공익광고에 활용하니까 발상도 되게 재밌었고<br><br>

					D: 질병관리본부에서 마블이랑?<br>
					이런데랑 협업도 하는구나, 좀 신기한 기분이 들었어요<br><br>

					A: 손씻기는 30초 이상<br><br>

					C: 비누를 사용해야 되고, 그리고 30초 이상 씻어야 된다고<br><br>

					B: 가족의 건강을 지킨다고, 기침할 때 팔로 가리는 거<br>
					손을 간단히 씻었던 것을 30초 이상은 씻어야(겠다)<br><br>

					D: 방패가 나오면서 이렇게! 기침하는 부분이 기억에 남아요<br><br>
				</div>
				<br>
				<p>질병관리본부가 마블과 콜라보를?? <br>
					질병관리본부X마블 감염병예방 캠페인을 본 사람들의 반응은?</p>			
			</div>
			<!-- //view_cont -->

			

		</div>
		<!-- //board_view -->
		<div class="btn_area">
			<button type="button" onclick="upt_passCheck('1');" class="btn">수정</button>
			<button type="button" onclick="del_passCheck('1');" class="btn">삭제</button>
			<button type="button" onclick="goList(); return false;" class="btn btn_list">목록</button>
		</div>
		<!-- //btn_area -->
		<div class="relate_list card_list col3 media">			
			<div class="list_ul">
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/noimage.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_play"></i>
						</span>
					</a>
				</div>
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_01.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_play"></i>
						</span>
					</a>
				</div>
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_02.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_play"></i>
						</span>
					</a>
				</div>
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_03.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_play"></i>
						</span>
					</a>
				</div>
			</div>
			<!-- //list_ul -->
		</div>
		<!-- //relate_list -->

	</div>
	<!--//board-->

</body>

</html>