<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/main.js"></script>
</head>

<body>
    <div id="skipNav">
        <a href="#content">본문으로 바로가기</a>
        <a href="#gnb">주메뉴 바로가기</a>
        <a href="#quick">주메뉴 바로가기</a>
    </div>
    <div id="wrap">

        <header class="header">              
            <div class="gnb_site">
                <div class="container">
					<nav class="site_area">
                        <div class="list">
							<a href="/" class="kspo"><span>한국체육산업개발(주)</span></a>
							<a href="/olympicpark"><span>올림픽공원</span></a>
							<a href="/boatracepark"><span>미사경정공원</span></a>
							<a href="/edu"><span>평생교육원</span></a>
							<a href="/lib"><span>지샘터 올림픽공원 도서관</span></a>
							<a href="/recruit"><span>KSPO&amp;CO채용</span></a>
							<a href="/sports"><span>스포츠센터</span></a>
                        </div>
                    </nav>
                    <nav class="site_area_mobile">
                        <a href="#" class="title" title="패밀리사이트열기">한국체육산업개발<i class="xi-angle-down-min"></i></a>  
                        <div class="list_wrap">
							<div class="represent">
								<a href="" class=""><img src="../../resources/img/common/gnb_site_represent.svg" alt=""><span>한국체육산업개발(주)</span></a>
								<button type="button"><i class="xi-angle-down-min"></i></button>
							</div>
							<div class="list">
								<ul class="group1">
									<li><a href="" class=""><span>올림픽공원</span></a></li>
									<li><a href="" class=""><span>미사경정공원</span></a></li>
									<li><a href="" class=""><span>평생교육원</span></a></li>
									<li><a href="" class=""><span>지샘터도서관</span></a></li>
									<li><a href="" class=""><span>KSPO&amp;CO채용</span></a></li>
									<li><a href="" class=""><span>온라인스포츠센터</span></a></li>
									<li><a href="" class=""><span>온라인예약</span></a></li>
								</ul>  
								<ul class="group2">
									<li><a href="" class=""><span>스포츠센터</span></a></li>
									<li><a href="" class=""><span>올림픽수영장</span></a></li>
									<li><a href="" class=""><span>올림픽공원스포츠센터</span></a></li>
									<li><a href="" class=""><span>올림픽테니스장</span></a></li>
									<li><a href="" class=""><span>올팍축구장</span></a></li>
									<li><a href="" class=""><span>일산올림픽스포츠센터</span></a></li>
									<li><a href="" class=""><span>분당올림픽스포츠센터</span></a></li>
								</ul>   
							</div>   
                        </div>
                    </nav>

                     <div class="gnb_util login">
                        <ul class="nav"> 
                            <li><a href=""><i class="icon_join"></i><span>회원가입</span></a></li>
                            <li><a href=""><i class="icon_login"></i><span>로그인</span></a></li>
                        </ul>
                    </div> 
                    <!--<div class="gnb_util logout">
                        <div class="welcome">
                            <span class="name"><strong>홍길동</strong>님</span>
                            <span class="text">환영합니다.</span>
                        </div>
                        <ul class="nav">
                            <li><a href=""><i class="icon_logout"></i><span>로그아웃</span></a></li>
                            <li><a href=""><i class="icon_mypage"></i><span>MY페이지</span></a></li>
                        </ul>
                    </div>-->
                </div>
                <!-- //container -->            
            </div>
            <!-- //gnb_site -->

            <div class="gnb_area">
                <div class="container">
                    <h1 class="logo">
                        <a href="index.html" class="link"><span class="sr-only">한국체육산업개발(주)</span></a>
                    </h1>
                    <div class="gnb_wrap">
                        <nav class="nav" id="gnb">                        
                            <h2 class="pop_title">사이트맵</h2> 
                            <span class="pop_eng_title" lang="en">Site map</span>                       
                            <ul id="head_menu" class="topmenu">
                                <li class="depth1">
                                    <a href="s1_01.html"><span>정보공개</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">정보공개</h3>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s1_01.html">정보공개제도안내</a>
                                                <ul class="depth3">
                                                    <li><a href="s1_01.html">개요</a></li>
                                                    <li><a href="s1_01_02.html">처리절차</a></li>
													<li><a href="s1_01_03.html">공개방법</a></li>
													<li><a href="s1_01_04.html">불복구제절차</a></li>
													<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="s1_02.html">정보목록</a> </li>
                                            <li><a href="s1_03.html">사전정보공표</a> </li>
                                            <li><a href="s1_04.html">정보공개청구</a> </li>
                                            <li><a href="s1_05.html">사업실명제</a> </li>
                                            <li><a href="s1_06.html">공공데이터 개방</a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s2_01.html"><span>국민참여</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">국민참여</h3>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="s2_01.html">수업선택가이드</a></li>
                                            <li><a href="s2_02.html">수강신청 안내</a></li>
                                            <li><a href="s2_01.html">회원 준수사항</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s3_01.html"><span>알림·홍보</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">알림·홍보</h3>
                                        </div>
                                        <ul class="depth2">                                    
                                            <li><a href="s3_01.html">뉴스/공지</a></li>
                                            <li><a href="s3_02.html">자료실</a> </li>
                                            <li><a href="s3_03.html">자주하는 질문</a></li>
                                            <li><a href="s3_04.html">포토갤러리</a> </li>
                                            <li><a href="s3_05.html">영상갤러리</a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="depth1">
                                    <a href="s4_01.html"><span>사업안내</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">사업안내</h3>
                                        </div>
                                        <ul class="depth2">   
                                            <li><a href="s4_01.html">인사말</a></li>
                                            <li><a href="s4_02.html">교육원 소개</a></li>
                                            <li><a href="s4_03.html">시설안내</a></li>
                                            <li><a href="s4_04.html">장비안내</a></li>
                                            <li><a href="s4_05.html">찾아오시는길</a></li>
                                        </ul>
                                    </div>
                                </li>
								<li class="depth1">
                                    <a href="s5_01.html"><span>ESG경영</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">ESG경영</h3>
                                        </div>
                                        <ul class="depth2">   
                                            <li><a href="s5_01.html">인사말</a></li>
                                            <li><a href="s5_02.html">교육원 소개</a></li>
                                            <li><a href="s5_03.html">시설안내</a></li>
                                            <li><a href="s5_04.html">장비안내</a></li>
                                            <li><a href="s5_05.html">찾아오시는길</a></li>
                                        </ul>
                                    </div>
                                </li> 
								<li class="depth1">
                                    <a href="s6_01.html"><span>기관소개</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">기관소개</h3>
                                        </div>
                                        <ul class="depth2">   
                                            <li><a href="s6_01.html" target="_blank">인사말</a></li>
                                            <li><a href="s6_02.html">교육원 소개</a></li>
                                            <li><a href="s6_03.html">시설안내</a></li>
                                            <li><a href="s6_04.html">장비안내</a></li>
                                            <li><a href="s6_05.html">찾아오시는길</a></li>
                                        </ul>
                                    </div>
                                </li>                                       
                                <li class="depth1">
                                    <a href="etc_01.html"><span>이용안내</span></a>
                                    <div class="submenu">
                                        <div class="title_area">
											<small>다채롭게, 풍요롭게</small>
                                            <h3 class="title">이용안내</h3>
                                        </div>
                                        <ul class="depth2">
                                            <li><a href="etc_01.html">로그인</a></li>
                                            <li><a href="etc_02.html">회원가입</a></li>
                                            <li><a href="etc_03.html">아이디/비밀번호 찾기</a></li>
                                            <li><a href="etc_04.html">회원이용약관</a></li>
                                            <li><a href="etc_05.html">정보수정</a></li>
                                            <li><a href="etc_06.html">통합검색</a> </li>
                                            <li><a href="etc_07.html">개인정보처리방침</a> </li>
                                        </ul>
                                    </div>
                                </li>                        
                            </ul>
                            <button type="button" class="pop_close"><i class="xi-close"></i><span class="sr-only">전체메뉴 레이어 닫기</span></button>
                        </nav>
                    </div>
                    <div class="btn_wrap">
                        <button class="btn_sch_open">
                            <i class="xi-search"></i><span class="sr-only">검색버튼</span><!-- 모바일 검색버튼-->
                        </button>    
                        <div class="sch_layer">                            
                            <form class="sch_form" name="sch_form" id="schForm">                               
                                <label for="allKeyWord" class="title sr-only">통합검색</label>
                                <input type="text" name="allKeyWord" id="allKeyWord" placeholder="검색어를 입력해주세요">
                                <button id="btnSch" class="btn_sch">
                                    <i class="xi-search"></i><span class="sr-only">검색버튼</span>
                                </button>
                            </form>
                            <button type="button" class="btn_sch_close">
                                <i class="xi-close-thin"></i><span class="sr-only">검색 닫기</span>
                            </button>                            
                        </div><!-- //sch_layer -->
                        <button type="button" class="btn_allmenu"><span class="sr-only">전체메뉴보기</span><i
                            class="icon" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- //container -->
            </div>
            <!-- //gnb_area -->            
        </header>

        <main class="main">
			<div class="bluedot_wrap" id="quick">
				<button type="button" class="bluedot"><span class="sr-only">블루닷 Quick menu 열기</span></button>
				<div class="layer_bluedot" id="rotateArea">
					<div class="bluedot_center">
						<strong>주요서비스</strong>
						<em lang="en">Link Service</em>
					</div>
					<ul class="bluedot_menu">
						<li class="service1"><a href=""><i class="icon1" aria-hidden="true"></i><span>공원지도</span></a></li>
						<li class="service2"><a href=""><i class="icon2" aria-hidden="true"></i><span>사이버투어</span></a></li>
						<li class="service3"><a href=""><i class="icon3" aria-hidden="true"></i><span>대관안내</span></a></li>
						<li class="service4"><a href=""><i class="icon4" aria-hidden="true"></i><span>고객제안</span></a></li>
						<li class="service5"><a href=""><i class="icon5" aria-hidden="true"></i><span>부조리신고<br>센터</span></a></li>
						<li class="service6"><a href=""><i class="icon6" aria-hidden="true"></i><span>자주묻는<br>질문</span></a></li>
					</ul>
					<button type="button" class="btn_close"><span class="sr-only">Quick menu 닫기</span><i class="xi-close"></i></button>
				</div>
			</div>
			<!-- //quick -->           
			<div class="acctoggle">
                <button type="button" class="acctoggle_contrast">
                    <i class="icon_contrast" aria-hidden="true"></i>
                    <span>흑백<br>모드</span>
                </button>
                <button type="button" class="acctoggle_fontsize">
                    <i class="icon_fontsize" aria-hidden="true"></i>
                    <span>글자<br>크기</span>
                </button>
            </div>            
            <!-- //acctoggle -->
            <div id="content">
				<!-- <div class="issue">		
					<div class="container">
						<strong class="title">ISSUE</strong>
						<div class="list">
							<a href="">국민과 함께하는 내정보 지킴이 캠페인 국민과 함께하는 내정보 지킴이 캠페인</a>
							<a href="">이슈 국민과 함께하는 내정보 지킴이 캠페인</a>
							<a href="">국민과 함께하는 내정보 지킴이 캠페인 국민과 함께하는 내정보 지킴이 캠페인</a>
							<a href="">이슈 국민과 함께하는 내정보 지킴이 캠페인</a>
						</div>
						<div class="control">
							<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
							<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
						</div>						
					</div>					
				</div>
				//issue -->
				<nav class="section_nav">
					<ul>
						<li class="active"><a href="#visual_section"><span class="txt">Main</span></a>
						</li>
						<li><a href="#section01"><span class="txt">소식</span></a>
						</li>
						<li><a href="#section02"><span class="txt">사업</span></a></li>
						<li><a href="#section03"><span class="txt">홍보</span></a></li>	
					</ul>
				</nav>
				<!-- // section_nav-->

                <div id="visual_section" class="section visual_section">   
                    <h2 class="sr-only">visual_section</h2>
					<div class="list">
						<div class="item visual0 bg" data-dot-number="01">
							<video id="video" autoplay muted>
								<source src="../../resources/img/main/video.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video>
						</div> 
						<div class="item visual1" data-dot-number="02">							
							<div class="object">								
								<div class="txt">
									<strong class="eng"><img src="../../resources/img/main/visual_txt1.png" alt="Creativity"></strong>
									<p>창조적 혁신으로 끊임없는 진화를 이루어 내겠습니다.</p>
									<a href="" class="more"><span>올림픽공원 바로가기</span><i class="xi-plus-min"></i></a>
								</div>
							</div>
							<!-- //object -->							
						</div>
						<div class="item visual2" data-dot-number="03">									
							<div class="object">					
								<div class="txt">
									<strong class="eng"><img src="../../resources/img/main/visual_txt2.png" alt="Challenge"></strong>
									<p>도전하는 당신이 희망입니다.</p>
									<a href="" class="more"><span>사업안내 바로가기</span><i class="xi-plus-min"></i></a>
								</div>
							</div>
							<!-- //object -->							
						</div>
						<div class="item visual3" data-dot-number="04">							
							<div class="object">
								<div class="txt">
									<strong class="eng"><img src="../../resources/img/main/visual_txt3.png" alt="Passion"></strong>
									<p>뜨거운 열정으로 목표를 향해 전진합니다.</p>
									<a href="" class="more"><span>스포츠센터 바로가기</span><i class="xi-plus-min"></i></a>
								</div>
							</div>
							<!-- //object -->
						</div>
						<!-- //item -->
						<div class="item visual4" data-dot-number="05">							
							<div class="object">							
								<div class="txt">
									<strong class="eng"><img src="../../resources/img/main/visual_txt4.png" alt="Future"></strong>
									<p>창립초심으로 새로운 도약을 준비합니다.</p>
									<a href="" class="more"><span>20년사 바로가기</span><i class="xi-plus-min"></i></a>
								</div>	
							</div>
							<!-- //object -->						
						</div>
					</div>
					<!-- //list -->
					<div class="control">
						<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
						<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
					</div>
					<!-- //control -->
					
                </div>
                <!-- //visual_section -->
                <div class="contents_section">
					<section id="section01" class="section section01">
                        <h2 class="sr-only">소식섹션</h2>
                        <div class="container">
							<div class="sports_center_wrap">
								<div class="sports_center">
									<h3 class="title">스포츠센터</h3>						<span class="eng"><img src="../../resources/img/main/sports_eng.png" alt="K SPORTS"></span>
									<div class="item_list">								
										<a href="" class="item">
											<img src="../../resources/img/main/sports_center_01.jpg" alt="">
											<strong>올림픽수영장<i class="xi-arrow-right more"></i></strong>
											<p>올림픽수영장에서 건강과 활력을<br> 되찾으세요.</p>										
										</a>
										<a href="" class="item">
											<img src="../../resources/img/main/sports_center_01.jpg" alt="">
											<strong>올림픽수영장<i class="xi-arrow-right more"></i></strong>
											<p>올림픽수영장에서 건강과 활력을<br> 되찾으세요.</p>
										</a>
									</div>
									<div class="control">
										<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
										<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
									</div>
								</div>
							</div>
							<div class="announce_news">
								<div class="announce">
									<ul class="tabs">
										<li class="active">
											<button type="button" class="tab_nav"><span>공지사항</span></button>
											<div class="tab_cont notice">
												<ul class="headline">
													<li>
														<span class="date"><strong>08</strong><small>2021.10</small></span>
														<a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a>
													</li>
													<li>
														<span class="date"><strong>08</strong><small>2021.10</small></span>
														<a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a>
													</li>
												</ul>
												<ul class="list">
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기[선착순 종료]올림픽공원 88잔디마당 나무찾기 올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
												</ul>
												<a href="" class="more"><span class="sr-only">공지사항 더보기</span><i class="xi-arrow-right"></i></a>
											</div>
											<!-- //notice -->
										</li>
										<li>
											<button type="button" class="tab_nav"><span>채용공고</span></button>	
											<div class="tab_cont recruit">
												<ul class="headline">
													<li>
														<span class="date"><strong>08</strong><small>2021.10</small></span>
														<a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a>
													</li>
													<li>
														<span class="date"><strong>08</strong><small>2021.10</small></span>
														<a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a>
													</li>
												</ul>
												<ul class="list">
													<li><a href="">추석 연휴 기간 올림픽공원 놀이시설(호돌이열차, 자전거대여) 운영 안내</a><span class="date">2021-10-08</span></li>
													<li><a href="">추석 연휴 기간 올림픽공원 놀이시설(호돌이열차, 자전거대여) 운영 안내</a><span class="date">2021-10-08</span></li>
													<li><a href="">추석 연휴 기간 올림픽공원 놀이시설(호돌이열차, 자전거대여) 운영 안내</a><span class="date">2021-10-08</span></li>
													<li><a href="">추석 연휴 기간 올림픽공원 놀이시설(호돌이열차, 자전거대여) 운영 안내</a><span class="date">2021-10-08</span></li>
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
												</ul>
												<a href="" class="more"><span class="sr-only">채용공고 더보기</span><i class="xi-arrow-right"></i></a>
											</div>
											<!-- //recruit -->
										</li>
										<li>
											<button type="button" class="tab_nav"><span>입찰공고</span></button>	
											<div class="tab_cont bid">
												<ul class="headline">
													<li>
														<span class="date"><strong>08</strong><small>2021.10</small></span>
														<a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a>
													</li>
													<li>
														<span class="date"><strong>08</strong><small>2021.10</small></span>
														<a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a>
													</li>
												</ul>
												<ul class="list">
													<li><a href="">[일산올림픽스포츠센터]정액제 및 배분제 강습수임인 모집 공고[일산올림픽스포츠센터]정액제 및 배분제 강습수임인 모집 공고</a><span class="date">2021-10-08</span></li>
													<li><a href="">[일산올림픽스포츠센터]정액제 및 배분제 강습수임인 모집 공고</a><span class="date">2021-10-08</span></li>
													<li><a href="">[일산올림픽스포츠센터]정액제 및 배분제 강습수임인 모집 공고</a><span class="date">2021-10-08</span></li>
													<li><a href="">[선착순 종료]올림픽공원 88잔디마당 나무찾기</a><span class="date">2021-10-08</span></li>
													<li><a href="">[일산올림픽스포츠센터]정액제 및 배분제 강습수임인 모집 공고</a><span class="date">2021-10-08</span></li>
												</ul>
												<a href="" class="more"><span class="sr-only">입찰공고 더보기</span><i class="xi-arrow-right"></i></a>
											</div>
											<!-- //bid -->
										</li>
									</ul>
									
									
								</div>
								<!-- //announce -->
								<div class="news">
									
									<div class="media_data">
										<h3>보도자료</h3>
										<div class="item_list">
											<a href="#" class="item">
												<img src="../../resources/img/main/media_data_thumb.jpg" alt="">
												<strong class="title">추석연휴 올림픽공원·미사경정공원 주차장 무료개방</strong>
												<span class="date">2021-10-08</span>
											</a>
											<a href="#" class="item">
												<img src="../../resources/img/main/media_data_thumb.jpg" alt="">
												<strong class="title">추석연휴 올림픽공원·미사경정공원 주차장 무료개방</strong>
												<span class="date">2021-10-08</span>
											</a>
											<a href="#" class="item">
												<img src="../../resources/img/main/media_data_thumb.jpg" alt="">
												<strong class="title">추석연휴 올림픽공원·미사경정공원 주차장 무료개방</strong>
												<span class="date">2021-10-08</span>
											</a>
											<a href="#" class="item">
												<img src="../../resources/img/main/media_data_thumb.jpg" alt="">
												<strong class="title">추석연휴 올림픽공원·미사경정공원 주차장 무료개방</strong>
												<span class="date">2021-10-08</span>
											</a>
										</div>
										<a href="" class="more"><span class="sr-only">보도자료 더보기</span><i class="xi-arrow-right"></i></a>
									</div>
									<!-- //media_data -->
									<div class="popupzone">
										<h3>팝업존</h3>
										<div class="item_list">
											<a href="" class="item"><img src="../../resources/img/main/popupzone_01.jpg" alt="올림픽공원 월주차 결제시스템-월주차 연장은 이제 온라인으로
												편리하게 신청하세요! 예약신청바로가기"></a>
											<a href="" class="item"><img src="../../resources/img/main/popupzone_01.jpg" alt="올림픽공원 월주차 결제시스템-월주차 연장은 이제 온라인으로
												편리하게 신청하세요! 예약신청바로가기"></a>
										</div>
										<div class="control">
											<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
											<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
										</div>
									</div>
									<!-- //popup_zone -->
								</div>
								<!-- //news -->
							</div>
							<!-- //announce_news -->
                        </div><!-- //container -->
                    </section>
					<!-- //section01 -->

                    <section id="section02" class="section section02">  
						<h2 class="sr-only">사업안내섹션</h2>                      
                        <div class="container">
                            <h2>사업안내</h2>
							<div class="item_list">								
								<div class="item item1">
									<div class="txt">
										<h3>공원관리</h3>
										<p>올림픽공원, 대한민국 명품공원으로<br>
											가꾸어 갑니다.</p>
										<a href="" class="more"><span>자세히보기</span><i class="xi-plus-min"></i></a>
									</div>
									<img src="../../resources/img/main/biz1_img.png" alt="">									
									<em></em>
								</div>
								<div class="item item2">
									<div class="txt">
										<h3>공연안내</h3>
										<p>보고 듣고 느끼는 모든것,<br>
											국민의 행복한 문화 융성을 지원합니다.</p>
										<a href="" class="more"><span>자세히보기</span><i class="xi-plus-min"></i></a>
									</div>
									<img src="../../resources/img/main/biz2_img.png" alt="">									
									<em></em>
								</div>
								<div class="item item3">
									<div class="txt">
										<h3>스포츠센터</h3>
										<p>올림픽스포츠센터와 함께하면<br>
											더 건강하고 행복한 삶이 펼쳐집니다.</p>
										<a href="" class="more"><span>자세히보기</span><i class="xi-plus-min"></i></a>
									</div>
									<img src="../../resources/img/main/biz3_img.png" alt="">									
									<em></em>
								</div>
								<div class="item item4">
									<div class="txt">
										<h3>시설대관</h3>
										<p>올림픽 시설물 대관은 편리하게, 안전하게<br>
											투명하게 운영됩니다.</p>
										<a href="" class="more"><span>자세히보기</span><i class="xi-plus-min"></i></a>
									</div>
									<img src="../../resources/img/main/biz4_img.png" alt="">									
									<em></em>
								</div>
							</div>
							<div class="control">
								<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
								<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
							</div>
							<!-- //item_list -->

                        </div><!-- //container -->
                    </section>
					<!-- //section02 -->

                    <section id="section03" class="section section03">
                        <h2 class="sr-only">홍보섹션</h2>
                        <div class="container row1">
                           <div class="mov">
							   <a href="#" class="thumb"><img src="../../resources/img/main/mov.jpg"></a>
							   <div class="txt">
									<h3>홍보동영상</h3>
									<strong>우리의 시작은 도전이었습니다.</strong>
									<a href="" class="more"><span class="sr-only">동영상 더보기</span><i class="xi-arrow-right"></i></a>
								</div>
						   </div>
						   <!-- //mov -->
						   <div class="sns">
								<h3>SNS</h3>
								<ul class="tabs">
									<li class="active">
										<button type="button" class="tab_nav"><span class="sr-only">페이스북</span><span><i class="xi-facebook"></i></span></button>
										<ul class="tab_cont list_facebook">
											<li>
												<a href="">[체육계 혁신협의체 청렴인권캠페인] 제2화 이해충돌방지법 ‘체육계 공공기관 청렴 클러스터’🔹공동 청렴 프로젝트🔹체육계 5대 공공기관 릴레이 청렴•인권웹툰 - 국민체육..진흥공단 -</a>
												<span class="date">2021-10-06</span>
											</li>
											<li>
												<a href="">[체육계 혁신협의체 청렴인권캠페인] 제2화 이해충돌방지법 ‘체육계 공공기관 청렴 클러스터’🔹공동 청렴 프로젝트🔹체육계 5대 공공기관 릴레이 청렴•인권웹툰 - 국민체육..진흥공단 -</a>
												<span class="date">2021-10-06</span>
											</li>
											<li>
												<a href="">[체육계 혁신협의체 청렴인권캠페인] 제2화 이해충돌방지법 ‘체육계 공공기관 청렴 클러스터’🔹공동 청렴 프로젝트🔹체육계 5대 공공기관 릴레이 청렴•인권웹툰 - 국민체육..진흥공단 -</a>
												<span class="date">2021-10-06</span>
											</li>
										</ul>
									</li>
									<li>
										<button type="button" class="tab_nav"><span class="sr-only">인스타그램</span><span><i class="xi-instagram"></i></span></button>
										<ul class="tab_cont list_instagram">
											<li>
												<a href="">주말 올림픽공원 어때요? 가족, 친구, 연인과 함께 오셔서 올림픽공원의 가을을 느껴보세요! 체육산업 인스타지기가 추천합니다!
													👉 #야생화단지 #핑크뮬리
													👉 #들꽃마루 #노랑코스모스
													👉 #장미광장 #장미</a>
												<span class="date">2021-10-06</span>
											</li>
											<li>
												<a href="">[체육계 혁신협의체 청렴인권캠페인] 제2화 이해충돌방지법 ‘체육계 공공기관 청렴 클러스터’🔹공동 청렴 프로젝트🔹체육계 5대 공공기관 릴레이 청렴•인권웹툰 - 국민체육..진흥공단 -</a>
												<span class="date">2021-10-06</span>
											</li>
											<li>
												<a href="">주말 올림픽공원 어때요? 가족, 친구, 연인과 함께 오셔서 올림픽공원의 가을을 느껴보세요! 체육산업 인스타지기가 추천합니다!
													👉 #야생화단지 #핑크뮬리
													👉 #들꽃마루 #노랑코스모스
													👉 #장미광장 #장미</a>
												<span class="date">2021-10-06</span>
											</li>
										</ul>
									</li>
									<li>
										<button type="button" class="tab_nav"><span class="sr-only">유투브</span><span><i class="xi-youtube-play"></i></span></button>
										<ul class="tab_cont list_youtube">
											<li>
												<a href="">🔹공동 청렴 프로젝트🔹체육계 5대 공공기관 릴레이 청렴•인권웹툰 - 국민체육..진흥공단 -[체육계 혁신협의체 청렴인권캠페인] 제2화 이해충돌방지법 ‘체육계 공공기관 청렴 클러스터’</a>
												<span class="date">2021-10-06</span>
											</li>
											<li>
												<a href="">주말 올림픽공원 어때요? 가족, 친구, 연인과 함께 오셔서 올림픽공원의 가을을 느껴보세요! 체육산업 인스타지기가 추천합니다!
													👉 #야생화단지 #핑크뮬리
													👉 #들꽃마루 #노랑코스모스
													👉 #장미광장 #장미</a>
												<span class="date">2021-10-06</span>
											</li>
											<li>
												<a href="">🔹공동 청렴 프로젝트🔹체육계 5대 공공기관 릴레이 청렴•인권웹툰 - 국민체육..진흥공단 -[체육계 혁신협의체 청렴인권캠페인] 제2화 이해충돌방지법 ‘체육계 공공기관 청렴 클러스터’</a>
												<span class="date">2021-10-06</span>
											</li>
										</ul>
									</li>
								</ul>
								
							</div>
							<!-- //sns -->
                        </div>
                        <!-- //container -->                    
                        
                        <div class="container row2">
                            <div class="white_paper">
								<h3>경영백서</h3>
								<a href="" target="_blank" class="item">
									<img src="../../resources/img/main/white_paper.jpg" alt="">
									<div class="txt">
										<small>2020 연차보고서</small>
										<strong>희망을 향한 성장<br>
											함께하는 미래</strong>
									</div>
								</a>
								<a href="" class="more">
									<span class="sr-only">경영백서 더보기</span><i class="xi-arrow-right"></i>
								</a>								
							</div>
							<!-- //white_paper -->
							<div class="contribute">
								<h3>사회공헌</h3>
								<div class="item_list">
									<a href="" class="item">
										<img src="../../resources/img/main/contribute_01.jpg" alt="">
										<div class="txt">
											<small class="date">2021-11-04</small>
											<strong>2021년 9월 사랑나눔 봉사활동 2021년 9월 사랑나눔 봉사활동</strong>
										</div>										
									</a>
									<a href="" class="item">
										<img src="../../resources/img/main/contribute_01.jpg" alt="">
										<div class="txt">
											<small class="date">2021-11-04</small>
											<strong>2021년 9월 사랑나눔 봉사활동 2021년 9월 사랑나눔 봉사활동</strong>
										</div>										
									</a>
									<a href="" class="item">
										<img src="../../resources/img/main/contribute_01.jpg" alt="">
										<div class="txt">
											<small class="date">2021-11-04</small>
											<strong>2021년 9월 사랑나눔 봉사활동 2021년 9월 사랑나눔 봉사활동</strong>
										</div>										
									</a>
								</div>
								<div class="control">
									<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
									<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
								</div>
								<!-- list -->
								<a href="" class="more"><span class="sr-only">사회공헌 더보기</span><i class="xi-arrow-right"></i></a>
							</div>
                        </div>
                        <!-- //container -->
                    </section>
					<div class="etc_site">
						<div class="container">
							<div class="list">
								<a href="">안전신문고</a>
								<a href="">OPEN 공공누리</a>
								<a href="">플라스틱 다이어트, 함께해요</a>
								<a href="">보조금24 전국개통 관련 안내</a>
								<a href="">코로나19 국민 방역수칙 홍보 영상</a>
								<a href="">창업기업제품</a>
							</div>
							<div class="control">
								<button class="control_pause active"><i class="xi-pause"></i><span class="sr-only">정지</span></button>
								<button class="control_play"><i class="xi-play"></i><span class="sr-only">시작</span></button>
							</div>
							<!-- //list -->
						</div>
						<!-- //container -->
					</div>
					<!-- //etc_site -->
                </div>
                <!-- //content_section -->
                
            </div>
            <!-- //content -->   
            <button type="button" class="go_top"><i class="xi-arrow-up"></i><span>TOP</span></button>         
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer_nav_bar">
                    <nav class="footer_nav">
                        <a href="#"><strong>개인정보처리방침</strong></a>
                        <a href="#">이메일무단수집거부</a>
						<a href="#">이용약관</a>
						<a href="#">저작권정책</a>
                        <a href="#">오시는길</a>
                        <a href="#">직원검색</a>
						<a href="#">올림픽공원 APP소개</a>
                    </nav>
                    <div class="relate_site">
                        <a href="#" class="title" title="관련사이트열기">관련사이트<i class="xi-caret-up-min"></i></a>                        
                        <ul class="list">
                            <li><a href="http://www.kspo.or.kr/" target="_blank" title="새창">국민체육진흥공단</a></li>
                            <li><a href="http://blog.kspo.or.kr/" target="_blank" title="새창">KSPO블로그</a></li>
                            <li><a href="https://www.parktel.co.kr/" target="_blank" title="새창">서울올림픽파크텔</a></li>
                            <li><a href="https://88olympic.kspo.or.kr/" target="_blank" title="새창">서울올림픽기념관</a></li>
                            <li><a href="https://library.kspo.or.kr/" target="_blank" title="새창">서울올림픽자료실</a></li>
                            <li><a href="https://soma.kspo.or.kr/" target="_blank" title="새창">소마미술관</a></li>
                            <li><a href="http://www.krace.or.kr/" target="_blank" title="새창">기금조성총괄본부</a></li>
                            <li><a href="http://www.kcycle.or.kr/" target="_blank" title="새창">KCYCLE 경륜</a></li>
                            <li><a href="http://www.kboat.or.kr/" target="_blank" title="새창">KBOAT 경정</a></li>
                            <li><a href="https://www.sports.re.kr/" target="_blank" title="새창">한국스포츠정책과학원</a></li>
                            <li><a href="https://www.insports.or.kr/" target="_blank" title="새창">체육지도자 연수원</a></li>
                            <li><a href="https://www.spoinfo.or.kr/" target="_blank" title="새창">체육시설 알리미</a></li>
                            <li><a href="https://www.ksponco.or.kr/" target="_blank" title="새창">한국체육산업개발(주)</a></li>
                        </ul>
                    </div>
                    <!-- //relate_site -->
                </div>
                <!-- //footer_nav -->

                <div class="footer_cont">  
                    <div class="address_group">
                        <address>
                            <span class="address">(05540) 서울특별시 송파구 올림픽로 424(방이동) 올림픽역도경기장 내</span>
                            <span class="tel"><strong>고객안내전화 : <a href="tel:02-2180-3564">02-2180-3564~5</a></strong>(평화의 광장),<br class="mobile"> <strong><a href="tel:02-2180-3566">02-2180-3566</a></strong>(만남의 광장)</span>
                            <span class="copyright">COPYRIGHT &copy; 2021 BY KSPO&amp;CO. All RIGHTS RESERVED</span>
                        </address>
						<div class="cert">
							<a href=""><img src="../../resources/img/common/footer_cert_wa.png" alt="웹접근성 품질인증"></a>
							<a href=""><img src="../../resources/img/common/footer_cert_good.png" alt="굿콘텐츠 서비스인증"></a>
							<a href=""><img src="../../resources/img/common/footer_cert_iso.png" alt="품질/환경 ISO9001/14001"></a>
							<a href=""><img src="../../resources/img/common/footer_cert_tcq.png" alt="화장실 문화 품질인증"></a>
						</div>
                    </div>
                    <!-- //address_group -->
                    <nav class="sns_list">
                        <a href=""><i class="xi-facebook"></i><span class="sr-only">페이스북</span></a>
                        <a href=""><i class="xi-twitter"></i><span class="sr-only">트위터</span></a>
                        <a href=""><i class="xi-youtube-play"></i><span class="sr-only">유투브</span></a>
                        <a href=""><i class="xi-naver"></i><span class="sr-only">네이버</span></a>
                        <a href=""><i class="xi-instagram"></i><span class="sr-only">인스타그램</span></a>
                    </nav> 
                    <!-- //sns_list -->
                </div>
                <!-- //footer_cont -->
                
            </div>
            <!-- //container -->
        </footer>
    </div>

</body>

</html>