<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li class="active"><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li><a href="s1_01_03.html">공개방법</a></li>
								<li><a href="s1_01_04.html">불복구제절차</a></li>
								<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="s1_04.html">정보공개청구</a></li>
						<li><a href="s1_05.html">사업실명제</a></li>
						<li><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">




			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">개요</h3>

			<!-- 콘텐츠 시작 -->
			<h4 class="title_h3 mt0">개념</h4>
			<p>공공기관이 직무상 작성 또는 취득하여 관리하고 있는 정보를 수요자인 국민의 청구에 의하여 열람·사본·복제 등의 형태로 청구인에게 공개하거나 공공기관이 자발적으로 또는 법령 등의 규정에 의하여 의무적으로 보유하고 있는 정보를 배포 또는 공표 등의 형태로 제공하는 제도입니다. 전자를 ‘정보공개 청구’, 후자는 ‘공개정보 제공’이라
				할 수 있습니다.</p>

			<h4 class="title_h3 mb30">정보공개 청구권자</h4>
			<div class="row">
				<div class="col-sm-6">
					<div class="box round">
						<strong class="title_line">대한민국 모든 국민(법인, 단체 포함)</strong>
						<p class="p_sdot">모든 국민은 청구인 또는 그 대리인을 통하여, 법인과 단체의 경우는 대표자의 명의로 공공기관에 정보공개를 청구할 수 있습니다.</p>
					</div>
					</div>
				<div class="col-sm-6">
					<div class="box round">
						<strong class="title_line">외국인</strong>
						<p class="p_sdot">국내에 일정한 주소를 두고 거주하는 자, 학술·연구를 위하여 일시적으로 체류하는 자, 국내에 사무소를 두고 있는 법인 또는 단체에 한해 정보공개를 청구할 수 있습니다.</p>
					</div>
				</div>
			</div>

			<h4 class="title_h3">대상정보</h4>
			<p>공공기관이 직무상 작성 또는 취득하여 관리하고 있는 문서, 도면, 사진, 필름, 테이프, 슬라이드 및 기타 이에 준하는 매체 등에 기록된 사항을 말합니다.</p>

			<h4 class="title_h3 mb30">정보공개 책임관</h4>
			<!-- list -->
			<div class="row">
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">정보공개 책임관</strong>
						<small class="part">경영지원실 실장</small>
						<span class="name">
							<em>이 병 근</em>
							<a href="tel:02-2180-3430">02-2180-3430</a>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">정보공개 담당</strong>
						<small class="part">총무팀 팀장</small>
						<span class="name">
							<em>최 경 섭</em>
							<a href="tel:02-2180-3430">02-2180-3451</a>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">정보공개 담당</strong>
						<small class="part">총무팀 과장</small>
						<span class="name">
							<em>김 시 훈</em>
							<a href="tel:02-2180-3430">02-2180-3454</a>
						</span>
					</div>
				</div>				
			</div>
			<!-- list end -->
			<h4 class="title_h3">공공데이터 책임관</h4>
			<!-- list -->
			<div class="row">
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">공공데이터 책임관</strong>
						<small class="part">경영기획실 실장</small>
						<span class="name">
							<em>백 종 필</em>
							<a href="tel:02-2180-3410">02-2180-3410</a>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">공공데이터 담당</strong>
						<small class="part">경영정보화팀 팀장</small>
						<span class="name">
							<em>변 일 수</em>
							<a href="tel:02-2180-3430">02-2180-3491</a>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">공공데이터 담당</strong>
						<small class="part">경영정보화팀 주임</small>
						<span class="name">
							<em>김 영 경</em>
							<a href="tel:02-2180-3430">02-2180-3504</a>
						</span>
					</div>
				</div>				
			</div>			
			<!-- list end -->
			<h4 class="title_h3">공공저작물관리 책임관</h4>
			<!-- list -->
			<div class="row">
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">공공저작물관리 책임관</strong>
						<small class="part">경영지원실 실장</small>
						<span class="name">
							<em>이 병 근</em>
							<a href="tel:02-2180-3410">02-2180-3430</a>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">공공저작물관리 담당</strong>
						<small class="part">총무팀 팀장</small>
						<span class="name">
							<em>최 경 섭</em>
							<a href="tel:02-2180-3430">02-2180-3451</a>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box border officer_box">
						<strong class="title_line">공공저작물관리 담당</strong>
						<small class="part">총무팀 대리</small>
						<span class="name">
							<em>차 지 은</em>
							<a href="tel:02-2180-3430">02-2180-3455</a>
						</span>
					</div>
				</div>				
			</div>
			
			<!-- list end -->
			<h4 class="title_h3">관련법령 <span>및</span> 규정</h4>
			<ul class="list_dot">
				<li>공공기관의 <span>정보공개에</span> <span>관한</span> 법률&nbsp;<a
					href="../../resources/download/openinfo_law01.pdf" target="_blank"><span
						class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
				<li>공공기관의 <span>정보공개에</span> <span>관한</span> <span>법률</span> 시행령&nbsp;<a
					href="../../resources/download/openinfo_law02.pdf" target="_blank"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
				<li>공공기관의 <span>정보공개에</span> <span>관한</span> <span>법률</span> 시행규칙&nbsp;<a
					href="../../resources/download/openinfo_law03.pdf" target="_blank"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
				<li>정보공개운영지침&nbsp;<a href="../../resources/download/openinfo_guide.pdf"
					target="_blank"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
			</ul>			

			<h4 class="title_h3">관련서식</h4>
			<ul class="list_dot">
				<li>정보공개청구서&nbsp;<a href="../../resources/download/openinfo_form01.hwp"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
				<li>제3자 <span>의견서(비공개</span> 요청서)&nbsp;<a
					href="../../resources/download/openinfo_form02.hwp"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
				<li>정보공개위임장&nbsp;<a href="../../resources/download/openinfo_form03.hwp"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
				<li>정보공개 <span>결정</span> 이의신청서&nbsp;<a
					href="../../resources/download/openinfo_form04.hwp"><span
					class="btn btn_sm ml10">다운로드 <i class="xi-download"></i></span></a></li>
			</ul>
			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>