<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li><a href="s1_01_03.html">공개방법</a></li>
								<li><a href="s1_01_04.html">불복구제절차</a></li>
								<li class="active"><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="s1_04.html">정보공개청구</a></li>
						<li><a href="s1_05.html">사업실명제</a></li>
						<li><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">






			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">비공개 대상 정보</h3>

			<!-- 콘텐츠 시작 -->
			<h4 class="title_h3 mt0">비공개 대상 정보란</h4>
			<p>공공기관이 보유 · 관리하고 있는 정보가 '공공기관의 정보공개에 관한 법률' 제9조 제1항 각 호에 해당하는 경우에 비공개 할 수 있는 정보</p>

			<h4 class="title_h3 mb30">비공개 대상 정보 세부기준</h4>
			<div class='table left top responsive'>
				<table>
					<caption>비공개 대상 정보 근거조항, 비공개 세부기준 항목에 관한 표입니다.</caption>
					<colgroup>
						<col class='w40'>
						<col>
					</colgroup>
					<thead>
						<tr>
							<th scope='col'>근거조항</th>
							<th scope='col'>비공개 세부기준</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(1) 정보공개법 제9조제1항제1호</dt>
									<dd>다른 법률 또는 법률에 의한 명령에 의하여 비밀로 유지되거나 비공개사항으로 규정된 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>법령상 비밀 · 비공개 정보</dt>
									<dd>공직자윤리법 제14조 및 제14조의3의 규정에 의한 재산등록사항, 금융거래자료. 단, 법률에 의하여 공개하도록 규정한 사항은 제외</dd>
									<dd>형사소송법 제47조에 의한 공판 개정 전 소송에 관한 서류</dd>
									<dd>민원사무처리에관한법률 제13조에 의하여 민원사무처리와 관련된 정보에 대하여 민원인의 이익을 침해하는 정보</dd>
									<dd>통계법 제13조에 의하여 통계작성을 위하여 수집된 개인 또는 법인이나 단체의 비밀에 속하는 기초자료 및 통계프로그램</dd>
									<dd>기타 법률의 취지, 목적에 의거 공개할 수 없는 사항 등</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(2) 정보공개법 제9조제1항제2호</dt>
									<dd>국가안전보장, 국방, 통일, 외교 관계 등에 관한 사항으로서 공개 될 경우 국가의 중대한 이익을 현저히 해할 우려가 있다고 인정 되는 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>보안에 관한 사항</dt>
									<dd>국가안보, 국방, 통일, 외교관계에 관한 사항으로 국가정보원 등 타 기관에서 비공개를 요청한 문서 및 회신 등</dd>
									<dd>자체 비상대응계획 및 관련업무</dd>
									<dd>정보보호시스템, 전산시스템담당자 등 공개될 경우 정보보안에 지장을 줄 수 있는 정보</dd>
									<dd>국제경쟁관계가 진행중이거나 국가 간 또는 국가단체 간 협상중인 사항</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(3) 정보공개법 제9조제1항제3호</dt>
									<dd>공개될 경우 국민의 생명, 신체 및 재산의 보호에 현저한 지장을 초래할 우려가 있다고 인정되는 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>국민의 생명 · 신체 및 재산의 보호</dt>
									<dd>사람의 생명, 생활, 지위 등이 위협받는 정보</dd>
									<dd>범죄목표가 되는 시설 등의 설계도·구조·경비에 관한 정보</dd>
									<dd>기타 공공의 안전과 이익에 관련된 정보</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(4) 정보공개법제9조제1항제4호</dt>
									<dd>진행중인 재판에 관련된 정보와 범죄의 예방, 수사, 공소의 제기 및 유지, 형의 집행, 교정, 보안처분에 관한 사항으로서 공개될 경우 그 직무 수행을 현저히 곤란하게 하거나 형사피고인의 공정한 재판을 받을 권리를 침해한다고 인정할 만한 상당한 이유가 있는 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>재판 · 수사 등 관련 정보</dt>
									<dd>행정심판청구 및 답변서</dd>
									<dd>소송 진행 상황 및 소송관련 법률자문 내용</dd>
									<dd>행정처분 등 공개 시 이중처벌에 해당되는 내용 등</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(5) 정보공개법제9조제1항제5호</dt>
									<dd>감사, 감독, 검사, 시험, 규제, 입찰계약, 기술개발, 인사관리, 의사 결정과정 또는 내부검토과정에 있는 사항 등으로서 공개될 경우 업무의 공정한 수행이나 연구, 개발에 현저한 지장을 초래한다고 인정할 만한 상당한 이유가 있는 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>내부적으로 검토 중인 사항</dt>
									<dd>인사 관련 의사결정이 진행중인 사항</dd>
									<dd>기관의 직제 개정 등 검토중인 사항</dd>
									<dd>인사평정, 징계, 상훈 등 관련 심의, 회의록</dd>
									<dd>개인별 심사기록, 감사결과 등 공정한 업무수행에 지장을 초래하는 사항</dd>
									<dd>각종 지원사업과 관련된 내용</dd>
									<dd>시험의 실시 및 판정 관련 정보</dd>
									<dd>각종 입찰 및 용역 등의 계약사항 등</dd>
									<dd>각종 심사 계획 및 결과 등</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(6) 정보공개법제9조제1항제6호</dt>
									<dd>당해 정보에 포함되어 있는 이름, 주민등록번호 등에 의하여 특정인을 식별할 수 있는 개인에 관한 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>법개인에 관한 정보</dt>
									<dd>직원 채용에 관한 사항</dd>
									<dd>이름, 주민등록번호, 계좌번호, 개인급여 등 개인정보 및 급여 관련 서류</dd>
									<dd>개인 및 단체의 명예를 손상시킬 수 있는 사항</dd>
									<dd>특정인 식별이 가능한 각종 회의록</dd>
									<dd>신상정보를 삭제해도 해당 개인 및 단체를 인식할 수 있는 사항</dd>
									<dd>감사결과 등</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(7) 정보공개법 제9조제1항제7호</dt>
									<dd>법인, 단체 또는 개인의 영업상 비밀에 관한 사항으로서 공개될 경우 법인 등의 정당한 이익을 현저히 해할 우려가 있다고 인정되는 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>법인의 경영 · 영업상 비밀에 관한 사항</dt>
									<dd>저작권등록, 수익사업, 특허출원 등 업체의 영업상 비밀</dd>
									<dd>공개 시 저작권 도용 또는 분쟁 야기 가능성이 높은 사항 등</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td>
								<dl class="data_list">
									<dt>(8) 정보공개법 제9조제1항제8호</dt>
									<dd>공개될 경우 부동산 투기·매점매석 등으로 특정인에게 이익 또는 불이익을 줄 우려가 있다고 인정되는 정보</dd>
								</dl>
							</td>
							<td>
								<dl class="data_list list_dash">
									<dt>부동산 투기 · 매점매석 가능성이 있는 정보</dt>
									<dd>관광단지개발, 특구지정 등 개발계획 관련 사항</dd>
									<dd>기타 특정인에게 이익 또는 불이익을 초래할 수 있는 사항 등</dd>
								</dl>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>