<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li><a href="s1_01_03.html">공개방법</a></li>
								<li class="active"><a href="s1_01_04.html">불복구제절차</a></li>
								<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="s1_04.html">정보공개청구</a></li>
						<li><a href="s1_05.html">사업실명제</a></li>
						<li><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">






			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">불복구제절차</h3>

			<!-- 콘텐츠 시작 -->
			<h4 class="title_h3 mt0 mb30">이의신청</h4>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="box round">
						<strong class="title_line">청구인의 이의신청</strong>
						<p class="p_sdot">청구인은 공공기관의 비공개 또는 부분공개 결정에 대하여 불복이 있거나 정보공개 청구 후 ‘20일’이 경과하도록 정보공개 결정이 없는 때에는 공공기관으로부터 정보공개 여부의 결정 통지를 받은 날 또는 정보공개 청구 후 ‘20일’이 경과한 날로부터 ‘30일’ 이내에 해당 공공기관에 문서로 이의신청을 할 수 있습니다.</p>
					</div>
					</div>
				<div class="col-sm-6">
					<div class="box round">
						<strong class="title_line">이의신청 방법</strong>
						<ul class="list_sdot">
							<li>이의신청서를 작성하여 제출하면 됩니다.</li>
							<li>신청인의 이름, 주소 및 연락처, 정보공개 여부 결정의 내용, 이의신청의 취지 및 이유 등을 기재합니다.</li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="row mt30">
				<div class="col-sm-6">
					<div class="box round">
						<strong class="title_line">이의신청에 대한 결정</strong>
						<ul class="list_sdot">
							<li>공공기관은 이의신청을 받은 날부터 ‘7일’ 이내에 결정하여야 하며, 부득이한 경우 ‘7일’ 이내의 범위에서 결정기간을 연장할 수 있습니다.</li>
							<li>공공기관은 각하 또는 기각결정을 하는 경우 청구인에게 행정심판 또는 행정소송을 제기할 수 있다는 사실을 결과 통지와 함께 고지하여야 합니다.</li>
						</ul>
					</div>
					</div>
				<div class="col-sm-6">
					<div class="box round">
						<strong class="title_line">제3자의 이의신청 및 권리보호</strong>
						<ul class="list_sdot">
							<li>제3자로부터 비공개 요청을 받은 공공기관이 공개결정을 하는 경우 제3자는 공개통지를 받은 날부터 ‘7일’ 이내에 공공기관에 이의신청을 하거나 행정심판 또는 행정소송을 제기할 수 있으며, 이의신청은 통지를 받은 날부터 7일 이내에 하여야 합니다.</li>
							<li>공공기관은 제3자의 이의신청 권리보호를 위하여 공개 결정일과 공개 실시일 사이에 최소한 ‘30일’의 간격을 두어야 합니다.</li>
						</ul>	
					</div>
				</div>
			</div>

			<h4 class="title_h3">행정심판</h4>
			<p>청구인이 정보공개와 관련한 공공기관의 결정에 대하여 불복이 있거나 정보공개 청구 후 ‘20일’이 경과하도록 정보공개 결정이 없는 때에는「행정심판법」에서 정하는 바에 따라 이의신청 절차를 거치지 아니하고 행정심판을 청구할 수 있습니다.</p>
			<h4 class="title_h3">행정소송</h4>
			<p>청구인이 정보공개와 관련한 공공기관의 결정에 대하여 불복이 있거나 정보공개 청구 후 ‘20일’이 경과하도록 정보공개 결정이 없는 때에는 「행정소송법」에서 정하는 바에 따라 행정소송을 제기할 수 있습니다.</p>

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>