<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li><a href="s1_01_03.html">공개방법</a></li>
								<li><a href="s1_01_04.html">불복구제절차</a></li>
								<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li class="active"><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="https://www.open.go.kr/com/main/mainView.do" target="_blank">정보공개청구</a></li>
						<li><a href="s1_05.html">사업실명제</a></li>
						<li><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">






			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">사전정보공표</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="prior_info">
				<div class="box message_box">
					<div class="txt_wrap">
						<div class="major_message mb10">
							<p class="main_txt">사전정보공표 제도는 국민들이 정보공개를 청구하기 전에 국민이 필요로 하는 정보를 선제적, 능동적으로 공개하는 제도입니다.</p>						
						</div>
						<p class="p_dot">비공개 대상 정보 외에 국민이 알아야 할 필요가 있는 정보</p>
						<ul class="list_dash">
							<li>국민생활에 매우 큰 영향을 미치는 정책에 관한 정보</li>
							<li>국가의 시책으로 시행하는 공사 등 대규모 예산이 투입되는 사업에 관한 정보</li>
							<li>예산집행의 내용과 사업평가 결과 등 행정감시를 위하여 필요한 정보</li>
							<li>그 밖에 공공기관의 장이 정하는 정보</li>
						</ul>
					</div>
					<div class="img_wrap">
						<img src="../../resources/img/sub/s1_03_bg.png" alt="">
					</div>
				</div>
				<ul class="link_tabs">
					<li class="item1 active">
						<a href="" title="선택된 탭메뉴">
							<i aria-hidden="true"></i>
							<em>전체</em>
						</a>
					</li>
					<li class="item2">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>기관운영</em>
						</a>
					</li>
					<li class="item3">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>계약구매</em>
						</a>
					</li>
					<li class="item4">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>예산재무</em>
						</a>
					</li>
					<li class="item5">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>외부평가</em>
						</a>
					</li>
					<li class="item6">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>주요사업</em>
						</a>
					</li>
				</ul>
			</div>
			<div class="board">		
				<div class="board_info">
					<div class="page_info">
						<span class="total_page">전체<strong>3건</strong></span>
						<span class="current_page">현재 페이지<strong>1/10</strong></span>
					</div>
					<form class="board_search">
						<fieldset class="form-row">
							<legend class="sr-only">게시글 검색</legend>
							<select class="search_type form-select mr20" title="검색분류선택">
								<option value="all">전체</option>
								<option value="">공개항목</option>
								<option value="">주요내용</option>
								<option value="">담당부서</option>
							</select>
							<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
							<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
						</fieldset>
					</form>
				</div>
				<!-- //board_info -->

				<div class="board_list simple">
					<table>
						<caption>사전정보공표 - 번호, 공개항목, 주요내용, 공표주기, 공표시기, 담당부서, 공표방법</caption>
						<colgroup>
						<col class="w5">
						<col>
						<col class="w30">
						<col class="w10">
						<col class="w8">
						<col class="w10">
						<col class="w8">
						</colgroup>
						<thead class="dhead">
						<tr>
							<th scope="col">번호</th>
							<th scope="col" class="title">공개항목</th>
							<th scope="col">주요내용</th>
							<th scope="col">공표주기</th>
							<th scope="col">공표시기</th>
							<th scope="col">담당부서</th>
							<th scope="col">공표방법</th>
						</tr>
						</thead>
						<tbody class="dbody">						
						<tr>
							<td >68</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">미사경정공원 주차장 현황</a></td>
							<td data-title="주요내용">주요 주차구역, 주차가능 대수, 주차요금	</td>
							<td data-title="공표주기">수시</td>
							<td data-title="공표시기">변경시</td>
							<td data-title="담당부서">경정지원팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						<tr>
							<td >67</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">	미사경정공원 놀이시설 현황	</a></td>
							<td data-title="주요내용">놀이시설 장소 및 현황</td>
							<td data-title="공표주기">연1회</td>
							<td data-title="공표시기">3월</td>
							<td data-title="담당부서">경정지원팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						<tr>
							<td >66</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">	개인정보파일 보유현황	</a></td>
							<td data-title="주요내용">명칭, 부서명, 운영근거, 운영목적, 보유기간 등</td>
							<td data-title="공표주기">연1회</td>
							<td data-title="공표시기">변경시</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="공표방법"><a href="" target="_blank">첨부</a></td>
						</tr>
						<tr>
							<td >65</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">영상정보 처리기기 운영·관리 방침</a></td>
							<td data-title="주요내용">설치 근거 및 목적, 관리책임자, 접근권한자 등</td>
							<td data-title="공표주기">수시</td>
							<td data-title="공표시기">개정시</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						<tr>
							<td >64</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">미사경정공원 주차장 현황</a></td>
							<td data-title="주요내용">주요 주차구역, 주차가능 대수, 주차요금	</td>
							<td data-title="공표주기">수시</td>
							<td data-title="공표시기">변경시</td>
							<td data-title="담당부서">경정지원팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						<tr>
							<td >63</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">	미사경정공원 놀이시설 현황	</a></td>
							<td data-title="주요내용">놀이시설 장소 및 현황</td>
							<td data-title="공표주기">연1회</td>
							<td data-title="공표시기">3월</td>
							<td data-title="담당부서">경정지원팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						<tr>
							<td >62</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">	개인정보파일 보유현황	</a></td>
							<td data-title="주요내용">명칭, 부서명, 운영근거, 운영목적, 보유기간 등</td>
							<td data-title="공표주기">연1회</td>
							<td data-title="공표시기">변경시</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="공표방법"><a href="" target="_blank">첨부</a></td>
						</tr>
						<tr>
							<td >61</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">영상정보 처리기기 운영·관리 방침</a></td>
							<td data-title="주요내용">설치 근거 및 목적, 관리책임자, 접근권한자 등</td>
							<td data-title="공표주기">수시</td>
							<td data-title="공표시기">개정시</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						
						<tr>
							<td >60</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">	개인정보파일 보유현황	</a></td>
							<td data-title="주요내용">명칭, 부서명, 운영근거, 운영목적, 보유기간 등</td>
							<td data-title="공표주기">연1회</td>
							<td data-title="공표시기">변경시</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="공표방법"><a href="" target="_blank">첨부</a></td>
						</tr>
						<tr>
							<td >59</td>
							<td class="title" data-title="공개항목">
							<a href="" target="_blank">영상정보 처리기기 운영·관리 방침</a></td>
							<td data-title="주요내용">설치 근거 및 목적, 관리책임자, 접근권한자 등</td>
							<td data-title="공표주기">수시</td>
							<td data-title="공표시기">개정시</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="공표방법"><a href="" target="_blank">링크</a></td>
						</tr>
						
						</tbody>
					</table>
				</div>
				<!-- //board_list -->

				<div class="paging">
					<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
					<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
					<a href="" class="page_none page_now"><strong>1</strong></a>
					<a href="" class="page_none">2</a>
					<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
					<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
				</div>
				<!-- //paging -->

			</div>
			<!-- //board 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>