<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li><a href="s1_01_03.html">공개방법</a></li>
								<li><a href="s1_01_04.html">불복구제절차</a></li>
								<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="https://www.open.go.kr/com/main/mainView.do" target="_blank">정보공개청구</a></li>
						<li><a href="s1_05.html">사업실명제</a></li>
						<li class="active"><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">






			
			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">공공데이터 개방</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="box message_box bg">
				<div class="major_message">
					<p class="main_txt">공공데이터를 개방하여 국민의 알권리를 충족하고 민간 활용을 촉진하여 혁신 성장을 지원합니다.</p>
					<p>공공데이터의 제공 및 이용활성화에 관한 법률에 따른 공공데이터 제공목록은 아래와 같습니다.</p>
				</div>					
				<img src="../../resources/img/sub/s1_06_bg.png" alt="">
			</div>	
			<iframe name="frm" src="https://www.data.go.kr/tcs/dss/selectDataSetList.do" width="100%" height="700" scrolling="yes" frameborder="0" title="공공데이터제공"></iframe>


			<div class="btns mt40">
				<a href="/jsp/homepage/contents/information/dataerrrpt_write.do"  class="btn type3"><span>데이터 오류 신고</span><i class="xi-angle-right-min ml30" aria-hidden="true"></i></a>
			</div>

			<!-- //콘텐츠 끝 -->




		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>