<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li class="active"><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li class="active"><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">공익신고안내</h3>

			<!-- 콘텐츠 시작 -->
			<div class="public_report">
				<h4 class="title_h3 mt0">'공익신고'란 무엇인가요?</h4>
				<ul class="list_dash">
					<li>공익신고는 누구든지 공익침해행위가 발생하였거나 발생할 것을 알게 된 때에 이를 시정하고자 공익 신고 기관에 신고하는 것을 말합니다.</li>
				</ul>
				<div class="box border mt30 violation_example">
					<strong class="title">5개분야,  279개 법률 위반행위</strong>
					<ul class="icon_list">
						<li>
							<i class="icon1"><img src="../../resources/img/sub/s2_03_04_icon1.png" alt=""></i>
							<strong>건강</strong>
							<small>불량식품<br>제조·판매</small>
						</li>
						<li>
							<i class="icon2"><img src="../../resources/img/sub/s2_03_04_icon2.png" alt=""></i>
							<strong>안전</strong>
							<small>부실시공</small>
						</li>
						<li>
							<i class="icon3"><img src="../../resources/img/sub/s2_03_04_icon3.png" alt=""></i>
							<strong>환경</strong>
							<small>폐수<br>무단방류</small>
						</li>
						<li>
							<i class="icon4"><img src="../../resources/img/sub/s2_03_04_icon4.png" alt=""></i>
							<strong>소비자이익</strong>
							<small>개인정보<br>무단유출</small>
						</li>
						<li>
							<i class="icon5"><img src="../../resources/img/sub/s2_03_04_icon5.png" alt=""></i>
							<strong>공정경쟁</strong>
							<small>기업 간<br>담합</small>
						</li>						
					</ul>
				</div>

				<h4 class="title_h3">'공익신고'란 어떻게 해야하나요?</h4>
				<ul class="list_dash">
					<li>신고자의 인적사항, 공익침해행위 내용, 신고 취지 및 이유 등을 기재한 후 증거를 첨부하여 서식에 따라 신고합니다.</li>
					<li>상담전화 : 전국 어디서나 국번없이 110 또는 1398</li>
					<li>인터넷 : 청렴신문고 홈페이지 1398.acrc.go.kr</li>
					<li>팩스 : 044-200-7972</li>
					<li>부패·공익신고앱 : 구글스토어 또는 앱스토어에서 다운로드 가능</li>
				</ul>
				<div class="btns mt30">
					<a href="https://1398.acrc.go.kr/hpg/psm/hpgPsmStep1.do" target="_blank" class="btn type3"><span>온라인 신고하러 가기</span><i class="xi-angle-right-min ml30"></i></a>
				</div>
				<h4 class="title_h3">'공익신고자'는 어떻게 보호되나요?</h4>
				<ul class="list_dash">
					<li>국민권익위원회는 공익신고자 등(친족 또는 동거인 포함)이 공익신고 등으로 인하여 피해를 받지 않도록 보호하고 있습니다.</li>
					<li>신고자의 동의없이, 공익신고자의 인적사항이나 공익신고자임을 미루어 알 수 있는 사실 공개 금지하고 있습니다.</li>
					<li>누구든지 공익신고자 등에게 공익신고를 이유로 신분상·행정적·경제적 불이익조치 금지, 불이익 조치 받은 경우, 위원회에 원상회복 등 필요한 보호조치를 신청할 수 있습니다.</li>
					<li>공익신고자와 친족 등의 신변에 불안이 있는 경우, 위원회에서 경찰에 신변보호 요청합니다.</li>
					<li>공익신고와 관련하여 공익신고자의 위법행위가 발견된 경우 형벌·징계·불리한 행정처분의 감경 또는 면제가 됩니다.</li>
				</ul>
				<div class="poster_down">
					<a href="../../resources/download/공익신고안내_리플릿.jpg" class="item">
						<img src="../../resources/img/sub/s2_03_04_bg1.jpg" alt="">
						<strong>공익신고안내<br>리플렛</strong>
						<i class="xi-angle-right-min"></i>
					</a>
					<a href="../../resources/download/공익신고안내_포스터.jpg" class="item">
						<img src="../../resources/img/sub/s2_03_04_bg2.jpg" alt="">
						<strong>공익신고안내<br>포스터</strong>
						<i class="xi-angle-right-min"></i>
					</a>
					<a href="../../resources/download/공익신고자_보호제도의_이해.pdf" class="item">
						<img src="../../resources/img/sub/s2_03_04_bg3.jpg" alt="">
						<strong>공익신고자<br>보호제의 이해</strong>
						<i class="xi-angle-right-min"></i>
					</a>
				</div>
			</div>	
			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>