<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li class="active"><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li class="active"><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">고객서비스 헌장</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="customer_service_charter">
				<div class="message_box bg">
					<div class="major_message">
						<h4>고객서비스헌장</h4>
						<p>한국체육산업개발주식회사 <strong>전 임직원은 고객만족경영을 바탕으로 고객들이 안전하고 편안한 환경 이용</strong>을 통해 신뢰받는 기업이 되도록 다음사항을 약속하고 실천하겠습니다.</p>
					</div>
					<img src="../../resources/img/sub/s2_02_illust.png" alt="">
				</div>
				<div class="cont_wrap">
					<div class="cont_flex">
						<div class="cont">
							<dl class="list">
								<dt>하나,</dt>
								<dd>
									<strong>우리는 고객의 안전을 최우선으로 생각하겠습니다.</strong>
									<p>올림픽시설물 관리운영의 전문성을 바탕으로 고객들이 안심하고 이용할 수 있는 환경을 만들겠습니다.</p>
								</dd>
								<dt>하나,</dt>
								<dd>
									<strong>우리는 고객과 열린 자세로 소통하겠습니다. </strong>
									<p>고객의 작은 소리도 크게 듣고, 고객의 입장에서 생각하며 실천함으로써 고객 서비스에 앞장서겠습니다.</p>
								</dd>
								<dt>하나,</dt>
								<dd>
									<strong>우리는 고객과의 약속을 성설히 지키겠습니다. </strong>
									<p>우리는 신속, 정확, 친절하게 업무를 처리할 것이며, 고객과의 약속을 소중하게 생각하고 지키도록 하겠습니다.</p>
								</dd>
							</dl>
							<p>우리는 이와 같이 목표를 실천하기 위하여 세부적인 서비스이행 기준을 확립하고 이를 성실히 이행하도록 하겠습니다.</p>
						</div>
						<img src="../../resources/img/sub/s2_02_img.png" alt="">
					</div>
					<p class="all_employee"><img src="../../resources/img/sub/s2_02_logo.png" alt="KSPO&CO로고"><span>한국체육산업개발주식회사 임직원 일동</span></p>
				</div>
				<div class="btns mt40">
					<a href="../../resources/download/cs_standard.pdf" class="btn type3 btn_md"><span>고객서비스 표준 다운로드</span></a>
				</div>
				
			</div>
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>