<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>	
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li class="active"><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">정책제안</h3>

			<!-- 콘텐츠 시작 -->
			<div class="policy_proposal board">
				<div class="board_view">
					<h4 class="title board_title"><i>온라인 제안</i>상생소비지원금 캐시백 3,025억원 발생 (1,488만명 신청)</h4>
					<ul class="head">
						<li class="writer"><strong>제안자</strong><span>최고관리자</span></li>
						<li class="date"><strong>제안일</strong><span>2019/03/08 15:47</span></li>				
						<li class="down"><strong>공유</strong><span>5</span></li>
					</ul>	
					<div class="nominate">
						<ul class="row">
							<li class="item item1 col-sm-6">
								<strong id="flow_text">추천수 (30명)</strong>								
								<div class="graph">
									<em class="graph_bar" style="width:16.666666666666664%;"><span class="sr-only">16%</span></em>
								</div>								
								<span>5명</span>
							</li>
							<li class="item item2 col-sm-6"><strong>남은 토론일</strong>
								<div class="graph">
									<em class="graph_bar" style="width:100.0%;"><span class="sr-only">100%</span></em>
								</div>
								<span>26일</span>
							</li>
						</ul>
					</div>
					<!-- //nominate -->
					<div class="talk_step">
						<ol class="row">
							<li class="item1 col-4 active">
								<div class="step">
									<i class="icon" aria-hidden="true"></i>
									<strong>제안토론</strong>
								</div>
							</li>
							<li class="item2 col-4">
								<div class="step">
									<i class="icon" aria-hidden="true"></i>
									<strong>제안숙성</strong>
								</div>
							</li>
							<li class="item3 col-4">
								<div class="step">
									<i class="icon" aria-hidden="true"></i>
									<strong>정책반영</strong>
								</div>
							</li>
						</ol>							
					</div>
					<!-- //talk_step -->

					<h5 class="state_title"><span>제안숙성</span> - <strong class="talk_tit">교육</strong></h5>					
						
					<div class="text_box">						
						<p>1. 제안배경 : 탄소중립시대에 살면서 너무 늦은 시기에 환경의 중요성을 알게 되기도 하고 부모의 차이로 환경교육이 보편적으로 진행되기 어렵다.&nbsp;초등학교 교과과정에 환경이라는 주제가 없기 때문에 기회교육이나 연 1회 정도의 단기적 환경교육이 진행중이지만, 짧은 환경교육으로는 부족하다!</p>
						<p>&nbsp;</p>
						<p>2. 제안내용&nbsp;: 초등학교 3~5학년 사이의 교과과정에 연간 또는 10회기 이상의 환경교육을 실시하면서 지구환경 중요성과 환경을위한 실천과정을 제대로 이해하고 실천할 수 있도록 합니다.&nbsp;</p>
						<p>&nbsp;</p>
						<p>3. 기대효과 : 탄소중립의 실천화, 어린시절부터 학습함으로 환경의 중요성을 인식하고 실천하게 된다.</p>
					</div>
					<!--//text_box  -->	
					
					<div class="keyword_list">
						<strong class="title">키워드</strong>
						<div class="keyword">
							<span>#재난지원금</span><span>#탄소중립</span><span>#재난지원금</span><span>#지구환경</span><span>#초등학교</span><span>#탄소중립</span><span>#재난지원금</span><span>#지구환경</span><span>#초등학교</span><span>#탄소중립</span><span>#재난지원금</span><span>#지구환경</span><span>#초등학교</span><span>#탄소중립</span>
						</div>						
					</div>
					<div class="add_file_list">
						<strong class="title">첨부파일</strong>
						<ul class="add_file">
							<li>
								<a href="#" class="file_down">
									<span class="text">154873973477000.jpg</span>
									<span class="file_size">(6KB)</span>
								</a>
								<span class="link">
									<a class="btn_file btn_down" href="">다운로드<i aria-hidden="true"></i></a>
								</span>
							</li>
							<li>
								<a href="#" class="file_down">
									<span class="text">154873973477000.jpg</span>
									<span class="file_size">(6KB)</span>
								</a>
								<span class="link">
									<a class="btn_file btn_down" href="">다운로드<i aria-hidden="true"></i></a>
								</span>
							</li>
							<li>
								<a href="#" class="all_file_down btn_down">
									전체 다운로드<i aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="like_btn">
						<button type="button" class="like">
							<i class="icon" aria-hidden="true"></i>
							<strong>32</strong>
							<span>추천</span>
						</button>
						<button type="button" class="hate">
							<i class="icon" aria-hidden="true"></i>
							<strong>1</strong>
							<span>비추천</span>
						</button>
					</div>
					<div class="btns">
						<button type="button" onclick="goList(); return false;" class="btn btn_lg gray2">목록</button>
					</div>					
				</div>
				<!-- //board_view -->

				<div class="opinion_wrap">
					<div class="comment_wrap">
						<div class="cmt_form">
							<strong class="title">의견남기기</strong>
							<form name="cmtForm" method="post" action="#">
								<fieldset>
									<legend class="sr_only">등록</legend>
									<div class="memo">
										<textarea title="댓글을 등록하세요." class="comment" name="c_comment" rows="4" placeholder="댓글을 입력해 주세요"></textarea>
										<div class="memo_foot">
											<span class="num"><b class="txt_length">0</b> / 200</span>
											<button type="button" class="btn gray1  btn_popopen cmt_create" data-id="cmt_save_pop">저장</button>
										</div>	        
									</div>
								</fieldset>
							</form>
						</div><!-- //cmtForm -->
						<div class="comment_list">
							<div class="board_info">
								<strong class="title">전체의견 <em class="ml5">6건</em></strong>
								<div class="board_sort">
									<a href="" class="active">최신순</a>
									<a href="">추천순</a>
								</div>
							</div>
							<ul>
								<li>
									<div class="item">
										<div class="cmt_info">
											<strong class="name"><i class="xi-message-o mr5"></i><span>전경민</span></strong>
											<span class="date">2018-09-01 05:32</span>
											<span class="cmt_write">
												댓글<i class="xi-pen-o ml5"></i>
											</span>
										</div>										
										<p class="comment">2022년 새해 목표는 솔로지옥에 나오는 프리지아처럼 블링블링 샤방샤방한 여자친구를 만나는 것입니다.</p>
										<div class="cmt_util">
											<div class="like_btn">
												<button type="button" class="like">
													<i class="icon" aria-hidden="true"></i>
													<strong>2</strong>
													<span class="sr-only">추천</span>
												</button>
												<button type="button" class="hate">
													<i class="icon" aria-hidden="true"></i>
													<strong>18</strong>
													<span class="sr-only">비추천</span>
												</button>
											</div>	
											<div class="cmt_modify">
												<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
												<span class="cmt_btn_group">
													<button class="cmtUpt">수정</button>
													<button class="cmtDel">삭제</button>
												</span>	
											</div>
										</div>
										<!--// cmt_util -->
									</div>

									<!--수정 시작-->
									<div class="cmt_form">
										<form name="cmtForm" method="post" action="#">
											<fieldset>
												<legend class="sr_only">등록</legend>
												<div class="memo">
													<textarea title="댓글을 등록하세요." class="comment" name="c_comment" rows="4" placeholder="죄송합니다.ㅜㅜ"></textarea>
													<div class="memo_foot">
														<span class="num"><b class="txt_length">0</b> / 200</span>
														<button type="button" class="btn gray1 btn_sm btn_popopen cmt_create" data-id="cmt_save_pop">저장</button> 
													</div>	        
												</div>
											</fieldset>
										</form>
									</div><!-- //cmt_form -->
									<!-- //수정 끝 -->

									<!-- 댓글 시작 -->
									<ul class="re_comment_ul">
										<!-- //운영자가 댓글남길시 .admin_cmt클래스 추가 -->
										<li class="re_comment admin_cmt">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>운영자</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">타인의 명예를 훼손하는 내용 혹은 허위사실, 특정 집단에 대한 혐오 표현 등 부적절한 제안은 관리자에 의해 숨김 처리 혹은 삭제 될 수 있습니다.</p>
												
											</div>
										</li>
										<li class="re_comment">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>조정연</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">샤방샤방 밝게 빛나는 = 밝을 明 빛날 熙</p>
												<div class="cmt_util">
													<div class="like_btn">
														<button type="button" class="like">
															<i class="icon" aria-hidden="true"></i>
															<strong>20</strong>
															<span class="sr-only">추천</span>
														</button>
														<button type="button" class="hate">
															<i class="icon" aria-hidden="true"></i>
															<strong>0</strong>
															<span class="sr-only">비추천</span>
														</button>
													</div>	
													<div class="cmt_modify">
														<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
														<span class="cmt_btn_group">
															<button class="cmtUpt">수정</button>
															<button class="cmtDel">삭제</button>
														</span>	
													</div>
												</div>
												<!--// cmt_util -->
											</div>
										</li>
										<li class="re_comment">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>이창희</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">지r 염X 떨지말고 다미한테 잘해줘</p>
												<div class="cmt_util">
													<div class="like_btn">
														<button type="button" class="like">
															<i class="icon" aria-hidden="true"></i>
															<strong>19</strong>
															<span class="sr-only">추천</span>
														</button>
														<button type="button" class="hate">
															<i class="icon" aria-hidden="true"></i>
															<strong>1</strong>
															<span class="sr-only">비추천</span>
														</button>
													</div>	
													<div class="cmt_modify">
														<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
														<span class="cmt_btn_group">
															<button class="cmtUpt">수정</button>
															<button class="cmtDel">삭제</button>
														</span>	
													</div>
												</div>
												<!--// cmt_util -->
											</div>
										</li>
										<li class="re_comment">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>황민서</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">서대전 2대장 화이팅~ ᕦ(ò_óˇ)ᕤ</p>
												<div class="cmt_util">
													<div class="like_btn">
														<button type="button" class="like">
															<i class="icon" aria-hidden="true"></i>
															<strong>3</strong>
															<span class="sr-only">추천</span>
														</button>
														<button type="button" class="hate">
															<i class="icon" aria-hidden="true"></i>
															<strong>17</strong>
															<span class="sr-only">비추천</span>
														</button>
													</div>	
													<div class="cmt_modify">
														<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
														<span class="cmt_btn_group">
															<button class="cmtUpt">수정</button>
															<button class="cmtDel">삭제</button>
														</span>	
													</div>
												</div>
												<!--// cmt_util -->
											</div>
										</li>										
									</ul>	
									<!-- 댓글 끝 -->							
								</li>	  
								
							</ul>
						</div><!-- //commentList -->
							  
					</div>
					<!-- //comment_wrap -->

					<div class="modal_popup_wrap cmt_save_pop">
						<div class="modal_popup">
							<div class="modal_cont">								
								<div class="txt_center">
									<i class="icon_warning" aria-hidden="true">!</i>
									<p class="desc_txt"><strong>저장 하시겠습니까?</strong></p>
								</div>
							</div>
							<div class="modal_foot">
								<button type="button" class="btn btn_cancel">취소</button>
								<button type="button" class="btn type3">확인</button>
							</div>
							<button type="button" class="modal_close"><i class="xi-close-thin" aria-hidden="true"></i><span class="sr-only">팝업닫기</span></button>
						</div>
						<!-- //modal_popup -->
					</div>

				</div>
				<!-- //opinion_wrap -->

				<div class="paging">
					<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
					<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
					<a href="" class="page_none page_now"><strong>1</strong></a>
					<a href="" class="page_none">2</a>
					<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
					<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
				</div>
			</div>	
			<!-- //policy_proposal -->
			
			
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>