<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>	
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li class="active"><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">공모참여</h3>

			<!-- 콘텐츠 시작 -->
			<div class="contest_party_view board">
				<div class="board_view">
					<h4 class="title board_title">혁신적인 아이디어를 조달로! 국민혁신수요 아이디어 공모</h4>
					<ul class="head">
						<li class="view"><strong>조회수</strong><span>229</span></li>
						<li class="share"><strong>공유</strong><span>5</span></li>
					</ul>	
						
					<div class="contest_party_area cont_area">	
						<p><img src="../../resources/img/sub/s2_01_03_view_sample.jpg" alt=""></p>
						<br>
						<p>지구 표면의 71%를 차지하는 바다는 인류 생존과 번영을 위한 필수공간이다.<br>
						최근 지구온난화에 따른 기후변화와 해양 플라스틱 쓰레기 등 해양환경 문제에 대한 관심이 증가하고 있습니다.<br>
						무궁화2호에서는 국민들이 생각하는 해양환경 오염의 원인과 관심도에 대한 설문조사를 실시하고자 합니다.</p>	
					</div>
					<!--//survey_party_area  -->
									
				</div>
				<!-- //board_view -->
				<div class="btns">
					<button type="button" class="btn btn_md type4">기간만료</button>
					<button type="button" onclick="goList(); return false;" class="btn btn_md gray2">목록</button>
				</div>	

				<div class="opinion_wrap">
					<div class="comment_wrap">
						<div class="cmt_form">
							<strong class="title">의견남기기</strong>
							<form name="cmtForm" method="post" action="#">
								<fieldset>
									<legend class="sr_only">등록</legend>
									<div class="memo">
										<textarea title="댓글을 등록하세요." class="comment" name="c_comment" rows="4" placeholder="댓글을 입력해 주세요"></textarea>
										<div class="memo_foot">
											<span class="num"><b class="txt_length">0</b> / 200</span>
											<button type="button" class="btn gray1 btn_popopen cmt_create" data-id="cmt_save_pop">저장</button>
										</div>	        
									</div>
								</fieldset>
							</form>
						</div><!-- //cmtForm -->
						<div class="comment_list">
							<div class="board_info">
								<strong class="title">전체의견 <em class="ml5">6건</em></strong>
								<div class="board_sort">
									<a href="" class="active">최신순</a>
									<a href="">추천순</a>
								</div>
							</div>
							<ul>
								<li>
									<div class="item">
										<div class="cmt_info">
											<strong class="name"><i class="xi-message-o mr5"></i><span>전경민</span></strong>
											<span class="date">2018-09-01 05:32</span>
											<span class="cmt_write">
												댓글<i class="xi-pen-o ml5"></i>
											</span>
										</div>										
										<p class="comment">2022년 새해 목표는 솔로지옥에 나오는 프리지아처럼 블링블링 샤방샤방한 여자친구를 만나는 것입니다.</p>
										<div class="cmt_util">
											<div class="like_btn">
												<button type="button" class="like">
													<i class="icon" aria-hidden="true"></i>
													<strong>2</strong>
													<span class="sr-only">추천</span>
												</button>
												<button type="button" class="hate">
													<i class="icon" aria-hidden="true"></i>
													<strong>18</strong>
													<span class="sr-only">비추천</span>
												</button>
											</div>	
											<div class="cmt_modify">
												<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
												<span class="cmt_btn_group">
													<button>수정</button>
													<button>삭제</button>
												</span>	
											</div>
										</div>
										<!--// cmt_util -->
									</div>

									<!--수정 시작-->
									<div class="cmt_form">
										<form name="cmtForm" method="post" action="#">
											<fieldset>
												<legend class="sr_only">등록</legend>
												<div class="memo">
													<textarea title="댓글을 등록하세요." class="comment" name="c_comment" rows="4" placeholder="죄송합니다.ㅜㅜ"></textarea>
													<div class="memo_foot">
														<span class="num"><b class="txt_length">0</b> / 200</span>
														<button type="button" class="btn gray1 btn_popopen cmt_create" data-id="cmt_save_pop">저장</button> 
													</div>	        
												</div>
											</fieldset>
										</form>
									</div><!-- //cmt_form -->
									<!-- //수정 끝 -->

									<!-- 댓글 시작 -->
									<ul class="re_comment_ul">
										<!-- //운영자가 댓글남길시 .admin_cmt클래스 추가 -->
										<li class="re_comment admin_cmt">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>운영자</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">타인의 명예를 훼손하는 내용 혹은 허위사실, 특정 집단에 대한 혐오 표현 등 부적절한 제안은 관리자에 의해 숨김 처리 혹은 삭제 될 수 있습니다.</p>
												
											</div>
										</li>
										<li class="re_comment">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>조정연</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">샤방샤방 밝게 빛나는 = 밝을 明 빛날 熙</p>
												<div class="cmt_util">
													<div class="like_btn">
														<button type="button" class="like">
															<i class="icon" aria-hidden="true"></i>
															<strong>20</strong>
															<span class="sr-only">추천</span>
														</button>
														<button type="button" class="hate">
															<i class="icon" aria-hidden="true"></i>
															<strong>0</strong>
															<span class="sr-only">비추천</span>
														</button>
													</div>	
													<div class="cmt_modify">
														<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
														<span class="cmt_btn_group">
															<button>수정</button>
															<button>삭제</button>
														</span>	
													</div>
												</div>
												<!--// cmt_util -->
											</div>
										</li>
										<li class="re_comment">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>이창희</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">지r 염X 떨지말고 다미한테 잘해줘</p>
												<div class="cmt_util">
													<div class="like_btn">
														<button type="button" class="like">
															<i class="icon" aria-hidden="true"></i>
															<strong>19</strong>
															<span class="sr-only">추천</span>
														</button>
														<button type="button" class="hate">
															<i class="icon" aria-hidden="true"></i>
															<strong>1</strong>
															<span class="sr-only">비추천</span>
														</button>
													</div>	
													<div class="cmt_modify">
														<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
														<span class="cmt_btn_group">
															<button>수정</button>
															<button>삭제</button>
														</span>	
													</div>
												</div>
												<!--// cmt_util -->
											</div>
										</li>
										<li class="re_comment">
											<div class="item">
												<div class="cmt_info">
													<strong class="name"><i class="xi-subdirectory mr5"></i><span>황민서</span></strong>
													<span class="date">2018-09-01 05:32</span>
												</div>
												<p class="comment">서대전 2대장 화이팅~ ᕦ(ò_óˇ)ᕤ</p>
												<div class="cmt_util">
													<div class="like_btn">
														<button type="button" class="like">
															<i class="icon" aria-hidden="true"></i>
															<strong>3</strong>
															<span class="sr-only">추천</span>
														</button>
														<button type="button" class="hate">
															<i class="icon" aria-hidden="true"></i>
															<strong>17</strong>
															<span class="sr-only">비추천</span>
														</button>
													</div>	
													<div class="cmt_modify">
														<button type="button" class="btn_toggle"><span class="sr-only">수정삭제버튼</span><i class="xi-ellipsis-v"></i></button>
														<span class="cmt_btn_group">
															<button>수정</button>
															<button>삭제</button>
														</span>	
													</div>
												</div>
												<!--// cmt_util -->
											</div>
										</li>										
									</ul>	
									<!-- 댓글 끝 -->							
								</li>	  
								
							</ul>
						</div><!-- //commentList -->
							  
					</div>
					<!-- //comment_wrap -->

					<div class="modal_popup_wrap cmt_save_pop">
						<div class="modal_popup">
							<div class="modal_cont">								
								<div class="txt_center">
									<i class="icon_warning" aria-hidden="true">!</i>
									<p class="desc_txt"><strong>저장 하시겠습니까?</strong></p>
								</div>
							</div>
							<div class="modal_foot">
								<button type="button" class="btn btn_cancel">취소</button>
								<button type="button" class="btn type3">확인</button>
							</div>
							<button type="button" class="modal_close"><i class="xi-close-thin" aria-hidden="true"></i><span class="sr-only">팝업닫기</span></button>
						</div>
						<!-- //modal_popup -->
					</div>

				</div>
				<!-- //opinion_wrap -->

				<div class="paging">
					<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
					<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
					<a href="" class="page_none page_now"><strong>1</strong></a>
					<a href="" class="page_none">2</a>
					<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
					<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
				</div>
			</div>	
			<!-- //contest_party_view -->
			
			
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>