<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub3">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">알림·홍보</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s3_01.html">공지사항</a></li>
								<li><a href="s3_02.html">보도자료</a></li>
								<li><a href="s3_03.html">사진뉴스</a></li>
								<li><a href="s3_04.html">입찰공고</a></li>
								<li><a href="s3_05.html">협력기관</a></li>
								<li><a href="s3_06.html">역대수상 및 인증기록</a></li>
								<li><a href="s3_07.html">홍보동영상</a></li>
								<li class="active"><a href="s3_08.html">웹진</a>
									<ul class="depth3">
										<li class="active"><a href="s3_08.html">경영백서</a></li>
										<li><a href="s3_08_02.html">체육산업 TALK</a></li>
									</ul>
								</li>
								<li><a href="s3_09.html">자주묻는질문</a></li>					
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">경영백서</h3>

					<!-- 콘텐츠 시작 -->
					<div class="bod_webzine_preview">
						<div class="row no-gutters">
							<a href="bod_thumb_view.html" class="book_cover col-sm-4">
								<span class="thumb">
									<img src="../../resources/img/sub/s3_08_cover.jpg" alt="">
								</span>
							</a>
							<div class="book_index col-sm-8">
								<strong class="title">2020<br>희망을 향한 성장, 함께하는 미래</strong>
								<ol>
									<li>004p --- 발간사</li>
									<li>006p --- 회사 소개</li>
									<li>008p --- 경영 가치</li>
									<li>011p --- 한 눈에 보는 주요성과</li>
									<li>018p --- 핵심 성과</li>
									<li>034p --- 우수 사례</li>
									<li>048p --- 경영 관리 BUSINESS ADMINISTRATION</li>
									<li>080p --- 주요 사업 MAIN BUSINESS</li>
									<li>100p --- 경영 활동 일지 APPENDIX I</li>
									<li>174p --- 경영 통계 APPENDIX II</li>
								</ol>
								<a href="" class="btn">경영백서 바로보기<i class="xi-angle-right-min ml30"></i></a>
								<!--<div class="link_wrap">
									<span class="sns">
										<a href="https://www.facebook.com/" target="_blank"><span
												class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
										<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
												class="xi-twitter"></i></a>
										<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
												class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
									</span>
									<a href="" target="_blank" title="새창열림" class="view"><i
											class="icon_arrow_right"></i></a>
								</div> //link_wrap -->
							</div><!-- //book_hover -->
						</div><!-- //item -->
					</div>
					<div class="board">

						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<form class="board_search">
								<fieldset class="form-row">
									<legend class="sr-only">게시글 검색</legend>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="all">전체</option>
										<option value="title">제목</option>
										<option value="regNm">등록자</option>
										<option value="regDttm">등록일자</option>
									</select>
									<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</fieldset>
							</form>
						</div>
						<!-- //board_info -->
				
						<div class="card_list book_style">
							<ul class="list_ul">
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">2019<br>새로운 도약, 국민의 행복을 향한 도전</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
				
							</ul>
						</div>
						<!-- //galleryList -->
				
						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->
				
				
					</div>
					<!--//board-->
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>