<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li class="active"><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html" target="_blank">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_04.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_05.html">올림픽공원대관시설</a></li>
										<li><a href="s4_05_06.html">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_07.html">미사경정공원대관시설</a></li>
										<li><a href="s4_05_08.html">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">올림픽수영장</h3>

					<!-- 콘텐츠 시작 -->
					<div class="major_message mb30">
							<p class="main_txt">올림픽수영장은 88서울올림픽수영경기가 열린 곳!<br>
								대한민국을 대표하는 생활체육의 장으로 매김하고 있습니다.</p>
					</div>
					<div class="biz_visual mb40">
						<img src="../../resources/img/sub/s4_01_visual_img.jpg" alt="" class="img">  
						<img src="../../resources/img/sub/s4_01_visual_txt.png" alt="olympic pool" class="txt">
					</div>
					<div class="btns mb40">
						<a href="" class="btn" target="_blank"><span>사이트 바로가기</span><i class="xi-angle-right-min ml30"></i></a>
						<!-- <a href="" class="btn" target="_blank"><span>공원안내도 보기</span><i class="xi-angle-right-min ml30"></i></a>
						<a href="" class="btn" target="_blank"><span>지도 다운받기</span><i class="xi-download ml30"></i></a>
						<a href="" class="btn" target="_blank"><span>온라인수강 및 예약</span><i class="xi-angle-right-min ml30"></i></a> -->
					</div>

					<p>올림픽수영장은 88서울올림픽수영경기가 열린 곳으로, 국제 규격의 50m 레인과 깨끗한 수질, 우수한 강사진들의 열정적인 지도로 대한민국을 대표하는 생활체육의 장으로 자리매김하고 있습니다.리모델링 공사를 통하여 수영 외에도 헬스, 스피닝바이크, 가요교실 등 다양한 스포츠, 문화교실 프로그램을 운영하고 있습니다. 또한 스포츠용품점, 편의점, 식당, 잡화점 등 고객편의시설을 확충하여 여러분께서 올림픽수영장을 편리하게 이용하실 수 있도록 노력하고 있습니다.</p>
					
					
					<div class="biz_detail_info">
						<!-- <ul class="tabs">
							<li class="active"><a href="#tab1" class="tab_nav">갤러리</a></li>
							<li><a href="#tab2" class="tab_nav">시설안내</a></li>
							<li><a href="#tab3" class="tab_nav">업무별 연락처</a></li>
							<li><a href="#tab4" class="tab_nav">오시는길</a></li>
						</ul> -->
						
						<div id="tab1" class="tab_cont">
							<div class="slider">								
								<div class="list">
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
								</div>
								<div class="list_thumb">
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<!-- //tab1 -->
						<!-- <div id="tab2" class="tab_cont">
							
							<div class="facility_info info1">
								<img src="../../resources/img/sub/s4_03_tab2_img1.jpg" alt="">
								<div class="txt">
									<h4>놀이시설</h4>
									<strong>자전거</strong>
									<p><em>성수기(4월~10월)</em><span> : 평일 09:00~18:00 , 주말·공휴일  09:00~19:00</span></p>
									<p><em>비수기(1월~3월/11월~12월)</em><span> : 평일/주말·공휴일 09:00~18:00</span></p>
									<dl>
										<dt>이륜자전거</dt>
										<dd>이용요금 : 1인승 4,000원/시간, 2인승 8,000원/시간</dd>
										<dt>사륜자전거</dt>
										<dd>이용요금 : 1인승 4,000원/시간, 2인승 8,000원/시간</dd>
										<dt>페달카트</dt>
										<dd>이용요금 : 1인승 5,000원/시간, 2인승 8,000원/30분</dd>
									</dl>
								</div>
							</div>
							
							<div class="facility_info info2">
								<img src="../../resources/img/sub/s4_03_tab2_img2.jpg" alt="">
								<div class="txt">
									<h4>체육시설</h4>
									<strong>드넓은 잔디와 천혜의 울창한 자연녹지 공간이 펼쳐져있어 연간 100만명 이상의 시민들이 찾아 자전거 하이킹과 소풍을 즐기고 있습니다.</strong>
									<p>잔디 축구장과 족구장 등 각종 생활체육시설이 갖추어져있어 방문객과 청소년들이 모여 체육활동은 물론 수도권 시민들의 쾌적한 쉼터로 사랑을 받고 있습니다.
									<br>경정장, 족구장, 체육(호수), 관리동광장, 정고동광장, 워밍업장, 
									클럽하우스,훈련(호수)등의 시설을 갖추고 있습니다.
									</p>
								</div>
								<div class="btns mt40">
									<a href="" class="btn"><span>미사경정공원 대관시설</span><i class="xi-angle-right-min ml30"></i></a>
									<a href="" class="btn"><span>미사경정공원 대관예약</span><i class="xi-angle-right-min ml30"></i></a>		
								</div>
							</div>


							<div class="facility_info info3">
								<img src="../../resources/img/sub/s4_03_tab2_img3.jpg" alt="">
								<div class="txt">
									<h4>편의시설</h4>
									<strong>매점</strong>
									<p>미사경정공원은 넓은 잔디밭과 2km의 호수면이 주변 숲과 어우러져 자연의 숨결을 그대로 느낄 수 있어 가족과 연인이 찾는 명소 중의 명소입니다. 또한 이용고객 편의시설인 매점에서 판매하는 다양한 간식과 음료를 비롯하여 비치되어 있는 그림 감상으로 풍요로운 삶을 영위할 수 있습니다.</p>
									<ul class="list_sdot">
										<li>매점·스낵매점 : 평일 09:00~18:00 , 주말·공유일  09:00~19:00<br>
											<p class="icon_note">비수기(11월 ~ 3월)에는 주말·공휴일도 18:00까지 단축 운영합니다.</p>
										</li>
									</ul>

								</div>
							</div>
							
							<div class="facility_info info4">
								<img src="../../resources/img/sub/s4_03_tab2_img4.jpg" alt="">
								<div class="txt">
									<h4>시설관리</h4>
									<strong>수백 년 울창한 소나무처럼 오래도록 사랑받는 올림픽 시설, 철저한 시설관리의 전문가 한국체육산업개발이 가꿉니다.</strong>
									<p><em>시설관리 전문기업,<br>
										한국체육산업개발의 앞선 기술력과 27년의 노하우!</em>
										무엇보다 안전을 우선으로 생각하여 시설물 교차점검으로 철저한 시설관리를 하고 있으며 ISO9001/14001 인증을 취득하여 더욱 믿을 수 있는 시설관리 전문기업입니다. </p>									
								</div>
								<p class="txt_flow">사고예방 패러다임 전환! 안전성과 효율성, 동반 향상을 위한 시설물 교차점검으로 각종 안전 사고를 예방하고 수익사업이 안정적으로 이루어질 수 있도록 다중이용 시설물에 대한 안전 관리 및 분야별 시설안전 교육을 강화하고 있습니다. 특히 안전 서비스신고센터(02-410-1119) 운영을 통해 시설물 안전관리 및 이용안전 확보에 만전을 기하고 있습니다.</p>
								<div class="btns mt40">
									<a href="" class="btn" target="_blank"><span>공원 이용안내</span><i class="xi-angle-right-min ml30"></i></a>
									<a href="" class="btn" target="_blank"><span>편의시설 안내</span><i class="xi-angle-right-min ml30"></i></a>		
									<a href="" class="btn" target="_blank"><span>편의시설 안내도</span><i class="xi-angle-right-min ml30"></i></a>		
									<a href="" class="btn" target="_blank"><span>地샘터 도서관</span><i class="xi-angle-right-min ml30"></i></a>		
								</div>
							</div>
						</div> -->
						<!-- //tab2 -->
						<!-- <div id="tab3" class="tab_cont">
							<div class="table left responsive">
								<table>
									<caption>업무별연락처 - 이름, 직책, 담당업무, 연락처 항목에 관한 표입니다.</caption>
									<colgroup>
										<col class="w10">
										<col class="w20">
										<col>
										<col class="w30">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">이름</th>
											<th scope="col">직책</th>
											<th scope="col">담당업무</th>
											<th scope="col">연락처</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>최경섭</td>
											<td>단장</td>
											<td>단장</td>
											<td>02-2180-3830</td>
										</tr>										
										<tr>
											<td>박진우</td>
											<td>과장</td>
											<td>재난안전</td>
											<td>02-2180-3836</td>
										</tr>										
										<tr>
											<td>유승현</td>
											<td>대리</td>
											<td>기획/산업안전</td>
											<td>02-2180-3833</td>
										</tr>										
										<tr>
											<td>임재광</td>
											<td>대리</td>
											<td>보건관리/코로나</td>
											<td>02-2180-3837</td>
										</tr>										
										<tr>
											<td>이상형</td>
											<td>대리</td>
											<td>시설안전/재난안전</td>
											<td>02-2180-3832</td>
										</tr>										
									</tbody>
								</table>
							</div>
						</div> -->
						<!-- //tab3 -->
						<!-- <div id="tab4" class="tab_cont">

							<div id="daumRoughmapContainer1640313351146" class="root_daum_roughmap root_daum_roughmap_landing"></div>

							<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
							<script charset="UTF-8">
								new daum.roughmap.Lander({
									"timestamp" : "1640313351146",
									"key" : "28jjz",
									"mapWidth" : "1100",
									"mapHeight" : "360"
								}).render();
							</script>
								
							<h4 class="title_h3">지하철이용</h4>
							<ul class="list_dot">
								<li>지하철 5호선 - 하남풍산역 하차 후 8번출구 → 미사경정공원 방향으로 도보 1.2㎞</li>
							</ul>
							<h4 class="title_h3">버스이용</h4>
							<div class="table left responsive">
								<table>
									<caption>버스번호, 종점, 경유지, 비고에 관한 표입니다.</caption>
									<colgroup>
										<col class="w10">
										<col class="w30">
										<col>
										<col class="w20">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">버스번호</th>
											<th scope="col">정류장</th>
											<th scope="col">노선안내</th>
											<th scope="col">경유지</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>112-5</td>
											<td>미사경정공원</td>
											<td>서울아산병원앞 ↔ 미사경정공원</td>
											<td>강동구청, 천호역</td>
										</tr>										
										<tr>
											<td>23</td>
											<td>제일풍경채</td>
											<td>내촌차고지 ↔ 스타필드 하남</td>
											<td>강변역, 천호역</td>
										</tr>										
										<tr>
											<td>2000-2</td>
											<td>조정경기장 입구</td>
											<td>잠실역 ↔ 양평터미널</td>
											<td>신원역, 잠실역</td>
										</tr>										
										<tr>
											<td>9302</td>
											<td>청아초등학교</td>
											<td>잠실광역환승센터 ↔ 검단산 입구</td>
											<td>잠실역, 미사역</td>
										</tr>								
									</tbody>
								</table>
							</div>
							<h4 class="title_h3">셔틀버스 이용 (매주 수·목 경정경기 관람 고객)</h4>
							<ul class="list_dot">
								<li>상일역 → 경정장 : 5호선 상일역 2번 출구 뒤편 10m 지점 (첫차 : 10:12, 막차 17:37 / 간격 : 6~10분 / 소요시간 : 12분)</li>
								<li>구리 → 경정장 : 구리역 롯데백화점 맞은편 전자랜드 앞 버스정류장
									(첫차 : 10:30분, 11:30분, 13:30분, 14:30분 4회 운영 / 소요시간 : 20분)</li>
								<li>하남 → 경정장 : 부영아파트입구, 하남문화예술회관 맞은편
									(10:30분 1회 운영 / 소요시간 7분)</li>
							</ul>
						</div> -->
						<!-- //tab4 -->
						
					</div>
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>