<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li class="active"><a href="s4_04.html">평생교육원</a></li>
								<li><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_04.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_05.html">올림픽공원대관시설</a></li>
										<li><a href="s4_05_06.html">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_07.html">미사경정공원대관시설</a></li>
										<li><a href="s4_05_08.html">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">평생교육원</h3>

					<!-- 콘텐츠 시작 -->
					<div class="major_message mb30">
							<p class="main_txt">음악과 함께 하는 삶을 꿈꾼다면, 지금도 늦지 않았습니다.<br>
								올림픽홀 평생교육원에서 시작하세요!</p>
					</div>
					<div class="biz_visual mb40">
						<img src="../../resources/img/sub/s4_04_visual_img.jpg" alt="" class="img">  
						<img src="../../resources/img/sub/s4_04_visual_txt.png" alt="olympic pool" class="txt">
					</div>
					<div class="btns mb40">
						<a href="" class="btn" target="_blank"><span>사이트 바로가기</span><i class="xi-angle-right-min ml30"></i></a>
						
					</div>

					<p class="mb30">곳곳에 산재해 있는 올림픽 기념조형물과 야외조각작품들, 고대 백제의 유적지인 몽촌토성을 중심으로 드넓은 잔디와 몽촌해자, 그리고 쾌적한 자연환경 속에 잘 정돈된 평화의 광장을 비롯한 크고 작은 야외광장, 행사 규모별로 수용할 수 있는 KSPO DOME(올림픽체조경기장), SK핸드볼경기장(올림픽펜싱경기장)과 우리금융아트홀(올림픽역도경기장)이 있어 어떠한 행사도 충실히 수행할 수 있는 조건을 고루 갖추고 있습니다.</p>
					<p class="mb30">특히, 1,477,000㎡의 넓은 공간에 자연녹지와 올림픽시설물들이 잘 조화를 이루고 있는 올림픽공원은 지하철 등 대중교통을 이용하기에 매우 편리한 도심 속에 자리하고 있으며 각 종 경기, 대형 콘서트, 이벤트 뿐만 아니라 수려한 경관을 배경으로 CF, 영화 등 야외촬영 장소로도 아주 좋습니다.</p>
					<p>올림픽공원은 88서울올림픽의 정신과 가치를 계승, 발전시키고 있는 국민체육진흥공단 한국체육산업개발주식회사에서 운영/관리하는 시민들의 체육, 문화, 여가의 공간입니다.</p>
					
					<div class="biz_detail_info">
						
						
						<div id="tab1" class="tab_cont">
							<div class="slider">								
								<div class="list">
									<div class="img"><img src="../../resources/img/sub/s4_04_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_04_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_04_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_04_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_04_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_04_gallery1.jpg" alt=""></div>
								</div>
								<div class="list_thumb">
									<div class="thumb"><img src="../../resources/img/sub/s4_04_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_04_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_04_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_04_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_04_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_04_gallery_thumb1.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<!-- //tab1 -->
					
					
					
						
					</div>
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>