<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li class="active"><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">대관&amp;시설자료</h3>

					<nav class="depth4">
						<ul class="list">
							<li class="active"><a href="s4_05_05.html">KSPO DOME</a></li>
							<li><a href="s4_05_05_02.html">SK핸드볼경기장</a></li>
							<li><a href="s4_05_05_03.html">올림픽홀</a></li>
							<li><a href="s4_05_05_04.html">뮤즈라이브</a></li>
							<li><a href="s4_05_05_05.html">우리금융아트홀</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3">평면도/좌석배치도</h4>
					<div class="row rental_facil_info">
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>1층 평면도</strong>
								<a href="../../resources/download/popimg_acro_1f.pdf" target="_blank" class="btn">PDF 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>2층 평면도</strong>
								<a href="../../resources/download/popimg_acro_2f.pdf" target="_blank" class="btn">PDF 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>3층 평면도</strong>
								<a href="../../resources/download/popimg_acro_3f.pdf" target="_blank" class="btn">PDF 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>좌석 배치도</strong>								
								<a href="../../resources/download/popimg_acro_seat.jpg" target="_blank" class="btn">JPG 다운로드 <i class="xi-download"></i></a>
								<a href="../../resources/download/popimg_acro_seat.zip" target="_blank" class="btn">EPS 다운로드 <i class="xi-download"></i></a>
								
							</div>
						</div>
					</div>
					<h4 class="title_h3">비상대피 동영상 및 안내방송</h4>
					<div class="row rental_facil_info">
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>비상대피 동영상<br>
									(공연관람예절 포함)</strong>
								<a href="../../resources/download/emg_video_gym_1.zip" target="_blank" class="btn">MP4 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>비상대피 동영상<br>
									(비상대피 영상만)</strong>
								<a href="../../resources/download/emg_video_gym_2.zip" target="_blank" class="btn">MP4 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>인터미션 안내방송(전체)</strong>
								<a href="../../resources/download/intermission.zip" target="_blank" class="btn">WAV 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>인터미션 안내방송(15분)</strong>
								<a href="../../resources/download/intermission_15min.zip" target="_blank" class="btn">WAV 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
					
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>인터미션 안내방송(20분)</strong>
								<a href="../../resources/download/intermission_20min.zip" target="_blank" class="btn">WAV 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
						<div class="col-6 col-sm-3">
							<div class="item">
								<strong>인터미션 안내방송(30분)</strong>
								<a href="../../resources/download/intermission_30min.zip" target="_blank" class="btn">WAV 다운로드 <i class="xi-download"></i></a>
							</div>
						</div>
					</div>
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>