<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li class="active"><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">올림픽공원 대관시설</h3>

					<nav class="depth4">
						<ul class="list">
							<li><a href="s4_05_06.html">KSPO DOME</a></li>
							<li><a href="s4_05_06_02.html">SK핸드볼경기장</a></li>
							<li><a href="s4_05_06_03.html">우리금융아트홀</a></li>
							<li class="active"><a href="s4_05_06_04.html">올림픽홀</a></li>
							<li><a href="s4_05_06_05.html">뮤즈라이브</a></li>
							<li><a href="s4_05_06_06.html">테니스장</a></li>
							<li><a href="s4_05_06_07.html">올림픽수영장</a></li>
							<li><a href="s4_05_06_08.html">벨로드롬</a></li>
							<li><a href="s4_05_06_09.html">옥외시설</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<div class="olpark_rental_facility">
						<div class="row mb30">
							<div class="col-sm-6">
								<div class="simple_slider">
									<img src="../../resources/img/sub/s4_05_06_04_thumb1.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_06_04_thumb2.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_06_04_thumb3.jpg" alt="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="major_message">
									<h4 class="main_txt">올림픽홀</h4>
									<p class="sub_txt">지하 1층, 지상 2층에 연면적 11,826㎡(3,584평) 규모로,</p>
							
									<p>우리나라 대중음악의 현재를 보여주는 대공연장과 대중음악의 미래인 언더그라운드, 인디밴드의 지원·양성의 장으로 활용할 소공연장, 대중음악의 역사를 한눈에 볼 수 있는 상설, 기획전시관, 지하에는 대중음악을 체험할 수 있는 올림픽홀 평생교육원 등 다양한 공간을 구비하고 있습니다.
									</p>
								</div>								
							</div>
						</div>
						<div class="btns mb50">
							<a href="" class="btn">올림픽공원 안내도<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관요율표<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관예약<i class="xi-angle-right-min ml20"></i></a>
						</div>
						<div class="row mb40">
							<div class="col-sm-6">
								<div class="box blue_box round">
									<h4 class="title_h3">시설개요</h4>
									<ul class="list_dash">
										<li>규모 : 지하 1층, 지상 2층 연면적 11,826㎡(3,584평)</li>
										<li>객석 : 2,452석(장애인석 22석 포함)
											<p class="icon_note">플로어 : 의자설치 시 500~600석 가능</p>
										</li>
											<li>무대 : 폭 23.1m, 깊이 18.5m, 높이 8.5m</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="box blue_box round">
									<h4 class="title_h3">부대시설</h4>
									<ul class="list_dash">
										<li>VIP실 1개소</li>
										<li>대관사무실 2개소</li>
										<li>분장실 3개소(1층 2개소, 지하 1개소)</li>
										<li>연습실 3개소</li>
										<li>옥외매표소 1개소</li>
									</ul>
								</div>
							</div>
						</div>
						
						
						<h4 class="title_h3">기본대관료</h4>
						<h5 class="title_h4">문화예술행사</h5>
						<h6 class="title_h5">대공연장
						</h6>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>구분[공연대관료, 준비대관료(50%적용)]/국내·외 대중 음악 공연 등 항목에 관한 표입니다.</caption>
								<colgroup>
									<col width="20%">
									<col width="20%">
									<col width="40%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" colspan="2">구 분</th>
										<th scope="col">국내·외 대중 음악 공연 등</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>공연대관료</td>
										<td>1회</td>
										<td class="none">4,605,000</td>
									</tr>
									<tr>
										<td rowspan="4">준비대관료<br>(철거는 50% 적용)</td>
										<td>오전(09:00~13:00)</td>
										<td class="none">1,610,000</td>
									</tr>
									<tr>
										<td>오후(13:00~18:00)</td>
										<td class="none">2,014,000</td>
									</tr>
									<tr>
										<td>야간(18:00~22:00)</td>
										<td class="none">1,610,000</td>
									</tr>
									<tr>
										<td>심야(22시부터/3시간기준)</td>
										<td class="none">1,728,000</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box round">
							<p class="icon_note">부가가치세 별도</p>
						</div>

						<h6 class="title_h5">공연대관료
						</h6>
						<ul class="list_dash">
							<li>공연대관은 공연시작 2시간 전부터 공연종료 까지를 말한다.(단, 공연시간은 3시간 기준임)
								<p class="p_sdot">3시간 이상 공연 시 시간에 비례하여 공연대관료 부과</p>
							</li>
							<li>공연대관료는 공연횟수에 따라 부과하는 것을 원칙으로 함.</li>
							<li>부대시설사용료(무대설비, 음향설비, 전수열비 등)는 별도 부과</li>
							<li>시연회 및 공개리허설은 공연대관료에 준함.</li>
							<li>공연시간이 1개 이상 준비구간과 걸쳐있는 경우에는 가장 많이 점유한 1개 구간의 준비대관료만 면제</li>
						</ul>
						<h5 class="title_h4">공공·체육·일반행사
						</h5>
						<h6 class="title_h5">대공연장
						</h6>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>구분[방송·영화·CF촬영, 녹음대관, 영화상영, 체육행사, 기타행사(평일,토,일,공휴일)]/사용료/비고 항목에 관한 표입니다.</caption>
								<colgroup>
									<col width="10%">
									<col width="20%">
									<col width="25%">
									<col width="*">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" colspan="2">구 분</th>
										<th scope="col">사용료</th>
										<th scope="col" class="none">비 고</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2">방송·영화·CF촬영</td>
										<td>5,000,000 / 1회</td>
										<td class="none" rowspan="3">- 1회 5시간 기준</td>
									</tr>
									<tr>
										<td colspan="2">녹음대관</td>
										<td>3,000,000 / 1회</td>
									</tr>
									<tr>
										<td colspan="2">영화상영</td>
										<td>3,000,000 / 1회</td>
									</tr>
									<tr>
										<td colspan="2">체육행사</td>
										<td>225,000 / 1일</td>
										<td class="none"></td>
									</tr>
									<tr>
										<td rowspan="2">기타행사</td>
										<td>평일</td>
										<td>3,946,000 / 1회 5시간</td>
										<td class="none" rowspan="2">- 기업행사 등</td>
									</tr>
									<tr>
										<td>토,일,공휴일</td>
										<td>6,576,000 / 1회 5시간</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box">
							<p class="icon_note">부가가치세 별도</p>
							<p class="icon_note">준비 및 철거는 대관료 50% 적용</p>
						</div>
							<h4 class="title_h3">부대시설 사용료
							</h4>
							<h6 class="title_h5">대공연장
							</h6>
							<div class='table responsive'>
								<p class="unit">(단위:원)</p>
								<table>
									<caption>구분[사무실, 무대설비, TV녹화/중계, 전수열비, 장내정리비, 판매부스
										설치사용료]/사용료/비고 항목에 관한 표입니다.</caption>
										<colgroup>
											<col width="150">
											<col width="300">
											<col>
											</colgroup>
											<thead>
												<tr>
													<th scope="col">구분</th>
													<th scope="col">사용료</th>
													<th scope="col" class="none">비고</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">사무실</th>
													<td class="left">- 연습실(2개소) : 200,000원 / 1일 1실<br>- 귀빈실, 분장실 : 300,000원 / 1일 1실 <br>- 대관사무실 : 100,000원 / 1일 1실</td>
													<td class="left none">- 공연대관시 연습실과 귀빈실만 사용료 부과<br>- 기타 행사시 전체 적용</td>
									</tr>
												<tr>
													<th scope="row">무대설비</th>
													<td class="left">- 슬라이딩무대(1열) : 20,000원/1회<br>- 상하이동무대(2열) : 30,000원/1회<br>- 이동식 의자 수납 : 100,000원</td>
													<td class="left none">- 기본 1회 무료<br>- 체육관기준</td>
									</tr>
												<tr>
													<th scope="row">TV녹화/중계</th>
													<td class="left">- 150,000원/1일(1회)</td>
													<td class="left none">- CATV, 인터넷 방송 포함</td>
												</tr>
												<tr>
													<th scope="row">전수열비</th>
													<td class="left">- 전기료, 냉·난방료, 상·하수도료</td>
													<td class="left none">- 실사용 요금</td>
												</tr>
												<tr>
													<th scope="row">장내정리비</th>
													<td class="left">- 행사입장객 1인당 500원, 꽃가루 사용시 700원</td>
													<td class="left none"></td>
												</tr>
												<tr>
													<th scope="row">판매부스<br>설치사용료</th>
													<td class="left">- 1일 ㎡당 30,000원</td>
													<td class="left none"></td>
												</tr>
											</tbody>
								</table>
							</div>
							<div class="box">
								<p class="icon_note">부가가치세 별도</p>
								</div>
						
						
					</div>
					<!-- //olpark_rental_facility -->
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>