<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li class="active"><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">올림픽공원 대관시설</h3>

					<nav class="depth4">
						<ul class="list">
							<li><a href="s4_05_06.html">KSPO DOME</a></li>
							<li class="active"><a href="s4_05_06_02.html">SK핸드볼경기장</a></li>
							<li><a href="s4_05_06_03.html">우리금융아트홀</a></li>
							<li><a href="s4_05_06_04.html">올림픽홀</a></li>
							<li><a href="s4_05_06_05.html">뮤즈라이브</a></li>
							<li><a href="s4_05_06_06.html">테니스장</a></li>
							<li><a href="s4_05_06_07.html">올림픽수영장</a></li>
							<li><a href="s4_05_06_08.html">벨로드롬</a></li>
							<li><a href="s4_05_06_09.html">옥외시설</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<div class="olpark_rental_facility">
						<div class="row mb30">
							<div class="col-sm-6">
								<div class="simple_slider">
									<img src="../../resources/img/sub/s4_05_06_02_thumb1.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_06_02_thumb2.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_06_02_thumb3.jpg" alt="">
								</div>
							</div>
							<div class="col-sm-6">
								
								<div class="major_message">
									<h4 class="main_txt">SK핸드볼경기장 (올림픽펜싱경기장)</h4>
									<p class="sub_txt">즐거운 일상탈출의 기회가 있는 문화 공간, 바로 SK핸드볼경기장입니다.</p>
									<p>올림픽펜싱경기장을 1년 6개월의 리모델링을 통해 더욱 쾌적한 환경으로 돌아온 SK핸드볼경기장은 주경기장과 보조경기장으로 구성되어 있습니다. 수납식 객석이 있어 공간을 다목적으로 활용할 수 있는 핸드볼경기장은 이승환, 비스트, DJ DOC, CNBLUE, 김연우 등 국내 유명 아티스트의 콘서트와 기업행사 등 다양한 공연과 행사를 통해 관객들에게 즐거운 일상탈출의 기회를 제공하며, 최고의 공연문화공간으로 자리매김해 가고 있습니다.
									</p>
								</div>								
							</div>
						</div>
						<div class="btns mb50">
							<a href="" class="btn">올림픽공원 안내도<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관요율표<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관예약<i class="xi-angle-right-min ml20"></i></a>
						</div>
						<div class="row mb40">
							<div class="col-sm-6">
								<div class="box blue_box round">
									<h4 class="title_h3">시설개요</h4>
									<ul class="list_dash">
										<li>규 모 : 지하 2층, 지상 3층</li>
										<li>건축면적 : 9,077.99㎡</li>
										<li>연 면 적 : 19,271.67㎡(보조경기장 연면적 1,952㎡ 포함)</li>
										<li>수용인원 : 5,003석(이동석 2,100석, 고정석 2,903석), 보조경기장 250석</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="box blue_box round">
									<h4 class="title_h3">시설특징</h4>
									<ul class="list_dash">
										<li>훼브릭 케이블 돔구조 지붕</li>
										<li>마루바닥(북미 캐나다산 단풍나무)</li>
										<li>수납식 스텐드로 공간 다목적 활용</li>
										<li>주경기장 전광판 : 6,528㎡ × 3,648㎡(2대, 풀컬러)</li>
										<li>보조경기장 전광판 : 4,000㎡ × 3,000㎡(2대, 3컬러)</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="box blue_box round">
							<h4 class="title_h3">부대시설</h4>
							<h6 class="title_h5">보조경기장 운영 - 시설개요 : 지하 2층(250석)</h6>
							<div class='table responsive'>
								<p class="unit">(단위:원)</p>
								<table>
									<caption>보조경기장 - 구분, 면적, 비고</caption>
									<colgroup>
										<col width="25%">
										<col width="*">
										<col width="25%">
										<col width="25%">
									</colgroup>
									<thead>
										<tr>
											<th scope="col" colspan="2">구분</th>
											<th scope="col">면적</th>
											<th scope="col" class="none">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="4">보조경기장 </td>
											<td>보조경기장</td>
											<td>1,262㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>선수대기실 1</td>
											<td>57㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>선수대기실 2</td>
											<td>63㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>감독실</td>
											<td>18㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>계 </td>
											<td></td>
											<td>1,400㎡</td>
											<td class="none"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<h6 class="title_h5">비즈니스라운지, 스카이박스, 회원전용실 운영 - 시설개요</h6>
							<div class='table responsive'>
								<p class="unit">(단위:원)</p>
								<table>
									<caption>시설명[부대시설,관람시설] /면적/ 비고</caption>
									<colgroup>
										<col width="25%">
										<col width="*">
										<col width="25%">
										<col width="25%">
									</colgroup>
									<thead>
										<tr>
											<th scope="col" colspan="2">시설명</th>
											<th scope="col">면적</th>
											<th scope="col" class="none">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="2">부대시설</td>
											<td>비즈니스라운지</td>
											<td>278㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>조리실</td>
											<td>46㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td rowspan="3">관람시설</td>
											<td>스카이박스(＃1~＃4)</td>
											<td>50㎡</td>
											<td class="none">16㎡×2실, 9㎡×2실, 관람석 46석</td>
										</tr>
										<tr>
											<td>스카이박스홀</td>
											<td>35㎡</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>회원전용실(＃1~#12)</td>
											<td>240㎡</td>
											<td class="none">20㎡×12실, 관람석 160석</td>
										</tr>
										<tr>
											<td>계 </td>
											<td></td>
											<td>649㎡</td>
											<td class="none"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<h4 class="title_h3">기본대관료</h4>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>장소명[핸드볼경기장,핸드볼보조경기장], 요일, 공공행사(1구간,2구간), 문화예술행사(1구간,2구간), 일일행사(1구간,2구간), 체육경기(1구간, 2구간) 항목에 관한 표입니다.</caption>
								<colgroup>
									<col>
									<col class="w9" span="9">
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2" scope="col">장소명</th>
										<th rowspan="2" scope="col">요일</th>
										<th colspan="2" scope="col">공공행사</th>
										<th colspan="2" scope="col">문화예술행사</th>
										<th colspan="2" scope="col">일반행사</th>
										<th colspan="2" scope="col" class="none">체육행사</th>
									</tr>
									<tr>
										<th scope="col">1구간</th>
										<th scope="col">2구간</th>
										<th scope="col">1구간</th>
										<th scope="col">2구간</th>
										<th scope="col">1구간</th>
										<th scope="col">2구간</th>
										<th scope="col">1구간</th>
										<th scope="col" class="none">2구간</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th rowspan="2" scope="row">핸드볼<br>경기장</th>
										<td>평일</td>
										<td>762,000</td>
										<td>431,000</td>
										<td>1,347,000</td>
										<td>761,000</td>
										<td>1,471,000</td>
										<td>832,000</td>
										<td>163,000</td>
										<td class="none">92,000</td>
									</tr>
									<tr>
										<td>토,일,공휴일</td>
										<td>990,000</td>
										<td>559,000</td>
										<td>1,754,000</td>
										<td>991,000</td>
										<td>1,912,000</td>
										<td>1,082,000</td>
										<td>212,000</td>
										<td class="none">120,000</td>
									</tr>
									<tr>
										<th rowspan="2" scope="row">핸드볼<br>보조경기장</th>
										<td>평일</td>
										<td>342,000</td>
										<td>192,000</td>
										<td>605,000</td>
										<td>339,000</td>
										<td>661,000</td>
										<td>370,000</td>
										<td>104,000</td>
										<td class="none">59,000</td>
									</tr>
									<tr>
										<td>토,일,공휴일</td>
										<td>445,000</td>
										<td>250,000</td>
										<td>786,000</td>
										<td>440,000</td>
										<td>859,000</td>
										<td>480,000</td>
										<td>135,000</td>
										<td class="none">75,000</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box">
							<p class="icon_note">부가가치세 별도</p>
							<p class="icon_note">대관시간 : 1구간 - 07:00~24:00 / 2구간 - 24:00~익일07:00</p>
							<p class="icon_note">부대시설 및 관람시설 대관료</p>
							<ul class="list_sdot">
								<li>비즈니스라운지(특별초청 이벤트 공간 및 연회장소) : 대관시설사용료 200,000원(1실/1일)</li>
								<li>스카이박스 : 80,000원(1실/1일, 체육행사 대관시 대관료 제외)</li>
								<li>회원전용실 : 50,000원(1실/1일, 체육행사 대관시 대관료 제외)</li>
							</ul>
						</div>
						
						
					</div>
					<!-- //olpark_rental_facility -->
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>