<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="" target="_blank">올림픽공원 대관예약</a></li>
										<li class="active"><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">미사경정공원 대관시설</h3>

					<nav class="depth4">
						<ul class="list">
							<li><a href="s4_05_08.html">수면</a></li>
							<li><a href="s4_05_08_02.html">잔디축구장(A)</a></li>
							<li class="active"><a href="s4_05_08_03.html">잔디축구장(B)</a></li>
							<li><a href="s4_05_08_04.html">족구장</a></li>
							<li><a href="s4_05_08_05.html">관리동 및 운영동 앞 광장</a></li>
							<li><a href="s4_05_08_06.html">내부도로</a></li>
							<li><a href="s4_05_08_07.html">워밍업장</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<div class="misa_rental_facility">
						<div class="row mb30">
							<div class="col-sm-6">
								<div class="simple_slider">
									<img src="../../resources/img/sub/s4_05_08_03_thumb1.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_08_03_thumb2.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_08_03_thumb3.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_08_03_thumb4.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_08_03_thumb5.jpg" alt="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="major_message">
									<h4 class="main_txt">잔디축구장(B)</h4>
									<p class="sub_txt">천연잔디가 깔린 잔디광장으로 축구 전용경기장입니다.</p>
									<ul class="list_dash">
										<li>크 기 : 길이 100m×폭60m</li>
										<li>용 도 : 축구 전용구장</li>
										<li>부속시설 : 농구장 1개
											<p class="icon_note">잔디 생육 촉진을 위해 주 2회 대관</p>
										</li>
									</ul>
								</div>								
							</div>
						</div>
						
						<div class="btns mb50">
							<a href="" class="btn">미사경정공원 안내도<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관요율표<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관예약<i class="xi-angle-right-min ml20"></i></a>
						</div>
						<h4 class="title_h3">기본대관료</h4>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>요일,대관료,비고 항목에 관한 표입니다.</caption>
								<colgroup>
									<col width="25%">
									<col width="20%">
									<col width="20%">
									<col width="*">
								</colgroup>
								<thead>
									<tr>
										<th scope="col" rowspan="2">요일</th>
										<th scope="col" colspan="2">대관료</th>
										<th scope="col" rowspan="2" class="none">비고</th>
									</tr>
									<tr>
										<th scope="col">오전</th>
										<th scope="col">오후</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>평일</td>
										<td>528,000</td>
										<td>528,000</td>
										<td class="none" rowspan="2">오전 09시 ~ 13시<br>오후 14시 ~ 18시</td>
									</tr>
									<tr>
										<td>토·일·공휴일</td>
										<td>660,000</td>
										<td>660,000</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box round">
							<p class="icon_note">부가가치세 별도</p>
						</div>
					</div>
					
					<!-- //misa_rental_facility -->
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>