<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li><a href="s5_01.html">통합공시</a></li>
										<li><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li class="active"><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">경영공시 용어</h3>
								

					<!-- 콘텐츠 시작 -->
					<nav class="tab_index">
						<ul>
							<li class="all"><a href="">전체</a></li>
							<li><a href="">ㄱ</a></li>
							<li><a href="">ㄴ</a></li>
							<li><a href="">ㄷ</a></li>
							<li><a href="">ㄹ</a></li>
							<li><a href="">ㅁ</a></li>
							<li><a href="">ㅂ</a></li>
							<li><a href="">ㅅ</a></li>
							<li><a href="">ㅇ</a></li>
							<li><a href="">ㅈ</a></li>
							<li><a href="">ㅊ</a></li>
							<li><a href="">ㅋ</a></li>
							<li><a href="">ㅌ</a></li>
							<li><a href="">ㅍ</a></li>
							<li><a href="">ㅎ</a></li>
							<li><a href="">A-Z</a></li>
							<li><a href="">0-9</a></li>
						</ul>
					</nav>

					<div class="table responsive">
						<table>
							<caption>경영공시 용어의 항목, 내용에 대한 목록입니다.</caption>
							<colgroup>
								<col width="10%">
								<col width="20%">
								<col width="*">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">번호</th>
									<th scope="col">항목</th>
									<th scope="col" class="none">내용</th>
								</tr>
							</thead>
							<tbody>
							
								<tr>
									<td>32</td>
									<td>결정세액</td>
									<td class="left none">산출세액에서 세액공제액과 감면세액을 공제한 금액</td>
								</tr>
							
								<tr>
									<td>31</td>
									<td>유연근무제</td>
									<td class="left none">근로자와 사용자가 근로 시간이나 장소 등을 선택？조정하여 인력활용의 효율성을 높일 수 있는 제도</td>
								</tr>
							
								<tr>
									<td>30</td>
									<td>자기자본회전률</td>
									<td class="left none">자기자본과 순매출액의 관계를 나타내는 비율로, 자기자본이 일정기간 중 몇 번 회전했는지를 나타내는 지표. (순매출액/자본총계)×100</td>
								</tr>
							
								<tr>
									<td>29</td>
									<td>재량근무형 탄력근무제</td>
									<td class="left none">출퇴근의 의무 없이 일정한 과제 수행으로 주40시간 근무를 인정하는 제도</td>
								</tr>
							
								<tr>
									<td>28</td>
									<td>재해 부조</td>
									<td class="left none">재해(천재지변, 화재 등)로 임직원이 재산상의 손실을 입은 경우, 기관에서 지원하는 복리후생 내역</td>
								</tr>
							
								<tr>
									<td>27</td>
									<td>정관</td>
									<td class="left none">법인의 목적, 조직, 업무, 집행 등에 관한 근본 규칙</td>
								</tr>
							
								<tr>
									<td>26</td>
									<td>증여</td>
									<td class="left none">타법인 또는 자연인에게 대가없이 일정한 물질적 지원을 하는 것</td>
								</tr>
							
								<tr>
									<td>25</td>
									<td>집약근무형 탄력근무제</td>
									<td class="left none">일 8시간에 구애받지 않으면서 주3.5~4일 근무하는 제도</td>
								</tr>
							
								<tr>
									<td>24</td>
									<td>출연</td>
									<td class="left none">타법인의 기관운영 또는 사업 영위를 위한 일정한 금전적 지원을 하는 것</td>
								</tr>
							
								<tr>
									<td>23</td>
									<td>취업규칙</td>
									<td class="left none">인사, 복무, 징계, 보수, 직제 등 근로자의 복무규율 및 근로조건에 관한 구체적 사항을 정한 내부규정</td>
								</tr>
							
							</tbody>
						</table>
					</div>
					<div class="paging">
						<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
						<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
						<a href="" class="page_none page_now"><strong>1</strong></a>
						<a href="" class="page_none">2</a>
						<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
						<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
					</div>



					

					
	
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>