<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub5">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">ESG경영</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s5_01.html">경영공시</a>
							<ul class="depth3">
								<li><a href="s5_01.html">통합공시</a></li>
								<li><a href="s5_01_02.html">자체공시</a></li>
								<li><a href="s5_01_03.html">경영공시 소개</a></li>
								<li><a href="s5_01_04.html">경영공시 담당자</a></li>
								<li><a href="s5_01_05.html">자주묻는 질문</a></li>
								<li><a href="s5_01_06.html">경영공시 용어</a></li>
								<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
							</ul>
						</li>
						<li class="active"><a href="s5_02.html">윤리경영</a>
							<ul class="depth3">
								<li class="active"><a href="s5_02.html">추진방향</a></li>
								<li><a href="s5_02_02.html">윤리규범</a></li>
							</ul>
						</li>
						<li><a href="s5_03.html">인권경영</a>
							<ul class="depth3">
								<li><a href="s5_03.html">인권경영 선언문</a></li>
								<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
								<li><a href="s5_03_03.html">인권경영 소식</a></li>
								<li><a href="s5_03_04.html">인권침해신고센터</a></li>
							</ul>
						</li>
						<li><a href="s5_04.html">일자리창출</a></li>
						<li><a href="s5_05.html">사회공헌</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">추진방향</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="customer_service_charter ethics_code">
				<div class="message_box bg">
					<div class="major_message">
						<h4>CEO 청렴메세지</h4>
						<p>청렴이란 '성품과 행실이 높고 맑으며 탐욕이 없음'을 뜻합니다. '나부터' 실천하는 청렴하고 깨끗한 조직문화를<br> 바탕으로 고객과 국민으로부터 두터운 신뢰와 사랑을 받는 기업이 되도록 전 임직원이 함께 노력해 나갑시다.</p>
					</div>
				</div>
				<div class="cont_wrap">
					<div class="cont">
						<p class="mb40"><strong class="main_txt">우리회사는 최근 사회 전 분야로 청렴실천 분위기 확산에 따른 국민적 요구 확대와 더불어
						국민들의 높아진 윤리적 기준에 부합하는 윤리경영을 추구하고자 합니다.</strong></p>
						<p class="mb40">윤리경영은 우리회사의 모든 이해관계자 즉 임직원, 외부고객, 정부, 유관업체 등과의 관계에서 준수해야 할
						가치와 사명이라고 생각합니다.</p>
						<p>이에 우리회사에서는 그동안 추진해온 윤리경영을 보다 효율적이고 체계적으로 추진하고자 윤리경영위원회를 신설하고
						실행력 제고를 위해 청렴리더단을 발족, 모든 임직원이 윤리의식을 바탕으로 부단한 실천을 통해 투명성 확보와 신뢰구축
						이라는 추상적 개념을 내재화하고 윤리경영 실천과제를 이행해 나가겠습니다.</p>
					</div>					
				</div>
				<div class="ethics_survey">
					<a href=""><span>한국체육산업개발의 청렴도 측정 설문에 함께 해주시겠습니까?</span><i class="icon_long_arrow"></i></a>
				</div>
				
			</div>
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>