<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li><a href="s5_01.html">통합공시</a></li>
										<li class="active"><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">자체공시</h3>
					<nav class="depth4">
						<ul class="list">
							<li><a href="s5_01_02.html">국회업무보고</a></li>
							<li><a href="s5_01_02.html">청렴도 측정결과</a></li>
							<li><a href="s5_01_02.html">고객만족도 측정결과</a></li>
							<li><a href="s5_01_02.html">인권경영위원회 운영현황</a></li>	
							<li><a href="s5_01_02_05.html">공용차량 운영현황</a></li>
							<li class="active"><a href="s5_01_02_06.html">법인카드 운영현황</a></li>
							<li><a href="s5_01_02_07.html">주요시설물<br> 안전점검 결과</a></li>
							<li><a href="s5_01_02.html">업무협약(MOU) 체결현황</a></li>
							<li><a href="s5_01_02_09.html">인증 및 수상실적</a></li>
							<li><a href="s5_01_02.html">내부규정 제개정 예고</a></li>
							<li><a href="s5_01_02_11.html">친환경제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">중소기업제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">장애인생산품 구매실적</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3">발급개수</h4>
					<div class="table responsive">
						
						<table>
							<caption>법인카드 용도구분, 카드사, 개수(매), 비고에 대한 목록입니다.</caption>
							<colgroup><col><col width="20%"><col width="20%"><col width="20%"></colgroup>
							<thead>
								<tr>
								<th scope="col">용도구분</th>
								<th scope="col">카드사</th>
								<th scope="col">개수(매)</th>
								<th class="none" scope="col">비고</th></tr>
							</thead>
							<tbody>
								<tr>
								<td>업무용 법인카드</td>
								<td>하나</td>
								<td>58</td>
								<td class="none">클린카드</td></tr>
								<tr>
								<td>직책수행경비 전용카드</td>
								<td>하나</td>
								<td>25</td>
								<td class="none">클린카드</td></tr>
								<tr>
								<td rowspan="2">주유 및 통행료 전용카드</td>
								<td>신한</td>
								<td>33</td>
								<td class="none">주유전용카드</td></tr>
								<tr>
								<td>하나</td>
								<td>2</td>
								<td class="none">주유전용카드</td></tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">사용의 제한</h4>
					<div class="table responsive">
						
						<table>
							<caption>법인카드 용도구분, 카드사, 개수(매), 비고에 대한 목록입니다.</caption>
							<colgroup><col width="15%"><col></colgroup>
							<thead>
								<tr>
								<th scope="col">구분</th>
								<th class="none" scope="col">제한내용 (클린카드)</th></tr>
							</thead>
							<tbody>
								<tr>
								<td>시간의 제한</td>
								<td class="left none">
								<ul>
								<li class="bullet2">당일 23시 ~ 익일 06시</li></ul></td></tr>
								<tr>
								<td>업종의 제한</td>
								<td class="none">
									<div class="table responsive"><!-- list -->
										<table>
											<thead>
											<caption>법인카드 사용제한 업종 중분류, 소분류(업종명), 참고에 대한 목록입니다.</caption>
											<colgroup>
												<col width="20%"><col width="25%"><col>
											</colgroup>
											<thead>
												<tr>
												<th scope="col">중분류</th>
												<th scope="col">소분류(업종명)</th>
												<th class="none" scope="col">참 고</th></tr>
											</thead>
											<tbody>
												<tr>
												<td rowspan="4">주점업</td>
												<td class="left">일반주점</td>
												<td class="left none">호프집, 소주방, 카페 등</td></tr>
												<tr>
												<td class="left">일반유흥주점</td>
												<td class="left none">접객요원을 두고 술을 판매하는 유흥주<br>(요정, 룸싸롱, 단란주점, 가라오케, 가요주점 등)</td></tr>
												<tr>
												<td class="left">무도유흥주점</td>
												<td class="left none">무도시설을 갖추고 판매하는 무도 유흥주점<br>(클럽, 극장식주점, 나이트클럽, 스탠드바 등)</td></tr>
												<tr>
												<td class="left">기타주점</td>
												<td class="left none">접객시설을 갖추고 술을 판매하는 기타의 주점<br>(와인바, 포장마차, 간이주점, 대포집, 선술집 등)</td></tr>
												<tr>
												<td>식음료</td>
												<td class="left">주류 전문점</td>
												<td class="left none">와인(맥주)판매점, 양주 등 고가의 주류 등 포함</td></tr>
												<tr>
												<td>스포츠, 레저<br>취미용품</td>
												<td class="left">총포류</td>
												<td class="left none">총포사</td></tr>
												<tr>
												<td rowspan="2">기타 상품판매</td>
												<td class="left">유흥, 사치용품</td>
												<td class="left none">성인용품점 등</td></tr>
												<tr>
												<td class="left">귀금속, 악세서리</td>
												<td class="left none">금, 은 세공품, 고급 액세서리류, 명품 등 사치재 품목</td></tr>
												<tr>
												<td>보건 및 의료</td>
												<td class="left">한약방</td>
												<td class="left none">한약국 포함</td></tr>
												<tr>
												<td rowspan="3">여행, 오락, 휴식</td>
												<td class="left">노래방, 성인오락실</td>
												<td class="left none"></td></tr>
												<tr>
												<td class="left">카지노, 복권방</td>
												<td class="left none"></td></tr>
												<tr>
												<td class="left">기타 오락, 휴식시설</td>
												<td class="left none">비디오방, 전화방, PC방, 휴게텔 산소방 등</td></tr>
												<tr>
												<td rowspan="2">취미, 레저, 스포츠</td>
												<td class="left">골프장</td>
												<td class="left none">9홀이상 실외골프장</td></tr>
												<tr>
												<td class="left">헬스클럽, 당구장</td>
												<td class="left none">단전호흡, 요가 등 포함</td></tr>
												<tr>
												<td rowspan="3">대인서비스</td>
												<td class="left">사우나, 목욕탕</td>
												<td class="left none">찜질방, 황토방 등 포함</td></tr>
												<tr>
												<td class="left">미용실, 피부관리</td>
												<td class="left none">이발소, 네일아트, 발관리, 메이크업 전문점 등 포함</td></tr>
												<tr>
												<td class="left">기타 대인서비스</td>
												<td class="left none">안마시술소, 지압원, 맛사지, 스포츠마사지, 안마원 등</td></tr>
												<tr>
												<td rowspan="2">기타</td>
												<td class="left">일반 상품권</td>
												<td class="left none"></td></tr>
												<tr>
												<td class="left">사금융</td>
												<td class="left none">전당포 등</td></tr>
											</tbody>
										</table><!-- list end -->
									</div>
								</td>
							</tr>
							</tbody>
						</table>						
					</div>

					<div class="alio_foot">
						<ul>
							<li><strong>공시주기</strong> <span>연 1회</span></li>
							<li><strong>작성기준일</strong> <span>2019. 12. 31.</span></li>
						</ul>							
					</div>
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>