<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
			
            <div class="sub_visual sub1">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
							<ul class="depth2">
								<li><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li><a href="s6_01.html">기관개요</a></li>
										<li><a href="s6_01_02.html">비전</a></li>
										<li><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li class="active"><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li class="active"><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

                    <!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">대표이사 인사말</h3>

					<!-- 콘텐츠 시작 -->

					<div class="ceo_greeting">						
						<div class="major_message">
							<p class="main_txt">안녕하십니까? 한국체육산업개발㈜ 대표이사 김사엽입니다.<br>
								우리 기관 누리집(홈페이지)을 찾아 주셔서 감사합니다.</p>
						</div>
						<div class="text">
							<p>한국체육산업개발㈜은 문화체육관광부 산하 공공기관으로서 '88서울올림픽 <br>
							시설을 효율적으로 관리·운영하기 위해 1990년 7월에설립되었습니다. <br>
							국민체육진흥공단 출자회사로서 30년의 시설관리 전문성과 노하우를 <br>
							바탕으로 다양한 생활체육 프로그램 운영을 통하여 국민건강 증진과 삶의 <br>
							질 향상에 기여함은 물론 시설대관 및 공연·문화사업으로 올림픽공원 및 <br>
							경정·경륜·골프장 등을 명품 문화·레저공간으로 만드는데 일익을 담당하고 <br>
							있습니다.</p>
							<p>이를 위해 공공기관으로서의 책무성을 다 할 것이며 건전한 <br>
								스포츠·여가문화 정착을 위해 다양한 의견을 수렴하겠습니다. <br>
								국민들과 함께하는 공기관이 되고자 최선을 다하겠습니다. <br>
								국가의 소중한 자산을 효율적으로 관리운영하여 시대적 화두인 <br>
								삶의 질 개선을 위한 국민복지증진에 이바지 하겠습니다.</p>
							<p>고객여러분에게 즐겁고 편안한, 감동을 드릴 수 있도록<br>
								정성을 다하겠습니다.</p>
							<p>감사합니다.</p>

							<p>대표이사 <strong class="mr20">김사엽</strong><img src="../../resources/img/sub/s1_01_sign.png" alt=""></p>
						</div>
					</div>
					<!-- //greeting -->

					<!-- //콘텐츠 끝 -->
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
       

</body>

</html>