<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
			
            <div class="sub_visual sub1">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
							<ul class="depth2">
								<li><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li><a href="s6_01.html">기관개요</a></li>
										<li><a href="s6_01_02.html">비전</a></li>
										<li><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li class="active"><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li class="active"><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

                    <!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">심볼마크, 시그니춰</h3>

					<!-- 콘텐츠 시작 -->
					<div class="ci_logo">
						<h4 class="title_h3 mt0">심볼마크</h4>
						<div class="row">
							<div class="col-sm-5">
								<div class="box border">
									<img src="../../resources/img/sub/s6_04_symbol1.png" alt="">
								</div>
							</div>
							<div class="col-sm-7">
								<p>한국체육산업개발은 한국을 대표하는 스포츠 공익기업인 국민체육진흥공단(KSPO)의 출자회사로서 스포츠 전문시설을 관리하고 국민에게 건강과 활력을 제공하는 의미와 이미지가 쉽게 전달될 수 있도록 <strong>'KSPO'</strong>와 <strong>'CORPORATE'</strong>의 영문워드를 조합하여 <strong>'KSPO&amp;CO(케이스포앤코)'</strong>라고 하였습니다.</p>
								<a href="../../resources/download/symbol.zip" class="btn btn_md jc-between mt50"><span>CI 다운로드</span><i class="xi-download"></i></a>
							</div>
						</div>
						<div class="row mt50">
							<div class="col-sm-5">
								<div class="box border">
									<img src="../../resources/img/sub/s6_04_symbol2.png" alt="">
								</div>
							</div>
							<div class="col-sm-7">
								<p>KSPO&amp;CO를 상징하는 우측의 삼각형 모티브는 상승하는 다이내믹한 곡선의 형태로 스포츠 공기업을 상징하는 'K'를 원근감 있는 면과 결합하여 심벌화하였습니다. 'K'로 연결된 세계의 면은 신뢰하는 공기업, 건전한 스포츠정신, 국민을 위한 스포츠 인프라가 하나로 어우러져 스포츠를 통해 미래를 개척해가는 한국체육산업개발의 의지를 보여주고 있습니다.</p>
								<p class="mt40">심볼마크는 블루, 스카이블루, 오렌지 세개의 색으로 이루어졌으며 블루는 스포츠 대표 공기업으로서 국민에게 주는 신뢰감을 전달하며, 스카이블루는 한국체육산업개발과 국가의 미래지향적인 스포츠정신을, 오렌지컬러는 국민에게 활력과 건강을 주는 스포츠 인프라를 상징하고 있습니다.</p>
							</div>
						</div>

						<p class="mt30">'KSPO&amp;CO(케이스포앤코)'는 공단브랜드 'KSPO'를 연계하여 공익기업인 한국체육산업개발의 신뢰도를 높이고, 'CORPORATE'를 의미하는 'CO'로 실질적인 실행, 사업의 의미를 부가하여 사업의 주체, 기업으로서의 전문적 이미지를 담고 있습니다.</p>
						<h4 class="title_h3">로고</h4>
						<div class="box border download">
							<img src="../../resources/img/sub/s6_04_logo.png" alt="">
							<a href="../../resources/download/signature.zip" class="btn btn_md"><span>로고 다운로드</span><i class="xi-download"></i></a>
						</div>

						<h4 class="title_h3">시그니춰</h4>
						
						<div class="box border download">
							<img src="../../resources/img/sub/s6_04_sign1.png" alt="">
							<img src="../../resources/img/sub/s6_04_sign2.png" alt="">
							<a href="../../resources/download/signature.zip" class="btn btn_md"><span>시그니춰 다운로드</span><i class="xi-download"></i></a>
						</div>
					</div>
					

					<!-- //콘텐츠 끝 -->
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
       

</body>

</html>