<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
    
			
            <div class="sub_visual sub1">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li><a href="s6_01.html">기관개요</a></li>
										<li><a href="s6_01_02.html">비전</a></li>
										<li><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li class="active"><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li class="active"><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">
                   
					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">대표이사 프로필</h3>

					<!-- 콘텐츠 시작 -->
					<div class="ceo_profile">
						<div class="row">
							<div class="col-sm-5 photo">
								<figure>
									<img src="../../resources/img/sub/s1_01_02_ceo.jpg" alt="">
									<figcaption class="sign">
										<strong>김사엽</strong>
										<span>金思燁</span><em>Kim Sa Yeuop</em>
									</figcaption>
								</figure>
							</div>
							<div class="col-sm-7 info_txt">
								<h4 class="title_h3">생년월일</h4>
								<ul class="list_dash">
									<li>1959년 2월 10일</li>
								</ul>								
								<h4 class="title_h3">학력</h4>
								<ul class="list_dash">
									<li>1977년 경북의성 안계고등학교 졸업</li>
									<li>1984년 원광대학교 사범대학 체육교육학과 졸업(체육학사)</li>
									<li>1986년 중앙대학교 대학원 체육학과 졸업(체육학석사)</li>
									<li>1993년 건국대학교 대학원 체육학과 졸업(이학박사)</li>
								</ul>
								<h4 class="title_h3">주요경력</h4>
								<ul class="list_dash">
									<li>1977년 경북의성 안계고등학교 졸업</li>
									<li>2003년 ~ 현재 : 한국스포츠학회 회장</li>
									<li>2018년 ~ 현재 : 기획재정부 국제행사 심의위원</li>
									<li>2018년 ~ 현재 : 법무부 국적심의위원</li>
								</ul>
							</div>
						</div>
						
					</div>
					<!-- //ceo_profile -->
					<!-- //콘텐츠 끝 -->
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
      
</body>

</html>