<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
			
            <div class="sub_visual sub1">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="">인사말</a>
									<ul class="depth3">
										<li><a href="s1_01.html">대표이사 인사말</a></li>
										<li><a href="s1_01_02.html">대표이사 프로필</a></li>
									</ul>			
								</li>
								<li><a href="s1_02.html">비전</a></li>
								<li><a href="s1_03.html">기관개요</a></li>
								<li><a href="s1_04.html">연혁</a></li>
								<li><a href="s1_05.html">역대수상 및 인증기록</a></li>
								<li><a href="s1_06.html">협력기관</a></li>
								<li class="active"><a href="s1_07.html">조직도</a></li>
								<li><a href="s1_08.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s1_08.html">심볼마크, 시그니춰</a></li>
										<li><a href="s1_08_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s1_09.html">오시는 길</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">조직도</h3>

					<!-- 콘텐츠 시작 -->
                   
					<div class="org">
						<div class="director">
							<a href="">
								<strong>대표이사</strong>
							</a>
						</div>						
						<div class="check_balance">
							<div class="safety">
								<a href="">안전경영단</a>							
							</div>
							<div class="audit">
								<a href="">감사실</a>							
							</div>
						</div>
						
						<div class="node_group">
							<div class="node">
								<a href="">경영기획실</a>
								<ul>
									<li><a href="">기획팀</a></li>
									<li><a href="">경영정보화팀</a></li>
								</ul>
							</div>
							<div class="node">
								<a href="">경영지원실</a>
								<ul>
									<li><a href="">총무팀</a></li>
									<li><a href="">인사팀</a></li>
									<li><a href="">노무복지팀</a></li>
								</ul>
							</div>
							<div class="node">
								<a href="">공원사업실</a>
								<ul>
									<li><a href="">문화사업팀</a></li>
									<li><a href="">공원사업팀</a></li>
								</ul>
							</div>
							<div class="node">
								<a href="">스포츠운영실</a>
								<ul>
									<li><a href="">수영장팀</a></li>
									<li><a href="">스포츠교실팀</a></li>
									<li><a href="">일산운영팀</a></li>
									<li><a href="">분당운영팀</a></li>
								</ul>
							</div>
							<div class="node">
								<a href="">시설관리실</a>
								<ul>
									<li><a href="">시설안전팀</a></li>
									<li><a href="">공원서비스팀</a></li>
								</ul>
							</div>
							<div class="node">
								<a href="">경주사업지원실</a>
								<ul>
									<li><a href="">경정지원팀</a></li>
									<li><a href="">경륜지원팀</a></li>
									<li><a href="">지점서비스팀</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<!-- //org -->
					<div class="box blue_box board_detail_search">
						<form class="board_search">	
							<div class="form-row">
								<strong class="form-label">검색구분</strong>
								<select class="form-select mr20" title="검색분류선택">
									<option value="all">전체</option>
									<option value="title">제목</option>
									<option value="regNm">등록자</option>
									<option value="regDttm">등록일자</option>
								</select>
								<input type="text" class="form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
								<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
							</div>
						</form>
					</div>
					
					<p class="sub_info mt30"><i class="icon_circle xi-arrow-right"></i><span>실·팀명을 Click 하시면 부서소개 및 직원 정보를 조회하실 수 있습니다.</span></p>

					<div id="detailList" class="deatil_list">
						<h2 class="title_h2">경영기획실</h2>
						<div class="table org_table">
							<table>
								<caption>직책, 이름, 담당업무, 전화번호, 이메일을 나타낸 표</caption>
								<colgroup>
									<col class="w15">
									<col class="w15">
									<col>
									<col class="w15">
									<col class="w10">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">직책</th>
										<th scope="col">이름</th>
										<th scope="col">담당업무</th>
										<th scope="col">전화번호</th>
										<th scope="col">이메일</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											본부장</td>
										<td>조병덕</td>
										<td class="left">- 연구기획본부 업무 총괄</td>
										<td>044-211-1020</td>
										<td><a href="mailto:bdcho@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											인턴</td>
										<td>오혜원</td>
										<td class="left">- 연구기획본부 업무 지원</td>
										<td>044-211-1165</td>
										<td><a href="mailto:ohw5840@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
								</tbody>
							</table>
						</div><!-- //실 -->
						<h3 class="title_h3">기획팀</h3>
						<div class="table org_table">
							<table>
								<caption>직책, 이름, 담당업무, 전화번호, 이메일을 나타낸 표</caption>
								<colgroup>
									<col class="w15">
									<col class="w15">
									<col>
									<col class="w15">
									<col class="w10">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">직책</th>
										<th scope="col">이름</th>
										<th scope="col">담당업무</th>
										<th scope="col">전화번호</th>
										<th scope="col">이메일</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											부장</td>
										<td>이진형</td>
										<td class="left">- 연구기획부 업무 총괄</td>
										<td>044-211-1120</td>
										<td><a href="mailto:jinhyung@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											전문위원</td>
										<td>이형욱</td>
										<td class="left">(휴직)</td>
										<td>044-211-1212</td>
										<td><a href="mailto:hwparty@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											전문위원</td>
										<td>정현주</td>
										<td class="left"></td>
										<td>044-211-1122</td>
										<td><a href="mailto:jeonghj@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											부전문위원</td>
										<td>김주희</td>
										<td class="left">- 융ㆍ복합 협동연구 기획(협동연구과제 기획 보고회 포함) 
										<br>- 연구기관 연구역량 강화에 관한 사항 
										<br>- 미래예측 정책연구지원 사업
										<br>- 연구기획부 일반업무 등</td>
										<td>044-211-1126</td>
										<td><a href="mailto:jhkim@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											부전문위원</td>
										<td>권순진</td>
										<td class="left"></td>
										<td>044-211-1123</td>
										<td><a href="mailto:ksj9658@nre.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											부전문위원</td>
										<td>전민선</td>
										<td class="left"></td>
										<td>044-211-1127</td>
										<td><a href="mailto:jeon@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											전문원</td>
										<td>인혜은</td>
										<td class="left">- Inclusive Korea 2020 운영
										<br>- 포용국가연구회 운영
										<br>- NRC 벤처르네상스포럼 운영
										<br>- 국가의제와 미래전략 보고대회 운영
										<br>- 연구기획부 일반업무 등</td>
										<td>044-211-1125</td>
										<td><a href="mailto:inhy95@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											전문원</td>
										<td>김기은</td>
										<td class="left"></td>
										<td>044-211-1128</td>
										<td><a href="mailto:rldms614@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
									<tr>
										<td>
											행정원</td>
										<td>오수진</td>
										<td class="left">- 코로나19 연구단 운영
										<br>- 감염병 연구회 운영
										<br>- 연구기획부 일반업무 등</td>
										<td>044-211-1124</td>
										<td><a href="mailto:osj@nrc.re.kr" class="mail_link"><i class="xi-mail-o" aria-hidden="true"></i><span class="sr-only">메일링크</span></a></td>
									</tr>
								</tbody>
							</table>
						</div><!-- 팀  -->
					</div>
					<!-- //deatil_list -->

					<!-- //콘텐츠 끝 -->
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
     

</body>

</html>