<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>   
         
			
            <div class="sub_visual sub1">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li class="active"><a href="s6_01.html">기관개요</a></li>
										<li><a href="s6_01_02.html">비전</a></li>
										<li><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">기관개요</h3>

					<!-- 콘텐츠 시작 -->
                    
					<div class="overview_organ">
						<div class="message_box bg">
							<div class="major_message">
								<p class="sub_txt"><strong>한국체육산업개발(주)는 88 서울올림픽 시설물의 효율적인 유지 관리와 복합문화 및 스포츠⋅레저공간 제공을 목적으로 1990년 7월에 설립되었습니다.</strong></p>
								<p>
									현재는 올림픽시설물 및 분당⋅일산스포츠센터 관리⋅운영과 경륜⋅경정시설물, 에콜리안 골프장, 한국스포츠정책과 학원시설관리와 17개 장외 지점 등을 관리하는 스포츠⋅문화 사업 전문기관입니다.<br>
	본부는 서울특별시 송파구 올림픽공원 내에 위치하고 있으며, 문화체육관광부 산하 기타공공기관입니다.
								</p>
							</div>
							<img src="../../resources/img/sub/s1_03_title_bg.png" alt="">
						</div>
						<!-- //message_box -->
						<div class="item">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">설립목적</strong>
								</div>
								<div class="col-sm-9">
									<div class="cont">
										<ul class="list_dot">
											<li>88서울올림픽시설물의 효율적 유지관리</li>
											<li>다양한 수익사업 운영으로 국민체육진흥기금 조성 기여</li>
											<li>복합 레저·문화공간 제공으로 국민 건강과 행복 증진</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!-- //item -->
						<div class="item">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">주요사업</strong>
								</div>
								<div class="col-sm-9">
									<div class="cont">
										<ul class="list_dot">
											<li>올림픽시설물, 경륜·경정시설물 유지 및 관리
												<ul class="list_dash">
													<li>올림픽공원, 경정공원, 광명돔경륜장, 경륜·경정훈련원, 17개 장외지점,
														에콜리안 골프장, 한국스포츠정책과학원 등 30개 사업장</li>
												</ul>
											</li>
											<li>올림픽스포츠센터 운영
												<ul class="list_dash">
													<li>올림픽수영장, 올림픽공원·일산·분당올림픽스포츠센터</li>
												</ul>
											</li>
											<li>올림픽시설물 대관
												<ul class="list_dash">
													<li>체조·핸드볼 등 경기장, 우리금융아트홀 등 전문공연장, 옥외시설</li>
												</ul>
											</li>
											<li>부대 및 수익사업
												<ul class="list_dash">
													<li>올림픽공원 주차·매점·임대·호돌이열차·자전거대여, 경정공원 주차·매점 등</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!-- //item -->
						<div class="item item3">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">2021년도 경영목표</strong>
								</div>
								<div class="col-sm-9">
									<div class="cont">
										<div class="txt_center">
											<strong class="point">함께하는 공감과 포용으로 위기를 기회로 승화하자!</strong>
											<small>(경영목표 322억원, 스포츠·문화이용객 150만명, 고객만족도 95점)</small>
										</div>										
										<div class="graph">
											<picture>
												<source media="(max-width: 768px)" srcset="../../resources/img/sub/s1_03_graph_m.png">  
												<img src="../../resources/img/sub/s1_03_graph_pc.png" alt="3대 경영목표 - 경영환경 변화에 능동적인 대응시스템 구축, 핵심사업 성과창출 동력 재가동, 안전 최우선의 관리체계 정착">
											</picture>
										</div>
									</div>
								</div>
							</div>
						</div><!-- //item -->
					</div>
					<!-- //overview_organ -->
					
					<!-- //콘텐츠 끝 -->
					
					
				
				
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
            
        

</body>

</html>