<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
 
			
            <div class="sub_visual sub6">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li><a href="s6_01.html">기관개요</a></li>
										<li><a href="s6_01_02.html">비전</a></li>
										<li class="active"><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">
                    
					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">연혁</h3>

					<!-- 콘텐츠 시작 -->
					<nav class="depth4 tabs">
						<ul class="list">
							<li class="active"><a href="#history05" class="tab_nav">2018년 ~ 2020년</a></li>
							<li><a href="#history04" class="tab_nav">2015년 ~ 2017년</a></li>
							<li><a href="#history03" class="tab_nav">2011년 ~ 2014년</a></li>
							<li><a href="#history02" class="tab_nav">2000년 ~ 2010년</a></li>
							<li><a href="#history01" class="tab_nav">1990년 ~ 1999년</a></li>
						</ul>
					</nav>
					<div class="history">
						<div id="history05" class="tab_cont history_list active">
							<div class="item year2020">
								<strong class="year">2020</strong>
								<ol>
									<li><span>5월.</span> <em>제13대 김사엽 대표이사 취임</em></li>
								</ol>
							</div><!-- //2020 -->
							<div class="item year2019">
								<strong class="year">2019</strong>
								<ol>									
									<li><span>11월.</span> <em>백미리 어촌계와 1사1촌 자매결연 체결</em></li>
									<li><span>11월.</span> <em>소아암재단 헌혈증 기증</em></li>
									<li><span>11월.</span> <em>2019년 문화데이터 개방 우수기관 선정, 최우수상 수상</em></li>
									
								
									<li><span>10월.</span> <em>충북 음성 중생마을과 1사1촌 자매결연 체결</em></li>
									
								
									<li><span>09월.</span> <em>2019 조이올팍페스티벌 개최</em></li>
									
							
									<li><span>06월.</span> <em>2019년도 기타공공기관 및 단체 경영평가 우수사례 공유대회<br>-경영실적평가 ‘우수’기관 선정</em></li>
									
									
									<li><span>01월.</span> <em>올림픽수영장, 체육시설 안전경영 인증(KSPO 45001)취득</em></li>
									
								</ol>
							</div><!-- //2019 -->
							<div class="item year2018">
								<strong class="year">2018</strong>
								<ol>									
									<li><span>11월.</span> <em>인권경영선포식</em></li>
									<li><span>11월.</span> <em>유엔글로벌콤팩트 가입증서 전달식</em></li>
									<li><span>11월.</span> <em>2018년도 문화데이터 개방 우수기관 선정, 우수상 수상</em></li>
									
								
									<li><span>10월.</span> <em>2018 스포츠산업 잡페어 참가</em></li>
									
								
									<li><span>09월.</span> <em>㈜한국수목보호협회와 업무협약 체결</em></li>
									<li><span>09월.</span> <em>제19회 사회복지의 날 기념식 참석 ‘사회복지 유공 표창’</em></li>
									<li><span>09월.</span> <em>드림파크 스포츠센터 개장식</em></li>
									
								
									<li><span>08월.</span> <em>㈜라디안큐바이오 ‘하크가디언상’수상</em></li>
									<li><span>08월.</span> <em>㈜대정골프엔지니어링과 업무협약 체결</em></li>
									
								
									<li><span>07월.</span> <em>서울남부혈액원과 사랑의 헌혈 약정</em></li>
									<li><span>07월.</span> <em>제12대 최윤희 대표이사 취임</em></li>
									
								
									<li><span>05월.</span> <em>‘아이마켓서울유’ 개최</em></li>
									<li><span>05월.</span> <em>문화정보화 수준평가 우수기관 최우수상수상</em></li>
									
								
									<li><span>02월.</span> <em>㈔사랑의쌀나눔운동본부와 업무협약</em></li>
																			
								</ol>
							</div><!-- //2018 -->
						</div>
						<!-- //#history05 -->
						<div id="history04" class="tab_cont history_list">							
							<div class="item year2017">
								<strong class="year">2017</strong>
								<ol>
										
									<li><span>12월.</span> <em>국민체육진흥공단・송파구청과 청년창업지원 업무협약 체결</em></li>
									<li><span>12월.</span> <em>하나투어・스포츠투데이와 문화콘텐츠 공동개발 업무협약 체결</em></li>
									<li><span>12월.</span> <em>“소비자중심경영(CCM)” 인증</em></li>
									
								
									<li><span>11월.</span> <em>대한민국 전기안전대상 국무총리상 수상</em></li>
									
								
									<li><span>10월.</span> <em>신천파출소와 올림픽공원 안전 업무협약 체결</em></li>
									<li><span>10월.</span> <em>문화데이터개방 우수기관 선정, 최우수상 수상</em></li>
									
								
									<li><span>09월 .</span> <em>서울시장애인일자리통합지원센터와 고용증진 협약 체결</em></li>
									<li><span>09월 .</span> <em>공공부문 인적자원개발 우수기관(Best-HRD) 선정</em></li>
									
								
									<li><span>07월.</span> <em>소비자중심경영(CCM) 선포식</em></li>
									
								
									<li><span>04월.</span> <em>문화정보화 수준평가 우수상 수상</em></li>
									
								
									<li><span>03월.</span> <em>2017 일학습병행제 협약 체결</em></li>
									
										
								</ol>
							</div><!-- //2017 -->
							<div class="item year2016">
								<strong class="year">2016</strong>
								<ol>
									
									<li><span>12월.</span> <em>한국음악실연자연합회 업무협약 체결</em></li>
								
									<li><span>06월.</span> <em>스포츠용품 마케팅 지원 업무협약 체결</em></li>
									<li><span>06월.</span> <em>문화체육관광부 산하 기타공공기관 대상 경영평가 최우수기관 선정</em></li>
								
								</ol>
							</div><!-- //2016 -->
							<div class="item year2015">
								<strong class="year">2015</strong>
								<ol>
									
									<li><span>12월.</span> <em>올림픽공원 도서관 지샘터 개관</em></li>
									
								
									<li><span>11월.</span> <em>조원초등학교 수영장 개장</em></li>
									
								
									<li><span>10월.</span> <em>롯데면세점과 업무협약 체결</em></li>
									
								
									<li><span>08월.</span> <em>아이유웰과 업무협약 체결</em></li>
									<li><span>08월.</span> <em>노사발전재단과 업무협약 체결</em></li>
									
								
									<li><span>07월.</span> <em>창립 25주년 기념식 및 비전2025 선포식 개최</em></li>
									
								
									<li><span>05월.</span> <em>송파소방서와 업무협약 체결</em></li>
									<li><span>05월.</span> <em>성북구도시관리공단과 업무협약 체결</em></li>
									
										
								</ol>
							</div><!-- //2015 -->
						</div>
						<!-- //#history04 -->

						<div id="history03" class="tab_cont history_list">							
							<div class="item year2014">
								<strong class="year">2014</strong>
								<ol>
									
									<li><span>12월.</span> <em>여성가족부 가족친화 우수기관 인증</em></li>
									<li><span>12월.</span> <em>천안시시설관리공단 업무협약 체결</em></li>
									
								
									<li><span>11월.</span> <em>2014 소방의날 ‘소방안전관리 우수기관’ 수상</em></li>
									
								
									<li><span>09월.</span> <em>(재)정동극장 업무협약 체결</em></li>
									
								
									<li><span>05월.</span> <em>농촌진흥청국립원예특작과학원 업무협약 체결</em></li>
									<li><span>05월.</span> <em>전통공연예술진흥재단 업무협약 체결</em></li>
									
										
								</ol>
							</div><!-- //2014 -->
							<div class="item year2013">
								<strong class="year">2013</strong>
								<ol>
									
									<li><span>12월.</span> <em>사옥이전(올림픽역도경기장)</em></li>
									
								
									<li><span>11월.</span> <em>홈페이지 웹접근성 품질마크 인증 취득</em></li>
									
								
									<li><span>10월.</span> <em>올림픽수영장 '우수 열 사용자상' 수상</em></li>
									
								
									<li><span>08월.</span> <em>경정공원 온라인 대관 시스템 오픈</em></li>
									
								
									<li><span>07월 01일.</span> <em>경주시설 보호관리사업 개시</em></li>
									
										
								</ol>
							</div><!-- //2013 -->
							<div class="item year2012">
								<strong class="year">2012</strong>
								<ol>
									
									<li><span>11월.</span> <em>K-아트홀(태권도공연장) 개관</em></li>
									<li><span>11월.</span> <em>홈페이지 웹접근성 품질인증 취득</em></li>
									
								
									<li><span>07월.</span> <em>1사1촌(무의도 어촌마을) 자매결연</em></li>
									
								
									<li><span>05월.</span> <em>전통시장(풍납시장) 자매결연</em></li>
									<li><span>05월.</span> <em>실내테니스장 개장</em></li>
									
								
									<li><span>04월.</span> <em>올림픽공원 주차관제시스템 도입</em></li>
									
								
								</ol>
							</div><!-- //2012 -->
							<div class="item year2011">
								<strong class="year">2011</strong>
								<ol>
									
									<li><span>12월.</span> <em>시설관리 KS서비스인증 취득</em></li>
									<li><span>12월.</span> <em>국가품질경영대회 서비스품질 우수기업 수상</em></li>
									<li><span>12월.</span> <em>1사1촌 우수기업상 수상 (농협중앙회)</em></li>
									
								
									<li><span>09월.</span> <em>송파소방서와 업무협약(MOU) 체결</em></li>
									<li><span>09월.</span> <em>머니투데이 선정, 고객만족대상 공공서비스부문 수상</em></li>
									
								
									<li><span>07월.</span> <em>올림픽공원 9경 투어 개시</em></li>
									
										
								</ol>
							</div><!-- //2011 -->
						</div>
						<!-- //#history03 -->
						<div id="history02" class="tab_cont history_list">							
							<div class="item year2010">
								<strong class="year">2010</strong>
								<ol>									
									<li><span>12월.</span> <em>한국서비스품질 우수기업 인증 취득</em></li>
									
								
									<li><span>10월.</span> <em>화장실 문화품질 인증 취득(TCQ 6000/TCQ 8000)</em></li>
									
								
								</ol>
							</div><!-- //2010 -->
							<div class="item year2009">
								<strong class="year">2009</strong>
								<ol>
									
									<li><span>11월.</span> <em>우리금융아트홀 개관</em></li>
									
								
									<li><span>09월.</span> <em>성과연봉제 도입</em></li>
									
								
								</ol>
							</div><!-- //2009 -->
							<div class="item year2008">
								<strong class="year">2008</strong>
								<ol>
									
									<li><span>12월.</span> <em>OL-Park 아이스링크 개장</em></li>
									
								
									<li><span>10월.</span> <em>SOSFO 이사장배 전국풋살대회 및 생활체육수영대회 개최</em></li>
									
									
									<li><span>02월.</span> <em>분당·일산 스포츠센터 산학협력 체결</em></li>
									
								
								</ol>
							</div><!-- //2008 -->
							<div class="item year2007">
								<strong class="year">2007</strong>
								<ol>
									
									<li><span>12월.</span> <em>OL-Park 인조잔디축구장 개장, 올림픽수영장 재개관</em></li>
									
								
									<li><span>10월.</span> <em>시설관리 ISO9001/14001 인증 취득</em></li>
									
									
									<li><span>01월.</span> <em>올림픽공원 GS25 프랜차이즈 개점</em></li>
									
								
								</ol>
							</div><!-- //2007 -->
							<div class="item year2006">
								<strong class="year">2006</strong>
								<ol>
									
									<li><span>12월.</span> <em>평화의 광장 Ice Rink 개장</em></li>
									
								
									<li><span>07월.</span> <em>선수촌올림픽스포츠센터 운영</em></li>
									
								
									<li><span>04월.</span> <em>한식당 소담터 운영</em></li>
									
									
									<li><span>01월.</span> <em>올림픽파크텔 시설관리</em></li>
									
								
								</ol>
							</div><!-- //2006 -->
							<div class="item year2005">
								<strong class="year">2005</strong>
								<ol>
									
									<li><span>12월.</span> <em>광명 돔경륜장 시설관리</em></li>
											
								</ol>
							</div><!-- //2005 -->
							<div class="item year2004">
								<strong class="year">2004</strong>
								<ol>
									
									<li><span>07월.</span> <em>경정장 매점운영</em></li>
									
								
									<li><span>04월.</span> <em>올림픽미술관 시설관리·주차매표 운영</em></li>
									
								
								</ol>
							</div><!-- //2004 -->
							<div class="item year2003">
								<strong class="year">2003</strong>
								<ol>							
									<li><span>11월.</span> <em>올림픽홀 운영</em></li>
									<li><span>07월.</span> <em>둔촌, 평촌올림픽스포츠센터 매각</em></li>
								
								</ol>
							</div><!-- //2003 -->
						</div>
						<!-- //#history02 -->
						<div id="history01" class="tab_cont history_list">							
							<div class="item year1999">
								<strong class="year">1999</strong>
								<ol>									
									<li><span>1999</span><em>12월. 둔촌올림픽스포츠센터 운영</em></li>								
								</ol>
							</div><!-- //1999 -->
							<div class="item year1998">
								<strong class="year">1998</strong>
								<ol>									
									<li><span>1998</span><em>09월. 일산올림픽스포츠센터 개관 운영</em></li>							
								</ol>
							</div><!-- //1998 -->
							
							<div class="item year1995">
								<strong class="year">1995</strong>
								<ol>									
									<li><span>1995</span><em>09월. 평촌올림픽스포츠센터 개관 운영</em></li>	
								</ol>
							</div><!-- //1995 -->
							<div class="item year1994">
								<strong class="year">1994</strong>
								<ol>									
									<li><span>1994</span><em>07월. 분당올림픽스포츠센터 개관 운영</em></li>	
								</ol>
							</div><!-- //1994 -->
							<div class="item year1993">
								<strong class="year">1993</strong>
								<ol>									
									<li><span>1993</span><em>11월. 조정경기장 입장·주차, 대관·임대, 매점운영</em></li>	
									<li><span>1993</span><em>07월. 올림픽공원 및 조정경기장 조경관리 수행</em></li>	
								</ol>
							</div><!-- //1993 -->
							<div class="item year1992">
								<strong class="year">1992</strong>
								<ol>									
									<li><span>1992</span><em>10월. 회사 자본금 증자
										(6억원 →24억원, 18억원 증자)</em></li>	
								</ol>
							</div><!-- //1992 -->
							<div class="item year1991">
								<strong class="year">1991</strong>
								<ol>									
									<li><span>1991</span><em>04월. 올림픽공원 매점사업 회사직영</em></li>	
									<li><span>1991</span><em>01월. 올림픽공원 입장·주차관리 및 대관사업 운영</em></li>	
								</ol>
							</div><!-- //1991 -->
							<div class="item year1990">
								<strong class="year">1990</strong>
								<ol>									
									<li><span>1990</span><em>07월. 회사설립 (자본금 : 6억원)
										올림픽공원 스포츠교실 운영(제1체육관, 수영장, 테니스장, 선수촌 S/C)
										올림픽공원 및 조정경기장 시설·경비·미화관리</em></li>	
								</ol>
							</div><!-- //1990 -->
						</div>
						<!-- //#history01 -->

					</div>
					<!-- //history -->

					<!-- //콘텐츠 끝 -->
					
					
					
				
				
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->

</body>

</html>