<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub7">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">이용안내</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s7_01.html">개인정보처리방침</a></li>
						<li class="active"><a href="s7_01_02.html">영상정보처리기기 운영ㆍ관리 방침</a></li>
						<li><a href="s7_01_03.html">이용약관</a></li>
						<li><a href="s7_01_04.html">이메일무단수집거부</a></li>
						<li><a href="s7_01_05.html">홈페이지 이용안내</a></li>
						
					</ul>
				</nav>
				
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">


			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">영상정보처리기기 운영ㆍ관리 방침</h3>

			<!-- 콘텐츠 시작 -->
			<div class="cctv_policy rule">
				<div class="box blue_box">
					<p><strong>‘한국체육산업개발(주)’(이하 ‘회사’는)은 영상정보처리기기 운영ㆍ관리 방침을 통해 본 기관에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용ㆍ관리되고 있는지 알려드립니다.</strong>	</p>
				</div>
				<dl>
					
					<dt class="pdt10"><span class="txt_blue2"> 1. 영상정보처리기기의 설치 근거 및 설치 목적</span></dt>
					<dd class="pdt5">본 기관은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보처리기기를 설치ㆍ운영 합니다.</dd>
					<dd class="bullet2"><span class="txt_bold">시설안전 및 화재 예방</span></dd>
					<dd class="bullet2"><span class="txt_bold">고객의 안전을 위한 범죄 예방</span></dd>
					<dd class="bullet2"><span class="txt_bold">차량도난 및 파손방지(주차장에 설치)</span></dd>
					<dd class="pdl10">※ 주차대수 30대를 초과하여 「주차장법 시행규칙」제6조제1항을 근거로 설치ㆍ운영함</dd>
					
					<dt class="pdt10"><span class="txt_blue2">2. 설치 대수, 설치 위치 및 촬영범위</span></dt>
					<!-- write -->
					<div class="table responsive">
						<table class="list">
						<caption>설치 대수, 설치 위치 및 촬영범위 변경후 </caption><colgroup><col width="30%"><col width="*"></colgroup><thead> 
						<tr>
						<th scope="col">설치 대수</th><th class="none" scope="col">설치 위치 및 촬영 범위</th>
						</tr>
						</thead> 
						<tbody>
						<tr>
						<td>628대</td>
						<td class="none">건물로비, 복도, 주차장 입구 등</td>
						</tr>
						</tbody>
						</table>
					</div>
					<!-- write end -->                
													
					<dt class="pdt10"><span class="txt_blue2">3. 관리책임자 및 접근권한자</span></dt>
					<dd class="pdt5">귀하의 영상정보를 보호하고 개인영상정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인영상정보 보호책임자를 두고 있습니다.</dd>
					<!-- write -->
					<div class="table responsive">
						<table class="list">
						<caption>관리책임자 및 접근권한자 안내</caption><colgroup span="1"><col width="20%" span="1"><col width="23%" span="1"><col width="17%" span="1"><col width="17%" span="1"><col width="*" span="1"></colgroup><thead> 
						<tr>
						<th scope="col">구분</th><th scope="col">소속</th><th scope="col">직위</th><th scope="col">이름</th><th class="none" scope="col">연락처</th>
						</tr>
						</thead> 
						<tbody>
							<tr>
								<td>관리책임자</td>
								<td>경영기획실</td>
								<td>백종필</td>
								<td>실장</td>
								<td class="none">02-2180-3410</td>
							</tr>
							<tr>
								<td rowspan="25">접근권한자</td>
								<td rowspan="4">공원사업팀</td>
								<td>손상중</td>
								<td>과장</td>
								<td class="none">02-2180-3687</td>
							</tr>
							<tr>
								<td>김용성</td>
								<td>책임자</td>
								<td class="none">02-2180-3686</td>
							</tr>
							<tr>
								<td>이가권</td>
								<td>주임</td>
								<td class="none">02-2180-3696</td>
							</tr>
							<tr>
								<td>정숙진</td>
								<td>주임</td>
								<td class="none">02-2180-3577</td>
							</tr>
							<tr>
								<td>수영장팀</td>
								<td>이강원</td>
								<td>과장</td>
								<td class="none">02-2180-3725</td>
							</tr>
							<tr>
								<td>스포츠교실팀</td>
								<td>최우현</td>
								<td>과장</td>
								<td class="none">02-2180-3766</td>
							</tr>
							<tr>
								<td>일산운영팀</td>
								<td>홍정기</td>
								<td>과장</td>
								<td class="none">031-900-1890</td>
							</tr>
							<tr>
								<td>분당운영팀</td>
								<td>이정현</td>
								<td>과장</td>
								<td class="none">02-3434-7923</td>
							</tr>
							<tr>
								<td rowspan="12">시설안전팀</td>
								<td>홍성교</td>
								<td>과장</td>
								<td class="none">02-2180-3596</td>
							</tr>
							<tr>
								<td>이수성</td>
								<td>과장</td>
								<td class="none">02-2180-3642</td>
							</tr>
							<tr>
								<td>정명철</td>
								<td>과장</td>
								<td class="none">02-2180-3626</td>
							</tr>
							<tr>
								<td>김영필</td>
								<td>과장</td>
								<td class="none">02-2180-3662</td>
							</tr>
							<tr>
								<td>백덕종</td>
								<td>과장</td>
								<td class="none">02-2180-3655</td>
							</tr>
							<tr>
								<td>전상욱</td>
								<td>과장</td>
								<td class="none">02-2180-3632</td>
							</tr>
							<tr>
								<td>이철호</td>
								<td>과장</td>
								<td class="none">02-2180-3623</td>
							</tr>
							<tr>
								<td>유승완</td>
								<td>과장</td>
								<td class="none">02-2180-3635</td>
							</tr>
							<tr>
								<td>송윤회</td>
								<td>과장</td>
								<td class="none">02-2180-3652</td>
							</tr>
							<tr>
								<td>이주철</td>
								<td>과장</td>
								<td class="none">02-410-1585</td>
							</tr>
							<tr>
								<td>박경용</td>
								<td>과장</td>
								<td class="none">02-2180-3645</td>
							</tr>
							<tr>
								<td>김종찬</td>
								<td>과장</td>
								<td class="none">02-2180-3665</td>
							</tr>
							<tr>
								<td rowspan="2">공원서비스팀</td>
								<td>이지영</td>
								<td>과장</td>
								<td class="none">02-2180-3564</td>
							</tr>
							<tr>
								<td>박지혜</td>
								<td>대리</td>
								<td class="none">02-2180-3566</td>
							</tr>
							<tr>
								<td rowspan="2">경정지원팀</td>
								<td>오인남</td>
								<td>과장</td>
								<td class="none">031-790-8832</td>
							</tr>
							<tr>
								<td>김현수</td>
								<td>대리</td>
								<td class="none">032-742-1405</td>
							</tr>
							<tr>
								<td>경륜지원팀</td>
								<td>권익환</td>
								<td>과장</td>
								<td class="none">054-630-1609</td>
							</tr>
						</tbody>
						</table>
					</div>
					<!-- write end -->
				 
					<dt class="pdt10"><span class="txt_blue2">4. 영상정보의 촬영시간, 보관기간, 보관장소 및 처리방법</span></dt>
					<!-- write -->
					<div class="table responsive">
						<table class="list">
						<caption>영상정보의 촬영시간, 보관기간, 보관장소 및 처리방법 안내</caption>
						<colgroup>
							<col width="30%">
							<col width="30%">
							<col width="*">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">촬영시간</th>
								<th scope="col">보관기간</th>
								<th scope="col" class="none">보관장소</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>24시간</td>
								<td>촬영일로부터 30일 이내</td>
								<td class="none">각 CCTV 확인 장소</td>
							</tr>
						</tbody>
						</table>
					</div>
					<!-- write end -->
					
					<dd>- 처리방법 : 개인영상정보의 목적 외 이용, 제3자 제공, 파기, 열람 등 요구에 관한 사항을 기록·관리하고, 보관기간 만료시 복원이 불가능한 방법으로 영구 삭제(출력물의 경우 파쇄 또는 소각)합니다.</dd>
				  
					<dt class="pdt10"><span class="txt_blue2">5. 개인영상정보의 확인 방법 및 장소에 관한 사항</span></dt>
					<dd class="pdt5">- 확인 방법 : 영상정보 관리책임자에게 미리 연락하고 본 기관을 방문하시면 확인 가능합니다.</dd>
					<dd class="pdt5">- 확인 장소</dd>
					<!-- write -->
					<div class="table responsive">
						<table class="list">
							<caption>개인영상정보의 확인장소 안내</caption> <colgroup span="1"> <col width="15%" span="1"> <col width="20%" span="1"> <col width="15%" span="1"> <col width="15%" span="1"> <col width="15%" span="1"> <col width="*" span="1"> </colgroup> 
							<thead> 
								<tr>
									<th scope="col" colspan="2">장소</th><th scope="col">소속</th><th scope="col">직위</th><th scope="col">이름</th><th class="none" scope="col">연락처</th>
								</tr>
							</thead> 
							<tbody>
								<tr>
									<td rowspan="18">올림픽공원</td>
									<td>장미광장, 몽촌해자,<br>공원 주 출입구</td>
									<td rowspan="10">시설안전팀</td>
									<td>홍성교</td>
									<td>과장</td>
									<td class="none">02-2180-3596</td>
								</tr>
								<tr>
									<td>체조경기장</td>
									<td>이철호</td>
									<td>과장</td>
									<td class="none">02-2180-3623</td>
								</tr>
								<tr>
									<td>핸드볼경기장</td>
									<td>정명철</td>
									<td>과장</td>
									<td class="none">02-2180-3626</td>
								</tr>
								<tr>
									<td>우리금융아트홀</td>
									<td>김영필</td>
									<td>과장</td>
									<td class="none">02-2180-3662</td>
								</tr>
								<tr>
									<td>테니스장</td>
									<td>전상욱</td>
									<td>과장</td>
									<td class="none">02-2180-3632</td>
								</tr>
								<tr>
									<td>K-아트홀</td>
									<td>송윤희</td>
									<td>과장</td>
									<td class="none">02-2180-3652</td>
								</tr>
								<tr>
									<td>수영장(시설)</td>
									<td>백덕종</td>
									<td>과장</td>
									<td class="none">02-2180-3655</td>
								</tr>
								<tr>
									<td>컨벤션센터</td>
									<td>이주철</td>
									<td>과장</td>
									<td class="none">02-410-1585</td>
								</tr>
								<tr>
									<td>벨로드롬</td>
									<td>이수성</td>
									<td>과장</td>
									<td class="none">02-2180-3642</td>
								</tr>
								<tr>
									<td>올림픽홀</td>
									<td>유승완</td>
									<td>과장</td>
									<td class="none">02-2180-3635</td>
								</tr>
								<tr>
									<td>주차장</td>
									<td rowspan="4">공원사업팀</td>
									<td>이가권</td>
									<td>대리</td>
									<td class="none">02-2180-3696</td>
								</tr>
								<tr>
									<td>GS매점</td>
									<td>김용성</td>
									<td>책임자</td>
									<td class="none">02-2180-3686</td>
								</tr>
								<tr>
									<td>자전거대여소</td>
									<td>손상중</td>
									<td>과장</td>
									<td class="none">02-2180-3687</td>
								</tr>
								<tr>
									<td>지샘터 도서관</td>
									<td>정숙진</td>
									<td>주임</td>
									<td class="none">02-2180-3577</td>
								</tr>
									<tr>
									<td>수영장</td>
									<td>수영장팀</td>
									<td>이강원</td>
									<td>과장</td>
									<td class="none">02-2180-3725</td>
								</tr>
								<tr>
									<td>공원 스포츠센터</td>
									<td>스포츠교실팀</td>
									<td>최우현</td>
									<td>과장</td>
									<td class="none">02-2180-3766</td>
								</tr>
								<tr>
									<td>안내센터<br>(평화의광장)</td>
									<td rowspan="2">공원서비스팀</td>
									<td>이지영</td>
									<td>과장</td>
									<td class="none">02-2180-3564</td>
								</tr>
								<tr>
									<td>안내센터<br>(만남의광장)</td>
									<td>박지혜</td>
									<td>대리</td>
									<td class="none">02-2180-3566</td>
								</tr>
								<tr>
									<td>미사리</td>
									<td>경정공원</td>
									<td>경정지원팀</td>
									<td>오인남</td>
									<td>과장</td>
									<td class="none">031-790-8832</td>
								</tr>
								<tr>
									<td>분당</td>
									<td>분당스포츠센터</td>
									<td>분당운영팀</td>
									<td>이정현</td>
									<td>과장</td>
									<td class="none">02-3434-7923</td>
								</tr>
								<tr>
									<td>일산</td>
									<td>일산스포츠센터</td>
									<td>일산운영팀</td>
									<td>홍정기</td>
									<td>과장</td>
									<td class="none">031-900-1890</td>
								</tr>
								<tr>
									<td rowspan="4">공단관리지역</td>
									<td>소마미술관</td>
									<td rowspan="2">시설안전팀</td>
									<td>박경용</td>
									<td>과장</td>
									<td class="none">02-2180-3645</td>
								</tr>
								<tr>
									<td>유스호스텔</td>
									<td>김종찬</td>
									<td>과장</td>
									<td class="none">02-2180-3665</td>
								</tr>
								<tr>
									<td>영주 경륜훈련원</td>
									<td>경륜지원팀</td>
									<td>권익환</td>
									<td>과장</td>
									<td class="none">054-630-1609</td>
								</tr>
								<tr>
									<td>영종도 경정훈련원</td>
									<td>경정지원팀</td>
									<td>김현수</td>
									<td>대리</td>
									<td class="none">032-742-1405</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- write end -->
																			
					<dt class="pdt10"><span class="txt_blue2">6. 정보주체의 영상정보 열람 등 요구에 대한 조치</span></dt>
					<dd class="pdt5">귀하는 개인영상정보에 관하여 열람 또는 존재확인·삭제를 원하는 경우 언제든지 영상정보처리기기 운영자에게 요구하실 수 있습니다. 단, 귀하가 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다.본 기관은 개인영상정보에 관하여 열람 또는 존재확인·삭제를 요구한 경우 지체없이 필요한 조치를 하겠습니다.</dd>

					<dt class="pdt10"><span class="txt_blue2">7. 영상정보의 안전성 확보조치</span></dt>
					<dd class="pdt5">본 기관에서 처리하는 영상정보는 암호화 조치 등을 통하여 안전하게 관리되고 있습니다. 또한 본 기관은 개인영상정보보호를 위한 관리적 대책으로서 개인정보에 대한 접근 권한을 차등부여하고 있고, 개인영상정보의 위․변조 방지를 위하여 개인영상정보의 생성 일시, 열람시 열람 목적·열람자·열람 일시 등을 기록하여 관리하고 있습니다. 이 외에도 개인영상정보의 안전한 물리적 보관을 위하여 잠금장치를 설치하고 있습니다.</dd>

					<dt class="pdt10"><span class="txt_blue2">8. 개인정보 처리방침 변경에 관한 사항</span></dt>
					<dd class="pdt5">이 영상정보처리기기 운영ㆍ관리방침은 2012년 3월 27일에 제정되었으며, 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 시행하기 최소 7일전에 본 기관 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.</dd>
					<dd class="pdt5"><span class="txt_bold">- 공고일자 : 2021년 2월 24일 / 시행일자 : 2021년 3월 3일</span></dd>
				</dl>
					
				
			</div>
			<!-- //cctv_policy -->
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>