<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>한국체육산업개발</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		href="https://www.nrc.re.kr/kor/resources/images/icon/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<h3 class="title_h1">BOARD 썸네일 뷰, 갤러리 뷰</h3>

	<div class="board">

		<div class="board_view">
			<div class="title">상생소비지원금 캐시백 3,025억원 발생 (1,488만명 신청)</div>
			<ul class="head">
				<li class="writer"><strong>작성자</strong><span>최고관리자</span></li>
				<li class="date"><strong>작성일시</strong><span>2019/03/08 15:47</span></li>
				<li class="hit"><strong>조회수</strong><span>5</span></li>
				<li class="down"><strong>다운로드수</strong><span>5</span></li>
			</ul>

			<div class="view_cont">
				<div class="gallery_slide">
					<div class="slider img_view">
						<div class="img"><img src="../../resources/img/board/gallery_view_big_img.jpg" alt=""></div>
						<div class="img"><img src="../../resources/img/board/gallery_view_big_img.jpg" alt=""></div>
						<div class="img"><img src="../../resources/img/board/gallery_view_big_img.jpg" alt=""></div>
						<div class="img"><img src="../../resources/img/board/gallery_view_big_img.jpg" alt=""></div>
						<div class="img"><img src="../../resources/img/board/gallery_view_big_img.jpg" alt=""></div>
					</div>
				</div>
			</div>
			<!-- //view_cont -->

			<div class="add_file_list">
				<strong class="title">첨부파일</strong>
				<ul class="add_file">
					<li>
						<a href="#" class="file_down">
							<span class="text">154873973477000.jpg</span>
							<span class="file_size">(6KB)</span>
						</a>
						<span class="link">
							<a class="btn_file btn_down" href="">다운로드<i aria-hidden="true"></i></a>
							<a class="btn_file btn_view" href="" target="_blank">자료열기<i aria-hidden="true"></i></a>
						</span>
					</li>
					<li>
						<a href="#" class="file_down">
							<span class="text">154873973477000.jpg</span>
							<span class="file_size">(6KB)</span>
						</a>
						<span class="link">
							<a class="btn_file btn_down" href="">다운로드<i aria-hidden="true"></i></a>
							<a class="btn_file btn_view" href="" target="_blank">자료열기<i aria-hidden="true"></i></a>
						</span>
					</li>
					<li>
						<a href="#" class="all_file_down btn_down">
							전체 다운로드<i aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- //add_file_list -->
		</div>
		<!-- //board_view -->
		<div class="btn_area">
			<button type="button" onclick="upt_passCheck('1');" class="btn">수정</button>
			<button type="button" onclick="del_passCheck('1');" class="btn">삭제</button>
			<button type="button" onclick="goList(); return false;" class="btn btn_list">목록</button>
		</div>
		<!-- //btn_area -->
		<div class="relate_list card_list col3">			
			<div class="list_ul">
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/noimage.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</div>
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_01.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</div>
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_02.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</div>
				<div class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_03.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</div>
			</div>
			<!-- //list_ul -->
		</div>
		<!-- //relate_list -->

	</div>
	<!--//board-->

</body>

</html>