<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>한국체육산업개발</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		href="https://www.nrc.re.kr/kor/resources/images/icon/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<h3 class="title_h1">BOARD 리스트</h3>
	<div class="container">





		<!-- //board 시작 -->
		<div class="calendar">		
			<div class="date_area">
                <p class="month">2022.01</p>
                <div class="btn_wrap">
                    <a href="" class="pre_month" title="이전달"><span class="sr_only">이전달</span></a>
                    <a href="" class="next_month" title="다음달"><span class="sr_only">다음달</span></a>
                </div>
            </div>
            <div class="calendar_list">
                <div class="bhead">
                    <ul>
                        <li class="sun">일요일</li>
                        <li>월요일</li>
                        <li>화요일</li>
                        <li>수요일</li>
                        <li>목요일</li>
                        <li>금요일</li>
                        <li class="sat">토요일</li>
                    </ul>
                </div>
                <div class="bbody">
                    <ul>
                        <li>
                            <span class="other_month">
                                <a href="#" onclick="" class="sun">26</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="">27</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="">28</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="">29</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="">30</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="">31</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span>
                                <a href="#" onclick="" class="sat">1</a>
                                <div class="schedule">
                                </div>                                
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#" onclick="" class="sun">2</a>
                                <span class="schedule"></span>
                            </span>
                            <span>
                                <a href="#" onclick="">3</a>
                                <div class="schedule">
                                    <ul>
                                        <li class="event ctype1" data-id="1" data-pos="1"><p>정기휴관일</p></li>
                                        <li class="event ctype2" data-id="2" data-pos="2" ><p>행사</p></li>
                                    </ul>
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" class="current">4</a>
                                <div class="schedule">
                                    <ul>
                                        <li class="event ctype2" data-id="2"  data-pos="2"></li>
                                        <!--<li class="event ctype3" data-id="3" data-pos="3" ><p>지혜학교</p></li>-->
                                        <li class="event_more"><a href="">+1 More</a> </li>
                                    </ul>
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">5</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">6</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">7</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" class="sat">8</a>
                                <div class="schedule">
                                </div>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#" onclick="" class="sun">9</a>
                                <span class="schedule"></span>
                            </span>
                            <span>
                                <a href="#" onclick="">10</a>
                                <div class="schedule">
                                    <ul>
                                        <li class="event ctype1" data-id="3"><p>정기휴관일</p></li>
                                    </ul>
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" >11</a>
                                <div class="schedule">
                                    <ul>
                                        <li class="event ctype3" data-id="4" data-pos="1" ><p>지혜학교</p></li>
                                    </ul>
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">12</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">13</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">14</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" class="sat">15</a>
                                <div class="schedule">
                                </div>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#" onclick="" class="sun">16</a>
                                <span class="schedule"></span>
                            </span>
                            <span>
                                <a href="#" onclick="">17</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">18</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">19</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">20</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">21</a>
                                <div class="schedule">
                                    <ul>
                                        <li class="event ctype2" data-id="5" ><p>길 위의 인문학 5차시</p></li>
                                    </ul>
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" class="sat">22</a>
                                <div class="schedule">
                                </div>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#" onclick="" class="sun">23</a>
                                <span class="schedule"></span>
                            </span>
                            <span>
                                <a href="#" onclick="">24</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" >25</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">26</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">27</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="">28</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span>
                                <a href="#" onclick="" class="sat">29</a>
                                <div class="schedule">
                                </div>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#" onclick="" class="sun">30</a>
                                <span class="schedule"></span>
                            </span>
                            <span>
                                <a href="#" onclick="">31</a>
                                <div class="schedule">
                                </div>
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="" >1</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="" >2</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="" >3</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="" >4</a>
                                <div class="schedule">
                                </div> 
                            </span>
                            <span class="other_month">
                                <a href="#" onclick="" class="sat">5</a>
                                <div class="schedule">
                                </div> 
                            </span>
                        </li>                        
                    </ul>
                </div>
            </div>

		</div>
		<!-- //board 끝 -->



	
	</div>
</body>

</html>