<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>한국체육산업개발</title>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
		href="https://www.nrc.re.kr/kor/resources/images/icon/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<h3 class="title_h1">갤러리 리스트</h3>

	<div class="board">

		<div class="board_info">
			<div class="page_info">
				<span class="total_page">전체<strong>3건</strong></span>
				<span class="current_page">현재 페이지<strong>1/10</strong></span>
			</div>
			<form class="board_search">
				<fieldset class="form-row">
					<legend class="sr-only">게시글 검색</legend>
					<select class="search_type form-select mr20" title="검색분류선택">
						<option value="all">전체</option>
						<option value="title">제목</option>
						<option value="regNm">등록자</option>
						<option value="regDttm">등록일자</option>
					</select>
					<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
					<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
				</fieldset>
			</form>
		</div>
		<!-- //board_info -->

		<div class="card_list col3">
			<!--
              기본갤러리형 칼럼이 세개인경우 : col3 / 리스트(li)는 6개출력
              기본갤러리형 칼럼이 네개인경우 : col4 / 리스트(li)는 8개출력
              웹진형 : .book_style
              동영상형 : .media
              -->
			<ul class="list_ul">
				<li class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/noimage.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<!-- <span class="hit">530</span> -->
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</li>
				<li class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_01.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<!-- <span class="hit">530</span> -->
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</li>
				<li class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_02.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<!-- <span class="hit">530</span> -->
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</li>
				<li class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_03.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<!-- <span class="hit">530</span> -->
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</li>
				<li class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_04.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<!-- <span class="hit">530</span> -->
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</li>
				<li class="list_li">
					<a href="gallery_view.html" class="item">
						<span class="thumb">
							<img src="../../resources/img/board/gallery_thumb_05.jpg" alt="">
						</span>
						<strong class="title">2019년 진드기 매개 감염병 예방 2019년 진드기 매개 감염병 예방</strong>
						<span class="etc_info">
							<span class="date">2018-01-19</span>
							<!-- <span class="hit">530</span> -->
							<i class="icon_arrow_right"></i>
						</span>
					</a>
				</li>

			</ul>
		</div>
		<!-- //gallery_list -->

		<div class="paging">
			<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
			<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
			<a href="" class="page_none page_now"><strong>1</strong></a>
			<a href="" class="page_none">2</a>
			<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
			<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
		</div>
		<!-- //paging -->

	</div>
	<!--//board-->

</body>

</html>