<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li class="active"><a href="s1_01_03.html">공개방법</a></li>
								<li><a href="s1_01_04.html">불복구제절차</a></li>
								<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="s1_04.html">정보공개청구</a></li>
						<li><a href="s1_05.html">사업실명제</a></li>
						<li><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">






			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">공개방법</h3>

			<!-- 콘텐츠 시작 -->
			<h4 class="title_h3 mt0">공개방법</h4>
			<ul class="list_dot">
				<li>청구인은 청구하고자 하는 정보를 보유·관리하고 있는 공공기관에 정보공개청구서를 아래의 방법으로 제출합니다.</li>
				<li>필름, 녹음, 테이프 등 : 시청 또는 인화물·복제물의 교부</li>
				<li>마이크로필름, 슬라이드 등 : 시청·열람 또는 사본·복제물의 교부</li>
				<li>전자적 형태로 보유, 관리하는 정보 : 파일 복제 후 정보통신망을 활용한 정보공개시스템으로 송부, 매체에 저장하여 제공, 열람·시청 또는 사본·출력물의 교부</li>
			</ul>

			<h4 class="title_h3">공개구분</h4>
			<div class='table left'>
				<table>
					<caption>항목에 관한 표입니다.</caption>
					<colgroup>
						<col class='w20'>
						<col>
					</colgroup>					
					<tbody>
						<tr>
							<th scope='row'>부분공개</th>
							<td>비공개 정보와 공개 정보가 혼합되어 분리 가능한 경우, 공개 청구 취지에 어긋나지 않는 범위내에서 공개 가능한 사항만 공개</td>
						</tr>
						<tr>
							<th scope='row'>즉시공개</th>
							<td>
								<p>즉시 또는 구술로 처리가 가능한 정보는 별도의 정보공개 여부 결정없이 즉시 공개</p>
								<ul class="list_dash">
									<li>법령 등에 따라 공개를 목적으로 작성된 정보</li>
									<li>일반국민에게 알리기 위하여 작성된 각종 홍보자료</li>
									<li>공개하기로 결정된 정보로서 공개에 오랜 시간이 걸리지 아니하는 정보</li>
									<li>그 밖에 공공기관의 장이 정하는 정보</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h4 class="title_h3">공개시 확인 : 정보공개결정통지서와 아래의 해당 증명서 지참하여야 합니다.</h4>
			<ul class="list_dot">
				<li>청구인 본인에게 공개시 : 신원을 확인할 수 있는 신분증명서(주민등록증 등)</li>
				<li>청구인의 법정대리인에게 공개시 : 법정대리인임을 증명할 수 있는 서류와 대리인의 신원을 확인할 수 있는 신분증명서</li>
				<li>청구인의 임의대리인에게 공개시 : 정보공개위임장과 청구인 및 수임인의 신원을 확인할 수 있는 신분증명서</li>
			</ul>
			<h4 class="title_h3">수수료</h4>
			<ul class="list_dot">
				<li>정보의 공개 및 우송에 소요되는 비용은 청구인이 부담합니다.</li>
				<li>다만, 공개를 청구하는 정보의 사용목적이 공공복리의 증진을 위해 필요한 경우 수수료에 한하여 감면할 수 있습니다.
					<ul class="list_dash">
						<li>비영리의 학술·공익단체 또는 법인이 학술이나 연구목적 또는 행정감시를 위하여 필요한 정보를 청구한 경우</li>
						<li>교수, 교사 또는 학생이 교육자료나 연구목적으로 필요한 정보를 소속기관의 장의 확인을 받아 청구한 경우
						</li>
						<li>그 밖에 공공기관의 장이 공공복리의 유지·증진을 위하여 감면이 필요하다고 인정한 경우</li>
					</ul>
				</li>
			</ul>
			<div class="btns mt40">
				<a href="https://www.open.go.kr/infOthbc/infOthbc/infOthbcFee.do" target="_blank" title="새창링크" class="btn type3"><span>공개방법 및 수수료 바로가기</span><i class="xi-angle-right-min ml30"></i></a>
			</div>
			
			
			

			
			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>