<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub1">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">정보공개</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s1_01.html">정보공개제도 안내</a>
							<ul class="depth3">
								<li><a href="s1_01.html">개요</a></li>
								<li><a href="s1_01_02.html">처리절차</a></li>
								<li><a href="s1_01_03.html">공개방법</a></li>
								<li><a href="s1_01_04.html">불복구제절차</a></li>
								<li><a href="s1_01_05.html">비공개 대상 정보</a></li>
							</ul>
						</li>
						<li><a href="s1_02.html">정보목록</a></li>
						<li><a href="s1_03.html">사전정보공표</a></li>
						<li><a href="https://www.open.go.kr/com/main/mainView.do" target="_blank">정보공개청구</a></li>
						<li class="active"><a href="s1_05.html">사업실명제</a></li>
						<li><a href="s1_06.html">공공데이터 개방</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">






			
			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">사업실명제</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="prior_info">
				<div class="box message_box">
					<div class="txt_wrap">
						<div class="major_message mb10">
							<!-- <p class="main_txt">한국체육산업개발(주)는 주요 사업에 대한 책임성과 투명성을 제고하기 위하여, 사업실명제를 도입하여 운영하고 있습니다.</p> -->
							<p class="main_txt">사업실명제란? 공공기관 주요사업의 추진내용과 담당자를 국민에게 공개하는 제도로서 사업개요 및 추진경과, 사업수행자, 추진실적 등을 공개하는 제도입니다.</p>
						</div>
						<p class="p_dot">대상사업 선정 기준</p>
						<ul class="list_dash">
							<li>주요 국정 현안에 관한 사업(국정과제 포함)</li>
							<li>재무적 영향이 큰 대규모 사업(총 사업비 10억원 이상)</li>
							<li>국민생활에 영향이 큰 주요 서비스 제공사업</li>
							<li>그 밖에 중점관리가 필요한 회사의 핵심사업</li>
						</ul>
					</div>
				</div>				
			</div>
			<div class="board">		
				<div class="board_info">
					<div class="page_info">
						<span class="total_page">전체<strong>3건</strong></span>
						<span class="current_page">현재 페이지<strong>1/10</strong></span>
					</div>
					<form class="board_search">
						<fieldset class="form-row">
							<legend class="sr-only">게시글 검색</legend>
							<select class="search_type form-select mr20" title="검색분류선택">
								<option value="all">전체</option>
								<option value="">공개항목</option>
								<option value="">주요내용</option>
								<option value="">담당부서</option>
							</select>
							<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
							<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
						</fieldset>
					</form>
				</div>
				<!-- //board_info -->

				<div class="board_list simple">
					<table>
						<caption>사업실명제 - 번호, 등록번호, 대상사업, 담당부서, 첨부파일</caption>
						<colgroup>
						<col class="w5">
						<col class="w10">
						<col>
						<col class="w15">
						<col class="w10">
						</colgroup>
						<thead class="dhead">
						<tr>
							<th scope="col">번호</th>
							<th scope="col">등록번호</th>
							<th scope="col" class="title">대상사업</th>
							<th scope="col">담당부서</th>
							<th scope="col">첨부파일</th>
						</tr>
						</thead>
						<tbody class="dbody">						
						<tr>
							<td >30</td>
							<td data-title="등록번호">2021-15</td>
							<td class="title" data-title="대상사업">정보시스템 구축 및 정보보안 강화</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >29</td>
							<td data-title="등록번호">2021-14</td>
							<td class="title" data-title="대상사업">경륜경정 장외지점 사업지원</td>
							<td data-title="담당부서">지점서비스팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >28</td>
							<td data-title="등록번호">2021-13</td>
							<td class="title" data-title="대상사업">대중골프장 유지 및 관리</td>
							<td data-title="담당부서">공원서비스팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >27</td>
							<td data-title="등록번호">2021-12</td>
							<td class="title" data-title="대상사업">분당올림픽스포츠센터 관리 및 운영</td>
							<td data-title="담당부서">분당운영팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >26</td>
							<td data-title="등록번호">2021-11</td>
							<td class="title" data-title="대상사업">정보시스템 구축 및 정보보안 강화</td>
							<td data-title="담당부서">경영정보화팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >25</td>
							<td data-title="등록번호">2021-10</td>
							<td class="title" data-title="대상사업">경륜경정 장외지점 사업지원</td>
							<td data-title="담당부서">지점서비스팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >24</td>
							<td data-title="등록번호">2021-09</td>
							<td class="title" data-title="대상사업">대중골프장 유지 및 관리</td>
							<td data-title="담당부서">공원서비스팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >23</td>
							<td data-title="등록번호">2021-08</td>
							<td class="title" data-title="대상사업">분당올림픽스포츠센터 관리 및 운영</td>
							<td data-title="담당부서">분당운영팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >22</td>
							<td data-title="등록번호">2021-07</td>
							<td class="title" data-title="대상사업">대중골프장 유지 및 관리</td>
							<td data-title="담당부서">공원서비스팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						<tr>
							<td >21</td>
							<td data-title="등록번호">2021-06</td>
							<td class="title" data-title="대상사업">분당올림픽스포츠센터 관리 및 운영</td>
							<td data-title="담당부서">분당운영팀</td>
							<td data-title="첨부파일"><a href="" class="link"><i class="icon_download"></i><span class="sr-only">첨부</span></a></td>
						</tr>
						
						</tbody>
					</table>
				</div>
				<!-- //board_list -->

				<div class="paging">
					<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
					<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
					<a href="" class="page_none page_now"><strong>1</strong></a>
					<a href="" class="page_none">2</a>
					<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
					<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
				</div>
				<!-- //paging -->

			</div>
			<!-- //board 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>