<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>	
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li class="active"><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">공모참여</h3>

			<!-- 콘텐츠 시작 -->
			<div class="survey_party_list">
				<div class="box blue_box board_detail_search">
					<form class="board_search">	
						<div class="form-row">
							<strong class="form-label">검색구분</strong>
							<div class="form-group">
								<select class="form-select mr20" title="검색분류선택">
									<option value="all">전체</option>
									<option value="title">제목</option>
									<option value="regNm">등록자</option>
									<option value="regDttm">등록일자</option>
								</select>
								<input type="text" class="form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
								<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
							</div>
						</div>
					</form>
				</div>
				<div class="board_info">
					<div class="page_info">
						<span class="total_page">전체<strong>3건</strong></span>
						<span class="current_page">현재 페이지<strong>1/10</strong></span>
					</div>						
					<div class="board_sort">
						<a href="" class="active">최신순</a>
						<a href="">조회순</a>
					</div>
				</div>
				<!--
					상태
					.ready 	: 예정
					.ing	: 진행
					.party	: 참여
					.end	: 종료
				-->
				<div class="card_list col3">
					<ul class="list_ul">
						<li class="list_li">
							<a href="" class="item">
								<div class="type">								
									<span class="state ready">예정</span>
								</div>
								<span class="thumb">
									<img src="../../resources/img/board/noimage.jpg" alt="">
								</span>
								<span class="date">2021-12-03~2021-12-25</span>	
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<div class="etc_info">
									<span class="inst">기관명</span>
									<div class="opinion">
										<span class="view"><i class="xi-eye-o"></i><em>100+</em></span>
										<span class="share"><i class="xi-share-alt-o"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">								
									<span class="state ing">진행</span>
								</div>
								<span class="thumb">
									<img src="../../resources/img/board/noimage.jpg" alt="">
								</span>
								<span class="date">2021-12-03~2021-12-25</span>	
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<div class="etc_info">
									<span class="inst">기관명</span>
									<div class="opinion">
										<span class="view"><i class="xi-eye-o"></i><em>100+</em></span>
										<span class="share"><i class="xi-share-alt-o"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">								
									<span class="state ing">진행</span>
									<span class="state party">참여</span>
								</div>
								<span class="thumb">
									<img src="../../resources/img/board/noimage.jpg" alt="">
								</span>
								<span class="date">2021-12-03~2021-12-25</span>	
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<div class="etc_info">
									<span class="inst">체육산업개발</span>
									<div class="opinion">
										<span class="view"><i class="xi-eye-o"></i><em>100+</em></span>
										<span class="share"><i class="xi-share-alt-o"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">								
									<span class="state end">종료</span>
								</div>
								<span class="thumb">
									<img src="../../resources/img/board/noimage.jpg" alt="">
								</span>
								<span class="date">2021-12-03~2021-12-25</span>	
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<div class="etc_info">
									<span class="inst">기관명</span>
									<div class="opinion">
										<span class="view"><i class="xi-eye-o"></i><em>100+</em></span>
										<span class="share"><i class="xi-share-alt-o"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">								
									<span class="state end">종료</span>
								</div>
								<span class="thumb">
									<img src="../../resources/img/board/noimage.jpg" alt="">
								</span>
								<span class="date">2021-12-03~2021-12-25</span>	
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<div class="etc_info">
									<span class="inst">기관명</span>
									<div class="opinion">
										<span class="view"><i class="xi-eye-o"></i><em>100+</em></span>
										<span class="share"><i class="xi-share-alt-o"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">								
									<span class="state ing">진행</span>
									<span class="state party">참여</span>
								</div>
								<span class="thumb">
									<img src="../../resources/img/board/noimage.jpg" alt="">
								</span>
								<span class="date">2021-12-03~2021-12-25</span>	
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<div class="etc_info">
									<span class="inst">체육산업개발</span>
									<div class="opinion">
										<span class="view"><i class="xi-eye-o"></i><em>100+</em></span>
										<span class="share"><i class="xi-share-alt-o"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						
		
					</ul>
				</div>
				<!-- //card_list -->

				<div class="paging">
					<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
					<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
					<a href="" class="page_none page_now"><strong>1</strong></a>
					<a href="" class="page_none">2</a>
					<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
					<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
				</div>
			</div>
			<!-- //survey_party_list -->
				

		
			
			
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>