<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
	<!-- jquery ui CSS -->
	<link rel="stylesheet" href="../../resources/jquery/ui.core.css">
	<!-- jquery ui JS -->
	<script src="../../resources/jquery/jquery-ui.min.js"></script>
	<script>
		$(function () {
			$.datepicker.setDefaults({
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				dateFormat: 'yy/mm/dd',
				showMonthAfterYear: true,
				changeYear: true,
				changeMonth: true,
				yearRange: "c-100:c+10",
				showOn: 'both'
			});
			$("#sdate").datepicker({
				buttonText: '<i class="icon_calendar" title="시작일"></i>'
			});
			$("#edate").datepicker({
				buttonText: '<i class="icon_calendar" title="종료일"></i>'
			});
		});
	</script>
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li class="active"><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">정책제안</h3>

			<!-- 콘텐츠 시작 -->
			<div class="policy_proposal">
				<div class="box message_box">
					<div class="txt_wrap">
						<div class="major_message">
							<p class="main_txt">한국체육산업개발㈜의 운영 개선과 관련하여<br> 정책을 제안해주세요.</p>
						</div>
						<p>제안내용이 좋은 정책으로 이어질 수 있도록 댓글로 토론해주세요.<br> 30일 이내 30명 이상에게 공감을 얻은 제안은<br> 한국체육산업개발㈜에서 논의되어 협의를 통해 정책이 됩니다.</p>
					</div>
					<div class="img_wrap">
						<img src="../../resources/img/sub/s2_01_bg.png" alt="">
					</div>

				</div>
			

				<div class="dash_board">
					<a href="" class="all">
						<span class="mr20">전체</span>
						<strong>12,647건</strong>
					</a>
				
					<div class="row">
						<div class="col-sm-4">
							<div class="item item1">
								<div class="talk_step">
									<strong class="title">제안구체화</strong>
									<p>30명 이상 공감 회득시 다음단계로</p>
								</div>								
								<a href="" class="tit">
									<span>제안토론</span><strong>11,393건</strong>
								</a>
								<div class="cont">
									<a href="" class="white_box"><span>토론중</span><strong>473건</strong></a>
									<a href="" class="white_box"><span>토론 종료</span><strong>10920건</strong></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="item item2">
								<div class="talk_step">
									<strong class="title">채택 과제 고도화</strong>
									<p>각 부서 회의 국민모니터링단 회의</p>
								</div>								
								<a href="" class="tit">
									<span>제안숙성</span><strong>1,166건</strong>
								</a>
								<div class="cont">
									<a href="" class="white_box"><span>숙성중</span><strong>419건</strong></a>
									<a href="" class="white_box"><span>숙성 종료</span><strong>747건</strong></a>
								</div>
							</div>							
						</div>
						<div class="col-sm-4">
							<div class="item item3">
								<div class="talk_step">
									<strong class="title">정책 제안 반영</strong>
									<p>정책 반영 전체회의</p>
								</div>								
								<a href="" class="tit">
									<span>정책반영</span>
								</a>
								<div class="cont">
									<a href="" class="white_box w100"><strong>88건</strong></a>
								</div>
							</div>							
						</div>
					</div>
					<!-- //row -->
				</div>
				<!-- //대쉬보드 -->
				<ul class="link_tabs">
					<li class="item1 active">
						<a href="" title="선택된 탭메뉴">
							<i aria-hidden="true"></i>
							<em>시설운영</em>
						</a>
					</li>
					<li class="item2">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>대관예약</em>
						</a>
					</li>
					<li class="item3">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>올림픽공원</em>
						</a>
					</li>
					<li class="item4">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>미사경정공원</em>
						</a>
					</li>
					<li class="item5">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>스포츠센터</em>
						</a>
					</li>
					<li class="item6">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>평생교육원</em>
						</a>
					</li>
					<li class="item7">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>지샘터 올림픽<br>공원도서관</em>
						</a>
					</li>
					<li class="item8">
						<a href="" title="비활성 탭메뉴">
							<i aria-hidden="true"></i>
							<em>기타</em>
						</a>
					</li>
				</ul>
				<div class="box blue_box round board_detail_search">
					<form class="board_search">
						<div class="row">
							<div class="col-sm-6 form-row proposal_date">
								<strong class="form-label">제안일</strong>
								<div class="form-group">
									<input type="text" name="sdate" id="sdate" value="2019/04/02" maxlength="10" title="시작일을 입력하세요."
										class="form-control input_date">
									<span class="form-term"> - </span>
									<input type="text" name="edate" id="edate" value="2019/04/02" maxlength="10" title="종료일을 입력하세요."
										class="form-control input_date">
								</div>	
							</div>						
							<div class="col-sm-6 form-row proposal_if">
								<strong class="form-label">검색조건</strong>
								<div class="form-group">
									<select class="form-select mr20" title="검색분류선택">
										<option value="all">전체</option>
										<option value="title">제목</option>
										<option value="regNm">등록자</option>
										<option value="regDttm">등록일자</option>
									</select>
									<input type="text" class="form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</div>
							</div>
						</div>
					</form>
					<div class="btns">
						<button class="btn btn_md type5">지금 제안하기</button>
					</div>
					<p>정책화는 제안에 따라 프로세스 및 기간이 상이 할 수 있습니다.<br> 추진 경과에 따라 담당자가 댓글로 안내해 드리겠습니다.</p>
				</div>				
				<div class="board_info">
					<div class="page_info">
						국민이 주신 제안을 소중히 하겠습니다. 타인의 제안도 소중하게 존중해주세요.
					</div>						
					<div class="board_sort">
						<a href="" class="active">최신순</a>
						<a href="">조회순</a>
						<a href="">댓글순</a>
					</div>
				</div>
				<!--
					종류(kind)
					s1 : 시설운영
					s2 : 대관예약
					s3 : 올림픽공원
					s4 : 미사경정공원
					s5 : 스포츠센터
					s6 : 평생교육원 
					s7 : 지샘터올림픽공원도서관
					s8 : 기타
					
					상태(state)
					ing1 : 토론중
					ing2 : 숙성중
					ing3 : 과제추진중
					end : 토론종료, 숙성종료, 추진완료
				-->
				<div class="card_list col3 qna">
					<ul class="list_ul">
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s1">시설운영</strong>
									<span class="state ing1">토론중</span>
								</div>
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s8">기타</strong>
									<span class="state end">토론종료</span>
								</div>
								<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s2">대관예약</strong>
									<span class="state ing2">숙성중</span>
								</div>
								<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s3">올림픽공원</strong>
									<span class="state end">숙성종료</span>
								</div>
								<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s4">미사경정공원</strong>
									<span class="state end">추진완료</span>
								</div>
								<strong class="title"><i class="icon_lock" aria-hidden="true"></i>테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s5">스포츠센터</strong>
									<span class="state ing3">과제추진중</span>
								</div>
								<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s6">평생교육원</strong>
									<span class="state ing1">토론중</span>
								</div>
								<strong class="title">긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게 긍정적인 선한 일반 행정직 공무원 생활에 도움이 되는 좋은 게  </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s7">지샘터올림픽<br>공원도서관</strong>
									<span class="state end">토론종료</span>
								</div>
								<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
						<li class="list_li">
							<a href="" class="item">
								<div class="type">
									<strong class="kind s5">스포츠센터</strong>
									<span class="state ing2">숙성중</span>
								</div>
								<strong class="title">테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장 예약취소 신청 24시간 되도록 변경바랍니다. 테니스장
									예약취소 신청 24시간 되도록 변경바랍니다. </strong>
								<p class="cont">일반 행정직 공무원이 되어 국가에 선한 긍정적인 영향을 주고 싶어서 행정직 공무원 시험 준비하는 한 대학생입니다. 일반 행정직 시험 준비 이외에 잘 하면 좋은</p>
								<div class="writer"><i class="xi-user-o"></i>신사임당(고흥군)</div>	
								<div class="etc_info">
									<span class="date">2018-01-19</span>
									<div class="opinion">
										<span class="like"><i class="xi-thumbs-up"></i><em>100+</em></span>
										<span class="reply"><i class="xi-forum"></i><em>100+</em></span>
									</div>
								</div>
							</a>
						</li>
		
					</ul>
				</div>
				<!-- //card_list -->

				<div class="paging">
					<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
					<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
					<a href="" class="page_none page_now"><strong>1</strong></a>
					<a href="" class="page_none">2</a>
					<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
					<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
				</div>

			</div>
			<!-- //public_commnunication -->
			
			
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>