<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>	
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li class="active"><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li><a href="s2_01.html">정책제안</a></li>
								<li class="active"><a href="s2_01_02.html">설문참여</a></li>
								<li><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">설문참여</h3>

			<!-- 콘텐츠 시작 -->
			<div class="survey_party_form">
				<div class="board_view">
					<h4 class="title board_title">바다를 위협하는 건 누구? 해양환경 오염의 원인은?</h4>
					<ul class="head">
						<li class="writer"><strong>참여자수</strong><span>229</span></li>
						<li class="down"><strong>공유</strong><span>5</span></li>
					</ul>	
					

					<div class="desc">
						<p>
						지구 표면의 71%를 차지하는 바다는 인류 생존과 번영을 위한 필수공간이다.<br>
						최근 지구온난화에 따른 기후변화와 해양 플라스틱 쓰레기 등 해양환경 문제에 대한 관심이 증가하고 있습니다.<br>
						무궁화2호에서는 국민들이 생각하는 해양환경 오염의 원인과 관심도에 대한 설문조사를 실시하고자 합니다.
						</p>
					</div>				
						
					<div class="survey_party_area">	
						
							
							<div id="item_1" class="qustion_item">
								<h2 class="item_title">
									<em class="number">1</em> <i class="icon-star">*</i>단일선택으로 생성된 문항입니다. 당신이 가장 결혼하고 싶은 사람은? 유부남도 선택가능합니다. <small>(0)sec</small>
								</h2>
								<ul class="item_content">
									<li>
										<span class="custom-input"><input type="radio" name="q_1" id="q1_1"><label for="q1_1">아이유</label></span>
									</li>
									<li>
										<span class="custom-input"><input type="radio" name="q_1" id="q1_2"><label for="q1_2">아이린</label></span>
									</li>
									<li>
										<span class="custom-input"><input type="radio" name="q_1" id="q1_3"><label for="q1_3">지금여자친구</label></span>
									</li>
									<li>
										<span class="custom-input"><input type="radio" name="q_1" id="q1_4"><label for="q1_4">플랜아이유</label></span>
									</li>
								</ul>
							</div>
							<!-- //question_item -->
							<div id="item_2" class="qustion_item">
								<h2 class="item_title">
									<em class="number">2</em> <i class="icon-star">*</i>다중선택으로 생성된 문항입니다. 방이동 맛집을 2개이상 고르세요 <small>(0)sec</small>
								</h2>
								<ul class="item_content">
									<li>
										<span class="custom-input"><input type="checkbox" id="q2_1"><label for="q2_1">청와옥</label></span>
									</li>
									<li>
										<span class="custom-input"><input type="checkbox" id="q2_2"><label for="q2_2">방이껍데기</label></span>
									</li>
									<li>									
										<span class="custom-input"><input type="checkbox" id="q2_3"><label for="q2_3">방이손칼국수</label></span>
									</li>	
									<li>
										<span class="custom-input"><input type="checkbox" id="q2_4"><label for="q2_4">장인미역</label></span>
									</li>
									<li>
										<span class="custom-input"><input type="checkbox" id="q2_5"><label for="q2_5">기타</label></span>
										<input type="text">
									</li>
								</ul>
							</div>
							<!-- //question_item -->
							<div id="item_3" class="qustion_item">
								<h2 class="item_title">
									<em class="number">3</em> <i class="icon-star">*</i>1번 문항의 답을 선택한 이유에 대해 상세히 기술하세요 <small>(0)sec</small>
								</h2>
								<div class="item_content">
									<textarea class="form-control" rows="10"></textarea>
								</div>
							</div>
							<!-- //question_item -->
							<div id="item_4" class="qustion_item">
								<h2 class="item_title">
									<em class="number">4</em> <i class="icon-star">*</i>매트릭스 유형으로 다음사항에 대한 만족도를 체크해 주세요. <small>(0)sec</small>
								</h2>
								<div class="item_content table responsive">
									<table class="board_list2 txt_center">
										<colgroup>
											<col>
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											<col style="width:7%">
											
										</colgroup>
										<tbody>							
											<tr>
												<th></th>
												<th>매우불만족</th>
												<th>불만족</th>
												<th>보통</th>
												<th>만족</th>
												<th>매우만족</th>
												<th>매우만족</th>
												<th>매우만족</th>
												<th>매우만족</th>
												<th>매우만족</th>
												<th>매우만족</th>
												<th>매우만족</th>
											</tr>
											<tr>
												<td class="txt_left">교육콘텐츠의 내용이 이해하기 쉬웠습니까?</td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_1"><i></i></label></td>
											</tr>
											<tr>
												<td class="txt_left">교육장소의 청소상태나 교육여건은 나이스했나요?</td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>	
												<td><label class="custom-input"><input type="radio" name="q4_2"><i></i></label></td>	
											</tr>
											<tr>
												<td class="txt_left">강사는 이뻤나요?</td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
												<td><label class="custom-input"><input type="radio" name="q4_3"><i></i></label></td>
											</tr>		
										</tbody>
									</table>
								</div>
							</div>
							<!-- //question_item -->
			
							<div id="item_5" class="qustion_item">
								<h2 class="item_title">
									<em class="number">5</em> <i class="icon-star">*</i>문항유형 중 만족도는 <small>(0)sec</small>
								</h2>
								<ul class="item_content flex">
									<!-- //보기유형 한줄보기 체크시 flex클래스 추가 -->
									<li>
										<label class="custom-input"><input type="radio" name="q5"><i></i><span>매우 좋다</span></label>
									</li>
									<li>
										<label class="custom-input"><input type="radio" name="q5"><i></i><span>좋은편이다</span></label>
									</li>
									<li>
										<label class="custom-input"><input type="radio" name="q5"><i></i><span>보통이다</span></label>
									</li>
									<li>
										<label class="custom-input"><input type="radio" name="q5"><i></i><span>나쁜편이다</span></label>
									</li>
									<li>
										<label class="custom-input"><input type="radio" name="q5"><i></i><span>매우 나쁜편이다</span></label>
									</li>
								</ul>
							</div>
							<!-- //question_item -->
							<div class="btns">
								<button type="button" class="btn btn_md type5">제출하기</button>
							</div>
						
					</div>
					<!--//survey_party_area  -->	
					
									
				</div>
				<!-- //board_view -->
				<div class="btns">
					<button type="button" onclick="goList(); return false;" class="btn btn_md gray2">목록</button>
				</div>	

			</div>	
			<!-- //survey_party_form -->
			
			
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>