<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub2">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">국민참여</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s2_01.html">국민소통</a>
							<ul class="depth3">
								<li><a href="s2_01.html">정책제안</a></li>
								<li><a href="s2_01_02.html">설문참여</a></li>
								<li><a href="s2_01_03.html">공모참여</a></li>
							</ul>
						</li>
						<li class="active"><a href="s2_02.html">고객광장</a>
							<ul class="depth3">
								<li><a href="s2_02.html">고객서비스헌장</a></li>
								<li class="active"><a href="s2_02_02.html">전자민원</a></li>
								<li><a href="s2_02_03.html">고객의 소리</a></li>
								<li><a href="s2_02_04.html">고객 모니터링단</a></li>
							</ul>
						</li>
						<li><a href="s2_03.html">E-클린센터</a>
							<ul class="depth3">
								<li><a href="s2_03.html">부조리 신고센터</a></li>
								<li><a href="s2_03_02.html">클린신고센터</a></li>
								<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
								<li><a href="s2_03_04.html">공익신고 안내</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">전자민원</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="electonic_complaint">
				<h4>전자민원센터 Center</h4>
				<p class="sub_text">안녕하십니까, <strong>한국체육산업개발(주) 전자민원센터 입니다.</strong></p>
				<p>이곳 전자민원센터는 고객 여러분의 의견을 보다 신중하고 정확하게 처리하기 위하여 <strong>국민체육진흥공단 <br>감사실</strong>에서 통합 운영합니다. <br>
				이곳에 게시되는 민원사항은 일차적으로 감사실의 검토를 거쳐 담당부서에 이관되어 처리되며, <strong>처리결과</strong>는 <br>고객께서 평가하실 수 있습니다.</p>
				<p>운영본부간 근무일이 달라 처리시간이 다소 지연되더라도 널리 양해해 주시기 바랍니다.<br>
					<strong>고객 한분 한분의 소리를 최우선으로 생각</strong>하는 한국체육산업개발(주)가 되겠습니다.</p>
				<p>감사합니다.</p>	
			</div>
			<div class="btns mt40">
				<a href="http://www.kspo.or.kr/kspo/main/contents.do?menuNo=200006" class="btn type3 btn_md" target="_blank"><span>전자민원 신청</span></a>
			</div>
	

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>