<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub2">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
					<div class="snb">
						<h2 class="title">국민참여</h2>
						<nav class="nav">
							<ul class="depth2">
								<li><a href="s2_01.html">국민소통</a>
									<ul class="depth3">
										<li><a href="s2_01.html">정책제안</a></li>
										<li><a href="s2_01_02.html">설문참여</a></li>
										<li><a href="s2_01_03.html">공모참여</a></li>
									</ul>
								</li>
								<li><a href="s2_02.html">고객광장</a>
									<ul class="depth3">
										<li><a href="s2_02.html">고객서비스헌장</a></li>
										<li><a href="s2_02_02.html">전자민원</a></li>
										<li><a href="s2_02_03.html">고객의 소리</a></li>
										<li><a href="s2_02_04.html">고객 모니터링단</a></li>
									</ul>
								</li>
								<li class="active"><a href="s2_03.html">E-클린센터</a>
									<ul class="depth3">
										<li><a href="s2_03.html">부조리 신고센터</a></li>
										<li class="active"><a href="s2_03_02.html">클린신고센터</a></li>
										<li><a href="s2_03_03.html">청탁금지 위반신고</a></li>
										<li><a href="s2_03_04.html">공익신고 안내</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
		
				</section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">클린신고센터</h3>
					
				

					<!-- 콘텐츠 시작 -->
					<div class="box message_box">
						<ul class="list_sdot">
							<li>무기명으로 부조리 신고를 원하시는 분은 이름, 메일주소, 휴대폰번호 등을 입력하지 않으셔도 됩니다.</li>
							<li>부조리 신고 회신을 원하시면 메일주소나 휴대폰번호를 입력바랍니다.</li>
							<li><p class="icon_note">는 필수사항입니다.</p></li>
						</ul>
					</div>

					<div class="board">
						<ul class="write_form">
							
							<li>
								<div class="row">
									<strong class="col-sm-2 th">작성자</strong>
									<div class="col-sm-10 td">
										<input type="text" class="form-control" name="m_name" readonly="readonly" value="홍길동" maxlength="12" title="작성자">
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">구분</strong>
									<div class="col-sm-10 td form-row">
										<ul class="form-inline custom-input mt5 mb5">
											<li><input type="radio" id="outCustomer" name="customer" value="" title="외부고객 선택"><label for="outCustomer">외부고객</label></li>
											<li><input type="radio" id="inCustomer" name="customer" value="" title="내부직원 선택"><label for="inCustomer">내부직원</label></li>
										</ul>
									</div>
								</div>
							</li>
							
							
							<li>
								<div class="row">
									<strong class="col-sm-2 th">이메일</strong>
									<div class="col-sm-10 td">
										<div class="form-inline">
											<input class="form-control w30" type="text" name="" value="" title="이메일 아이디를 입력하세요"> 
											<span class="form-term">@</span>
											<input class="form-control w30" type="text" name="" value="" title="이메일 주소를 입력하세요">
											<select class="form-select ml20" title="이메일 주소를 선택하세요">
												<option value="-">직접입력</option>
												<option value="-">naver.com</option>
												<option value="-">daum.net</option>
												<option value="-">gmail.com</option>
												<option value="-">nate.com</option>
											</select>
										</div>
										<p class="note">*처리결과 수신을 원치 않으면 입력하지 않으셔도 됩니다.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">휴대폰번호</strong>
									<div class="col-sm-10 td">
										<div class="form-inline">
											<select class="form-select" title="휴대폰번호를  첫번째 자리를 선택하세요">
												<option value="-">010</option>
												<option value="-">011</option>
												<option value="-">016</option>
												<option value="-">019</option>		
											</select>	
											<span class="form-term">-</span>
											<input class="form-control w30" type="text" name="title" value="" title="휴대폰번호를  두번째 자리를 입력하세요">
											<span class="form-term">-</span>
											<input class="form-control w30" type="text" name="title" value="" title="휴대폰번호를  세번째 자리를 입력하세요">
											
										</div>
										<p class="note">*휴대폰 문자서비스로 처리결과를 받기를 원하시면 입력해 주세요. 예)01012345678</p>
										
									</div>
								</div>
							</li>	
							<li>
								<div class="row">
									<strong class="col-sm-2 th">제목<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<input class="form-control" type="text" name="title" value="" title="제목을 입력하세요" placeholder="제목을 입력하세요.">
									</div>
								</div>
							</li>						
						
							<li>
								<div class="row">
									<strong class="col-sm-2 th">내용<i class="icon_star" aria-hidden="true"><span class="sr-only">필수입력</span></i></strong>
									<div class="col-sm-10 td form-row">
										<textarea name="content" rows="10" title="내용을 입력하세요" class="content form-control"></textarea>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<strong class="col-sm-2 th">파일첨부</strong>
									<div class="col-sm-10 td form-row">
										<ul class="add_file">
											<li class="attach">
												<button type="button" class="input_file"><i aria-hidden="true"></i>파일첨부</button>								
												<p class="help_note"><span>jpg, gif, png</span>파일만 가능합니다.
													업로드 용량제한 <span>5MB</span></p>
											</li>
											<li>
												<a href="#" class="file_down">
													<img src="../img/board/file_doc.png" alt="">
													<span class="text">첨부파일명마우스오버 시.doc</span>
													<span class="file_size">(6KB)</span>
												</a>
												<button type="button" class="file_delete"><span>삭제하기</span><i class="xi-close-min" aria-hidden="true"></i></button>
											</li>
											<li>
												<a href="#" class="file_down">
													<img src="../img/board/file_img.png" alt="">
													<span class="text">154873973477000.jpg</span>
													<span class="file_size">(6KB)</span>
												</a>
												<button type="button" class="file_delete"><span>삭제하기</span><i class="xi-close-min" aria-hidden="true"></i></button>
											</li>
										</ul>
									</div>
								</div>
							</li>						
						</ul>
						<p class="icon_note">개인정보보호를 위해 <em class="point">주민번호, 여권번호</em> 등의 개인정보는 내용에 등록을 삼가하시기 바랍니다.</p>
						<!-- //write_form -->
		
						<h4 class="title_h3">개인정보 수집ㆍ이용 동의</h4>
						<div class="box agree_personal_info">
							<p><strong>한국체육산업개발(주)는 개인정보보호법, 정보통신망 이용 촉진 및 정보보호 등에 관한 법률 등 관련 법령상의 개인정보보호 규정을 준수하며, 고객의 개인정보보호에 최선을 다하고 있습니다.<br>
							한국체육산업개발(주)는 법령의 규정과 정보주체의 동의에 의해서만 개인정보를 수집·보유합니다. 한국체육산업개발(주)는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용목적이 변경될 경우에는 사전 동의를 
							구하겠습니다.</strong></p>
							<ul class="list_dot lightly mt10">
								<li>개인정보의 수집 및 이용 목적 : 클린신고 처리결과 통보</li>
								<li>수집하는 개인정보의 항목 : (선택항목) 작성자, 이메일, 휴대폰번호</li>
								<li>개인정보의 보유 및 이용기간 : <strong>신고사무 처리의 종료시까지</strong></li>
								<li>개인정보 제공에 동의를 거부하실 수 있으며, 거부 시 처리결과를 제공하지 않습니다.</li>
							</ul>
						</div>
						<div class="terms_agree">                        
							<span class="custom-input">
								<input type="radio" name="agree3" id="agree3Y">
								<label for="agree3Y">동의</label>
							</span>                    
							<span class="custom-input">
								<input type="radio" name="agree3" id="agree3N">
								<label for="agree3N">동의하지않음</label>
							</span>                        
						</div>
						<div class="btn_area">
							<button type="button" class="btn">취소</button>
							<button type="button" onclick="ins('ins'); return false;" class="btn_submit btn">등록</button>
						</div>
				
					</div>
	
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>