<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub3">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">알림·홍보</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s3_01.html">공지사항</a></li>
								<li><a href="s3_02.html">보도자료</a></li>
								<li><a href="s3_03.html">사진뉴스</a></li>
								<li><a href="s3_04.html">입찰공고</a></li>
								<li><a href="s3_05.html">협력기관</a></li>
								<li><a href="s3_06.html">역대수상 및 인증기록</a></li>
								<li><a href="s3_07.html">홍보동영상</a></li>
								<li class="active"><a href="s3_08.html">웹진</a>
									<ul class="depth3">
										<li><a href="s3_08.html">경영백서</a></li>
										<li class="active"><a href="s3_08_02.html">체육산업 TALK</a></li>
									</ul>
								</li>
								<li><a href="s3_09.html">자주묻는질문</a></li>					
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">체육산업 talk</h3>

					<!-- 콘텐츠 시작 -->
					<div class="bod_webzine_preview">
						<div class="row no-gutters">
							<a href="bod_thumb_view.html" class="book_cover col-sm-4">
								<span class="thumb">
									<img src="../../resources/img/sub/s3_08_02_cover.jpg" alt="">
								</span>
							</a>
							<div class="book_index col-sm-8">
								<strong class="title">체육산업 talk vol.14 가을</strong>
								<ol>
									<li>4p --- 코로나19 확산차단을 위한 사업장 특별점검 실시</li>
									<li>5p --- 올림픽공원 우리금융아트홀, 어드벤처 발레 [피터팬] 개최</li>
									<li>6p --- 폭염 속 코로나19 선별진료소 의료진에게 시원함을 전해</li>
									<li>8p --- 지역사회 어르신들 무더위 극복 여름 보양식 전달</li>
									<li>10p --- 지샘터 올림픽공원도서관, '도서관 지혜학교' 운영</li>
									<li>11p --- 2020 도쿄패럴림픽 선수단 응원 이벤트</li>
									<li>12p --- 취약계층 주거환경개선 재능기부에 나서</li>
									<li>13p --- 출근길 함께하는 청렴캠페인 실시</li>
									<li>14p --- 체육계 기관 순회 공동 청렴캠페인</li>
									<li>15p --- 2021 국가안전대진단</li>
									<li>16p --- 추석맞이 선물보따리로 이웃에게 나눔 실천</li>
									<li>18p --- 2020 도쿄패럴림픽 파이팅런 기부금 전달</li>
								</ol>
								<a href="" class="btn">경영백서 바로보기<i class="xi-angle-right-min ml30"></i></a>
								<!--<div class="link_wrap">
									<span class="sns">
										<a href="https://www.facebook.com/" target="_blank"><span
												class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
										<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
												class="xi-twitter"></i></a>
										<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
												class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
									</span>
									<a href="" target="_blank" title="새창열림" class="view"><i
											class="icon_arrow_right"></i></a>
								</div> //link_wrap -->
							</div><!-- //book_hover -->
						</div><!-- //item -->
					</div>
					<div class="board">

						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<form class="board_search">
								<fieldset class="form-row">
									<legend class="sr-only">게시글 검색</legend>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="all">전체</option>
										<option value="title">제목</option>
										<option value="regNm">등록자</option>
										<option value="regDttm">등록일자</option>
									</select>
									<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</fieldset>
							</form>
						</div>
						<!-- //board_info -->
				
						<div class="card_list book_style">
							<ul class="list_ul">
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">2019<br>새로운 도약, 국민의 행복을 향한 도전</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
								<li class="list_li">
									<div class="item">
										<a href="bod_thumb_view.html">
											<span class="thumb">
												<img src="../../resources/img/board/book_1.jpg" alt="">
											</span>
										</a>
										<div class="book_hover">
											<strong class="title">웹진2020</strong>
											<div class="link_wrap">
												<span class="sns">
													<a href="https://www.facebook.com/" target="_blank"><span
															class="sr-only">페이스북</span><i class="xi-facebook"></i></a>
													<a href="https://twitter.com/" target="_blank"><span class="sr-only">트위터</span><i
															class="xi-twitter"></i></a>
													<a href="https://accounts.kakao.com/login/kakaostory" target="_blank"><span
															class="sr-only">카카오톡</span><i class="xi-kakaotalk"></i></a>
												</span>
												<a href="" target="_blank" title="새창열림" class="view"><i
														class="icon_arrow_right"></i></a>
											</div><!-- //link_wrap -->
										</div><!-- //book_hover -->
									</div><!-- //item -->
								</li>
				
							</ul>
						</div>
						<!-- //galleryList -->
				
						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->
				
				
					</div>
					<!--//board-->
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>