<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li class="active"><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">대관요율표</h3>

					<nav class="depth4">
						<ul class="list">
							<li><a href="s4_05_04.html">올림픽공원 경기장시설 및 옥외시설</a></li>
							<li><a href="s4_05_04_02.html">올림픽홀</a></li>
							<li><a href="s4_05_04_03.html">우리금융아트홀</a></li>
							<li><a href="s4_05_04_04.html">미사경정공원</a></li>
							<li class="active"><a href="s4_05_04_05.html">집기/비품.광고요율표</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3">집기 · 비품, 광고 요율표</h4>
					
					
					<!-- list -->
					<div class="table responsive">
						<table>
							<caption>구분[집기·비품/광고] / 산출내역 / 비고</caption>
							<colgroup>
								<col class="w20">
								<col>
								<col class="w40">
							</colgroup>                     
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">산출내역</th>
									<th scope="col" class="none">비고</th>
								</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">집기·비품</th>
										<td class="left">- 플라스틱 의자(1일 기준)<br>
										  <span style="margin-left:10px;">· 의자만 대여시 : 400원/1개</span><br>
										  <span style="margin-left:10px;">· 의자 및 설치, 철거 인력제공시 : 700원/1개</span><br>
										  - 스텐재질 의자 (1일 기준)<br>
										  <span style="margin-left:10px;">· 의자만 대여시 : 1,000원/1개</span><br>
										  <span style="margin-left:10px;">· 의자 및 설치, 철거 인력제공시 : 2,000원/1개</span></td>
									  <td class="left none">1일 추가사용시 100원 가산/개당</td>
									</tr>
									<tr>
										<th scope="row">광고</th>
										<td class="left">- 부양광고물(애드벌룬 등) : 50,000원/1개, 1회<br>
										  - 배너(1매 기준) : 5,000원/1일<br>
										  - 아 &nbsp; 취 : 400,000원/1개, 1회<br>
										  - 선전탑 : 200,000원/1개, 1회<br>
										  - A보드 : 70,000원/1개, 1회<br>
										  - 현 &nbsp; 판 : 100,000원/1개, 1회<br>
										  - 현수막(15㎡미만) : 20,000원/1개, 1일<br>
										  - 현수막(15㎡이상) : 30,000원/1개, 1일</td>
										<td class="left none">- 대관행사장에 설치할 경우 영리목적의 광고문안,<br><span style="margin-left:8px;">협찬사 명기시만 징수(체육행사시 현수막 3개까지</span><br><span style="margin-left:8px;">면제)</span><br>
										  - 대관행사장외 지역에 설치할 경우 광고문안, 협찬사<br><span style="margin-left:8px;">명기와 관계없이 징수</span><br>
										  <span style="margin-left:10px;">※ 규정 제5조(대관행사구분) 제1호에 적용되는</span><br><span style="margin-left:18px;"> 체육행사의 경우 광고료 50% 할인</span><br>
										  - 광고물 설치시 신청서를 작성, 승인을 득한 후 설치</td>
									</tr>	
									</tbody>
						</table>
					</div>
					<!-- list end -->
					<div class="box round">
						<p class="icon_note">부가가치세 별도</p>						
					</div>					
					

					<div class="btns mt50">
						<a href="../../resources/download/rental_form_a02.hwp" class="btn">대관행사 광고물 설치신청서 및 변경신청서 <i class="xi-download ml10"></i></a>
					</div>

					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>