<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li class="active"><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">올림픽공원 대관시설</h3>

					<nav class="depth4">
						<ul class="list">
							<li><a href="s4_05_06.html">KSPO DOME</a></li>
							<li><a href="s4_05_06_02.html">SK핸드볼경기장</a></li>
							<li><a href="s4_05_06_03.html">우리금융아트홀</a></li>
							<li><a href="s4_05_06_04.html">올림픽홀</a></li>
							<li><a href="s4_05_06_05.html">뮤즈라이브</a></li>
							<li><a href="s4_05_06_06.html">테니스장</a></li>
							<li><a href="s4_05_06_07.html">올림픽수영장</a></li>
							<li><a href="s4_05_06_08.html">벨로드롬</a></li>
							<li class="active"><a href="s4_05_06_09.html">옥외시설</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<div class="olpark_rental_facility">
						<div class="row mb50">
							<div class="col-sm-6">
								<img src="../../resources/img/sub/s4_05_06_09_thumb1.jpg" alt="">
							</div>
							<div class="txt col-sm-6 major_message">
								<h4 class="main_txt">평화의 광장</h4>
								<p class="sub_txt">88서울올림픽대회 상징조형물인 높이 24m의 세계평화의 문이 우뚝 서있는 평화의 광장</p>
								<p>약 28,000㎡ 규모의 넓은 대리석 광장으로 주변에 올림픽프라자, 수변무대 등이 인접하고 있으며 지하철 8호선 몽촌토성역이 광장 입구에 위치하고 있어서 대중교통 이용이 매우 편리합니다.</p>
								<ul class="list_dash">
									<li>면 적 : 약 28,000㎡</li>
									<li>용 도 : 기념행사, 야외공연, 건강달리기대회, CF촬영 등</li>
								</ul>
								<a href="" class="btn btn_map_view">지도보기<i class="xi-map-o"></i></a>
							</div>
						</div>
						<div class="row mb50">
							<div class="col-sm-6">
								<img src="../../resources/img/sub/s4_05_06_09_thumb2.jpg" alt="">
							</div>
							<div class="txt col-sm-6 major_message">
								<h4 class="main_txt">88마당</h4>
								<p class="sub_txt">88잔디마당은 약 33,000㎡ 규모의 넓은 잔디광장</p>
								<p>전통 민속놀이가 가능하며 중앙에는 노천무대가 있어 대규모 야외공연 등을 할 수 있으며, 주변의 느티나무숲은 가족단위의 휴식공간을 제공하고 있습니다.</p>
								<ul class="list_dash">
									<li>면 적 : 약 33,000㎡</li>
									<li>용 도 : 대형 콘서트, 어린이 사생대회 등</li>
								</ul>
								<a href="" class="btn btn_map_view">지도보기<i class="xi-map-o"></i></a>
							</div>
						</div>
						<div class="row mb50">
							<div class="col-sm-6">
								<img src="../../resources/img/sub/s4_05_06_09_thumb3.jpg" alt="">
							</div>
							<div class="txt col-sm-6 major_message">
								<h4 class="main_txt">한얼광장</h4>
								<p class="sub_txt">동1문 만남의 광장과 연결되어 있는 광장</p>
								<p>제1 · 2체육관 사이에 위치하고 있어 체육관과 연계한 행사 등에 이용하시기에 아주 좋습니다.</p>
								<ul class="list_dash">
									<li>면 적 : 약 12,000㎡</li>
									<li>용 도 : 건강달리기 대회, 소규모 이벤트, 체육관 연계행사 등</li>
								</ul>
								<a href="" class="btn btn_map_view">지도보기<i class="xi-map-o"></i></a>
							</div>
						</div>
						<div class="row mb50">
							<div class="col-sm-6">
								<img src="../../resources/img/sub/s4_05_06_09_thumb4.jpg" alt="">
							</div>
							<div class="txt col-sm-6 major_message">
								<h4 class="main_txt">만남의 광장</h4>
								<p class="sub_txt">직사각 형태로 길게 뻗은 만남의 광장은 양쪽에 울창한 가로수와 식당, 편의점 등 편의시설이 골고루 갖추어져 있어서 행사를 진행하기에 편리한 장소</p>
								<p>지하철 5호선 올림픽공원역이 바로 옆에 위치하고있어 대중교통 이용이 편리합니다.</p>
								<ul class="list_dash">
									<li>면 적 : 약 10,700㎡</li>
									<li>용 도 : 기념행사, 박람회, 길거리농구대회, CF촬영 등</li>
								</ul>
								<a href="" class="btn btn_map_view">지도보기<i class="xi-map-o"></i></a>
							</div>
						</div>
						<div class="row mb50">
							<div class="col-sm-6">
								<img src="../../resources/img/sub/s4_05_06_09_thumb5.jpg" alt="">
							</div>
							<div class="txt col-sm-6 major_message">
								<h4 class="main_txt">피크닉 광장</h4>
								<p class="sub_txt">자연경관이 잘 조성된 도심속의 휴식공간</p>
								
								<p>올림픽공원을 방문하는 많은 유아원생들의 놀이장소로 각광받는 곳입니다.</p>
								<ul class="list_dash">
									<li>면 적 : 약 5,950㎡</li>
									<li>용 도 : 어린이 · 청소년 소풍, 사생대회 등</li>
								</ul>
								<a href="" class="btn btn_map_view">지도보기<i class="xi-map-o"></i></a>
							</div>
						</div>
						<div class="row mb50">
							<div class="col-sm-6">
								<img src="../../resources/img/sub/s4_05_06_09_thumb6.jpg" alt="">
							</div>
							<div class="txt col-sm-6 major_message">
								<h4 class="main_txt">수변무대</h4>
								<p class="mb30">몽촌해자 · 88호수 수변무대는 모든 주변의 뛰어난 경관을 배경으로 야외공연 연주회장, CF촬영 등 다양한 행사장으로 각광을 받고 있습니다.</p>
								<strong>몽촌해자</strong>
								<ul class="list_dash mt10 mb20">
									<li>면 적 : 약 10,700㎡</li>
									<li>용 도 : 기념행사, 박람회, 길거리농구대회, CF촬영 등</li>
								</ul>
								<strong>88호수</strong>
								<ul class="list_dash mt10">
									<li>면 적 : 약 1.000석(계단식 스탠드)</li>
									<li>용 도 : 야외공연장, CF촬영 등</li>
								</ul>
								<a href="" class="btn btn_map_view">지도보기<i class="xi-map-o"></i></a>
							</div>
						</div>
						
						<h4 class="title_h3">기본대관료</h4>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>장소명[평화의광장,88마당,88호수 수변무대, 한얼광장, 피크닉광장, 만남의 광장,몽촌해자 수변무대, 기타 옥외시설]/요일/공공문화예술행사(오전,오후,야간/심야)/일반행사(오전,오후,야간/심야) 항목에 관한 표입니다.</caption>
								<colgroup>
									<col width="*">
									<col width="15%">
									<col width="9%">
									<col width="9%">
									<col width="9%">
									<col width="9%">
									<col width="9%">
									<col width="9%">
									<col width="9%">
									<col width="9%">
							</colgroup>
							<thead>
								<tr>
										<th rowspan="2" scope="col">장소명</th>
										<th rowspan="2" scope="col">요일</th>
										<th colspan="4" scope="col">공공·문화예술행사</th>
										<th colspan="4" scope="col" class="none">일반행사</th>
								</tr>
								<tr>
									<th scope="col">오전</th>
									<th scope="col">오후</th>
									<th scope="col">야간</th>
									<th scope="col">심야</th>
									<th scope="col">오전</th>
									<th scope="col">오후</th>
									<th scope="col">야간</th>
									<th scope="col" class="none">심야</th>
								</tr>
								</thead>
								<tbody>
									<tr>
											<th rowspan="2" scope="row">평화의광장</th>
											<td>평일</td>
											<td>393,000</td>
											<td>393,000</td>
											<td>512,000</td>
											<td>512,000</td>
											<td>512,000</td>
											<td>512,000</td>
											<td>664,000</td>
											<td class="none">664,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>512,000</td>
											<td>512,000</td>
											<td>664,000</td>
											<td>664,000</td>
											<td>664,000</td>
											<td>664,000</td>
											<td>864,000</td>
											<td class="none">864,000</td>
									</tr>
									<tr>
										<th rowspan="2" scope="row">88 마당</th>
										<td>평일</td>
										<td colspan="4">3,120,000</td>
										<td colspan="4" class="none">3,900,000</td>
									</tr>
									<tr>
										<td>토,일,공휴일</td>
										<td colspan="4">4,056,000</td>
										<td colspan="4" class="none">5,070,000</td>
									</tr>
									<tr>
											<th rowspan="2" scope="row">88호수<br>수변무대</th>
											<td>평일</td>
											<td>156,000</td>
											<td>156,000</td>
											<td>203,000</td>
											<td>203,000</td>
											<td>223,000</td>
											<td>223,000</td>
											<td>290,000</td>
											<td class="none">290,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>203,000</td>
											<td>203,000</td>
											<td>264,000</td>
											<td>264,000</td>
											<td>290,000</td>
											<td>290,000</td>
											<td>374,000</td>
											<td class="none">374,000</td>
									</tr>
									<tr>
											<th rowspan="2" scope="row">한얼광장</th>
											<td>평일</td>
											<td>260,000</td>
											<td>260,000</td>
											<td>338,000</td>
											<td>338,000</td>
											<td>439,000</td>
											<td>439,000</td>
											<td>570,000</td>
											<td class="none">570,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>338,000</td>
											<td>338,000</td>
											<td>439,000</td>
											<td>439,000</td>
											<td>570,000</td>
											<td>570,000</td>
											<td>742,000</td>
											<td class="none">742,000</td>
									</tr>
									<tr>
											<th rowspan="2" scope="row">피크닉광장</th>
											<td>평일</td>
											<td>130,000</td>
											<td>130,000</td>
											<td>169,000</td>
											<td>169,000</td>
											<td>220,000</td>
											<td>220,000</td>
											<td>286,000</td>
											<td class="none">286,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>169,000</td>
											<td>169,000</td>
											<td>220,000</td>
											<td>220,000</td>
											<td>286,000</td>
											<td>286,000</td>
											<td>371,000</td>
											<td class="none">371,000</td>
									</tr>
									<tr>
											<th rowspan="2" scope="row">만남의광장</th>
											<td>평일</td>
											<td>260,000</td>
											<td>260,000</td>
											<td>338,000</td>
											<td>338,000</td>
											<td>439,000</td>
											<td>439,000</td>
											<td>570,000</td>
											<td class="none">570,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>338,000</td>
											<td>338,000</td>
											<td>439,000</td>
											<td>439,000</td>
											<td>570,000</td>
											<td>570,000</td>
											<td>742,000</td>
											<td class="none">742,000</td>
									</tr>
									<tr>
											<th rowspan="2" scope="row">몽촌해자<br>수변무대</th>
											<td>평일</td>
											<td>217,000</td>
											<td>217,000</td>
											<td>282,000</td>
											<td>282,000</td>
											<td>310,000</td>
											<td>310,000</td>
											<td><span class="none">403,000</span></td>
											<td class="none">403,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>282,000</td>
											<td>282,000</td>
											<td>366,000</td>
											<td>366,000</td>
											<td>403,000</td>
											<td>403,000</td>
											<td>523,000</td>
											<td class="none">523,000</td>
									</tr>
									<tr>
											<th rowspan="2" scope="row">기타<br>옥외시설</th>
											<td>평일</td>
											<td>119,000</td>
											<td>119,000</td>
											<td>155,000</td>
											<td>155,000</td>
											<td>171,000</td>
											<td>171,000</td>
											<td>221,000</td>
											<td class="none">221,000</td>
									</tr>
									<tr>
											<td>토,일,공휴일</td>
											<td>155,000</td>
											<td>155,000</td>
											<td>201,000</td>
											<td>201,000</td>
											<td>221,000</td>
											<td>221,000</td>
											<td>286,000</td>
											<td class="none">286,000</td>
									</tr>
									</tbody>
							</table>
						</div>
						<div class="box">
							<ul class="list_note">
								<li>대관시간 : 오전(09:00~14:00) / 오후(14:00~19:00) / 야간(19:00~24:00) / 심야(24:00~익일 09:00)<br>
									단, 88마당 기본대관시간(00:00~24:00) 적용</li>
								<li>부가가치세 별도</li>
							</ul>
						</div>
						
						
						
						
					</div>
					<!-- //olpark_rental_facility -->
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>