<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li class="active"><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">대관절차 안내</h3>

					<nav class="depth4">
						<ul class="list">
							<li title="비활성 탭메뉴"><a href="s4_05.html">올림픽공원 대관시설</a></li>
							<li class="active" title="선택된 탭메뉴"><a href="s4_05_01_02.html">미사경정공원 대관시설</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3">대관절차</h4>
					<ol class="misa_rental_procedure_step">
						<li>
							<div class="item item1">
								<div class="title">
									<span>01</span>
									<strong>온라인 예약</strong>
								</div>
								<div class="cont">
									<ul class="list_dash">
										<li>시   기 : 최소 30일 이전 (일정에 따라 긴급 예약 가능)</li>
										<li>온라인 : 온라인 예약 시스템(<a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank" class="txt_link">https://www.ksponco.or.kr/online/misari/index.do <i class="xi-external-link"></i></a>)</li>
										<li>전   화 : (031)790-8883 (담당자 : 고정수)</li>
										<li>방   문 : 미사경정공원 내 경정지원팀(조정호관리사무실)</li>
									</ul>
								</div>								
							</div>
						</li>
						<li>
							<div class="item item2">
								<div class="title">
									<span>02</span>
									<strong>신청서 작성</strong>
								</div>								
								<div class="cont">
									<ul class="list_dash">
										<li>온라인 신청(현장답사 후 신청서 작성을 원칙으로 함)</li>
										<li>시설 지원 등 원만한 행사 진행을 위한 구체적 협의 필요</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="item item3">
								<div class="title">
									<span>03</span>
									<strong>대관승인</strong>
								</div>
								<div class="cont">
									<ul class="list_dash">
										<li>행사성격 등의 적격성 여부 검토 후 승인 통보(SMS 문자발송)</li>
									</ul>
								</div>							
							</div>
						</li>
						<li>
							<div class="item item4">
								<div class="title">
									<span>04</span>
									<strong>대관료 납부</strong>
								</div>
								<div class="cont">
									<ul class="list_dash">
										<li>대관료는 반드시 행사 전 까지 납부</li>
										<li>대관예약금 : 총 예상대관료의 30%(승인통보 후 10일이내 지정일까지)</li>
										<li>잔여예납금 : 총 예상대관료의 70%(행사개최 1개월 전까지)</li>
									</ul>
								</div>
							</div>	
						</li>
						<li>
							<div class="item item5">
								<div class="title">
									<span>05</span>
									<strong>행사실시</strong>
								</div>							
								<div class="cont">
									<ul class="list_dash">
										<li>신청내용과 부합된 대관행사 개최</li>
										<li>안전사고 예방</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<div class="item item6">
								<div class="title">
									<span>06</span>
									<strong>대관료 정산</strong>
								</div>							
								<div class="cont">
									<ul class="list_dash">
										<li>행사 종료 후 세금계산서 발급</li>
										<li>정상적인 행사 종료 확인</li>
										<li>부속시설 사용 현황 확인</li>
									</ul>
								</div>
							</div>
						</li>
						
					</ol>
					
					<div class="btns mt50">
						<a href="" class="btn type3">온라인 대관 예약하기<i class="xi-angle-right-min ml30"></i></a>
					</div>
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>