<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li class="active"><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html" target="_blank">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_04.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_05.html">올림픽공원대관시설</a></li>
										<li><a href="s4_05_06.html">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_07.html">미사경정공원대관시설</a></li>
										<li><a href="s4_05_08.html">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">일산올림픽스포츠센터</h3>

					<!-- 콘텐츠 시작 -->
					<div class="major_message mb30">
							<p class="main_txt">국민생활체육의 요람, 일산올림픽스포츠센터<br>
								전 연령층이 다양하게 이용할 수 있는 프로그램을 운영</p>
					</div>
					<div class="biz_visual mb40">
						<img src="../../resources/img/sub/s4_01_05_visual_img.jpg" alt="" class="img">  
						<img src="../../resources/img/sub/s4_01_05_visual_txt.png" alt="olympic pool" class="txt">
					</div>
					<div class="btns mb40">
						<a href="" class="btn" target="_blank"><span>사이트 바로가기</span><i class="xi-angle-right-min ml30"></i></a>
						
					</div>

					<p>일산올림픽스포츠센터는 1998년 개관 후 일산 주민 여러분의 사랑에 힘입어 국내 최대의 종합스포츠센터로 성장하였습니다. <br>
						현재, 저희 일산올림픽스포츠센터는 국민생활체육의 요람으로 기능하고자 수영, 헬스, 골프, 에어로빅, 요가, 스포츠클라이밍, 검도, 올림픽쥬니어(어린이 스포츠단) 등 유아, 청소년, 성인 등 전 연령층이 다양하게 이용할 수 있는 20여개 종목의 다양한 프로그램을 운영하고 있으며, 우수 지도강사들과 함께 최선을 다해 회원 여러분을 모시고 있습니다.</p>
					
					
					<div class="biz_detail_info">
						
						
						<div id="tab1" class="tab_cont">
							<div class="slider">								
								<div class="list">
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
									<div class="img"><img src="../../resources/img/sub/s4_01_gallery1.jpg" alt=""></div>
								</div>
								<div class="list_thumb">
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
									<div class="thumb"><img src="../../resources/img/sub/s4_01_gallery_thumb1.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<!-- //tab1 -->
						
						
					</div>
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>