<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li class="active"><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">대관요율표</h3>

					<nav class="depth4">
						<ul class="list">
							<li class="active"><a href="s4_05_04.html">올림픽공원 경기장시설 및 옥외시설</a></li>
							<li><a href="s4_05_04_02.html">올림픽홀</a></li>
							<li><a href="s4_05_04_03.html">우리금융아트홀</a></li>
							<li><a href="s4_05_04_04.html">미사경정공원</a></li>
							<li><a href="s4_05_04_05.html">집기/비품.광고요율표</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3">기본대관료</h4>
					
					
					<h5 class="title_h4">KSPO DOME(체조경기장), 핸드볼경기장</h5>
						
					<!-- list -->
					<div class="table responsive">
						<p class="unit">(단위 : 원)</p>
						<table>
							<caption>장소명[KSPO DOME(체조경기장), 핸드볼경기장, 핸드볼 보조경기장], 요일, 공공행사(1,2구간), 문화예술행사(1,2구간), 일반행사(1,2구간), 체육경기(1,2구간) 요금</caption>
							<colgroup>
								<col width="16%">
								<col>
								<col width="9%">
								<col width="9%">
								<col width="9%">
								<col width="9%">
								<col width="9%">
								<col width="9%">
								<col width="9%">
								<col width="9%">
							</colgroup>                        
							<thead>
							<tr>
								<th rowspan="2" scope="col">장소명</th>
								<th rowspan="2" scope="col">요일</th>
								<th colspan="2" scope="col">공공행사</th>
								<th colspan="2" scope="col">문화예술행사</th>
								<th colspan="2" scope="col">일반행사</th>
								<th colspan="2" scope="col" class="none">체육경기</th>
							</tr>
							<tr>
								<th scope="col">1구간</th>
								<th scope="col">2구간</th>
								<th scope="col">1구간</th>
								<th scope="col">2구간</th>
								<th scope="col">1구간</th>
								<th scope="col">2구간</th>
								<th scope="col">1구간</th>
								<th scope="col" class="none">2구간</th>
							</tr>
							</thead>
		
							<tbody>
							<tr>
								<th rowspan="2" scope="row">KSPO DOME<br>(체조경기장)</th>
								<td>평일</td>
								<td>1,205,000</td>
								<td>682,000</td>
								<td>1,937,000</td>
								<td>1,097,000</td>
								<td>2,700,000</td>
								<td>1,526,000</td>
								<td>248,000</td>
								<td class="none">140,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>1,570,000</td>
								<td>887,000</td>
								<td>2,518,000</td>
								<td>1,425,000</td>
								<td>3,512,000</td>
								<td>1,986,000</td>
								<td>322,000</td>
								<td class="none">182,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">핸드볼<br>경기장</th>
								<td>평일</td>
								<td>762,000</td>
								<td>431,000</td>
								<td>1,347,000</td>
								<td>761,000</td>
								<td>1,471,000</td>
								<td>832,000</td>
								<td>163,000</td>
								<td class="none">92,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>990,000</td>
								<td>559,000</td>
								<td>1,754,000</td>
								<td>991,000</td>
								<td>1,912,000</td>
								<td>1,082,000</td>
								<td>212,000</td>
								<td class="none">120,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">핸드볼<br>보조경기장</th>
								<td>평일</td>
								<td>342,000</td>
								<td>192,000</td>
								<td>605,000</td>
								<td>339,000</td>
								<td>661,000</td>
								<td>370,000</td>
								<td>104,000</td>
								<td class="none">59,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>445,000</td>
								<td>250,000</td>
								<td>786,000</td>
								<td>440,000</td>
								<td>859,000</td>
								<td>480,000</td>
								<td>135,000</td>
								<td class="none">75,000</td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- list end -->
					<div class="box round">
						<p class="icon_note">벨로드롬 : 핸드볼경기장 요금과 동일 적용</p>
						<p class="icon_note">부가가치세 별도</p>
						<p class="icon_note">체육시설 대관시간 : 1구간(07시~24시) / 2구간(24시~익일07시)</p>
					</div>
					<h5 class="title_h4">테니스장, 수영장</h5>
						
					<div class="table responsive">
						<p class="unit">(단위 : 원)</p>
						<!-- list -->
						<table>
						<caption>장소명[테니스장, 수영장(경영풀)], 요일, 공공행사(주간, 야간/심야), 문화예술행사(주간, 야간/심야), 일반행사(주간, 야간/심야), 체육경기(주간, 야간/심야) 대관요금</caption>
						<colgroup>
							<col width="10%">
							<col>
							<col width="9%">
							<col width="9%">
							<col width="9%">
							<col width="9%">
							<col width="9%">
							<col width="9%">
							<col width="9%">
							<col width="9%">
							<col width="9%">
						</colgroup>    
						<thead>
							<tr>
							<th colspan="2" rowspan="2" scope="col">장소명</th>
							<th rowspan="2" scope="col">요일</th>
							<th colspan="2" scope="col">공공행사</th>
							<th colspan="2" scope="col">문화예술행사</th>
							<th colspan="2" scope="col">일반행사</th>
							<th colspan="2" scope="col" class="none">체육경기</th>
							</tr>
							<tr>
							<th scope="col">주간</th>
							<th scope="col">야간/심야</th>
							<th scope="col">주간</th>
							<th scope="col">야간/심야</th>
							<th scope="col">주간</th>
							<th scope="col">야간/심야</th>
							<th scope="col">주간</th>
							<th class="none" scope="col">야간/심야</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<th rowspan="6" scope="row">테니스장</th>
							<td>메인코드</td>
							<td rowspan="3">평일</td>
							<td>287,000</td>
							<td>373,000</td>
							<td>356,000</td>
							<td>463,000</td>
							<td>479,000</td>
							<td>623,000</td>
							<td>90,000</td>
							<td class="none">118,000</td>
							</tr>
							<tr>
							<td>일반코트</td>
							<td>49,000</td>
							<td>64,000</td>
							<td>60,000</td>
							<td>78,000</td>
							<td>82,000</td>
							<td>106,000</td>
							<td>16,000</td>
							<td class="none">20,000</td>
							</tr>
							<tr>
							<td>실내코트</td>
							<td>98,000</td>
							<td>127,000</td>
							<td>120,000</td>
							<td>155,000</td>
							<td>163,000</td>
							<td>211,000</td>
							<td>31,000</td>
							<td class="none">41,000</td>
							</tr>
							<tr>
							<td>메인코트</td>
							<td rowspan="3">토,일,<br>공휴일</td>
							<td>373,000</td>
							<td>485,000</td>
							<td>463,000</td>
							<td>602,000</td>
							<td>622,000</td>
							<td>808,000</td>
							<td>119,000</td>
							<td class="none">155,000</td>
							</tr>
							<tr>
							<td>일반코트</td>
							<td>64,000</td>
							<td>84,000</td>
							<td>79,000</td>
							<td>103,000</td>
							<td>107,000</td>
							<td>139,000</td>
							<td>20,000</td>
							<td class="none">26,000</td>
							</tr>
							<tr>
							<td>실내코트</td>
							<td>127,000</td>
							<td>168,000</td>
							<td>158,000</td>
							<td>200,000</td>
							<td>211,000</td>
							<td>278,000</td>
							<td>41,000</td>
							<td class="none">53,000</td>
							</tr>
							<tr>
							<th colspan="2" rowspan="2" scope="row">수영장<br>(경영풀)</th>
							<td>평일</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>300,000/<br>1시간</td>
							<td>390,000/<br>1시간</td>
							<td>1,106,000</td>
							<td class="none">1,106,000</td>
							</tr>
							<tr>
							<td>토,일,<br>공휴일</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>390,000/<br>1시간</td>
							<td>506,000/<br>1시간</td>
							<td>1,438,000</td>
							<td class="none">1,438,000</td>
							</tr>
						</tbody>
						</table>
	
					<!-- list end -->
					</div>
					<div class="box round">
						<p class="icon_note">부가가치세 별도</p>
						<p class="icon_note">올림픽수영장(회원강습일 대관불가)</p>
						<p class="icon_note">테니스장 대관시간 : 주간(09시~18시), 야간(18시~24시), 심야(24시~익일 09시)</p>
						<p class="icon_note">테니스장 일반코트 내 일반행사 개최 시 주간 및 야간구간을 다음과 같이 세분화하여  대관할 수 있으며, 이때 대관료는 해당구간의 1/2로 한다.<br>
							<span>· 주간 : 1구간(09:00~13:00), 2구간(14:00~18:00)</span><br>
							<span>· 야간 : 1구간(18:00~21:00), 2구간(21:00~24:00)</span>
						</p>
					</div>

					<h5 class="title_h4">옥외시설</h5>
							
		
					<div class="table responsive">
						<p class="unit">(단위 : 원)</p>
						<!-- list -->
						<table>
							<caption>옥외시설 요금</caption>
							<colgroup>
								<col>
								<col class="w9" span="9">
								
							</colgroup>
		
							<thead>
							<tr>
								<th rowspan="2" scope="col">장소명</th>
								<th rowspan="2" scope="col">요일</th>
								<th colspan="4" scope="col">공공·문화예술행사</th>
								<th colspan="4" scope="col" class="none">일반행사</th>
							</tr>
							<tr>
							  <th scope="col">오전</th>
							  <th scope="col">오후</th>
							  <th scope="col">야간</th>
							  <th scope="col">심야</th>
							  <th scope="col">오전</th>
							  <th scope="col">오후</th>
							  <th scope="col">야간</th>
							  <th scope="col" class="none">심야</th>
							</tr>
							</thead>
		
							<tbody>
							<tr>
								<th rowspan="2" scope="row">평화의광장</th>
								<td>평일</td>
								<td>393,000</td>
								<td>393,000</td>
								<td>512,000</td>
								<td>512,000</td>
								<td>512,000</td>
								<td>512,000</td>
								<td>664,000</td>
								<td class="none">664,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>512,000</td>
								<td>512,000</td>
								<td>664,000</td>
								<td>664,000</td>
								<td>664,000</td>
								<td>664,000</td>
								<td>864,000</td>
								<td class="none">864,000</td>
							</tr>
							<tr>
							  <th rowspan="2" scope="row">88 마당</th>
							  <td>평일</td>
							  <td colspan="4">3,120,000</td>
							  <td colspan="4" class="none">3,900,000</td>
							</tr>
							<tr>
							  <td>토,일,공휴일</td>
							  <td colspan="4">4,056,000</td>
							  <td colspan="4" class="none">5,070,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">88호수<br>수변무대</th>
								<td>평일</td>
								<td>156,000</td>
								<td>156,000</td>
								<td>203,000</td>
								<td>203,000</td>
								<td>223,000</td>
								<td>223,000</td>
								<td>290,000</td>
								<td class="none">290,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>203,000</td>
								<td>203,000</td>
								<td>264,000</td>
								<td>264,000</td>
								<td>290,000</td>
								<td>290,000</td>
								<td>374,000</td>
								<td class="none">374,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">한얼광장</th>
								<td>평일</td>
								<td>260,000</td>
								<td>260,000</td>
								<td>338,000</td>
								<td>338,000</td>
								<td>439,000</td>
								<td>439,000</td>
								<td>570,000</td>
								<td class="none">570,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>338,000</td>
								<td>338,000</td>
								<td>439,000</td>
								<td>439,000</td>
								<td>570,000</td>
								<td>570,000</td>
								<td>742,000</td>
								<td class="none">742,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">피크닉광장</th>
								<td>평일</td>
								<td>130,000</td>
								<td>130,000</td>
								<td>169,000</td>
								<td>169,000</td>
								<td>220,000</td>
								<td>220,000</td>
								<td>286,000</td>
								<td class="none">286,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>169,000</td>
								<td>169,000</td>
								<td>220,000</td>
								<td>220,000</td>
								<td>286,000</td>
								<td>286,000</td>
								<td>371,000</td>
								<td class="none">371,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">만남의광장</th>
								<td>평일</td>
								<td>260,000</td>
								<td>260,000</td>
								<td>338,000</td>
								<td>338,000</td>
								<td>439,000</td>
								<td>439,000</td>
								<td>570,000</td>
								<td class="none">570,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>338,000</td>
								<td>338,000</td>
								<td>439,000</td>
								<td>439,000</td>
								<td>570,000</td>
								<td>570,000</td>
								<td>742,000</td>
								<td class="none">742,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">몽촌해자<br>수변무대</th>
								<td>평일</td>
								<td>217,000</td>
								<td>217,000</td>
								<td>282,000</td>
								<td>282,000</td>
								<td>310,000</td>
								<td>310,000</td>
								<td><span class="none">403,000</span></td>
								<td class="none">403,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>282,000</td>
								<td>282,000</td>
								<td>366,000</td>
								<td>366,000</td>
								<td>403,000</td>
								<td>403,000</td>
								<td>523,000</td>
								<td class="none">523,000</td>
							</tr>
							<tr>
								<th rowspan="2" scope="row">기타<br>옥외시설</th>
								<td>평일</td>
								<td>119,000</td>
								<td>119,000</td>
								<td>155,000</td>
								<td>155,000</td>
								<td>171,000</td>
								<td>171,000</td>
								<td>221,000</td>
								<td class="none">221,000</td>
							</tr>
							<tr>
								<td>토,일,공휴일</td>
								<td>155,000</td>
								<td>155,000</td>
								<td>201,000</td>
								<td>201,000</td>
								<td>221,000</td>
								<td>221,000</td>
								<td>286,000</td>
								<td class="none">286,000</td>
							</tr>
							<tr>
							  <th rowspan="2" scope="row">걷기, 마라톤 등 산책로 및 도로</th>
							  <td>평일</td>
							  <td colspan="8" class="none">행사장 장소 기본 대관료 외 1인당 500원×거리(Km)</td>
							</tr>
							<tr>
							  <td>토,일,공휴일</td>
							  <td colspan="8" class="none">행사장 장소 기본 대관료 외 1인당 650원×거리(Km)</td>
							</tr>
							</tbody>
						</table>
						<!-- list end -->
					</div>

					<div class="box round">
						<p class="icon_note">대관시간 : 오전(09:00~14:00) / 오후(14:00~19:00) / 야간(19:00~24:00) / 심야(24:00~익일 09:00)<br>단, 88마당 기본대관시간(00:00~24:00) 적용</p>
						<p class="icon_note">부가가치세 별도</p>
					</div>		
					
					<h5 class="title_h4">유료관람권 수수료</h5>
		
					<div class="table responsive">
						<p class="unit">(단위 : 원)</p>
						<!-- list -->
						<table>
							<caption>유료관람권 수수료 - 구분, 산출내역, 대상장소</caption>
							<colgroup>
								<col width="20%">
								<col width="*">
								<col width="25%">
							</colgroup>
		
							<thead>
							<tr>
								<th scope="col">구분</th>
								<th scope="col">산출내역</th>
								<th class="none" scope="col">대상장소</th>
							</tr>
							</thead>
		
							<tbody>
							<tr>
								<td>관람권 수수료</td>
								<td class="txt_left">유료관람권 액면가 총액의 6%<br>
									<p class="icon_note">무료관람권 초과발행분 포함(관람권 총수량의 20% 초과분)</p></td>
								<td class="none">경기장시설 및 옥외시설</td>
							</tr>
							</tbody>
						</table>
						<!-- list end -->
					</div>
					<div class="box round">
						<p class="icon_note">부가가치세 별도</p>
					</div>

					<h4 class="title_h3">부대시설 사용료</h4>
		
					<div class="table responsive">
						<p class="unit">(단위 : 원)</p>
		
						<!-- list -->
						<table>
							<caption>부대시설 사용료 - 구분, 산출내역, 비고</caption>
							<colgroup>
								<col width="150">
								<col>
								<col width="150">
							</colgroup>
							<thead>
							<tr>
								<th scope="col">구분</th>
								<th scope="col">산출내역</th>
								<th scope="col" class="none">비고</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row">전기료</th>
								<td class="left">실제사용 전력요금</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">냉,난방료</th>
								<td class="left">실제사용 냉‧난방 요금</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">상하수도</th>
								<td class="left">실사용요금</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">음향설비<br>사용료</th>
								<td class="left">기본료(75,000원)×사용일+사용실비(마이크 사용료)<br>
									<p class="icon_note">마이크 사용료 : 10,000원/1대(1일)</p></td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">전광판사용료</th>
								<td class="left">
									<ul class="list_dash">
										<li>KSPO DOME(체조경기장) : 300,000원/1일</li>
										<li>핸드볼경기장
											<ul class="list_sdot">
												<li>컬러전광판 : 문화예술행사 2,000,000원/1일, 체육경기·공공행사 500,000원/1일, 일반행사 650,000원/1일</li>
												<li>흑백전광판(이동식) : 200,000원/1일</li>
												<li>보조경기장 전광판 :  200,000원/1일</li>
											</ul>
										</li>
										<li>올림픽수영장 : 200,000원/1일</li>
										<li>테니스장 : 100,000원/1일</li>
									</ul>								
								
								</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">TV중계, 녹화</th>
								<td class="left">
									<ul class="list_dash">
										<li>국내 150,000원/1일(1회), 국외 300,000원/1일(1회)
											<ul class="list_sdot">
												<li>CATV, 생방송, 실시간 스트리밍, 인터넷 방송 포함</li>
											</ul>
										</li>
									</ul>	
								</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">사무실사용료</th>
								<td class="left">
									<ul class="list_dash">
										<li>V.I.P실(1일 기준)
											<ul class="list_sdot">
												<li>KSPO DOME(체조경기장) : 500,000원</li>
												<li>핸드볼경기장 : 400,000원</li>
											</ul>
										</li>
										<li>대관사무실/1일
											<ul class="list_sdot">
												<li>KSPO DOME(체조경기장), 핸드볼경기장 : 100,000원</li>
												<li>수영장, 테니스장 : 50,000원</li>
											</ul>
										</li>
										<li>분장실/1일 : 300,000원[KSPO DOME(체조경기장), 핸드볼경기장]</li>
										<li>회원전용실 : 50,000원 / 1일(핸드볼경기장)</li>
										<li>스카이박스실 : 80,000원 / 1일(핸드볼경기장)</li>
										<li>비즈니스라운지 : 200,000원 / 1일(핸드볼경기장)</li>
									</ul>	
								</td>							
								<td class="none left"><p class="icon_note">체육경기 및 체육행사시 회원전용실, 스카이박스실 사용료 면제</p></td>
							</tr>
							<tr>
								<th scope="row">음악분수 사용료</th>
								<td class="left">기본료(50,000원)+사용횟수×25,000원 ※횟수 : 10분/1회 </td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">이동식의자 수납</th>
								<td class="left">KSPO DOME(체조경기장)·핸드볼경기장 : 기본료(50,000원)+40,000원/1조</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">장내정리비</th>
								<td class="left">행사입장객 1인당 500원, 꽃가루 사용시 700원</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">잔디유지관리비</th>
								<td class="left">행사입장객 1인당 300원</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">판매부스<br>설치수수료</th>
								<td class="left">1일 ㎡당 30,000원</td>
								<td class="none"></td>
							</tr>
							<tr>
								<th scope="row">올림픽수영장<br>관련시설</th>
								<td class="left">
									<ul class="list_dash">
										<li>수질약품비 : 6,000원/1시간</li>
										<li>다이빙풀 : 경영풀 기본대관료(구간·시간)의 30%</li>
										<li>터치패드 사용료 : 10,000원(개당/1일)</li>
										<li>수구골대 사용료 : 10,000원(개당/1일)</li>
									</ul>
								</td>
								<td class="none"></td>
							</tr>
							</tbody>
						</table>
						<!-- list end -->
					</div>
					<div class="box round">
						<p class="icon_note">부가가치세 별도</p>
					</div>

					<h4 class="title_h3">촬영료</h4>
		
					<div class="table responsive">
						<p class="unit">(단위 : 원)</p>
					
						<!-- list -->
						<table>
							<caption>구분(촬영료), 사용요금, 무상조건</caption>
							<colgroup>
								<col width="100">
								<col width="380">
								<col>
							</colgroup>
							<thead>
							  <tr>
								<th scope="col">구분</th>
								<th scope="col">사용요금</th>
								<th scope="col" class="none">무상조건</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">촬영료</th>
								<td class="left">
									<ul class="list_dash">
										<li>일반 사진, 화보 촬영 
											<p class="p_sdot">400,000원/4시간, 이후 초과시간당 100,000원</p>
										</li>
										<li>TV, 드라마, 영상, 영화, CF 촬영 
											<p class="p_sdot">600,000원/4시간, 이후 초과시간당 150,000원</p>
										</li>
									</ul>
									
								</td>
								<td class="left none">
									<ul class="list_dash">
										<li>뉴스, 날씨 등 공원 배경 홍보
											<p class="p_sdot">장소 협조 자막 표출</p>
										</li>
										<li>상업광고 외 비영리 목적 촬영</li>
									</ul>
								</td>
							  </tr>
							</tbody>
						</table>
						<!-- list end -->
					</div>						
					<div class="box round">
						<p class="icon_note">부가가치세 별도</p>
					</div>
					

					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>