<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub4">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">사업안내</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li><a href="s4_01.html">올림픽스포츠센터</a>
									<ul class="depth3">
										<li><a href="s4_01.html">올림픽수영장</a></li>
										<li><a href="s4_01_02.html">올림픽공원스포츠센터</a></li>
										<li><a href="s4_01_03.html">올림픽테니스장</a></li>
										<li><a href="s4_01_04.html">올팍축구장</a></li>
										<li><a href="s4_01_05.html">일산올림픽스포츠센터</a></li>
										<li><a href="s4_01_06.html">분당올림픽스포츠센터</a></li>
										<li><a href="s4_01_07.html">온라인수강 및 예약</a></li>
									</ul>
								</li>
								<li><a href="s4_02.html">올림픽공원</a></li>
								<li><a href="s4_03.html">미사경정공원</a></li>
								<li><a href="s4_04.html">평생교육원</a></li>
								<li class="active"><a href="s4_05.html">대관서비스</a>
									<ul class="depth3">
										<li><a href="s4_05.html">대관절차안내</a></li>
										<li><a href="s4_05_02.html">대관운영 규정</a></li>
										<li><a href="s4_05_03.html">대관운영 시행세칙</a></li>
										<li><a href="s4_05_04.html">대관요율표</a></li>
										<li><a href="s4_05_05.html">대관&amp;시설자료</a></li>
										<li class="active"><a href="s4_05_06.html">올림픽공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/culture/" target="_blank">올림픽공원 대관예약</a></li>
										<li><a href="s4_05_08.html">미사경정공원대관시설</a></li>
										<li><a href="https://www.ksponco.or.kr/online/misari/index.do" target="_blank">미사경정공원 대관예약</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">올림픽공원 대관시설</h3>

					<nav class="depth4">
						<ul class="list">
							<li><a href="s4_05_06.html">KSPO DOME</a></li>
							<li><a href="s4_05_06_02.html">SK핸드볼경기장</a></li>
							<li><a href="s4_05_06_03.html">우리금융아트홀</a></li>
							<li><a href="s4_05_06_04.html">올림픽홀</a></li>
							<li class="active"><a href="s4_05_06_05.html">뮤즈라이브</a></li>
							<li><a href="s4_05_06_06.html">테니스장</a></li>
							<li><a href="s4_05_06_07.html">올림픽수영장</a></li>
							<li><a href="s4_05_06_08.html">벨로드롬</a></li>
							<li><a href="s4_05_06_09.html">옥외시설</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<div class="olpark_rental_facility">
						<div class="row mb30">
							<div class="col-sm-6">
								<div class="simple_slider">
									<img src="../../resources/img/sub/s4_05_06_05_thumb1.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_06_05_thumb2.jpg" alt="">
									<img src="../../resources/img/sub/s4_05_06_05_thumb3.jpg" alt="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="major_message">
									<h4 class="main_txt">뮤즈라이브</h4>
									<p class="sub_txt">237석 규모의 콘서트 전문 공연장</p>
								
									<p>237석 규모의 콘서트 전문 공연장으로 조명과 무대시설이 콘서트를 하기에 적합하게 설계되어 있어 객석에서도 무대 위 연주자와 함께 호흡하는 느낌을 받을 수 있습니다. 또한 최신 디지털 콘솔, 파워드 스피커 설치 및 고출력 모니터 스피커와 악기용 마이크 설비는 한 단계 위의 쾌적한 라이브 연주환경을 제공해 전문 아티스트뿐만 아니라 인디밴드 또는 새로운 컨셉의 실력있는 아티스트를 위한 최고의 공간입니다.
									</p>
								</div>								
							</div>
						</div>
						<div class="btns mb50">
							<a href="" class="btn">올림픽공원 안내도<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관요율표<i class="xi-angle-right-min ml20"></i></a>
							<a href="" class="btn">대관예약<i class="xi-angle-right-min ml20"></i></a>
						</div>
						<div class="row mb40">
							<div class="col-sm-6">
								<div class="box blue_box round">
									<h4 class="title_h3">시설개요</h4>
									<ul class="list_dash">
										<li>규 모 : 지상 1층</li>
										<li>연면적 : 596.61㎡</li>
										<li>수용인원 : 고정석 198석, 이동석 39석, 총 237석</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="box blue_box round">
									<h4 class="title_h3">시설특징</h4>
									<ul class="list_dash">
										<li>대기실, 분장실, 연습실(각 1실)</li>
										<li>무대바튼(7대), 롤스크린(6m×5m)</li>
										<li>부채형 고정 객석(좌석번호 없음)</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="box blue_box round">
							<h4 class="title_h3">부대시설</h4>
							<ul class="list_dash">
								<li>카페테리아 운영(127㎡)</li>
							</ul>
						</div>
					</div>
						
						
						<h4 class="title_h3">기본대관료</h4>
						<h5 class="title_h4">문화예술행사</h5>
						<h6 class="title_h5">소공연장</h6>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>구분[공연대관료]/사용료/비고 등 항목에 관한 표입니다.</caption>
								<colgroup>
									<col width="20%">
									<col width="25%">
									<col width="*">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구 분</th>
										<th scope="col">사용료</th>
										<th scope="col" class="none">비 고</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>공연대관</td>
										<td>420,000원</td>
										<td class="none">
											<ul class="pdl10">
												<li>- 기본 1회 3시간 기준</li>
												<li>- 준비 및 철거는 대관료 50%</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box">
							<p class="icon_note">부가가치세 별도, 전수열비, 악기·조명·음향장비 사용료 포함</p>
							<p class="icon_note">음향오퍼레이팅, 조명오퍼레이팅, 무대 테크니션은 미제공</p>
						</div>
						<h5 class="title_h4">공공·체육·일반행사
						</h5>
						<h6 class="title_h5">소공연장
						</h6>
						<div class='table responsive'>
							<p class="unit">(단위:원)</p>
							<table>
								<caption>구분[기타대관]/사용료/비고 항목에 관한 표입니다.</caption>
								<colgroup>
									<col width="20%">
									<col width="25%">
									<col width="*">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구 분</th>
										<th scope="col">사용료</th>
										<th scope="col" class="none">비 고</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>기타대관</td>
										<td>540,000원</td>
										<td class="none">
											<ul class="pdl10">
												<li>- 기본 1회 3시간 기준</li>
												<li>- 준비 및 철거는 대관료 50% 적용</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box">
							<p class="icon_note">부가가치세 별도, 전수열비 포함</p>
							<p class="icon_note">악기·조명·음향장비 사용료 별도 징수</p>								
							<p class="icon_note">음향오퍼레이팅, 조명오퍼레이팅, 무대 테크니션은 미제공</p>
						</div>
							<h4 class="title_h3">부대시설 사용료
							</h4>
							<h6 class="title_h5">무대조명
							</h6>
							<div class='table responsive'>
								<p class="unit">(단위:원)</p>
								<table>
									<caption>장비, 규격, 수량, 단위, 단가(원),비고 항목에 관한 표입니다.</caption>
									<colgroup>
										<col width="25%">
										<col width="*">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">장비</th>
											<th scope="col">규격</th>
											<th scope="col">수량</th>
											<th scope="col">단위</th>
											<th scope="col">단가(원)</th>
											<th scope="col" class="none">비 고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>퍼넬 스포트</td>
											<td>1000W</td>
											<td>4</td>
											<td>1일</td>
											<td>1,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>엘립소이달-SOUCE4</td>
											<td>750W / ETC</td>
											<td>16</td>
											<td>1일</td>
											<td>2,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>PAR 64-CP61</td>
											<td>1000W / KUPO</td>
											<td>28</td>
											<td>1일</td>
											<td>1,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>콘솔 VECTOR</td>
											<td>VIOLET(2048CH)</td>
											<td>1</td>
											<td>1일</td>
											<td>50,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>딤 머</td>
											<td>i48 / colortran</td>
											<td>48</td>
											<td>1일</td>
											<td>FREE</td>
											<td class="none"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box">
								<p class="icon_note">부가가치세 별도</p>
							</div>
							<h6 class="title_h5">무대음향
							</h6>
							<div class='table responsive'>
								<p class="unit">(단위:원)</p>
								<table>
									<caption>장비, 규격, 수량, 단위, 단가(원),비고 항목에 관한 표입니다.</caption>
									<colgroup>
										<col width="25%">
										<col width="*">
										<col width="10%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">장비</th>
											<th scope="col">규격</th>
											<th scope="col">수량</th>
											<th scope="col">단위</th>
											<th scope="col">단가(원)</th>
											<th scope="col" class="none">비 고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>음향콘솔</td>
											<td>SD9</td>
											<td>1</td>
											<td>1일</td>
											<td>40,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>무선마이크(1ch/1대)</td>
											<td>ULX/P</td>
											<td>3</td>
											<td>1일</td>
											<td>20,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>모니터 스피커</td>
											<td>MJF-212</td>
											<td>6</td>
											<td>1일</td>
											<td>20,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>유선마이크(다이나믹)</td>
											<td>SM58, SM57</td>
											<td>12</td>
											<td>1일</td>
											<td>2,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>유선마이크(콘덴서)</td>
											<td>C414</td>
											<td>2</td>
											<td>1일</td>
											<td>5,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>신디</td>
											<td>야마하 S90XS, 코르그 SV1</td>
											<td>각1대</td>
											<td>1일</td>
											<td>15,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>드럼</td>
											<td>DW 워크샵, 그레치 카탈리나클럽</td>
											<td>각1SET</td>
											<td>1일</td>
											<td>40,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>기타 앰프</td>
											<td>마샬 MA100H, 마샬M412A</td>
											<td>각2SET</td>
											<td>1일</td>
											<td>5,000</td>
											<td class="none"></td>
										</tr>
										<tr>
											<td>베이스기타 앰프</td>
											<td>엠펙 SVT3 Pro, 엠펙 SVT610</td>
											<td>각1SET</td>
											<td>1일</td>
											<td>10,000</td>
											<td class="none"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box">
								<p class="icon_note">부가가치세 별도, 음향오퍼레이팅, 조명오퍼레이팅, 무대 테크니션은 미제공</p>
							</div>
						
						
					</div>
					<!-- //olpark_rental_facility -->
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>