<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li><a href="s5_01.html">통합공시</a></li>
										<li class="active"><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">자체공시</h3>
					<nav class="depth4">
						<ul class="list">
							<li><a href="s5_01_02.html">국회업무보고</a></li>
							<li><a href="s5_01_02.html">청렴도 측정결과</a></li>
							<li><a href="s5_01_02.html">고객만족도 측정결과</a></li>
							<li><a href="s5_01_02.html">인권경영위원회 운영현황</a></li>	
							<li><a href="s5_01_02_05.html">공용차량 운영현황</a></li>
							<li><a href="s5_01_02_06.html">법인카드 운영현황</a></li>
							<li class="active"><a href="s5_01_02_07.html">주요시설물<br> 안전점검 결과</a></li>
							<li><a href="s5_01_02.html">업무협약(MOU) 체결현황</a></li>
							<li><a href="s5_01_02_09.html">인증 및 수상실적</a></li>
							<li><a href="s5_01_02.html">내부규정 제개정 예고</a></li>
							<li><a href="s5_01_02_11.html">친환경제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">중소기업제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">장애인생산품 구매실적</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3">시특법 대상시설물</h4>
					<div class="table responsive">
						<table>
							<caption>시특법 대상시설물 안전점검결과 목록 - No, 구분, 시설개요(연면적(㎡)), 2019년 안전점검 결과(점검구분, 안전구분), 비고</caption>
							<colgroup>
								<col width="10%">
								<col width="20%">
								<col width="20%">
								<col width="15%">
								<col width="15%">
								<col width="*">
							</colgroup>
							<thead>
								<tr>
									<th rowspan="2" scope="col">No.</th>
									<th rowspan="2" scope="col">구 분</th>
									<th scope="col">시설개요</th>
									<th colspan="2" scope="col">2019년 안전점검 결과</th>
									<th class="none" rowspan="2" scope="col">비 고</th>
								</tr>
								<tr>
									<th scope="col">연면적(㎡)</th>
									<th scope="col">점검구분</th>
									<th scope="col">안전등급</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>케이스포돔</td>
									<td>30,548.40</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>2</td>
									<td>광명돔 경륜장</td>
									<td>70,696.30</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>3</td>
									<td>SK핸드볼 경기장</td>
									<td>19,271.67</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>4</td>
									<td>우리금융아트홀</td>
									<td>12,710.10</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>5</td>
									<td>수영경기장</td>
									<td>25,180.27</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>6</td>
									<td>테니스경기장</td>
									<td>9,063.98</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>7</td>
									<td>올림픽홀</td>
									<td>10,827.93</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>8</td>
									<td>자전거경기장</td>
									<td>10,672.00</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>9</td>
									<td>올림픽 문화센터</td>
									<td>10,116.41</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>10</td>
									<td>소마미술관</td>
									<td>10,191.17</td>
									<td>◎○</td>
									<td>A</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>11</td>
									<td>올림픽회관</td>
									<td>24,303.35</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>12</td>
									<td>올림픽유스호스텔</td>
									<td>25,139.90</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>13</td>
									<td>일산스포츠센터</td>
									<td>35,849.45</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>14</td>
									<td>분당스포츠센터</td>
									<td>19,762.39</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>15</td>
									<td>경정장 관람장</td>
									<td>10,844.58</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>16</td>
									<td>경정장 보트관리동</td>
									<td>2,887.00</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>17</td>
									<td>경륜훈련원 피스타</td>
									<td>6,716.00</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>18</td>
									<td>경륜훈련원 숙소동</td>
									<td>5,896.00</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>19</td>
									<td>둔촌교 옹벽</td>
									<td>H7m*L230m </td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>20</td>
									<td>청룡교</td>
									<td>L=60m, B=21m</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>21</td>
									<td>까치다리</td>
									<td>L=20m, B=4m</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>22</td>
									<td>한얼교</td>
									<td>L=40m, B=36m </td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>23</td>
									<td>백호다리</td>
									<td>L=41m, B=10m </td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>24</td>
									<td>곰말다리</td>
									<td>L=30m, B=6m</td>
									<td>◎○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>25</td>
									<td>구중교</td>
									<td>L=36m, B=7.5m</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>26</td>
									<td>무지개다리</td>
									<td>L=60m, B=8m </td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							
							
								<tr>
									<td>27</td>
									<td>돔경륜장 교량</td>
									<td>L=48m, B=21m</td>
									<td>○</td>
									<td>B</td>
									<td class="none left"></td>
								</tr>
							
							
							</tbody>
						</table>
					</div>
					<p class="icon_note">점검구분 : ★ 정밀안전진단 / ◎ 정밀점검 / ○ 정기점검 / ☆ 내진성능평가</p>

					<h4 class="title_h3">시설물 안전등급 기준</h4>
					<div class="table responsive">
						
						<table>
							<caption>법인카드 용도구분, 카드사, 개수(매), 비고에 대한 목록입니다.</caption>
							<colgroup>
								<col width="13%">
								<col width="*">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">No.</th>
									<th scope="col" class="none">시설물의 상태</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>A (우수)</td>
									<td class="left">문제점이 없는 최상의 상태</td>
								</tr>
								<tr>
									<td>B (양호)</td>
									<td class="left">보조부재에 경미한 결함이 발생하였으나 기능 발휘에는 지장이없으며 내구성 증진을 위하여 일부의 보수가 필요한 상태</td>
								</tr>
								<tr>
									<td>C (보통)</td>
									<td class="left">주요부재에 경미한 결함 또는 보조부재에 광범위한 결함이 발생하였으나 전체적인 시설물의 안전에는 지장이 없으며, <br>
									주요부재에 내구성, 기능성 저하 방지를 위한 보수가 필요하거나 보조부재에 간단한 보강이 필요한 상태</td>
								</tr>
								<tr>
									<td>D (미흡)</td>
									<td class="left">주요부재에 결함이 발생하여 긴급한 보수·보강이 필요하며 사용제한 여부를 결정하여야 하는 상태</td>
								</tr>
								<tr>
									<td>E (불량)</td>
									<td class="left">주요부재에 발생한 심각한 결함으로 인하여 시설물의 안전에 위험이 있어 즉각 사용을 금지하고 보강 또는 개축을 하여야 하는 상태</td>
								</tr>
							</tbody>
						</table>						
					</div>

					<div class="alio_foot">
						<ul>
							<li><strong>공시주기</strong> <span>연 1회</span></li>
							<li><strong>작성기준일</strong> <span>2019. 12. 31.</span></li>
						</ul>							
					</div>
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>