<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li><a href="s5_01.html">통합공시</a></li>
										<li><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li class="active"><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">경영공시 담당자</h3>
					
				

					<!-- 콘텐츠 시작 -->
					<h4 class="title_h3 mt0">통합공시담당자 및 주기</h4>
					<div class="table responsive">
						<table>
							<caption>구분,세부항목,공시주기,작성자,담당부서에 관한 표</caption>
							<colgroup>
								<col width="15%">
								<col width="20%">
								<col width="*">
								<col width="5%">
								<col width="10%">
								<col width="8%">
								<col width="15%">
							</colgroup>	
							<thead>
								<tr>
									<th colspan="2" scope="col">구분</th>
									<th scope="col">세부항목</th>
									<th scope="col" colspan="2">공시주기</th>
									<th scope="col">작성자</th>
									<th scope="col" class="none">담당부서</th>
								</tr>
							</thead>
							<tbody>
							
							  
								<tr>
									<td>일반현황</td>
									<td class="left">일반현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>강귀석</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td rowspan="23">기관운영</td>
									<td class="left">임직원수</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>분기별</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">임원현황</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>김민군</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">신규채용 현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>분기별</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">임·직원 채용정보</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>공고시작일</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">임원연봉</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>한상규</td>
									<td class="none">노무복지팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">직원평균보수</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>한상규</td>
									<td class="none">노무복지팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">기관장업무추진비</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>박소현</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">복리후생비</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>박세영</td>
									<td class="none">문화사업팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left" rowspan="4">그밖의 복리후생제도 등의 운영현황</td>
									<td class="left">유가족 특별채용</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									
									<td class="left">휴직급여</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>한상규</td>
									<td class="none">노무복지팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									
									<td class="left">퇴직금</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>한상규</td>
									<td class="none">노무복지팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									
									<td class="left">휴가/휴직</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">임원 국외출장내역</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">노동조합 관련현황</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>이승환</td>
									<td class="none">노무복지팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">내부규정</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>최용석</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left" rowspan="2">징계현황</td>
									<td class="left">징계제도 운영현황</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김민군</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									
									<td class="left">징계처분 결과</td>
									<td>
										정기
										
									</td>
									<td>분기별</td>
									<td>김민군</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">소송 및 법률자문 현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>분기별</td>
									<td>손태종</td>
									<td class="none">감사실</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">일·가정 양립 지원제도 운영현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>이희정</td>
									<td class="none">인사팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left" rowspan="3">안전관리 및 환경 보호</td>
									<td class="left">안전경영책임보고서</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>유승현</td>
									<td class="none">안전경영단</td>
								</tr>
							  	
							
							  
								<tr>
									
									
									<td class="left">녹색제품 구매실적</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>박정배</td>
									<td class="none">시설안전팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									
									<td class="left">온실가스 감축실적</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김지항</td>
									<td class="none">시설안전팀</td>
								</tr>
							  	
							
							  
								<tr>
									
									<td class="left">사회공헌 활동</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>차지은</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td rowspan="18">주요사업및경영성과</td>
									<td class="left">요약 재무상태표</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">요약 손익계산서</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">수입*지출현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>박소현</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">주요사업</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">투자집행 내역</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>분기별</td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">자본금 및 주주현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">장단기 차입금현황</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">투자 및 출자·출연 현황</td>
									<td class="left">출연 현황</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left" rowspan="3">경영부담비용 추계</td>
									<td class="left">담보제공현황</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">타(법)인에 대한 체무 보증현황</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">기타사항</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">중장기 재무관리계획</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">12개 주요기관의 상세부채 정보</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left" rowspan="3">납세정보현황</td>
									<td class="left">법인세</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">세무확정내역</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">조세포탈현황(유죄판결 확정내역)</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left" rowspan="2">감사보고서</td>
									<td class="left">외부회계감사보고서</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>김하경</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">내부·외부 감사결과</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>서승환</td>
									<td class="none">감사실</td>
								</tr>
							  	
							
							  
								<tr>
									<td rowspan="7">대내외 평가</td>
									<td class="left">국회 지적사항</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>최용석</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">감사원/주무부처 지적사항</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>서승환</td>
									<td class="none">감사실</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">경영실적 평가결과</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td></td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">경영평가 지적사항</td>
									<td class="left"></td>
									<td>
										정기
										
									</td>
									<td>연2회</td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">고객만족도 조사결과</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td></td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">감사직무실적 평가결과</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td></td>
									<td></td>
									<td class="none"></td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">이사회 회의록</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>최용석</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td rowspan="3">정보공개</td>
									<td class="left">경영혁신사례</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>강귀석</td>
									<td class="none">기획팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">계약정보</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>공고시작일</td>
									<td>임성방</td>
									<td class="none">총무팀</td>
								</tr>
							  	
							
							  
								<tr>
									<td class="left">연구보고서</td>
									<td class="left"></td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>강귀석</td>
									<td class="none">기획팀</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="title_h3">자체공시담당자 및 주기</h4>
					<div class="table responsive">
						<table>
							<caption>자체공시 항목별 공시주기, 작성자, 담당부서에 대한 목록입니다.</caption>
							<colgroup>
								<col width="*">
								<col width="15%">
								<col width="20%">
								<col width="5%">
								<col width="10%">
								<col width="8%">
								<col width="15%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">항목</th>
									<th scope="col">경영공시 번호</th>
									<th scope="col">공시종류</th>
									<th scope="col" colspan="2">공시주기</th>
									<th scope="col">작성자</th>
									<th scope="col" class="none">담당부서</th>
								</tr>
							</thead>
							<tbody>
							
							
								<tr>
									<td class="left">국회 업무보고</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>서승환</td>
									<td class="none">감사실</td>
								</tr>
								
							
							
								<tr>
									<td class="left">청렴도 측정결과</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>한지혜</td>
									<td class="none">감사실</td>
								</tr>
								
							
							
								<tr>
									<td class="left">고객만족도 측정결과</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>이정화</td>
									<td class="none">경영정보화팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">인권경영위원회 운영현황</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>한지혜</td>
									<td class="none">감사실</td>
								</tr>
								
							
							
								<tr>
									<td class="left">공용차량 운영현황</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>임성방</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">법인카드 운영현황</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>박소현</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">주요시설물 안전점검 결과</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>이상형</td>
									<td class="none">안전경영단</td>
								</tr>
								
							
							
								<tr>
									<td class="left">업무협약(MOU) 체결현황</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>차지은</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">인증 및 수상실적</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>차지은</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">내부규정 제개정 예고</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										
										수시
									</td>
									<td>14일이내</td>
									<td>백지환</td>
									<td class="none">기획팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">친환경제품 구매실적</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>임성방</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">중소기업제품 구매실적</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>임성방</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							
								<tr>
									<td class="left">장애인생산품 구매실적</td>
									<td>자체</td>
									<td>자체공시</td>
									<td>
										정기
										
									</td>
									<td>연1회</td>
									<td>임성방</td>
									<td class="none">총무팀</td>
								</tr>
								
							
							</tbody>
						</table>
					</div>
					<div class="alio_foot">
						<ul>
							<li><strong>공시주기</strong> <span>사유발생시</span></li>
							<li><strong>작성기준일</strong> <span>사유발생일</span></li>
						</ul>							
					</div>
	
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>