<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li><a href="s5_01.html">통합공시</a></li>
										<li class="active"><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">자체공시</h3>
					<nav class="depth4">
						<ul class="list">
							<li><a href="s5_01_02.html">국회업무보고</a></li>
							<li><a href="s5_01_02.html">청렴도 측정결과</a></li>
							<li><a href="s5_01_02.html">고객만족도 측정결과</a></li>
							<li><a href="s5_01_02.html">인권경영위원회 운영현황</a></li>	
							<li class="active"><a href="s5_01_02_05.html">공용차량 운영현황</a></li>
							<li><a href="s5_01_02_06.html">법인카드 운영현황</a></li>
							<li><a href="s5_01_02_07.html">주요시설물<br> 안전점검 결과</a></li>
							<li><a href="s5_01_02.html">업무협약(MOU) 체결현황</a></li>
							<li><a href="s5_01_02_09.html">인증 및 수상실적</a></li>
							<li><a href="s5_01_02.html">내부규정 제개정 예고</a></li>
							<li><a href="s5_01_02_11.html">친환경제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">중소기업제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">장애인생산품 구매실적</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->

					<div class="table responsive">						
						<table>
							<caption>업무용 차량 현황 목록-소속, 담당부서, 차종, 차량번호, 운행일지 작성여부, 전용or공용, 전용차량 사용부서, 전용차량 사용용도에 대한 목록입니다.</caption>
							<colgroup>
								<col width="*">
								<col width="13%">
								<col width="13%">
								<col width="13%">
								<col width="13%">
								<col width="13%">
								<col width="13%">
								<col width="13%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">소속</th>
									<th scope="col">담당부서</th>
									<th scope="col">차종</th>
									<th scope="col">차량번호</th>
									<th scope="col">운행일지<br>작성여부</th>
									<th scope="col">전용or공용</th>
									<th scope="col">전용차량<br>사용부서</th>
									<th class="none" scope="col">전용차량<br>사용용도</th>
								</tr>
							</thead>
							<tbody>
							
								<tr>
									<td>공원사업실</td>
									<td>공원사업팀</td>
									<td>그랜드스타렉스</td>
									<td>76보6274</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원사업팀</td>
									<td class="none">주차업무</td>
								</tr>
							
								<tr>
									<td rowspan="2">경영지원실</td>
									<td rowspan="2">총무팀</td>
									<td>소나타하이브리드</td>
									<td>29러8668</td>
									<td>Y</td>
									<td>공용</td>
									<td>전체부서</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">경영지원실</td>
									<td style="display: none;">총무팀</td>
									<td>그랜드스타렉스</td>
									<td>79구1238</td>
									<td>Y</td>
									<td>공용</td>
									<td>전체부서</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td rowspan="2">경주사업지원실</td>
									<td rowspan="2">지점서비스팀</td>
									<td>아반떼 하이브리드</td>
									<td>56고2851</td>
									<td>Y</td>
									<td>전용</td>
									<td>지점서비스팀</td>
									<td class="none">지점업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td style="display: none;">지점서비스팀</td>
									<td>그랜드스타렉스</td>
									<td>79두9447</td>
									<td>Y</td>
									<td>전용</td>
									<td>지점서비스팀</td>
									<td class="none">지점업무용</td>
								</tr>
							
								<tr>
									<td rowspan="2">시설관리실</td>
									<td rowspan="2">시설안전팀</td>
									<td>포터장축 더블캡</td>
									<td>92거5101</td>
									<td>Y</td>
									<td>전용</td>
									<td>시설안전팀</td>
									<td class="none">설비</td>
								</tr>
							
								<tr>
									<td style="display: none;">시설관리실</td>
									<td style="display: none;">시설안전팀</td>
									<td>포터Ⅱ</td>
									<td>92거8974</td>
									<td>Y</td>
									<td>전용</td>
									<td>시설안전팀</td>
									<td class="none">건축</td>
								</tr>
							
								<tr>
									<td rowspan="7">경주사업지원실</td>
									<td rowspan="2">경정지원팀</td>
									<td>포터Ⅱ</td>
									<td>82가4707</td>
									<td>Y</td>
									<td>전용</td>
									<td>경정지원팀</td>
									<td class="none">경정시설</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td style="display: none;">경정지원팀</td>
									<td>스타렉스</td>
									<td>79구1186</td>
									<td>Y</td>
									<td>전용</td>
									<td>경정지원팀</td>
									<td class="none">조정호편익</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td>경륜지원팀</td>
									<td>스타렉스</td>
									<td>79구1187</td>
									<td>Y</td>
									<td>전용</td>
									<td>경륜지원팀</td>
									<td class="none">영주경륜훈련원</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td rowspan="2">경정지원팀</td>
									<td>스타렉스</td>
									<td>76마3447</td>
									<td>Y</td>
									<td>전용</td>
									<td>경정지원팀</td>
									<td class="none">영종도경정훈련원</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td style="display: none;">경정지원팀</td>
									<td>포터Ⅱ</td>
									<td>85나7779</td>
									<td>Y</td>
									<td>전용</td>
									<td>경정지원팀</td>
									<td class="none">조정호시설</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td rowspan="2">경륜지원팀</td>
									<td>그랜드스타렉스</td>
									<td>79두9028</td>
									<td>Y</td>
									<td>전용</td>
									<td>경륜지원팀</td>
									<td class="none">광명시설</td>
								</tr>
							
								<tr>
									<td style="display: none;">경주사업지원실</td>
									<td style="display: none;">경륜지원팀</td>
									<td>모닝</td>
									<td>06너8539</td>
									<td>Y</td>
									<td>전용</td>
									<td>경륜지원팀</td>
									<td class="none">경륜장업무용</td>
								</tr>
							
								<tr>
									<td rowspan="2">공원사업실</td>
									<td rowspan="2">공원사업팀</td>
									<td>그랜드스타렉스</td>
									<td>74수9033</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원사업팀</td>
									<td class="none">주차업무</td>
								</tr>
							
								<tr>
									<td style="display: none;">공원사업실</td>
									<td style="display: none;">공원사업팀</td>
									<td>포터Ⅱ</td>
									<td>85나7992</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원사업팀</td>
									<td class="none">매점업무</td>
								</tr>
							
								<tr>
									<td rowspan="2">경영지원실</td>
									<td rowspan="2">총무팀</td>
									<td>카니발</td>
									<td>18마4500</td>
									<td>Y</td>
									<td>공용</td>
									<td>총무팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">경영지원실</td>
									<td style="display: none;">총무팀</td>
									<td>아반떼 하이브리드</td>
									<td>56고2850</td>
									<td>Y</td>
									<td>공용</td>
									<td>총무팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td rowspan="10">스포츠운영실</td>
									<td rowspan="5">스포츠교실팀</td>
									<td>그랜드스타렉스</td>
									<td>70구8824</td>
									<td>Y</td>
									<td>전용</td>
									<td>스포츠교실팀</td>
									<td class="none">축구장회원수송용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">스포츠교실팀</td>
									<td>그랜드스타렉스</td>
									<td>79구1242</td>
									<td>Y</td>
									<td>전용</td>
									<td>스포츠교실팀</td>
									<td class="none">축구장회원수송용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">스포츠교실팀</td>
									<td>그랜드스타렉스</td>
									<td>79구1241</td>
									<td>Y</td>
									<td>전용</td>
									<td>스포츠교실팀</td>
									<td class="none">축구장회원수송용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">스포츠교실팀</td>
									<td>그랜드스타렉스</td>
									<td>77더5083</td>
									<td>Y</td>
									<td>전용</td>
									<td>스포츠교실팀</td>
									<td class="none">축구장회원수송용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">스포츠교실팀</td>
									<td>그랜드스타렉스</td>
									<td>79두9045</td>
									<td>Y</td>
									<td>전용</td>
									<td>스포츠교실팀</td>
									<td class="none">축구장회원수송용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td>분당운영팀</td>
									<td>그랜드스타렉스</td>
									<td>79두9006</td>
									<td>Y</td>
									<td>전용</td>
									<td>분당운영팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td rowspan="4">일산운영팀</td>
									<td>카니발</td>
									<td>03누3283</td>
									<td>Y</td>
									<td>전용</td>
									<td>일산운영팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">일산운영팀</td>
									<td>카니발</td>
									<td>36조5083</td>
									<td>Y</td>
									<td>전용</td>
									<td>일산운영팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">일산운영팀</td>
									<td>뉴-카운티</td>
									<td>78누7234</td>
									<td>Y</td>
									<td>전용</td>
									<td>일산운영팀</td>
									<td class="none">회원수송용</td>
								</tr>
							
								<tr>
									<td style="display: none;">스포츠운영실</td>
									<td style="display: none;">일산운영팀</td>
									<td>뉴-카운티</td>
									<td>78누7235</td>
									<td>Y</td>
									<td>전용</td>
									<td>일산운영팀</td>
									<td class="none">회원수송용</td>
								</tr>
							
								<tr>
									<td>시설관리실</td>
									<td>공원서비스팀</td>
									<td>동해고소작업차</td>
									<td>99거1004</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원서비스팀</td>
									<td class="none">조경업무</td>
								</tr>
							
								<tr>
									<td rowspan="2">경영지원실</td>
									<td rowspan="2">총무팀</td>
									<td>포터Ⅱ</td>
									<td>88저0436</td>
									<td>Y</td>
									<td>전용</td>
									<td>총무팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td style="display: none;">경영지원실</td>
									<td style="display: none;">총무팀</td>
									<td>포터Ⅱ</td>
									<td>88저0437</td>
									<td>Y</td>
									<td>전용</td>
									<td>총무팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td rowspan="4">시설관리실</td>
									<td rowspan="3">공원서비스팀</td>
									<td>포터Ⅱ</td>
									<td>81노1833</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원서비스팀</td>
									<td class="none">미화업무</td>
								</tr>
							
								<tr>
									<td style="display: none;">시설관리실</td>
									<td style="display: none;">공원서비스팀</td>
									<td>포터Ⅱ</td>
									<td>81노1882</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원서비스팀</td>
									<td class="none">미화업무</td>
								</tr>
							
								<tr>
									<td style="display: none;">시설관리실</td>
									<td style="display: none;">공원서비스팀</td>
									<td>포터Ⅱ</td>
									<td>81노1840</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원서비스팀</td>
									<td class="none">조경업무</td>
								</tr>
							
								<tr>
									<td style="display: none;">시설관리실</td>
									<td>시설안전팀</td>
									<td>포터Ⅱ덤프</td>
									<td>94어3257</td>
									<td>Y</td>
									<td>전용</td>
									<td>시설안전팀</td>
									<td class="none">건축</td>
								</tr>
							
								<tr>
									<td>경영지원실</td>
									<td>총무팀</td>
									<td>그랜드스타렉스</td>
									<td>71저2969</td>
									<td>Y</td>
									<td>공용</td>
									<td>총무팀</td>
									<td class="none">업무용</td>
								</tr>
							
								<tr>
									<td rowspan="2">시설관리실</td>
									<td rowspan="2">공원서비스팀</td>
									<td>포터Ⅱ덤프</td>
									<td>87저0269</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원서비스팀</td>
									<td class="none">미화</td>
								</tr>
							
								<tr>
									<td style="display: none;">시설관리실</td>
									<td style="display: none;">공원서비스팀</td>
									<td>포터Ⅱ덤프</td>
									<td>87저0286</td>
									<td>Y</td>
									<td>전용</td>
									<td>공원서비스팀</td>
									<td class="none">조경</td>
								</tr>
							
							</tbody>
						</table>
					</div>

					<div class="alio_foot">
						<ul>
							<li><strong>공시주기</strong> <span>연 1회</span></li>
							<li><strong>작성기준일</strong> <span>2020. 12. 31.</span></li>
						</ul>							
					</div>

					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>