<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub5">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">ESG경영</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s5_01.html">경영공시</a>
							<ul class="depth3">
								<li><a href="s5_01.html">통합공시</a></li>
								<li><a href="s5_01_02.html">자체공시</a></li>
								<li><a href="s5_01_03.html">경영공시 소개</a></li>
								<li><a href="s5_01_04.html">경영공시 담당자</a></li>
								<li><a href="s5_01_05.html">자주묻는 질문</a></li>
								<li><a href="s5_01_06.html">경영공시 용어</a></li>
								<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
							</ul>
						</li>
						<li><a href="s5_02.html">윤리경영</a>
							<ul class="depth3">
								<li><a href="s5_02.html">추진방향</a></li>
								<li><a href="s5_02_02.html">윤리규범</a></li>
							</ul>
						</li>
						<li class="active"><a href="s5_03.html">인권경영</a>
							<ul class="depth3">
								<li class="active"><a href="s5_03.html">인권경영 선언문</a></li>
								<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
								<li><a href="s5_03_03.html">인권경영 소식</a></li>
								<li><a href="s5_03_04.html">인권침해신고센터</a></li>
							</ul>
						</li>
						<li><a href="s5_04.html">일자리창출</a></li>
						<li><a href="s5_05.html">사회공헌</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">인권경영 선언문</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="customer_service_charter human_rights_declaration">
				<div class="message_box bg">
					<div class="major_message">
						<h4>한국체육산업개발주식회사 인권경영 선언문</h4>
						<p>우리는 국민 건강 증진과 삶의 질 향상에 기여하는 든든한 후원자로서 모든 경영활동에서 인간의 존엄과 가치를 중시하는 인권경영을 적극 실천하고, 이해관계자들과 더불어 지속가능한 발전을 추구해 나간다. 이를 위해 우리는 고객, 구성원, 지역사회에 대한 인권 존중의 책무를 정의하고, 모든 임직원이 지켜야 할 행동과 가치판단의 기준으로서 다음과 같이 인권경영을 선언한다.</p>
					</div>
				</div>
				<div class="cont_wrap">
					<div class="cont">
						<dl class="list">
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 UN 세계인권선언 등 인권에 대한 국제기준 및 규범을 존중하고 지지한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 인권침해를 사전에 예방하며, 적극적인 구제를 위해 노력한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 직원들에게 타인의 인권을 침해하지 않고 존중하도록 요구하고 이를 교육한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 사업파트너에게 우리의 인권경영 방침을 공유하고 이를 준수할 것을 요구한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 종교·성별·인종·학력·지역·장애·나이 등을 이유로 차별하지 않으며, 상호 존중과<br> 배려의 윤리적인 근무환경을 제공한다.</p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 고용에 있어서 어떠한 형태의 강제노동과 아동노동도 허용하지 않는다.</p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 안전하고 건강한 근무여건을 조성하여 산업안전 및 보건을 증진한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 단체교섭 및 결사의 자유를 보장하고, 노사 간 신뢰기반의 공동 번영을 지향한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 국내외 환경관련 법규를 준수하고, 환경보호와 오염방지를 위해 노력한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 국민에게 쾌적하고 편리한 휴식 공간을 제공하며, 업무상 수집한 개인정보를 보호하는 등<br> 고객가치를 중시한다. </p>
							</dd>
							<dt><em>하나,</em></dt>
							<dd>
								<p>우리는 회사 사업활동이 일어나는 지역 주민의 인권을 존중하고, 상생 발전을 추구한다.</p>
							</dd>
						</dl>
						<p>우리는 우리가 일하는 어느 곳에서든 이해관계자 모두의 인권을 증진하고 존중하는 책임감 있는<br> 태도로 임할 것이며, 인권경영의 정착과 확산을 위해 최선을 다할 것을 다짐한다.</p>
					</div>	
					
					<p class="all_employee"><img src="../../resources/img/sub/s2_02_logo.png" alt="KSPO&amp;CO로고"><span>한국체육산업개발주식회사 임직원 일동</span></p>

				</div>
				
				
			</div>
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>