<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li class="active"><a href="s5_01.html">통합공시</a></li>
										<li><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">통합공시</h3>


					<!-- 콘텐츠 시작 -->
					
					<div class="box message_box blue_box bg">
						<div class="major_message">							
							<p class="sub_txt"><strong>한국체육산업개발은 경영정보에 대한 고객의 알권리 충족과 경영의 투명성 향상을 위한</strong></p>
							<p>고객의 경영참여기회를 확대하고 경영효율성 증진과 고객서비스 질을 향상시키기 위해 노력하고 있습니다. 고객님께서는 홈페이지상의 경영공시와 함께 기획재정부 공공기관 경영정보 공개시스템(공공기관알리오)을 통하여 한국체육산업개발의 경영에 관한 다양한 정보를 얻으실 수 있습니다.</p>
						</div>
						<img src="../../resources/img/sub/s5_01_bg.png" alt="">
							
					</div>
					<div class="btns">
						<a href="http://www.alio.go.kr/" class="btn type3" target="_blank">ALIO 공공기관 경영정보 공개시스템 <i class="xi-angle-right-min ml10"></i></a>
					</div>
					<div class="alio_list mt50 row">
						<div class="col-sm-4">
							<div class="item item1">
								<h4>일반현황</h4>
								<ul class="list_dash">
									<li><a href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&reportFormRootNo=10101" target="_blank"><span class="txt">일반현황</span></a></li>
								</ul>
							</div>
							<!-- //item 일반현황 -->
							<div class="item item2">
								<h4>기관운영</h4>
								<ul class="list_dash">
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2020" target="_blank">
											<span class="txt">임직원 수</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=20305" target="_blank">
											<span class="txt">임원현황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2040" target="_blank">
											<span class="txt">신규채용 현황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=B1020" target="_blank">
											<span class="txt">임·직원 채용정보</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2050" target="_blank">
											<span class="txt">임원연봉</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2060" target="_blank">
											<span class="txt">직원 평균보수</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=20701" target="_blank">
											<span class="txt">기관장 업무추진비</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=20801" target="_blank">
											<span class="txt">복리후생비</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=63701" target="_blank">
											<span class="txt">그밖의 복리후생제도 등의 운영현황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=20905" target="_blank">
											<span class="txt">임원 국외출장 내역</span>
										</a>
									</li>
									<!-- 
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=63785,63786,63787" target="_blank">
											<span class="txt">제도운영 상황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=63789" target="_blank">
											<span class="txt">영리시설, 장비운영권 노조 위탁</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=63795" target="_blank">
											<span class="txt">단체협약상 별도<br />합의사항</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=63796" target="_blank">
											<span class="txt">단체협약외의 별도<br />합의사항</span>
										</a>
									</li>
									-->
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2102" target="_blank">
											<span class="txt">노동조합 관련현황</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=21026,21025,21028,63795,63796" target="_blank">
													<span class="txt">단체협약 정보</span>
												</a>
											</li>
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=21027" target="_blank">
													<span class="txt">임금협약 협약정보</span>
												</a>
											</li>
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=63788,63785,63786,63787,63789" target="_blank">
													<span class="txt">노조 운영비 지원</span>
												</a>
											</li>
										</ul>
									</li>
									
									<!-- 
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=21025" target="_blank">
											<span class="txt">교섭창구 단일화정보</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=21028" target="_blank">
											<span class="txt">노사협의회 의결사항</span>
										</a>
									</li>
									-->
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=21110" target="_blank">
											<span class="txt">내부규정</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2120" target="_blank">
											<span class="txt">징계현황</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2121" target="_blank">
													<span class="txt">징계처분 결과</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2130" target="_blank">
											<span class="txt">소송 및 법률자문 현황</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2131" target="_blank">
													<span class="txt">고문변호사 및 법률자문 현황</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2140" target="_blank">
											<span class="txt">일,가정 양립 지원제도 운영현황</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=2141" target="_blank">
													<span class="txt">유연근무 현황</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=7040" target="_blank">
											<span class="txt">안전관리 및 환경보호</span>
										</a>
									</li>
									<!-- 
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&reportFormRootNo=2142" target="_blank">
											<span class="txt">사회공헌 활동</span>
										</a>
									</li>
										-->
								</ul>
							</div>
							<!-- //item 기관운영 -->
						</div>
						<!-- //col-sm-4 -->

						<div class="col-sm-4">
							<div class="item item3">
								<h4>주요사업 및 경영성과</h4>
								<ul class="list_dash">
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=3120" target="_blank">
											<span class="txt">요약 재무상태표</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=3130" target="_blank">
											<span class="txt">요약 손익계산서</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=31401" target="_blank">
											<span class="txt">수입 · 지출현황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=31501" target="_blank">
											<span class="txt">주요사업</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=3160" target="_blank">
											<span class="txt">투자집행내역</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=31701" target="_blank">
											<span class="txt">자본금 및 주주현황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=3180" target="_blank">
											<span class="txt">장단기 차입금현황</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=31901" target="_blank">
											<span class="txt">투자 및 출자·출연 현황 </span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=32001" target="_blank">
													<span class="txt">출연 현황</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=32101" target="_blank">
											<span class="txt">경영부담비용추계</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=32135" target="_blank">
													<span class="txt">기타 경영상 부담이 될 사항</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=32603" target="_blank">
											<span class="txt">중장기 재무관리계획</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=63601" target="_blank">
											<span class="txt">12개 주요기관의<br>상세부채 정보</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=32211" target="_blank">
											<span class="txt">납세정보현황</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=32225" target="_blank">
													<span class="txt">세무 확정 내역</span>
												</a>
											</li>
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=32226" target="_blank">
													<span class="txt">조세포탈현황 (유죄판결 확정내역)</span>
												</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=32301" target="_blank">
											<span class="txt">감사보고서</span>
										</a>
										<ul class="list_sdot">
											<li>
												<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=43006" target="_blank">
													<span class="txt">내부감사보고서</span>
												</a>
											</li>
										</ul>
									</li>
									
								</ul>
							</div>
							<!-- //item 주요사업 및 경영성과 -->
							
						</div>
						<!-- //col-sm-4 -->

						<div class="col-sm-4">
							<div class="item item4">
								<h4>대내외 평가</h4>
								<ul class="list_dash">
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=B1210" target="_blank">
											<span class="txt">국회 지적사항</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=B1220" target="_blank">
											<span class="txt">감사원/주무부처 지적사항</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0000&amp;reportFormRootNo=B1230" target="_blank">
											<span class="txt">경영실적 평가결과</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=4270" target="_blank">
											<span class="txt">경영평가 지적사항</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0000&amp;reportFormRootNo=B1240" target="_blank">
											<span class="txt">고객만족도 조사결과</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0000&amp;reportFormRootNo=B1250" target="_blank">
											<span class="txt">감사직무실적 평가결과</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=43005" target="_blank">
											<span class="txt">이사회회의록</span>
										</a>
									</li>
								</ul>
							</div>
							<!-- //item 대내외 평가 -->

							<div class="item item5">
								<h4>정보공개</h4>
								<ul class="list_dash">
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=B1050" target="_blank">
											<span class="txt">경영혁신사례</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popReportTerm.do?apbaId=C0280&amp;reportFormRootNo=7030" target="_blank">
											<span class="txt">계약정보</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=B1030" target="_blank">
											<span class="txt">공개입찰</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&amp;reportFormRootNo=B1040" target="_blank">
											<span class="txt">연구보고서</span>
										</a>
									</li>
									<!-- 
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=70405" target="_blank">
											<span class="txt">산업재해</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=70406" target="_blank">
											<span class="txt">안전관리 책임자</span>
										</a>
									</li>
									<li>
										<a title="새창열림" class="inbox" href="http://www.alio.go.kr/popSusi.do?apbaId=C0280&reportFormRootNo=B1060" target="_blank">
											<span class="txt">기타정보공개</span>
										</a>
									</li>
									-->
								</ul>
							</div>
							<!-- //item 정보공개 -->
						
							
						</div>
						<!-- //col-sm-4 -->

					</div>
					<!-- //alio_list -->
					
					<!-- //콘텐츠 끝 -->				
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>