<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub5">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">ESG경영</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s5_01.html">경영공시</a>
							<ul class="depth3">
								<li><a href="s5_01.html">통합공시</a></li>
								<li><a href="s5_01_02.html">자체공시</a></li>
								<li><a href="s5_01_03.html">경영공시 소개</a></li>
								<li><a href="s5_01_04.html">경영공시 담당자</a></li>
								<li><a href="s5_01_05.html">자주묻는 질문</a></li>
								<li><a href="s5_01_06.html">경영공시 용어</a></li>
								<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
							</ul>
						</li>
						<li><a href="s5_02.html">윤리경영</a>
							<ul class="depth3">
								<li><a href="s5_02.html">추진방향</a></li>
								<li><a href="s5_02_02.html">윤리규범</a></li>
							</ul>
						</li>
						<li class="active"><a href="s5_03.html">인권경영</a>
							<ul class="depth3">
								<li><a href="s5_03.html">인권경영 선언문</a></li>
								<li class="active"><a href="s5_03_02.html">인권경영 운영지침</a></li>
								<li><a href="s5_03_03.html">인권경영 소식</a></li>
								<li><a href="s5_03_04.html">인권침해신고센터</a></li>
							</ul>
						</li>
						<li><a href="s5_04.html">일자리창출</a></li>
						<li><a href="s5_05.html">사회공헌</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">인권경영 운영지침</h3>

			<!-- 콘텐츠 시작 -->
			
			<div class="human_rights_rule rule">
				<div class="btns justify-content-end mb30">
					<a href="../../resources/download/humanrights_guide.hwp" class="btn">인권경영 운영지침 다운로드<i class="xi-download ml20"></i></a>
				</div>

				<div class="rule_index">
					<h4>차례</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="item">
								<strong>제 1 장 총칙</strong>
								<ul class="list_dot">
									<li><a href="#rule1">제1조 목적</a></li>
									<li><a href="#rule2">제2조 정의</a></li>
									<li><a href="#rule3">제3조 적용범위</a></li>
								</ul>
							</div>
							<div class="item">
								<strong>제 2 장 인권경영 이행사항</strong>
								<ul class="list_dot">
									<li><a href="#rule4">제4조 기본원칙</a></li>
									<li><a href="#rule5">제5조 인권경영의 이해</a></li>
									<li><a href="#rule6">제6조 고용상의 차별금지</a></li>
									<li><a href="#rule7">제7조 결사 및 단체교섭의 자유보장</a></li>
									<li><a href="#rule8">제8조 잘못된 노동관행 금지</a></li>
									<li><a href="#rule9">제9조 산업안전보장</a></li>
									<li><a href="#rule10">제10조 책임 있는 공급망 관리</a></li>
									<li><a href="#rule11">제11조 현지주민의 인권 보호</a></li>
									<li><a href="#rule12">제12조 환경권의 보호</a></li>
									<li><a href="#rule13">제13조 개인정보 보호</a></li>
								</ul>
							</div>
							<div class="item">
								<strong>제 3 장 인권경영 체계</strong>
								<ul class="list_dot">
									<li><a href="#rule14">제14조 인권경영선언</a></li>
									<li><a href="#rule15">제15조 계획 수립</a></li>
									<li><a href="#rule16">제16조 담당부서</a></li>
									<li><a href="#rule17">제17조 인권경영 활동 지원</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="item">
								<strong>제 4 장 인권경영위원회</strong>
								<ul class="list_dot">
									<li><a href="#rule18">제18조 설치 및 기능</a></li>
									<li><a href="#rule19">제19조 구성</a></li>
									<li><a href="#rule20">제20조 소집 및 회의</a></li>
									<li><a href="#rule21">제21조 의견청취</a></li>
									<li><a href="#rule22">제22조 이익 충돌 회피</a></li>
									<li><a href="#rule23">제23조 비밀 누설 금지</a></li>
									<li><a href="#rule24">제24조 위원의 위촉 해제</a></li>
								</ul>
							</div>
							<div class="item">
								<strong>제 5 장 인권경영위원회</strong>
								<ul class="list_dot">
									<li><a href="#rule25">제25조 인권침해행위의 신고 및 접수</a></li>
									<li><a href="#rule26">제26조 인권침해행위의 처리</a></li>
									<li><a href="#rule27">제27조 신고인의 신분보장</a></li>
									<li><a href="#rule28">제28조 인권침해여부에 대한 상담</a></li>
									<li><a href="#rule29">제29조 무기명 신고</a></li>
									<li><a href="#rule30">제30조 시정과 조치</a></li>
								</ul>
							</div>
							<div class="item">
								<strong>제 6 장 인권경영위원회</strong>
								<ul class="list_dot">
									<li><a href="#rule31">제31조 인권교육</a></li>
									<li><a href="#rule32">제32조 인권영향평가 실시</a></li>
									<li><a href="#rule33">제33조 인권경영 이행사항 점검</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //row -->
				</div>
				<!-- //rule_index -->
				
				<h4 class="title_h3">제1장 (총칙)</h4>
				<h6 class="title_h5" id="rule1">제 1 조 (목적)</h6>
				<p>이 지침은 한국체육산업개발주식회사(이하 “회사”라 한다) 임직원을 비롯한 모든 이해관계자의 인권보호 및 증진에 관한 정책의 수립 및 시행에 필요한 사항을 정함을 목적으로 한다.</p>
				<h6 class="title_h5" id="rule2">제2조 (정의)</h6>
				<p>이 지침에서 사용하는 용어의 정의는 다음과 같다.(’19.12.23 개정)</p>
				<ul>
					<li><span>1.</span> “인권”이라 함은 헌법 및 법률에서 보장하거나 세계인권선언, 노동자기본권선언, 국제인권기준 및 규범에서 인정하는
						인간으로서의 존엄과 가치를 말한다.</li>
					<li><span>2.</span> “임직원”이라 함은 회사에 근무하는 임원과 직원(비정규직 포함)을 말한다.</li>
					<li><span>3.</span> “이해관계자”라 함은 회사의 경영활동과 관련된 자로서 정부, 유관기관, 협력사, 지역주민 등을 말한다.</li>
				</ul>
				<h6 class="title_h5" id="rule3">제3조 (적용범위)</h6>
				<p>회사의 인권경영에 관하여는 다른 법령이나 단규에 특별한 규정이 있는 경우를 제외하고는 이 지침이 정하는 바에 따른다.</p>

				<h4 class="title_h3">제2장 인권경영 이행사항</h4>
				<h6 class="title_h5" id="rule4">제4조 (기본원칙)</h6>
				<p>회사는 인권에 대한 UN 인권기본헌장 등 국제기준 및 규범을 지지하고 준수한다.</p>
				<h6 class="title_h5" id="rule5">제5조 (인권경영의 이행)</h6>
				<p>회사는 인권침해를 사전에 예방하며, 적극적인 구제를 위해 노력한다.</p>
				<h6 class="title_h5" id="rule6">제6조 (고용상의 차별금지)</h6>
				<p>회사는 직원을 고용함에 있어서 인종, 종교, 장애, 성별, 출생지, 정치적 견해 등을 이유로 차별하지 않는다.</p>
				<h6 class="title_h5" id="rule7">제7조 (결사 및 단체교섭의 자유보장)</h6>
				<p>회사는 임직원들이 자유롭게 노동조합을 결성하는 것을 허용하며, 국가의 노동관련 법규에 따라 보장된 결사 및 단체교섭의 자유를 보장한다.</p>
				<h6 class="title_h5" id="rule8">제8조 (잘못된 노동관행 금지)</h6>
				<p>회사는 강제노동 및 아동노동을 금지하며 보건, 안전, 근무시간 등과 관련하여 국가가 비준한 모든 노동원칙을 준수한다.</p>
				<h6 class="title_h5" id="rule9">제9조 (산업안전보장)</h6>
				<p>회사는 안전하고 건강한 근무여건을 조성하여 산업안전 및 보건을 증진한다.</p>
				<h6 class="title_h5" id="rule10">제10조 (책임 있는 공급망 관리)</h6>
				<p>회사는 협력회사를 공정하게 대우하고, 해당 사업장에서 인권경영을 실천할 수 있도록 지원한다.</p>
				<h6 class="title_h5" id="rule11">제11조(현지주민의 인권 보호)</h6>
				<p>회사는 사업장이 위치한 지역주민의 인권이 침해되지 않도록 유의해야 하며, 사업장 주변 지역주민의 생명권, 거주이전의 자유, 개인의 안전에 대한 권리 및 재산소유권을 존중하고 보호해야 한다.</p>
				<h6 class="title_h5" id="rule12">제12조 (환경권의 보호)</h6>
				<p>회사는 국내외 환경관련 법규를 준수하고, 환경보호와 오염방지를 위하여 노력한다.</p>
				<h6 class="title_h5" id="rule13">제13조 (개인정보 보호)</h6>
				<p>회사는 사업을 영위함에 있어 법규 및 규정 준수를 위한 최소한의 개인정보만을 요구하고 기록하며, 모든 이해관계자의 개인 정보 보호를 위해 노력한다.</p>

				<h4 class="title_h3">제3장 인권경영 체계</h4>
				<h6 class="title_h5" id="rule14">제14조 (인권경영선언)</h6>
				<p>회사는 모든 경영활동에서 인간의 존엄과 가치를 보장하는 별지 제1호서식의 인권경영선언문을 선포하고 임직원은 선언문을 인권경영의 행동규범 및 가치판단 기준으로 실천한다.</p>
				<h6 class="title_h5" id="rule15">제15조 (계획 수립)</h6>
				<p>대표이사는 인권경영을 효과적으로 추진하기 위하여 매년 다음 사항을 포함한 인권경영 기본계획을 수립할 수 있다.(‘19.6.25 개정)</p>
				<ul>
					<li><span>1.</span> 인권경영의 추진방향</li>
					<li><span>2.</span> 인권경영의 추진과제 및 실행전략</li>
					<li><span>3.</span> 그 밖에 인권보호와 증진을 위해 필요한 사항</li>
				</ul>
				<h6 class="title_h5" id="rule16">제16조 (담당부서)</h6>
				<p>대표이사는 제15조에 관한 사항을 효율적으로 수행하기 위해 인권경영 담당부서를 두며 담당부서는 인권업무를 총괄한다.(‘19.6.25 개정)</p>
				<h6 class="title_h5" id="rule17">제17조 (인권경영 활동 지원)</h6>
				<p>대표이사는 인권 보호 및 가치 증진을 추진하기 위하여 필요한 경우 행정적 지원을 할 수 있다.</p>

				<h4 class="title_h3">제4장 인권경영위원회</h4>
				<h6 class="title_h5" id="rule18">제18조 (설치 및 기능)</h6>
				<p>인권경영의 효율적 추진을 위한 의사결정기구로서 인권경영위원회(이하 “위원회”라 한다)를 둘 수 있으며, 위원회는 임직원을 포함한 이해관계자의 인권 보호 및 증진을 위하여 다음 사항을 심의한다.(‘19.6.25 개정)</p>
				<ul>
					<li><span>1.</span> 인권경영 추진에 관한 중요 정책의 결정</li>
					<li><span>2.</span> 인권개선 권고에 관한 사항</li>
					<li><span>3.</span> 인권침해 접수사건에 대한 구제 조치에 관한 사항</li>
					<li><span>4.</span> 그 밖에 인권보호와 증진을 위해 필요한 사항</li>
				</ul>
				<h6 class="title_h5" id="rule19">제19조 (구성)</h6>
				<p>인권경영의 효율적 추진을 위한 의사결정기구로서 인권경영위원회(이하 “위원회”라 한다)를 둘 수 있으며, 위원회는 임직원을 포함한 이해관계자의 인권 보호 및 증진을 위하여 다음 사항을 심의한다.(‘19.6.25 개정)</p>
				
				<ul>
					<li><span>①</span>위원회는 위원장 1명을 포함하여 7명 이내로 구성하며, 외부위원을 포함할 수 있다.</li>
					<li><span>②</span>위원장은 대표이사가 되며, 위원은 다음 각 호에 해당하는 사람으로 한다.</li>
					<li><span>③</span>위원장은 위원회를 대표하고, 위원회 업무를 총괄하며, 부득이한 사유로 직무를 수행할 수 없는 경우에는 내부위원 중에서 직제에 따라 그 직무를 대행한다.</li>
					<li><span>④</span>외부위원의 임기는 2년으로 하며 1회에 한정하여 연임할 수 있다.</li>
					<li><span>⑤</span>외부위원 중 결원이 생겨 새로 위촉된 위원의 임기는 전임위원 임기의 남은 기간으로 한다.</li>
					<li><span>⑥</span>위원회의 사무를 처리하기 위하여 간사 1명을 두며, 간사는 인권경영 담당부서의 팀장이 된다.</li>
				</ul>
				<h6 class="title_h5" id="rule20">제20조 (소집 및 회의)</h6>
				<ul>
					<li><span>①</span>회의는 정기회의와 임시회의로 구분한다.</li>
					<li><span>②</span>위원장은 매년 1회 정기회의를 소집하며, 위원장이 필요하다고 인정할 경우 또는 재적위원 3분의 1 이상의 요구가
						있을 때는 임시회의를 소집한다.</li>
					<li><span>③</span>위원회 회의는 재적위원 과반수의 출석과 출석위원 과반수의 찬성으로 의결한다.
						다만, 가부동수인 경우에는 위원장이 결정권을 갖는다.</li>
					<li><span>④</span>위원장은 회의안건의 내용이 경미하거나 긴급을 요하는 사항에 대하여는 서면으로 의결할 수 있다.</li>
					<li><span>⑤</span>위원회 회의에 참석한 외부위원에게는 예산의 범위에서 수당을 지급할 수 있다.</li>
				</ul>
				<h6 class="title_h5" id="rule21">제21조 (의견청취)</h6>
				<p>위원장은 필요한 경우 회의안건의 당사자 또는 관련자를 출석하게 하여 의견을 청취할 수 있다.</p>
				<h6 class="title_h5" id="rule22">제22조 (이익 충돌 회피)</h6>
				<p>특정 안건과 공정한 심의·의결을 기대하기 어려운 위원은 그 안건과 관련해서는 회의에 참석할 수 없다.</p>
				<h6 class="title_h5" id="rule23">제23조 (비밀누설 금지)</h6>
				<p>위원회의 회의에 참석한 위원 및 관련자는 직무상 알게 된 비밀을 누설해서는 아니 된다.</p>
				<h6 class="title_h5" id="rule24">제24조 (위원의 위촉 해제)</h6>
				<p>대표이사는 위원이 다음 어느 하나에 해당하는 경우에는 임기만료 전이라도 해당위원의 위촉을 해제할 수 있다.(‘19.6.25 개정)</p>
				<ul>
					<li><span>1.</span> 임무를 성실히 수행하지 아니한 경우</li>
					<li><span>2.</span> 직무상 알게 된 비밀 등을 누설한 경우</li>
					<li><span>3.</span> 질병이나 그 밖의 사유로 직무를 수행하기 어려운 경우</li>
					<li><span>4.</span> 인권침해에 연루된 경우</li>
					<li><span>5.</span> 외부위원이 선임 당시의 직위에서 변동사항이 발생한 경우</li>
					<li><span>6.</span> 그 밖의 품위 손상 등으로 직무수행이 적합하지 않다고 판단되는 경우</li>
				</ul>

				<h4 class="title_h3">제5장 인권의 구제</h4>
				<h6 class="title_h5" id="rule25">제25조 (인권침해행위의 신고 및 접수)</h6>
				<ul>
					<li><span>①</span>인권침해 또는 차별행위를 당한 사람 또는 그 사실을 알고 있는 사람이나 단체는 인권경영 담당 부서의 장에게 신고할 수
						있다.</li>
					<li><span>②</span> 회사는 방문, 전화, 이메일, 회사 홈페이지 등을 통하여 제1항의 신고를 접수하여야 한다.</li>
					<li><span>③</span>인권경영 담당 부서장은 인권침해나 차별행위(이하 “인권침해행위”라 한다.)로 신고 받은 사건에 대하여 “별지 제2호
						서식”의 접수대장에 등재하고 처리하여야 한다. 다만, 신고내용이 인권침해행위에 명백하게 해당되지 아니하는 경우에는 인권침해신고가 아닌 민원으로 접수하거나 관련 지침에 따라 처리할 수 있다.</li>
				</ul>
				<h6 class="title_h5" id="rule26">제26조 (인권침해행위의 처리)</h6>
				<ul>
					<li><span>①</span>인권경영 담당 부서의 장은 인권침해행위로 신고, 접수 된 사건에 대하여 즉시 조사를 하고 인권침해 여부를 확인하여,
						인권침해행위가 있다고 판단한 경우 위원장에게 보고하고 위원장의 승인을 얻어 위원회의 상정을 결정하여야 한다.</li>
					<li><span>②</span> 위원장은 인권침해행위 안건의 공정한 처리를 위하여 필요한 경우 위원회의 심의를 거쳐 처리하게 할 수 있다.</li>
					<li><span>③</span> 제기된 인권침해행위가 회사의 소관사항이 아니거나 회사에서 발생하는 인권침해행위와 연관이 없다고 판단되는 경우
						관계기관(국가인원위원회 등)에 해당 사항을 이관할 수 있다.</li>
				</ul>
				<h6 class="title_h5" id="rule27">제27조 (신고인의 신분보장)</h6>
				<ul>
					<li><span>①</span>위원회 위원, 인권경영 담당 부서장은 제25조제1항에 따른 신고인과 신고내용에 대하여 비밀을 보장하여야 하며,
						신고인이 신고에 따른 불이익을 받지 아니하도록 필요한 조치를 하여야 한다. 다만, 신고 내용이 신고자 상대방을 음해하거나 무고가 명백한 경우에는 그러하지 아니하다.</li>
					<li><span>②</span> 직무상 또는 우연히 신고자의 신분을 인지한 임직원은 신고자의 신분을 공개하여서는 아니된다.</li>
					<li><span>③</span> 신고자의 신분이 공개된 경우에는 그 경위를 조사하여야 하며, 조사 결과 신분공개에 책임이 있는 사람에 대하여 징계 등
						필요한 조치를 하여야 한다.</li>
					<li><span>④</span> 제1항에도 불구하고 불이익을 받은 신고인은 국가인권위원회에 보호조치 및 불이익의 구제 등을 요청할 수 있으며,
						이 경우 위원회 위원장과 인권경영 담당부서의 장은 적극 협조하여야 한다.</li>
				</ul>
				<h6 class="title_h5" id="rule28">제28조 (인권침해여부에 대한 상담)</h6>
				<ul>
					<li><span>①</span>임직원은 직무를 수행하면서 이 지침을 위반하는지 여부가 분명하지 아니할 경우에는 인권경영 담당 부서장과 상담한 후
						처리할 수 있다.</li>
					<li><span>②</span> 대표이사는 제1항에 따른 상담이 원활하게 이루어질 수 있도록 소통 채널⋅상담실 설치 등 필요한 조치를 할 수 있다.</li>
					<li><span>③</span>인권경영 담당 부서의 장이 인권침해 또는 차별행위로 신고·접수된 경우, 감사 부서의 장이 대신하는 것을 원칙으로 하되,
						필요한 경우 대표이사가 담당자를 지정할 수 있다. (’19.12.23 신설)</li>
					<li><span>④</span> 제3항은 이 지침에 의한 신고·접수, 신고인의 신분보장 등의 경우에도 준용한다. (’19.12.23 신설)</li>
				</ul>
				<h6 class="title_h5" id="rule29">제29조 (무기명 신고)</h6>
				<ul>
					<li><span>①</span>무기명 신고는 접수‧처리하지 않는 것을 원칙으로 한다.</li>
					<li><span>②</span> 제1항에도 불구하고 무기명 신고라 하더라도 기명의 신고방법으로는 본인에게 불이익의 개연성이 있거나 신고 내용이
						사실로서 진정성이 높다고 인정되는 경우에는 예외적으로 접수‧처리할 수 있다.</li>
				</ul>
				<h6 class="title_h5" id="rule30">제30조 (시정과 조치)</h6>
				<p>대표이사는 인권침해 사실 및 지침 위반 사항에 대하여 시정하여야 하고, 고의 또는 과실로 인권침해행위를 한 임직원에 대하여는 인사조치 및 재발방지 교육 등 필요한 조치를 하여야 한다.(’19.11.27 개정)</p>

				<h4 class="title_h3">제6장 교육 및 평가</h4>
				<h6 class="title_h5" id="rule31">제31조 (인권교육)</h6>
				<ul>
					<li><span>①</span>대표이사는 모든 임직원을 대상으로 연 1회 이상의 인권 교육을 실시하며, 교육시기와 방법은 선택할 수 있다.</li>
					<li><span>②</span>대표이사는 인권존중 문화 확산을 위하여 필요한 경우 협력회사 등 이해관계자를 대상으로 하는 인권교육을 실시하도록
						할 수 있다.</li>
					<li><span>③</span>제1항 및 제2항의 인권교육은 회사의 연간 교육일정과 시기를 고려하여 사이버교육, 집합교육 등 적절한 방법으로 실시할
						수 있다.</li>
				</ul>
				<h6 class="title_h5" id="rule32">제32조 (인권영향평가 실시)</h6>
				<ul>
					<li><span>①</span>대표이사는 기관운영, 주요사업 등 임직원과 이해관계자의 인권에 영향을 미치는 사안을 대상으로 인권영향평가를 실시할
						수 있다.</li>
					<li><span>②</span>인권영향평가는 인권경영 담당부서에서 주관하며 평가를 위하여 관련 자료를 각 부서에 요구할 수 있다.</li>
					<li><span>③</span>인권영향평가를 외부 전문기관에 위탁하여 시행할 수 있다.</li>
					<li><span>③</span>인권영향평가 결과는 위원회의 심의를 거쳐 대표이사에게 제출한다.</li>
					<li><span>③</span>인권영향평가에 대한 세부 절차와 방법은 사안에 따라 대표이사가 별도 계획을 수립하여 실시한다.</li>
				</ul>
				<h6 class="title_h5" id="rule33">제33조 (인권경영 이행사항 점검 등)</h6>
				<p>인권경영 담당 부서장은 회사의 인권경영 이행현황을 정기적으로 확인하기 위해 인권경영 가이드라인 체크리스트 자체점검을 실시하고 그 결과를 공개하여야 한다.</p>

				<h4 class="title_h3">부 칙</h4>
				<h6 class="title_h5">부 칙</h6>
				<p>제1조(시행일) 이 지침은 대표이사의 결재를 받은 날부터 시행한다.</p>
				<p>제2조(경과조치) 이 지침의 시행일 이전에 시행된 사항은 이 지침에 따라 시행된 것으로 본다.</p>

				<h6 class="title_h5">부 칙</h6>
				<p>(개정 2019.6.25)</p>
				<p>이 지침은 대표이사의 결재를 받은 날부터 시행한다.</p>

				<h6 class="title_h5">부 칙</h6>
				<p>(개정 2019.11.27)</p>
				<p>이 지침은 대표이사의 결재를 받은 날부터 시행한다.</p>

				<h6 class="title_h5">부 칙</h6>
				<p>(개정 2019.12.23)</p>
				<p>이 지침은 인권경영위원회의 의결을 받은 날부터 시행한다.</p>

			</div>
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>