<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
            <div class="sub_visual sub5">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">ESG경영</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s5_01.html">경영공시</a>
									<ul class="depth3">
										<li><a href="s5_01.html">통합공시</a></li>
										<li class="active"><a href="s5_01_02.html">자체공시</a></li>
										<li><a href="s5_01_03.html">경영공시 소개</a></li>
										<li><a href="s5_01_04.html">경영공시 담당자</a></li>
										<li><a href="s5_01_05.html">자주묻는 질문</a></li>
										<li><a href="s5_01_06.html">경영공시 용어</a></li>
										<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
									</ul>
								</li>
								<li><a href="s5_02.html">윤리경영</a>
									<ul class="depth3">
										<li><a href="s5_02.html">추진방향</a></li>
										<li><a href="s5_02_02.html">윤리규범</a></li>
									</ul>
								</li>
								<li><a href="s5_03.html">인권경영</a>
									<ul class="depth3">
										<li><a href="s5_03.html">인권경영 선언문</a></li>
										<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
										<li><a href="s5_03_03.html">인권경영 소식</a></li>
										<li><a href="s5_03_04.html">인권침해신고센터</a></li>
									</ul>
								</li>
								<li><a href="s5_04.html">일자리창출</a></li>
								<li><a href="s5_05.html">사회공헌</a></li>
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">자체공시</h3>
					<nav class="depth4">
						<ul class="list">
							<li><a href="s5_01_02.html">국회업무보고</a></li>
							<li><a href="s5_01_02.html">청렴도 측정결과</a></li>
							<li><a href="s5_01_02.html">고객만족도 측정결과</a></li>
							<li><a href="s5_01_02.html">인권경영위원회 운영현황</a></li>	
							<li><a href="s5_01_02_05.html">공용차량 운영현황</a></li>
							<li><a href="s5_01_02_06.html">법인카드 운영현황</a></li>
							<li><a href="s5_01_02_07.html">주요시설물<br> 안전점검 결과</a></li>
							<li><a href="s5_01_02.html">업무협약(MOU) 체결현황</a></li>
							<li><a href="s5_01_02_09.html">인증 및 수상실적</a></li>
							<li><a href="s5_01_02.html">내부규정 제개정 예고</a></li>
							<li class="active"><a href="s5_01_02_11.html">친환경제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">중소기업제품 구매실적</a></li>
							<li><a href="s5_01_02_11.html">장애인생산품 구매실적</a></li>
						</ul>
					</nav>
				

					<!-- 콘텐츠 시작 -->
					<div class="prior_info">
						<div class="box message_box">
							<div class="major_message mb10">
								<p class="main_txt">사전정보공표 제도는 국민들이 정보공개를 청구하기 전에 국민이 필요로 하는 정보를 선제적, 능동적으로 공개하는 제도입니다.</p>						
							</div>
							<p class="p_dot">비공개 대상 정보 외에 국민이 알아야 할 필요가 있는 정보</p>
							<ul class="list_dash">
								<li>국민생활에 매우 큰 영향을 미치는 정책에 관한 정보</li>
								<li>국가의 시책으로 시행하는 공사 등 대규모 예산이 투입되는 사업에 관한 정보</li>
								<li>예산집행의 내용과 사업평가 결과 등 행정감시를 위하여 필요한 정보</li>
								<li>그 밖에 공공기관의 장이 정하는 정보</li>
							</ul>
						</div>
						<ul class="tabs">
							<li class="item1">
								<a href="" class="tab_nav" title="선택된 탭메뉴">
									<i aria-hidden="true"></i>
									<em>전체</em>
								</a>
							</li>
							<li class="item2">
								<a href="" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i>
									<em>기관운영</em>
								</a>
							</li>
							<li class="item3 active">
								<a href="" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i>
									<em>계약구매</em>
								</a>
							</li>
							<li class="item4">
								<a href="" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i>
									<em>예산재무</em>
								</a>
							</li>
							<li class="item5">
								<a href="" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i>
									<em>외부평가</em>
								</a>
							</li>
							<li class="item6">
								<a href="" class="tab_nav" title="비활성 탭메뉴">
									<i aria-hidden="true"></i>
									<em>주요사업</em>
								</a>
							</li>
						</ul>
					</div>

					<div class="board">		
						<div class="board_info">
							<div class="page_info">
								<span class="total_page">전체<strong>3건</strong></span>
								<span class="current_page">현재 페이지<strong>1/10</strong></span>
							</div>
							<form class="board_search">
								<fieldset class="form-row">
									<legend class="sr-only">게시글 검색</legend>
									<select class="search_type form-select mr20" title="검색분류선택">
										<option value="all">전체</option>
										<option value="">공개항목</option>
										<option value="">주요내용</option>
										<option value="">담당부서</option>
									</select>
									<input type="text" class="input_keyword form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
									<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
								</fieldset>
							</form>
						</div>
						<!-- //board_info -->
		
						<div class="board_list simple">
							<table>
								<caption>사전정보공표 - 번호, 공개항목, 주요내용, 공표주기, 공표시기, 담당부서, 공표방법</caption>
								<colgroup>
									<col width="10%">
									<!--<col width="10%" />-->
									<col width="*">
									<col width="12%">
									<col width="12%">
								</colgroup>
								<thead class="dhead">
								<tr>
									<th scope="col">번호</th>
									<th scope="col" class="title">제목</th>
									<th scope="col">조회수</th>
									<th scope="col">작성일</th>
								</tr>
								</thead>
								<tbody class="dbody">						
								<tr>
									<td >7</td>
									<td data-title="제목" class="title">2020년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">13</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								<tr>
									<td >6</td>
									<td data-title="제목" class="title">2019년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">45</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								<tr>
									<td >5</td>
									<td data-title="제목" class="title">2018년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">45</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								<tr>
									<td >4</td>
									<td data-title="제목" class="title">2017년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">13</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								<tr>
									<td >3</td>
									<td data-title="제목" class="title">2016년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">45</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								<tr>
									<td >2</td>
									<td data-title="제목" class="title">2015년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">45</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								<tr>
									<td >1</td>
									<td data-title="제목" class="title">2014년도 중증장애인생산품 구매실적 현황</td>
									<td data-title="조회수">13</td>
									<td data-title="작성일">2021-07-22</td>
								</tr>
								
								
								</tbody>
							</table>
						</div>
						<!-- //board_list -->
		
						<div class="paging">
							<a href="" class="page_first"><i aria-hidden="true"></i><span class="sr_only">첫페이지</span></a>
							<a href="" class="page_prev"><i aria-hidden="true"></i><span class="sr_only">이전페이지</span></a>
							<a href="" class="page_none page_now"><strong>1</strong></a>
							<a href="" class="page_none">2</a>
							<a href="" class="page_next"><i aria-hidden="true"></i><span class="sr_only">다음페이지</span></a>
							<a href="" class="page_last"><i aria-hidden="true"></i><span class="sr_only">마지막페이지</span></a>
						</div>
						<!-- //paging -->
		
					</div>
					<!--//board-->

					<div class="alio_foot">
						<ul>
							<li><strong>공시주기</strong> <span>연 1회</span></li>
							<li><strong>작성기준일</strong> <span>2019. 12. 31.</span></li>
						</ul>							
					</div>
					
					<!-- //콘텐츠 끝 -->
					
					
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->           
      
</body>

</html>