<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub5">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">ESG경영</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="s5_01.html">경영공시</a>
							<ul class="depth3">
								<li><a href="s5_01.html">통합공시</a></li>
								<li><a href="s5_01_02.html">자체공시</a></li>
								<li><a href="s5_01_03.html">경영공시 소개</a></li>
								<li><a href="s5_01_04.html">경영공시 담당자</a></li>
								<li><a href="s5_01_05.html">자주묻는 질문</a></li>
								<li><a href="s5_01_06.html">경영공시 용어</a></li>
								<li><a href="s5_01_07.html">경영공시 개선센터</a></li>
							</ul>
						</li>
						<li class="active"><a href="s5_02.html">윤리경영</a>
							<ul class="depth3">
								<li><a href="s5_02.html">추진방향</a></li>
								<li class="active"><a href="s5_02_02.html">윤리규범</a></li>
							</ul>
						</li>
						<li><a href="s5_03.html">인권경영</a>
							<ul class="depth3">
								<li><a href="s5_03.html">인권경영 선언문</a></li>
								<li><a href="s5_03_02.html">인권경영 운영지침</a></li>
								<li><a href="s5_03_03.html">인권경영 소식</a></li>
								<li><a href="s5_03_04.html">인권침해신고센터</a></li>
							</ul>
						</li>
						<li><a href="s5_04.html">일자리창출</a></li>
						<li><a href="s5_05.html">사회공헌</a></li>
					</ul>
				</nav>
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">





			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">윤리규범</h3>

			<nav class="depth4">
				<ul class="list">
					<li><a href="s5_02_02.html">윤리헌장</a></li>
					<li class="active"><a href="s5_02_02_02.html">윤리강령</a></li>
					<li><a href="s5_02_02_03.html">임직원 행동강령</a></li>
				</ul>
			</nav>
			<!-- 콘텐츠 시작 -->
			
			<div class="ethics_rule rule">
				<h4 class="title_h3">제1장 (총칙)</h4>
				<h6 class="title_h5">제 1 조 (목적)</h6>
				<p>이 윤리강령(이하 "강령"이라 한다)은 한국체육산업개발주식회사(이하 "회사"라 한다)의 윤리헌장을 준수하기 위한 올바른 의사결정과 윤리적 판단 기준을 임직원에게 제공함을 목적으로 한다.</p>
				<h6 class="title_h5">제 2 조 (적용대상)</h6>
				<p>이 강령은 회사 전 임직원에게 적용한다.</p>

				<h4 class="title_h3">제2장 임직원의 기본윤리</h4>
				<h6 class="title_h5">제 3 조 (임직원의 기본윤리)</h6>
				<ul>
					<li><span>①</span>임직원은 회사 임직원으로서 긍지와 자부심을 가지며 항상 정직하고 성실한 자세를 견지한다.</li>
					<li><span>②</span>임직원은 높은 윤리적 가치관을 가지고 개인의 품위와 회사의 명예를 유지·발전시킬 수 있도록 노력한다.</li>
					<li><span>③</span>임직원은 직무를 수행함에 있어 제반 법령과 규정을 준수함과 동시에 양심에 어긋나지 않도록 행동한다.</li>
				</ul>
				<h6 class="title_h5">제 4 조 (사명완수)</h6>
				<p>임직원은 회사의 경영이념과 비전을 공유하고, 회사가 추구하는 목표와 가치에 공감하여 창의와 성실로써 맡은 바 책임을 완수한다.</p>
				<h6 class="title_h5">제 5 조 (자기계발)</h6>
				<p>임직원은 국제화·개방화 시대에 바람직한 인재상을 스스로 정립하고 끊임없는 자기계발을 통해 이에 부합되도록 꾸준히 노력한다.</p>
				<h6 class="title_h5">제 6 조 (공정한 직무수행)</h6>
				<ul>
					<li><span>①</span>임직원은 직무를 수행함에 있어 관련된 제반 법령과 규정을 준수하여 공정하게 수행하여야 한다.</li>
					<li><span>②</span>임직원은 자기 또는 회사의 이익을 위하여 자기 또는 타인의 공정한 직무수행을 저해할 수 있는 부당한 지시, 알선·청탁, 특혜부여 등 사회의 지탄을 받을 만한 비윤리적·불법적 행위를 하여서는 아니 된다.</li>
				</ul>
				<h6 class="title_h5">제 7 조 (이해충돌회피)</h6>
				<ul>
					<li><span>①</span>임직원은 직무를 수행함에 있어 회사의 이해와 상충되는 어떠한 행위나 이해관계도 회피하여야 한다.</li>
					<li><span>②</span>임직원은 회사와 개인 또는 부서간의 이해가 상충될 경우에는 회사의 이익을 우선적으로 고려하여야 한다.</li>
				</ul>
				<h6 class="title_h5">제 8 조 (부당이득 수수금지 등)</h6>
				<ul>
					<li><span>①</span>임직원은 직위를 이용하여 부당한 이익을 얻거나 타인이 부당한 이익을 얻도록 하여서는 아니 된다.</li>
					<li><span>②</span>임직원은 직무와 관련하여 사회통념상 용인되는 범위를 넘어 공정성을 저해할 수 있는 금품·향응 등을 직무관련자에게 제공하거나 직무관련자로부터 제공받아서는 아니 된다.</li>
				</ul>
				<h6 class="title_h5">제 9 조 (공·사 구분)</h6>
				<ul>
					<li><span>①</span>임직원은 직무를 수행함에 있어 공·사를 명확히 구분하여야 한다.</li>
					<li><span>②</span>임직원은 회사의 재산을 사적으로 사용하거나 회사의 예산을 목적 외의 용도로 사용하여 회사에 재산상 손해를 가해서는 아니 된다.</li>
					<li><span>③</span>임직원은 근무시간 내 사적인 일에 시간을 할애하여 업무수행에 지장을 주거나, 사내정보통신시스템을 온라인게임, 도박, 음란사이트 방문 등 업무상 용도이외의 부적절한 용도로 사용해서는 아니 된다.</li>
					<li><span>④</span>임직원은 대표이사의 허가나 승인 없이 직무이외의 영리를 목적으로 하는 일에 종사하거나 다른 직무를 겸할 수 없다.</li>
				</ul>
				<h6 class="title_h5">제 10 조 (임직원 상호 관계)</h6>
				<ul>
					<li><span>①</span>임직원은 상호간에 직장생활에 필요한 기본예의를 지켜야 하며 불손한 언행이나 다른 임직원을 비방하는 등의 괴로움을 주는 행위를 하여서는 아니 된다.</li>
					<li><span>②</span>임직원은 학벌·성별·종교·혈연·출신지역 등에 따른 파벌조성이나 차별대우를 하여서는 아니 된다.</li>
					<li><span>③</span>임직원 상호간에는 부당한 청탁이나 사회통념상 과다한 선물제공 및 금전거래 등의 행위를 하여서는 아니 된다.</li>
					<li><span>④</span>상급자는 하급자에게 부당한 지시를 하여서는 아니 되며 하급자는 상급자의 정당한 지시에 순응하되 부당한 지시는 거절하여야 한다.</li>
					<li><span>⑤</span>임직원은 상호간에 성적 유혹 및 성적 수치심을 유발시키는 행위를 하여서는 아니 된다.</li>
				</ul>
				<h6 class="title_h5">제 11 조 (건전한 생활)</h6>
				<ul>
					<li><span>①</span>임직원은 공직자로서 자세에 어긋나지 않도록 허례허식을 배격하고 검소한 의식주와 건전한 여가 활동을 생활화하여야 한다.</li>
					<li><span>②</span>임직원은 건전한 경조사문화 정착을 위해 노력하며 직무관련자에게는 경조사 통지를 하여서는 아니되며 경조금품도 사회통념에 비추어 과도한 수준이 되지 않도록 한다.</li>					
				</ul>
				<h6 class="title_h5">제 12 조 (투명한 정보 및 회계관리)</h6>
				<ul>
					<li><span>①</span>임직원은 모든 정보를 정당하고 투명하게 취득·관리하여야 하며 회계기록 등의 정보는 정확하고 정직하게 기록·관리하여야 한다.</li>
					<li><span>②</span>임직원은 직무관련 취득정보를 대표이사의 사전 허가나 승인 없이 외부로 유출하거나 부당하게 이용하여서는 아니 된다.</li>
					<li><span>③</span>임직원은 특정 개인이나 부서의 이익을 위해 허위 또는 과장보고를 하지 않으며 중요한 정보를 은폐하거나 독점하지 않는다.</li>
					<li><span>④</span>정보공개를 담당하는 임직원은 관련법령과 규정에 따라 경영정보를 공시하여 경영의 투명성과 신뢰도를 높인다.</li>
				</ul>

				<h4 class="title_h3">제3장 고객에 대한 윤리</h4>
				<h6 class="title_h5">제 13 조 (고객존중)</h6>
				<p>임직원은 고객이 우리의 존립이유이자 목표라는 인식 하에 항상 고객을 존중하고 고객의 입장에서 생각하며 고객을 모든 행동의 최우선 기준으로 삼는다.</p>
				<h6 class="title_h5">제 14 조 (고객만족)</h6>
				<ul>
					<li><span>①</span>임직원은 고객의 요구와 기대를 정확하게 파악하여 이에 부응하는 최상의 서비스를 제공하기 위해 항상 노력한다.</li>
					<li><span>②</span>임직원은 고객의 의견과 제안사항을 항상 경청하고 겸허하게 수용하며 고객 불만사항에 대해서는 최대한 신속하고 공정하게 처리한다.</li>
					<li><span>③</span>임직원은「고객서비스헌장」과「서비스이행표준」을 충분히 숙지하고 이행하여 고객만족과 아울러 고객가치를 창조한다.</li>
				</ul>
				<h6 class="title_h5">제 15 조 (고객의 이익 보호)</h6>
				<ul>
					<li><span>①</span>임직원은 고객의 자산, 지적재산권, 영업비밀, 고객정보 등을 회사의 재산보다 더 소중하게 보호하며 비도덕적 행위로 인하여 고객의 이익을 침해하지 아니한다.</li>
					<li><span>②</span>임직원은 고객이 알아야 하거나 고객에게 마땅히 알려야 하는 사실은 정확하고 신속하게 제공하고 설명하여야 한다.</li>
				</ul>
				
				<h4 class="title_h3">제4장 경쟁사 및 거래업체에 대한 윤리</h4>
				<h6 class="title_h5">제 16 조 (거래법규 준수)</h6>
				<p>임직원은 모든 사업 및 영업활동을 함에 있어서 해당 국가 및 지역의 제반법규를 준수하고 국내외 상거래관습을 존중한다.</p>
				<h6 class="title_h5">제 17 조 (자유경쟁추구)</h6>
				<p>임직원은 자유경쟁의 원칙에 따라 시장경제질서를 존중하고 경쟁사와는 상호존중을 기반으로 정정당당하게 선의의 경쟁을 추구한다.</p>
				<h6 class="title_h5">제 18 조 (공정한 거래)</h6>
				<ul>
					<li><span>①</span>임직원은 회사가 시행하는 공사·용역·물품구매 등의 입찰 및 계약체결 등에 있어서 자격을 구비한 모든 개인 또는 단체에게 평등한 기회를 부여한다.</li>
					<li><span>②</span>임직원은 모든 거래를 상호 대등한 위치에서 공정하게 수행하되 공개적이고 일상적인 업무장소에서 투명하게 이루어지도록 한다.</li>
					<li><span>③</span>임직원은 거래상 우월적인 지위를 이용하여 금품 등을 요구하거나 불공정한 거래조건 강요, 경영간섭 등 부당한 요구를 하지 않는다.</li>
					<li><span>④</span>임직원은 모든 거래시에는 청렴계약을 체결하고 이를 준수한다.</li>
				</ul>

				<h4 class="title_h3">제5장 임직원에 대한 윤리</h4>
				<h6 class="title_h5">제 19 조 (임직원 존중)</h6>
				<p>회사는 임직원에 대한 믿음과 애정을 가지고 임직원 개개인을 존엄한 인격체로 대하며, 임직원 개인의 종교적·정치적 의사와 사생활을 존중한다.</p>
				<h6 class="title_h5">제 20 조 (공정한 대우)</h6>
				<p>회사는 교육, 승진 등에 있어서 임직원 개인의 능력과 자질에 따라 균등한 기회를 부여하고, 성과와 업적에 대해서는 공정하게 평가하고 보상하며, 성별·학력·연령·종교·출신지역·신체장애 등 불합리한 사유로 차별하지 않는다.</p>
				<h6 class="title_h5">제 21 조 (인재육성 및 창의성 촉진)</h6>
				<p>회사는 임직원의 능력개발을 적극 지원하여 전문적이고 창의적인 인재로 육성하고, 임직원의 독창적이고 자율적인 사고와 행동을 촉진하기 위하여 모든 임직원이 자유롭게 제안하고 의사표현을 할 수 있는 여건을 조성한다.</p>
				<h6 class="title_h5">제 22조 (삶의 질 향상)</h6>
				<ul>
					<li><span>①</span>회사는 임직원이 정당한 방법으로 직무를 수행할 수 있도록 제도를 확립하고 직무수행을 통하여 긍지와 보람을 성취할 수 있도록 최선을 다한다.</li>
					<li><span>②</span>회사는 임직원이 쾌적하고 안전하게 일할 수 있는 근무환경을 조성하고, 임직원과 가족의 건강, 교육, 복지후생 등 삶의 질을 향상시킬 수 있는 프로그램을 적극적으로 개발·실행한다.</li>
				</ul>


				<h4 class="title_h3">제6장 국가와 사회에 대한 윤리</h4>
				<h6 class="title_h5">제 23 조 (국가와 사회발전 기여)</h6>
				<ul>
					<li><span>①</span>임직원은 합리적이고 책임있는 경영을 통해 건실한 기업으로 성장 발전시켜 사회적 부를 창조함으로써 국가와 사회의 발전에 이바지하여야 한다.</li>
					<li><span>②</span>회사는 지역사회의 일원으로서 사회 각 계층과 지역주민의 정당한 요구를 겸허히 수용하여 이를 해결하는데 최선을 다해야 한다.</li>
					<li><span>③</span>회사는 임직원의 사회공익활동 참여를 적극 지원하고 지역사회의 문화적·경제적 발전을 위하여 노력하여야 한다.</li>
				</ul>
				<h6 class="title_h5">제 24 조 (부당한 정치활동 금지)</h6>
				<ul>
					<li><span>①</span>회사는 부당하게 정치에 관여하지 않으며 정당·정치인·선거후보자 등에게 불법적인 기부금 또는 경비 등을 제공하지 않는다.</li>
					<li><span>②</span>회사는 임직원의 개인의 정치적 견해를 존중한다. 다만, 임직원은 개인의 정치적 견해가 회사의 공식적 입장으로 오해받지 않도록 주의하여야 한다.</li>
				</ul>
				<h6 class="title_h5">제 25 조 (안전 및 위험예방)</h6>
				<p>임직원은 안전에 관한 제반 법규와 기준을 준수하여 재해 및 위험예방관리에 최선을 다해야 한다.</p>
				<h6 class="title_h5">제 26 조 (환경보호)</h6>
				<p>임직원은 환경문제의 중요성을 깊이 인식하여 국내외 환경관련 법규를 준수하고 환경보호 및 오염방지를 위하여 노력하여야 한다.</p>
				<h6 class="title_h5">제 27 조 (노사화합)</h6>
				<p>임직원은 노사 모두가 주인임을 명심하고 신뢰와 화합을 바탕으로 노사의 공존과 번영을 위해 노력하여야 한다.</p>
				<h6 class="title_h5">제 28 조 (국제경영규정 준수)</h6>
				<p>임직원은 국제거래에 있어서 국제상거래 뇌물방지협약 등 투자와 거래에 관한 국제적 협약과 제 규정을 준수하고 현지국의 법규와 문화를 존중하며 현지국의 경제발전에 공헌하여야 한다.</p>
				

				<h4 class="title_h3">제7장 보 칙</h4>
				<h6 class="title_h5">제 29 조 (준수의무와 책임)</h6>
				<ul>
					<li><span>①</span>임직원은 강령을 숙지하고 준수하여야 하며 위반사항에 대해서는 그에 따른 책임을 진다.</li>
					<li><span>②</span>대표이사와 임원, 부서장은 소속직원의 강령 준수 여부를 관리·감독할 책임이 있다.</li>
				</ul>
				<h6 class="title_h5">제 30 조 (교육)</h6>
				<ul>
					<li><span>①</span>대표이사는 임직원에 대하여 부패방지와 이 강령 및 행동강령 등 윤리경영관련 규정의 준수를 위한 교육계획을 수립· 시행하며 매년 1회 이상 교육을 실시한다.</li>
					<li><span>②</span>대표이사는 신규 임용시 신입사원에 대해서 윤리경영에 관련된 교육을 실시한다.</li>
				</ul>
				<h6 class="title_h5">제 31 조 (포상 및 징계)</h6>
				<ul>
					<li><span>①</span>대표이사는 윤리경영관련 규정을 준수하고 윤리경영 정립에 기여한 임직원에 대하여는 인사평가에 반영하는 등 그에 상응한 포상을 실시할 수 있다.</li>
					<li><span>②</span>대표이사는 강령에 저촉된 행위를 한 임직원에 대하여는 징계 등 필요한 조치를 취할 수 있다. 다만, 구체적인 징계대상 위반행위에 대해서는 행동강령에서 별도로 정한다.</li>
					<li><span>③</span>제2항의 규정에 의한 징계의 종류, 절차, 효력 등은 회사의 징계관련 규정이 정한 바에 따른다.</li>
				</ul>
				<h6 class="title_h5">제 32 조 (윤리경영위원회의 설치)</h6>
				<ul>
					<li><span>①</span>대표이사는 윤리경영의 원활한 추진과 정착 및 강령의 원활한 이행 등을 위하여 필요한 경우 윤리경영위원회를 설치하여 운영할 수 있다.</li>
					<li><span>②</span>윤리경영위원회는 다음 각 호의 1에 해당하는 업무를 수행한다.
						<ul>
							<li><span>1.</span>윤리경영 추진에 관한 중요정책 결정</li>
							<li><span>2.</span>윤리경영 관련규정의 제정과 개·폐에 관한 사항</li>
							<li><span>3.</span>임직원의 윤리경영관련 규정의 실천에 관한 사항</li>
							<li><span>4.</span>기타 윤리경영 실천 및 추진에 필요한 사항</li>
						</ul>
					</li>
					<li><span>②</span>제1항의 규정에 의하여 윤리경영위원회가 설치된 경우, 이 강령의 규정에 의한 대표이사의 직무는 윤리경영위원회가 수행할 수 있다.</li>
					<li><span>②</span>윤리경영위원회의 설치 및 운영에 관하여 필요한 사항은 별도로 정할 수 있다.</li>
				</ul>
				<h6 class="title_h5">제 33 조 (강령의 운영)</h6>
				<ul>
					<li><span>①</span>대표이사는 조직의 발전상황과 환경변화에 맞추어 강령의 내용을 지속적으로 보완·발전시켜야 한다.</li>
					<li><span>②</span>대표이사는 강령을 준수하고 임직원의 청렴성 유지 등을 위하여 필요한 구체적인 판단기준 및 처리절차와 그 운영에 관하여 필요한 세부사항은 행동강령에서 별도로 정한다.</li>
				</ul>



				<h4 class="title_h3">부칙</h4>
				<p>이 강령은 윤리경영위원회의 의결을 받은 날부터 시행한다.</p>
					
				
			</div>
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>