<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
			
            <div class="sub_visual sub1">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
							<ul class="depth2">
								<li><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li><a href="s6_01.html">기관개요</a></li>
										<li><a href="s6_01_02.html">비전</a></li>
										<li><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li class="active"><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li class="active"><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

                    <!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">색상규정</h3>

					<!-- 콘텐츠 시작 -->
					<div class="color_system">
						<h4 class="title_h3 mt0">컬러시스템</h4>
						<div class="row">
							<div class="col-sm-4">
								<div class="box border">
									<div class="color color1">
										<span class="sr-only">blue</span>
									</div>
									<strong class="title">Blue</strong>
									<ul>
										<li><em>RGB</em><span>R10</span> <span>G42</span> <span>B112</span></li>
										<li><em>CMYK</em><span>C100</span><span>M65</span><span>Y0</span><span>K25</span></li>
										<li><em>Pantone</em><span>288C</span></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="box border">
									<div class="color color2">
										<span class="sr-only">Sky Blue</span>
									</div>
									<strong class="title">Sky Blue</strong>
									<ul>
										<li><em>RGB</em><span>R27</span> <span>G153</span> <span>B196</span></li>
										<li><em>CMYK</em><span>C90</span><span>M10</span><span>Y0</span><span>K0</span></li>
										<li><em>Pantone</em><span>299C</span></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="box border">
									<div class="color color3">
										<span class="sr-only">Orange</span>
									</div>
									<strong class="title">Orange</strong>
									<ul>
										<li><em>RGB</em><span>R255</span> <span>G127</span> <span>B0</span></li>
										<li><em>CMYK</em><span>C0</span><span>M50</span><span>Y100</span><span>K0</span></li>
										<li><em>Pantone</em><span>151C</span></li>
									</ul>
								</div>
							</div>							
						</div>
						
						<h4 class="title_h3">색상활용</h4>
						<img src="../../resources/img/sub/s6_04_02_color.png" alt="">

						<h4 class="title_h3">명도에 따른 색상활용</h4>
						<img src="../../resources/img/sub/s6_04_02_gray.png" alt="">

					</div>
					<!-- //color_system -->
					

					<!-- //콘텐츠 끝 -->
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
       

</body>

</html>