<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>한국체육산업개발</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="페이지 설명">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/webfonts.css">
    <link rel="stylesheet" href="../../resources/css/layout.css">
    <link rel="stylesheet" href="../../resources/css/sub.css">
    <script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../resources/jquery/slick.min.js"></script>
    <script src="../../resources/js/func.min.js"></script>
    <script src="../../resources/js/common.js"></script>
    <script src="../../resources/js/sub.js"></script>
    <script src="../../resources/js/board.js"></script>
</head>

<body>
    

            
			
            <div class="sub_visual sub6">                
				<h2 class="title">비주얼타이틀영역</h2>
            </div><!-- //sub_visual-->

            <div class="snb_content_wrap container">

                <section id="snb" class="snb_section">
                    <div class="snb">
                        <h2 class="title">기관소개</h2>
                        <nav class="nav">
                            <ul class="depth2">
								<li class="active"><a href="s6_01.html">한국체육산업개발</a>
									<ul class="depth3">
										<li><a href="s6_01.html">기관개요</a></li>
										<li class="active"><a href="s6_01_02.html">비전</a></li>
										<li><a href="s6_01_03.html">연혁</a></li>
									</ul>
								</li>
								<li><a href="s6_02.html">인사말</a>
									<ul class="depth3">
										<li><a href="s6_02.html">대표이사 인사말</a></li>
										<li><a href="s6_02_02.html">대표이사 프로필</a></li>
									</ul>
								</li>					
								<li><a href="s6_03.html">조직도</a></li>
								<li><a href="s6_04.html">CI소개</a>
									<ul class="depth3">
										<li><a href="s6_04.html">심볼마크, 시그니춰</a></li>
										<li><a href="s6_04_02.html">색상규정</a></li>
									</ul>
								</li>
								<li><a href="s6_05.html">오시는길</a>
									<ul class="depth3">
										<li><a href="s6_05.html">대중교통 이용</a></li>
										<li><a href="s6_05_02.html">승용차 이용</a></li>
										<li><a href="s6_05_03.html">지방 및 해외</a></li>
									</ul>
								</li>
								
							</ul>
                        </nav>
                    </div>

                </section>
                <!-- //snb -->

                <div id="content" class="content_section">

					<!-- 페이지 타이틀 -->
					<h3 class="hidden_h1 sr-only">비전</h3>

					<!-- 콘텐츠 시작 -->
                    
					<div class="vision_wrap"> 
						<div class="mission">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">미션</strong> 
								</div>
								<div class="col-sm-9">
									<p class="cont"><strong class="slogan">스포츠와 문화공간 제공으로 일상을 다채롭게, 삶을 풍요롭게</strong></p>
								</div>
							</div>
						</div> 
						<div class="vision">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">비전</strong> 
								</div>
								<div class="col-sm-9">	
									<p class="cont"><strong class="slogan">국민과 함께 소통하는 여가문화 서비스 전문기관</strong></p>
								</div>
							</div>	
						</div> 
						<div class="worthy">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">핵심가치</strong> 
								</div>
								<div class="col-sm-9">
									<div class="cont">
										<strong class="slogan">"안전을 최우선으로 고객을 위해 서로 존중하며, 끊임없이 혁신하자"</strong> 
										<ul class="circle_list"> 
											<li><span class="circle">안전우선</span></li> 
											<li><span class="circle">고객지향</span></li> 
											<li><span class="circle">상호존중</span></li> 
											<li><span class="circle">혁신추구</span></li> 
										</ul>
									</div>
								</div>
							</div>
						</div> 
						<!-- //worthy -->
						<div class="ceo_manage">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">CEO경영방침</strong>
								</div>
								<div class="col-sm-9">
									<div class="cont">
										<ul class="manage_list">
											<li><small>혁신을 위한</small><strong>성장과 발전</strong><i aria-hidden="true"><img src="../../resources/img/sub/s6_01_02_icon1.png" alt=""></i></li>
											<li><small>국민에 대한</small><strong>책임과 신뢰</strong><i aria-hidden="true"><img src="../../resources/img/sub/s6_01_02_icon2.png" alt=""></i></li>
											<li><small>구성원에 의한</small><strong>소통과 협력</strong><i aria-hidden="true"><img src="../../resources/img/sub/s6_01_02_icon3.png" alt=""></i></li>
											<li><small>내일을 향한</small><strong>일정과 도전</strong><i aria-hidden="true"><img src="../../resources/img/sub/s6_01_02_icon4.png" alt=""></i></li>
										</ul> 
									</div>
								</div>
							</div>							
						</div> 
						<!-- //ceo_massage -->

						<div class="management_goal">
							<div class="row">
								<div class="col-sm-3">
									<strong class="title">2025 경영목표</strong> 
								</div>
								<div class="col-sm-9">
									<div class="cont">
										<ul class="goal_list">
											<li><strong>고객만족도</strong><em>100명</em></li>
											<li><strong>체육기금 조성 기여액</strong><em>770억원</em></li>
											<li><strong>스포츠·문화 이용객</strong><em>430만명</em></li>
										</ul> 
									</div>
								</div>
							</div>
						</div> 
						<!-- //management_goal -->

						<div class="strategy_task">
							<div class="row">
								<div class="col-sm-3">
									<div class="title">
										<strong>전략과제</strong> 
										<span>실행과제</span>
									</div>
								</div>												<div class="col-sm-9">			
									<div class="cont"> 
										<div class="row">
											<div class="item col-sm-4">
												<div class="item_title">
													<span class="sr-only">전략과제</span>
													<strong><i>01</i> 스마트 종합시설관리
														체계 구축</strong>
												</div>
												<div class="item_cont">
													<span class="sr-only">실행과제</span>
													<ul class="list_dash">
														<li>안심하고 이용할 수 있는 
															공간 제공</li>
														<li>IoT기반 효율적인
															시설관리 실현</li>
													</ul>
												</div>									
											</div><!-- //item -->
										
											<div class="item col-sm-4">
												<div class="item_title">
													<span class="sr-only">전략과제</span>
													<strong><i>02</i> 선진 공공기관 운영
														모델 정립</strong>
												</div>
												<div class="item_cont">
													<span class="sr-only">실행과제</span>
													<ul class="list_dash">
														<li>혁신을 통한 기관운영 선도</li>
														<li>미래지향적 이해관계자
															관리</li>
													</ul>
												</div>								
											</div><!-- //item -->

											<div class="item col-sm-4">
												<div class="item_title">
													<span class="sr-only">전략과제</span>
													<strong><i>03</i> 지속가능한 사업 활성화
														기반 마련</strong>
												</div>
												<div class="item_cont">
													<span class="sr-only">실행과제</span>
													<ul class="list_dash">
														<li>지속적인 성과창출
															기반 강화</li>
														<li>전략적 자원관리 고도화</li>
													</ul>
												</div>									
											</div><!-- //item -->
										</div>
									</div><!-- //cont --> 
								</div>
							</div>
						</div>
						<!-- //strategy_task -->
						<div class="strategy_task">
							<div class="row">
								<div class="col-sm-3">
									<div class="title">
										<strong>전략과제</strong> 
										<span>실행과제</span>
									</div>
								</div>												<div class="col-sm-9">						
									<div class="cont"> 
										<div class="row">
											<div class="item col-sm-4">
												<div class="item_title">
													<span class="sr-only">전략과제</span>
													<strong><i>04</i> 체육기금 조성 적극
														기여 및 지원</strong>
												</div>
												<div class="item_cont">
													<span class="sr-only">실행과제</span>
													<ul class="list_dash">
														<li>핵심사업 수익창출 극대화</li>
														<li>모회사 사업지원 기능 제고</li>
													</ul>
												</div>									
											</div><!-- //item -->
											<div class="item col-sm-4">
												<div class="item_title">
													<span class="sr-only">전략과제</span>
													<strong><i>05</i> 스포츠와 함께하는
														국민의 건강한 일상선도</strong>
												</div>
												<div class="item_cont">
													<span class="sr-only">실행과제</span>
													<ul class="list_dash">
														<li>생활체육 참여 확대</li>
														<li>선진 공공스포츠센터
															운영시스템 구축</li>
													</ul>
												</div>									
											</div><!-- //item -->
											<div class="item col-sm-4">
												<div class="item_title">
													<span class="sr-only">전략과제</span>
													<strong><i>06</i> 세계 속의 대중문화
														허브로 도약</strong>
												</div>
												<div class="item_cont">
													<span class="sr-only">실행과제</span>
													<ul class="list_dash">
														<li>우수공연 지속 유치</li>
														<li>다양한 문화향유 기회 
															제공</li>
													</ul>
												</div>								
											</div><!-- //item -->
										</div><!-- //row -->
									</div><!-- //cont --> 
								</div>
							</div>
						</div>
						<!-- //strategy_task -->
						
					</div>
					<!-- //vision_wrap -->
					
					<!-- //콘텐츠 끝 -->
				
					
                </div>
                <!-- //content -->
            </div>
            <!-- //snb_content_wrap -->
          

</body>

</html>