<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>한국체육산업개발</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="페이지 설명">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../resources/img/common/apple-touch-icon-57x57.png">
	<link rel="icon" type="image/png" href="../../resources/img/common/favicon-16x16.png" sizes="16x16">
	<link rel="stylesheet" href="../../resources/css/common.css">
	<link rel="stylesheet" href="../../resources/css/webfonts.css">
	<link rel="stylesheet" href="../../resources/css/layout.css">
	<link rel="stylesheet" href="../../resources/css/sub.css">
	<script src="../../resources/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../resources/jquery/slick.min.js"></script>
	<script src="../../resources/js/func.min.js"></script>
	<script src="../../resources/js/common.js"></script>
	<script src="../../resources/js/sub.js"></script>
	<script src="../../resources/js/board.js"></script>
</head>

<body>
	<div class="sub_visual sub7">
		<h2 class="title"></h2>
	</div>
	<div class="snb_content_wrap container">
		<section id="snb" class="snb_section">
			<div class="snb">
				<h2 class="title">통합검색</h2>
				<nav class="nav">
					<ul class="depth2">
						<li><a href="">전체</a></li>
						<li><a href="s7_02_02.html">공연/행사</a></li>
						<li><a href="s7_02_02.html">종목/강좌</a></li>
						<li class="active"><a href="s7_02_02.html">한국체육산업개발</a></li>
						<li><a href="s7_02_02.html">올림픽공원</a></li>
						<li><a href="s7_02_02.html">스포츠센터</a></li>
						<li><a href="s7_02_02.html">평생교육원</a></li>
					</ul>
				</nav>
				<div class="keyword_list">
					<div class="keyword_title">
						<h3>내가 찾은 검색어</h3>
						<small>기간 : 2021-12-30~2022-12-10</small>
					</div>
					<ul class="list_dot">
						<li><a href=""><em>01</em> <span>올림픽</span><button type="button"><span class="sr-only">삭제</span><i class="xi-close"></i></button></a></li>
						<li><a href=""><em>02</em> <span>주차관리시스템</span><button type="button"><span class="sr-only">삭제</span><i class="xi-close"></i></button></a></li>
						<li><a href=""><em>03</em> <span>공연소식</span><button type="button"><span class="sr-only">삭제</span><i class="xi-close"></i></button></a></li>
						<li><a href=""><em>04</em> <span>미사경정공원</span><button type="button"><span class="sr-only">삭제</span><i class="xi-close"></i></button></a></li>
					</ul>
				</div>
				<!-- //keyword_list -->
				<div class="keyword_list">
					<div class="keyword_title">
						<h3>인기검색어</h3>
						<small>기간 : 2021-12-30~2022-12-10</small>
					</div>
					<ul class="list_dot">
						<li><a href=""><em>01</em> <span>올림픽</span></a></li>
						<li><a href=""><em>02</em> <span>주차관리시스템</span></a></li>
						<li><a href=""><em>03</em> <span>공연소식</span></a></li>
						<li><a href=""><em>04</em> <span>미사경정공원</span></a></li>
					</ul>
				</div>
				<!-- //keyword_list -->
			</div>

		</section>
		<!-- //snb -->
		<div id="content" class="content_section">


			<!-- 페이지 타이틀 -->
			<h3 class="hidden_h1 sr-only">통합검색</h3>

			<!-- 콘텐츠 시작 -->

			<div class="total_search">
				<div class="board_search">
					<div class="form-row">					
						<input type="text" class="form-control" placeholder="검색어를 입력하세요." title="검색어를 입력하세요.">
						<button type="submit" class="search_btn"><span class="sr-only">검색</span></button>
					</div>
					<div class="form-row justify-content-between">
						<div class="board_sort">
							<strong class="title">정렬</strong>
							<div class="btns">
								<button type="button" class="btn active">최신순</button>
								<button type="button" class="btn">정확도순</button>
							</div>
						</div>
						<div class="board_period">
							<strong class="title">기간</strong>
							<div class="btns">
								<button type="button" class="btn active">전체</button>
								<button type="button" class="btn">일주일</button>
								<button type="button" class="btn">한달</button>
							</div>
						</div>
					</div>
				</div>
				<!-- //board_search -->
				<nav class="depth4">
					<ul class="list">
						<li class="active" title="선택된 탭메뉴"><a href="#">한국체육산업개발<br>(8,396)</a></li>
						<li title="비활성 탭메뉴"><a href="#article1">메뉴<br>(76)</a></li>
						<li title="비활성 탭메뉴"><a href="#article2">동영상<br>(76)</a></li>
						<li title="비활성 탭메뉴"><a href="#article3">게시판<br>(76)</a></li>
						<li title="비활성 탭메뉴"><a href="#article4">콘텐츠<br>(76)</a></li>
						<li title="비활성 탭메뉴"><a href="#article5">첨부파일<br>(76)</a></li>
					</ul>
				</nav>
				<div class="page_info">
					검색어 <mark>"올림픽"</mark>에 대한 총 <strong>23</strong>건의 검색결과를 찾았습니다.
				</div>
				<!-- //board_info -->
			
				<article id="article1" class="search_article">
					<h4>메뉴<em>(76)</em></h4>
					<ul class="list">
						<li>						
							<a href="" target="_blank">
								<strong class="title">대중교통 이용 > 교통 및 주차안내 > 공원가이드 > <mark>올림픽</mark>공원</strong>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">
								<strong class="title">올림픽공원 9경 > 올림픽공원 9경 > 공원가이드 > <mark>올림픽</mark>공원</strong>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">
								<strong class="title">대중교통 이용 > 교통 및 주차안내 > 공원가이드 > <mark>올림픽</mark>공원</strong>
							</a>
						</li>					
						
					</ul>
					<a href="" class="search_more"><span class="sr-only">메뉴</span><span>더보기</span><i class="xi-angle-right-min"></i></a>
				</article>
				<!-- //article -->

				<article id="article2" class="search_article">
					<h4>동영상<em>(76)</em></h4>
					<ul class="list">
						<li>						
							<a href="" target="_blank">
								<div class="gallery_thumb">
									<img alt="코로나19 극복 조이올팍 힐링 콘서트의 이미지" src="http://sports.ksponco.or.kr/upload/spoProgram/1446460075782.JPG">
								</div>
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title">한국체육산업개발 홍보동영상</strong>
									</dt>									
									<dd class="cont">우리의 시작은도전이었습니다.그 도전은 열정을 깨우고혁신으로 나타나대한민국 종합시설관리의 역사를이끌어왔습니다. <mark>올림픽</mark>의 역사를 우리의 시작은도전이었습니다.그 도전은 열정을 깨우고혁신으로 나타나대한민국 종합시설관리의 역사를이끌어왔습니다. 올림픽의 역사를</dd>
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">
								<div class="gallery_thumb">
									<img alt="국립체육박물관 홍보대사 위촉식 및 토크콘서트의 이미지" src="http://sports.ksponco.or.kr/upload/spoProgram/1446439550348.jpg">
								</div>
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title">한국체육산업개발 홍보동영상</strong>
									</dt>									
									<dd class="cont">우리의 시작은도전이었습니다.그 도전은 열정을 깨우고혁신으로 나타나대한민국 종합시설관리의 역사를이끌어왔습니다. <mark>올림픽</mark>의 역사를 우리의 시작은도전이었습니다.그 도전은 열정을 깨우고혁신으로 나타나대한민국 종합시설관리의 역사를이끌어왔습니다. 올림픽의 역사를</dd>
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">
								<div class="gallery_thumb">
									<img alt="코로나19 극복 조이올팍 힐링 콘서트의 이미지" src="http://sports.ksponco.or.kr/upload/spoProgram/161975016526200.JPG">
								</div>
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title">한국체육산업개발 홍보동영상</strong>
									</dt>									
									<dd class="cont">우리의 시작은도전이었습니다.그 도전은 열정을 깨우고혁신으로 나타나대한민국 종합시설관리의 역사를이끌어왔습니다. <mark>올림픽</mark>의 역사를 우리의 시작은도전이었습니다.그 도전은 열정을 깨우고혁신으로 나타나대한민국 종합시설관리의 역사를이끌어왔습니다. 올림픽의 역사를</dd>
								</dl>
							</a>
						</li>
					</ul>
					<a href="" class="search_more"><span class="sr-only">동영상</span><span>더보기</span><i class="xi-angle-right-min"></i></a>
				</article>
				<!-- //article -->

				<article id="article3" class="search_article">
					<h4>게시판<em>(76)</em></h4>
					<ul class="list">
						<li>						
							<a href="" target="_blank">								
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title">[<mark>올림픽</mark>수영장]수영 정액제 위임강사 모집 공고</strong>
									</dt>									
									<dd class="cont">극복 힐링콘서트 몽니 소낙별 스텔라장 2020. 11. 20(금) 20시 <mark>올림픽</mark>공원 내 K-아트홀 주최 KSPO 국민체육진흥공단 주관 KSPO&amp;CO 한국체육산업개발 협력 SPRING ENT (주)스프링이엔티 Olleh tv seezn 티켓링크</dd>
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">								
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title">
											[<mark>올림픽</mark>공원스포츠센터]테니스 배분제 강습수임인 모집 공고</strong>
									</dt>									
									<dd class="cont">극복 힐링콘서트 몽니 소낙별 스텔라장 2020. 11. 20(금) 20시 <mark>올림픽</mark>공원 내 K-아트홀 주최 KSPO 국민체육진흥공단 주관 KSPO&amp;CO 한국체육산업개발 협력 SPRING ENT (주)스프링이엔티 Olleh tv seezn 티켓링크</dd>									
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">								
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title"><mark>올림픽</mark>공원 경기장시설 및 옥외시설 - <mark>올림픽</mark>시설물 대관운영 시행세칙 - 대관서비스</strong>
									</dt>									
									<dd class="cont">극복 힐링콘서트 몽니 소낙별 스텔라장 2020. 11. 20(금) 20시 <mark>올림픽</mark>공원 내 K-아트홀 주최 KSPO 국민체육진흥공단 주관 KSPO&amp;CO 한국체육산업개발 협력 SPRING ENT (주)스프링이엔티 Olleh tv seezn 티켓링크</dd>
								</dl>
							</a>
						</li>
					</ul>
					<a href="" class="search_more"><span class="sr-only">게시판</span><span>더보기</span><i class="xi-angle-right-min"></i></a>
				</article>
				<!-- //article -->

				<article id="article4" class="search_article">
					<h4>콘텐츠<em>(76)</em></h4>
					<ul class="list">
						<li>						
							<a href="" target="_blank">								
								<dl>
									<dt>
										<strong class="title">대중교통 이용 > 교통 및 주차안내 > 공원가이드 > <mark>올림픽</mark>공원</strong>
									</dt>									
									<dd class="cont">메인메뉴 체육즐기기 스포츠교실 산책/조깅코스 생활건강시설 문화즐기기 조이올팍 공연/행사 <mark>올림픽</mark>홀 평생교육원 문화/예술시설 조각작품갤러리 올림픽공원도서관 생태즐기기 생태공원소개</dd>									
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">								
								<dl>
									<dt>
										<strong class="title"><mark>올림픽</mark>공원 9경 > <mark>올림픽</mark>공원 9경 > 공원가이드 > <mark>올림픽</mark>공원</strong>
									</dt>									
									<dd class="cont">메인메뉴 체육즐기기 스포츠교실 산책/조깅코스 생활건강시설 문화즐기기 조이올팍 공연/행사 <mark>올림픽</mark>홀 평생교육원 문화/예술시설 조각작품갤러리 올림픽공원도서관 생태즐기기 생태공원소개</dd>									
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" target="_blank">								
								<dl>
									<dt>
										<strong class="title">대중교통 이용 > 교통 및 주차안내 > 공원가이드 > <mark>올림픽</mark>공원</strong>
									</dt>									
									<dd class="cont">메인메뉴 체육즐기기 스포츠교실 산책/조깅코스 생활건강시설 문화즐기기 조이올팍 공연/행사 <mark>올림픽</mark>홀 평생교육원 문화/예술시설 조각작품갤러리 올림픽공원도서관 생태즐기기 생태공원소개</dd>									
								</dl>
							</a>
						</li>					
						
					</ul>
					<a href="" class="search_more"><span class="sr-only">콘텐츠</span><span>더보기</span><i class="xi-angle-right-min"></i></a>
				</article>
				<!-- //article -->

				<article id="article5" class="search_article">
					<h4>첨부파일<em>(76)</em></h4>
					<ul class="list">
						<li>						
							<a href="" download>								
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title"><mark>올림픽</mark>공원 지원서 및 자기소개서(75).hwp</strong>
									</dt>	
									<dd class="category"><span>참여</span> <i class="xi-angle-right-min"></i> <span>커뮤니티</span> <i class="xi-angle-right-min"></i> 공지사항</dd>
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" download>								
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title"><mark>올림픽</mark>공원 지원서 및 자기소개서(75).hwp</strong>
									</dt>	
									<dd class="category"><span>참여</span> <i class="xi-angle-right-min"></i> <span>커뮤니티</span> <i class="xi-angle-right-min"></i> 공지사항</dd>
								</dl>
							</a>
						</li>					
						<li>						
							<a href="" download>								
								<dl>
									<dt>
										<small>2021-11-26</small>
										<strong class="title"><mark>올림픽</mark>공원 지원서 및 자기소개서(75).hwp</strong>
									</dt>	
									<dd class="category"><span>참여</span> <i class="xi-angle-right-min"></i> <span>커뮤니티</span> <i class="xi-angle-right-min"></i> 공지사항</dd>
								</dl>
							</a>
						</li>
					</ul>
					<a href="" class="search_more"><span class="sr-only">첨부파일</span><span>더보기</span><i class="xi-angle-right-min"></i></a>
				</article>
				<!-- //article -->

				
			</div>
			<!-- //total_search -->
			

			
			<!-- //콘텐츠 끝 -->





		</div>
		<!-- //content -->
	</div>
	<!-- //snb_content_wrap -->
</body>

</html>